<ng-container>
    <ng-content select="[header]"></ng-content>
    <ng-content select="[lineAbove]"></ng-content>
    <ng-content select="[content]"></ng-content>
    <ng-content select="[lineBelow]"></ng-content>
    <ng-content select="[footer]"></ng-content>
</ng-container>



<!-- <div class="container">
    <div class="header">
        <card-header [title]="'Titulo'"></card-header>
    </div>
    <div class="line">

    </div>
    <div class="content">
        <card-content [content]="'conteudo'"></card-content>
    </div>
    <div class="line">

    </div>
    <div class="footer">
        <card-footer [footer]="'roda pé'"></card-footer>
    </div>
</div> -->
