<!-- <div *ngFor="let formTranslated of formTranslateds">
  <div *ngFor="let control of formTranslated?.value | keyvalue">
      <div *ngFor="let form of forms">
          <div fxLayout="row">
              <mat-error>
                  <span>{{validatorMessages.required(form, control?.key, control?.value)}}</span>
              </mat-error>
          </div>
      </div>
  </div>
</div> -->



<!-- <div *ngFor="let formTranslated of formTranslateds">
  <div *ngFor="let control of formTranslated.value | keyvalue">
      <div *ngFor="let form of forms">
          <div fxLayout="row">
              <mat-error>
                  <span>{{validatorMessages.required(form, control.key, control.value)}}</span>
              </mat-error>
          </div>
      </div>
  </div>
</div> -->