<div [fxLayout]="screenFieldPosition" class="border-around" fxLayoutGap="30">
    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Selecione o Hardware</mat-label>
        <mat-select matNativeControl id="mySelectId">
            <mat-option *ngFor="let eqp of this.GetTogetherDto.equipaments_Fill" [value]="eqp.equipament">{{eqp.equipament}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Selecione o Fabricante</mat-label>
        <mat-select matNativeControl id="mySelectId">
            <!-- <mat-option value="" disabled selected></mat-option> -->
            <mat-option *ngFor="let man of this.GetTogetherDto.manufacturers_Fill" [value]="man.manufacturer">{{man.manufacturer}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Selecione o Segmento</mat-label>
        <mat-select matNativeControl id="mySelectId">
            <!-- <mat-option value="" disabled selected></mat-option> -->
            <mat-option *ngFor="let seg of this.GetTogetherDto.segments_Fill" [value]="seg.segment">{{seg.segment}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div [formGroup]="formMain" fxLayout="column" class="border-around" style="margin-top: -80px;">

    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Descrição</mat-label>
            <input matInput type="text" formControlName="description">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'description', 'Descrição')}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div formArrayName="quantities" *ngFor="let quantity of this.quantities.controls; let i = index;">
        <div style="background-color: rgb(245, 245, 245); padding:10px;">
            <h3>{{'Hardware ' + (i+1)}}</h3>
            <div [formGroupName]="i" style="background-color: rgb(245, 245, 245); padding:20px;">
                <div [fxLayout]="screenFieldPosition" fxLayoutGap="10">
                    <div fxLayout="column" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Fim da garantia</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="warrantyEnd">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>
                                <span>{{validatorMessages.required(subForm,'warrantyEnd', 'Garantia')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <button mat-raised-button (click)="oneYear(i)">1 Ano</button>
                            </div>
                            <div fxLayout="column" style="padding-right:10px;">
                            </div>
                            <!-- <div fxLayout="column">
                                <button mat-raised-button (click)="threeMonths(i)">3 Meses</button>
                            </div> -->
                        </div>
                        <div class="middle-space-horizontal-beteween-fields"> </div>
                    </div>
                    <div fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Número de série / Código de barras</mat-label>
                            <input matInput type="text" formControlName="sn">
                            <mat-error>
                                <span>{{validatorMessages.required(subForm,'sn', 'Número de série / COD Barra')}}</span>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="column" fxFlex>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Número nota fiscal</mat-label>
                            <input matInput type="text" formControlName="nfNumber">
                            <mat-error>
                                <span>{{validatorMessages.required(subForm,'nfNumber', 'Número nota fiscal entrada')}}</span>
                            </mat-error>
                        </mat-form-field>


                    </div>
                </div>
                <mat-divider></mat-divider>
                <div [fxLayout]="screenFieldPosition" fxLayoutGap="10" [fxLayoutAlign]="fxLayoutAlign">
                    <div fxLayout="column" fxFlex [fxLayoutAlign]="fxLayoutAlign">
                        <mat-checkbox (change)="threeMonths(i, $event)" (change)="prodValidators.requiredIfBool(formMain, 'isUsed','usedHistorical', 'quantities', i)" formControlName="isUsed">É Usado?</mat-checkbox>
                    </div>
                    <div fxLayout="column" fxFlex [fxLayoutAlign]="fxLayoutAlign">
                        <mat-checkbox formControlName="isTested">Foi Testado?</mat-checkbox>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="middle-space-horizontal-beteween-fields"> </div>
                <!-- this.formMain.get('quantities').get('0').get('isUsed').value -->

                <div fxLayout="row" *ngIf="formMain.get('quantities').get(i.toString()).get('isUsed').value">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Histórico</mat-label>
                        <input matInput type="text" formControlName="usedHistorical">
                        <mat-error>
                            <span>{{validatorMessages.required(subForm,'usedHistorical', 'Histórico de uso')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Fornecedor</mat-label>
                        <mat-select formControlName="supplierId">
                            <mat-option *ngFor="let partner of this.partnersVendor" [value]="partner.id">
                                {{partner.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <span>{{validatorMessages.required(subForm,'supplierId', 'Parceiro')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div [fxLayout]="screenFieldPosition" fxLayoutGap="10">
                    <div fxLayout="column" fxFlex>
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Preço de custo</mat-label>
                            <input currencyMask matInput type="text" formControlName="costPrice">
                            <mat-error>
                                <span>{{validatorMessages.required(subForm,'costPrice', 'Preço de custo')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex>
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Preço de venda</mat-label>
                            <input currencyMask matInput type="text" formControlName="soldPrice">
                            <mat-error>
                                <span>{{validatorMessages.required(subForm,'soldPrice', 'Preço de venda')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="warn" class="remove-btn" (click)="removeQuantity(i)">Remover</button>
            </div>
            <div class="small-space-horizontal-beteween-fields"> </div>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <mat-divider></mat-divider>
        <div class="small-space-horizontal-beteween-fields"> </div>
    </div>

    <div [fxLayout]="screenFieldPosition" fxLayoutAlign="start start">
        <div fxLayout="column" fxFlex>
            <button mat-raised-button class="add-btn" (click)="addQuantity()">Add</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <button mat-raised-button class="save-btn" (click)="save()">Salvar</button>
    </div>
</div>



<div class="border-around" fxLayout="row" fxLayoutAlign="center center">
    {{formMain.value | json}}
</div>