mat-select {
    height: 36px;
}


/* .mat-datepicker-input {
    font-size: 35px;
} */

.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}

.middle-space-horizontal-bottom-beteween-fields {
    padding-bottom: 10px;
}

.btns-reserve-sell {
    background-color: rgb(38, 187, 38);
    color: white;
    background-color: rgb(24, 121, 24);
    color: white;
}

.btn-row {
    padding-top: 10px;
}