<div class="p-4" [formGroup]="formMain">
    
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">

        <div class="w-full">
            <mat-label>Responsável</mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <input matInput type="text" formControlName="responsible" aria-label="Responsável">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'responsible', 'Responsável')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'responsible', 'Responsável',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="businessLine" class="w-full">
            <mat-label class="mat-label">Área de atuação / Segmento</mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <input matInput type="text" formControlName="businessLine" aria-label="Área de atenção / Segmento">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'businessLine', 'Segmento')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'businessLine', 'Segmento',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-full" *ngIf="specificBusinessLine">
            <mat-label>Serviço prestado</mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <mat-select placeholder="Pesquise pelo nome" #singleSelect formControlName="partnerBusiness">
                    <!-- [value]="this.formMain.get('partnerBusiness').value" -->
                    <mat-option *ngFor="let specific of businesslineArray" [value]="specific.id">
                        {{specific.businessLine}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>


<!-- <div   >
</div> -->
