<div [formGroup]="formMain">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="middle-space-horizontal-beteween-fields"> </div>

    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="15">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>CNPJ / CPF</mat-label>
                <input matInput mask="CPF_CNPJ" type="text" formControlName="cnpj">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'cnpj', 'CNPJ')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'cnpj', 'CNPJ',8,14)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div fxFlex="1"></div> -->
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Responsável</mat-label>
                <input matInput type="text" formControlName="responsible">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'responsible', 'Responsável')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'responsible', 'Responsável',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Observações</mat-label>
                <input matInput type="text" formControlName="description">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'description', 'Observações')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'description', 'Observações',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>