<div class="container-filter">

    <div class="search-field">

        <mat-form-field appearance="outline">
            <mat-label>{{'Pesquisar'}}</mat-label>
            <input #field (input)="search(field.value,outFieldSearch,this.removeAccentsSpecialCharacters)" type="text"
                matInput placeholder="Pesquisar" [attr.for]="'Pesquisar'" [formControl]="formControlSearch">
        </mat-form-field>

    </div>

    <div class="type">

        <select-input-search-g style="width: 100%;" [entities]="productsTypes$"
            [selectFieldFormControl]="productTypeFormControl"
            [selectFieldSearchFormControl]="productTypeSearchFormControl"
            (outEntitiesSelected)="this.onSelectedProduct($event, this.productsTypes$, this.productsList$, [segmentFormControl,segmentSearchFormControl,manufacturerFormControl,manufacturerSearchFormControl], this.removeAccentsSpecialCharacters, this.outProductsListFiltered$)"
            [labelInput]="'Tipo'">
        </select-input-search-g>

    </div>

    <div class="segment">

        <select-input-search-g [entities]="segments$" [selectFieldFormControl]="segmentFormControl"
            [selectFieldSearchFormControl]="segmentSearchFormControl"
            (outEntitiesSelected)="this.onSelectedSegment($event, this.segments$, this.productsList$, [productTypeFormControl, productTypeSearchFormControl,manufacturerFormControl,manufacturerSearchFormControl], this.removeAccentsSpecialCharacters, this.outProductsListFiltered$)"
            [labelInput]="'Segmento'">
        </select-input-search-g>

    </div>

    <div class="manufacturer">
        <select-input-search-g [entities]="manufacturers$" [selectFieldFormControl]="manufacturerFormControl"
            [selectFieldSearchFormControl]="manufacturerSearchFormControl"
            (outEntitiesSelected)="this.onSelectedManufacturer($event, manufacturers$, this.productsList$, [productTypeFormControl, productTypeSearchFormControl,segmentFormControl, segmentSearchFormControl], this.removeAccentsSpecialCharacters, this.outProductsListFiltered$)"
            [labelInput]="'Fabricante'">
        </select-input-search-g>
    </div>

</div>