<div [formGroup]="formMain" [fxLayout]="screenFieldPosition" fxLayoutGap="30">
    <div fxLayout="column" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>PIX</mat-label>
            <mat-select #pix (selectionChange)="pixValidatorSelected(formMain, pix.value)" (selectionChange)="onPixSelected(pix.value)">
                <mat-option [value]="p.kindPix" *ngFor="let p of pixArray">{{p.kindPix}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxFlex *ngIf="this.kifPixSelected != null">
        <div *ngFor="let kindPix of pixArray">
            <mat-form-field fxFlex *ngIf="pix.value == kindPix.kindPix" appearance="outline">
                <mat-label>{{kindPix.kindPix}}</mat-label>
                <input matInput #cpfcnpj (input)="pixValidator(formMain, kindPix.kindPix, cpfcnpj.value)" type="text" [mask]="pixInputMask(kindPix.kindPix)" [placeholder]="pixInputPlaceHolder(kindPix.kindPix)" formControlName="pix">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'pix', kindPix.kindPix+' pix' )}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'pix', '', 11, null)}}</span>
                    <span>{{validatorMessages.mailField(formMain,'pix')}}</span>
                    <span>{{validatorMessages.isValidCpf(formMain,'pix')}}</span>
                    <span>{{validatorMessages.isValidCnpj(formMain,'pix')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>