<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Clientes cadastrados'" [icon]="'record_voice_over'">
        <!-- <button id="btn-1" btn-1 mat-raised-button [routerLink]="['/side-nav/customer-dash/create']">{{'Adicionar'}}</button> -->
        <btn-add-g btn-1 (add)="add()"></btn-add-g>
    </title-component>
    <!-- responsive below in style -->
    <div style="overflow: hidden; height: 100%; width:100%">
        <div fxLayout="column" fxFlex>
            <mat-card fxFlex>
                <grid-list-common>
                    <sub-title title [title]="'Clientes cadastrados'"></sub-title>
                    <div search-pagination fxLayout="row" fxFlex>
                        <div fxLayout="column" fxFlex>
                            <grid-list-common-search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-common-search>
                        </div>
                        <div fxLayout="column" fxFlex>
                        </div>
                        <div fxLayout="column">
                            <mat-paginator #customerPaginator [length]="lengthCustomer" [pageSize]="pageSize" fxLayoutAlign="center center" (page)="onPageChange($event)"></mat-paginator>
                        </div>
                    </div>
                    <grid-list-common-table fxFlex body-table [matIcons]="{delete_outline:'Excluir', edit:'Editar',visibility:'Detalhes' }" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers">
                    </grid-list-common-table>

                    <div pagination-below fxLayout="row" style="height: 80px;">
                        <div fxLayout="column" fxFlex>

                        </div>

                        <div fxLayout="column">
                            <mat-paginator pagination-below #customerPaginatorBelow [length]="lengthCustomer" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
                        </div>
                    </div>
                </grid-list-common>
            </mat-card>

        </div>
    </div>

</div>
