<div [formGroup]="formMain" style="padding:10px;" fxLayoutAlign="center center" fxFlex="99">
    <mat-card class="mat-elevation-z7" fxFlex="99">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="99">
                <h2>{{'Iniciado: '}}{{serviceBenchDtoSingle.dateServiceStarted | date}}</h2>
            </div>
        </div>
        <div class="spaceTop20"></div>
        <div fxLayout="column" *ngIf="serviceBenchDtoSingle.remoteAccessData" fxLayoutAlign="center center">
            <h1>ACESSO REMOTO</h1>
            <div fxLayout="row">
                <h6>{{serviceBenchDtoSingle.remoteAccessData}}</h6>
            </div>
        </div>
        <div class="spaceTop20"></div>
        <div *ngIf="serviceBenchDtoSingle.visually">
            <h5>Acessos e Equipamento:</h5>
            <h6>{{serviceBenchDtoSingle.visually}}</h6>
        </div>
        <div class="spaceTop20"></div>
        <div formArrayName="listBenchToCashBox" *ngFor="let services of benchToCashBox.controls; let i = index;">
            <div [formGroupName]="i">
                <div class="spaceTop20"></div>

                <div fxLayout="column" fxLayoutAlign="center center">
                    <h1>SERVIÇOS</h1>
                </div>
                <br>
                <mat-card-title fxLayoutAlign="center center">TÉCNICO</mat-card-title>
                <div fxlayout="row" fxLayoutAlign="center center">
                    <mat-card class="mat-elevation-z10" fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input id="tec" matInput type="text" formControlName="technician">
                            <mat-error>
                                <span>{{validatorMessages.required(subForm, 'technician', 'Técnico')}}</span>
                                <span>{{validatorMessages.minMaxLength(subForm,'technician', 'Técnico',null,50)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                </div>
                <mat-grid-list (window:resize)="screen()" [cols]="problemByTechnicianTechnicalSolutionCols" [rowHeight]="problemByTechnicianTechnicalSolutionRowHeight">
                    <mat-grid-tile>
                        <div fxLayout="column" fxFlex="99">
                            <div fxLayoutAlign="center center" fxLayout="row" fxFlex="99">
                                <mat-card-title fxLayoutAlign="center center">PROBLEMA</mat-card-title>
                            </div>

                            <div fxLayout="column" fxFlex="99">
                                <div fxLayout="row" fxFlex="99">
                                    <mat-card fxFlex="99" class="mat-elevation-z2">
                                        <mat-form-field fxFlex="99">
                                            <textarea id="textarea" formControlName="problemByTechnician" matInput placeholder="
Descreva a solução que deve ser aplicada para a dificuldade encontrada:
">
</textarea>
                                            <mat-error>
                                                <span>{{validatorMessages.required(subForm, 'problemByTechnician', 'Problema')}}</span>
                                                <span>{{validatorMessages.minMaxLength(subForm,'problemByTechnician', 'Problema',null,500)}}</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </div>
                            </div>

                        </div>

                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column" fxFlex="99">
                            <div fxLayoutAlign="center center" fxLayout="row" fxFlex="99">
                                <mat-card-title fxLayoutAlign="center center">SOLUÇÃO</mat-card-title>
                            </div>

                            <div fxLayout="column" fxFlex="99">
                                <div fxLayout="row" fxFlex="99">
                                    <mat-card class="mat-elevation-z2" fxFlex="99">
                                        <mat-form-field fxFlex="99">
                                            <textarea id="textarea" formControlName="technicalSolutionApplied" matInput placeholder="
                                    Descreva a solução que deve ser aplicada para a dificuldade encontrada:"></textarea>
                                            <mat-error>
                                                <span>{{validatorMessages.required(subForm, 'technicalSolutionApplied', 'Solução')}}</span>
                                                <span>{{validatorMessages.minMaxLength(subForm,'technicalSolutionApplied', 'Solução',null,500)}}</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </div>
                            </div>

                        </div>

                    </mat-grid-tile>


                </mat-grid-list>
                <div class="spaceTop20"></div>


                <mat-grid-list (window:resize)="screen()" [cols]="statusSolvedCols" [rowHeight]="statusSolvedRowHeight">
                    <mat-grid-tile>
                        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
                            <div fxLayout="row" fxFlex="100">
                                <mat-form-field fxFlex="100">
                                    <h3 fxLayoutAlign="center center">SITUAÇÃO</h3>
                                    <mat-select formControlName="status" [(ngModel)]="services.status">
                                        <mat-option *ngFor="let option of status" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <span>{{validatorMessages?.required(subForm, 'status', 'Situação')}}</span>
                                        <span>{{validatorMessages?.minMaxLength(subForm,'status', 'Situação',null,500)}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-label style="color:green;">
                                <h3>Resolvido</h3>
                            </mat-label>
                            <mat-checkbox class="big-checkbox" fxLayoutAlign="center center" formControlName="solved">
                            </mat-checkbox>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="spaceTop20"></div>
                <mat-divider></mat-divider>
            </div>
        </div>
        <mat-card-actions>
            <mat-grid-list [cols]="saveFinishCols" [rowHeight]="saveFinishRowHeight">
                <mat-grid-tile>
                    <div fxLayout="column">
                        <button (click)="update()" mat-button>
              <h2>{{'Salvar'}}</h2>
            </button>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="column">
                        <button mat-button>
              <h2>{{'Encerrar O.S'}}</h2>
            </button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-actions>
    </mat-card>
</div>

<!-- <div>
    {{formMain.value | json}}
</div> -->
