input[type="text"] {
    font-size: 15px;
    text-align: center;
}

mat-label {
    color: black !important;
    font-size: 13px;
}

mat-icon {
    color: green;
}

span {
    cursor: pointer;
    font-size: 10px;
    padding-top: -10px;
}

mat-icon {
    color: green;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
    padding-top: -10px;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

#all {
    overflow: hidden;
}

mat-dialog-actions {
    margin: -24px;
    margin-top: 30px;
    display: block;
    /* padding-bottom: 30px; */
    padding-top: 0px;
    background: green;
    overflow: hidden;
}

mat-dialog-content {
    /* margin-top: 10px; */
    padding-top: 20px;
    overflow: hidden;
}

mat-error {
    margin-top: -7.5px;
}

#button-save {
    color: white;
    display: flex;
    justify-content: center;
    /* height: auto; */
    /* margin: -100%; */
}

#registered {
    color: white;
    display: flex;
    justify-content: right;
    /* height: auto; */
    /* margin: -100%; */
}
