<div [formGroup]="formMain" fxLayout="column" (window:resize)="screen()" fxLayoutGap="50px" fxFlex class="border-around">
    <title-component title [titleString]="'Produtos'" [subTitleString]="'Cadastrar Equipamento Fabricante Segmento'">
    </title-component>

    <div fxLayout="column" class="border-hardware" fxFlex>
        <ng-container [formGroup]="formMain">

            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <mat-label>{{'ITEM'}}</mat-label>
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Hardware</mat-label>
                    <input matInput type="text" formControlName="name" aria-label="Hardware">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'name', 'Hardware')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'name', 'Hardware',null,100)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10">


                <div fxLayout="column" fxFlex>

                    <div class="middle-space-horizontal-beteween-fields"></div>
                    <div formArrayName="manufacturers" *ngFor="let manufacturer of manufacturers.controls; let im = index;" fxLayout="row" fxFlex fxLayoutGap="30">
                        <div fxLayout="column" fxFlex [formGroupName]="im">

                            <div fxLayout="row">

                                <button class="remove-manut-btn" mat-icon-button color="warn" (click)="removeManufacture(im)">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                            </div>
                            <div class="middle-space-horizontal-beteween-fields"></div>
                            <div fxLayout="column" fxFlex>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Fabricante</mat-label>
                                    <input matInput type="text" formControlName="name" aria-label="Fabricante">
                                    <mat-error>
                                        <span>{{validatorMessages.required(formMain,'name', 'Fabricante')}}</span>
                                        <span>{{validatorMessages.minMaxLength(formMain,'name', 'Fabricante',null,100)}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayoutAlign="center center">
                        <mat-label>Adicionar Fabricante</mat-label>
                        <button class="add-manut-btn" mat-icon-button (click)="addManufacture()"><mat-icon>add_outline</mat-icon></button>
                    </div>

                </div>

                <div fxLayout="column" fxFlex>

                    <div class="middle-space-horizontal-beteween-fields"></div>
                    <div formArrayName="segments" *ngFor="let segment of segments.controls; let im = index;" fxLayout="row" fxFlex fxLayoutGap="30">

                        <div fxLayout="column" fxFlex [formGroupName]="im">

                            <div fxLayout="row">
                                <button class="remove-manut-btn" mat-icon-button color="warn" (click)="removeSegment(im)">
                                  <mat-icon>delete</mat-icon>
                                </button>

                            </div>
                            <div class="middle-space-horizontal-beteween-fields"></div>
                            <div fxLayout="column" fxFlex>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Segmento</mat-label>
                                    <input matInput type="text" formControlName="name" aria-label="Segmento">
                                    <mat-error>
                                        <span>{{validatorMessages.required(formMain,'name', 'Segmento')}}</span>
                                        <span>{{validatorMessages.minMaxLength(formMain,'name', 'Segmento',null,100)}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayoutAlign="center center">
                        <mat-label>Adicionar Segmento</mat-label>
                        <button class="add-manut-btn" mat-icon-button (click)="addSegment()"><mat-icon>add_outline</mat-icon></button>
                    </div>
                </div>




            </div>
        </ng-container>

        <div class="middle-space-horizontal-beteween-fields"></div>
        <div fxLayoutAlign="center center">
            <button class="save-btn" mat-raised-button (click)="save()">Salvar</button>
        </div>
        <!-- <div>{{formMain.value | json}}</div> -->
    </div>

</div>