<div [formGroup]="formMain" fxLayout="column" (window:resize)="screen()" fxLayoutGap="50px" fxFlex class="border-around">
    <title-component title [titleString]="'Produtos'" [subTitleString]="'Cadastrar Equipamento Fabricante Segmento'">
    </title-component>
    <button mat-raised-button class="add-btn" (click)="addItem()">Adicionar</button>

    <div formArrayName="items" fxLayout="column" class="border-hardware" fxFlex style="padding:30px" *ngFor="let item of items.controls; let i = index;">
        <ng-container [formGroupName]="i">

            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <mat-label>{{'ITEM'}}</mat-label>
                </div>
                <div fxLayout="column">
                    <mat-label>{{item?.get('name')?.value}}</mat-label>
                </div>
                <div fxFlex></div>
                <div fxLayout="column">
                    <button mat-raised-button color="warn" class="remove-btn" (click)="removeItem(i)">Remover</button>
                </div>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Hardware</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error>

                    </mat-error>
                </mat-form-field>
            </div>

            <div [formGroup]="manufacturer" fxLayout="row" fxFlex fxLayoutGap="30">
                <div fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Fabricante</mat-label>
                        <input #manu matInput type="text" (input)="fillLineManufacture(manu.value)" formControlName="name">
                        <mat-error>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="align-add-botton-with-field-input" fxLayout="column" fxFlex="15">
                    <button mat-raised-button class="add-btn" (click)="addManufacture()">Adicionar</button>
                </div>
            </div>
            <div [formGroup]="segment" fxLayout="row" fxFlex fxLayoutGap="30">
                <div fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Segmento</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="align-add-botton-with-field-input" fxLayout="column" fxFlex="15">
                    <button mat-raised-button class="add-btn" (click)="''">Adicionar</button>
                </div>
            </div>

            <div fxLayout="row" fxFlex fxLayoutGap="30">
                <div fxLayout="column" fxFlex>
                    <mat-label>Fabricante</mat-label>
                    <mat-list class="list-style-border" role="list">
                        <mat-list-item role="listitem" *ngFor="let line of manufacturerListLines">{{line}}</mat-list-item>
                        <!-- <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item> -->
                    </mat-list>
                </div>
                <div fxLayout="column" fxFlex>
                    <mat-label>Segmento</mat-label>
                    <mat-list class="list-style-border" role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </div>
            </div>
        </ng-container>

        <div>{{formMain.value | json}}</div>
    </div>


</div>
