.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}

.align-add-botton-with-field-input {
    padding-top: 30px;
}


/* .border-hardware {
    border: 1px solid black;
} */

.list-style-border {
    border: 1px solid black;
}

.add-manut-btn {
    color: green;
}

.remove-manut-btn {
    padding-top: 11px;
}
