<div [formGroup]="formMain" fxLayout="column" (window:resize)="screen()" fxLayoutGap="50px" fxFlex class="border-around">
    <title-component title [titleString]="'Produtos'" [subTitleString]="'Cadastrar Equipamento Fabricante Segmento'">
    </title-component>

    <div fxLayout="column" class="border-hardware" fxFlex style="padding:30px;">
        <ng-container [formGroup]="formMain">

            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <mat-label>{{'ITEM'}}</mat-label>
                </div>

                <!-- <div fxLayout="column">
                  <mat-label>{{formMain?.get('name')?.value}}</mat-label>
                </div>
                <div fxFlex></div>-->

            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>

            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Hardware</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error>

                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10">


                <div fxLayout="column" fxFlex>

                    <div class="middle-space-horizontal-beteween-fields"></div>
                    <div formArrayName="manufacturers" *ngFor="let manufacturer of manufacturers.controls; let im = index;" fxLayout="row" fxFlex fxLayoutGap="30">
                        <div fxLayout="column" fxFlex [formGroupName]="im">

                            <div fxLayout="row">

                                <button class="remove-manut-btn" mat-icon-button color="warn" (click)="removeManufacture(im)">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                            </div>
                            <div class="middle-space-horizontal-beteween-fields"></div>
                            <div fxLayout="column" fxFlex>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Fabricante</mat-label>
                                    <input #manu matInput type="text" formControlName="name">
                                    <!-- (input)="fillLineManufacture(manu.value)" -->
                                    <mat-error>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <button class="remove-manut-btn" mat-icon-button color="warn" (click)="removeManufacture(im)">
    <mat-icon>delete</mat-icon>
  </button> -->
                    </div>

                    <div fxLayoutAlign="center center">
                        <mat-label>Adicionar Fabricante</mat-label>
                        <button class="add-manut-btn" mat-icon-button (click)="addManufacture()"><mat-icon>add_outline</mat-icon></button>
                    </div>

                </div>

                <div fxLayout="column" fxFlex>

                    <div class="middle-space-horizontal-beteween-fields"></div>
                    <div formArrayName="segments" *ngFor="let segment of segments.controls; let im = index;" fxLayout="row" fxFlex fxLayoutGap="30">

                        <div fxLayout="column" fxFlex [formGroupName]="im">

                            <div fxLayout="row">
                                <button class="remove-manut-btn" mat-icon-button color="warn" (click)="removeSegment(im)">
                                  <mat-icon>delete</mat-icon>
                                </button>

                            </div>
                            <div class="middle-space-horizontal-beteween-fields"></div>
                            <div fxLayout="column" fxFlex>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Segmento</mat-label>
                                    <input #manu matInput type="text" formControlName="name">
                                    <!-- (input)="fillLineManufacture(manu.value)" -->
                                    <mat-error>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <button class="remove-manut-btn" mat-icon-button color="warn" (click)="removeSegment(im)">
  <mat-icon>delete</mat-icon>
</button> -->
                    </div>

                    <div fxLayoutAlign="center center">
                        <mat-label>Adicionar Segmento</mat-label>
                        <button class="add-manut-btn" mat-icon-button (click)="addSegment()"><mat-icon>add_outline</mat-icon></button>
                    </div>
                </div>




            </div>
        </ng-container>

        <div>{{formMain.value | json}}</div>
        <div class="middle-space-horizontal-beteween-fields"></div>
        <!-- <div class="middle-space-horizontal-beteween-fields"></div> -->
        <div fxLayoutAlign="center center">
            <button class="save-btn" mat-raised-button (click)="save()">Salvar</button>
        </div>
    </div>

</div>
