<div fxLayout="row">
    <h3>Financeiro</h3>
</div>
<div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5" [formGroup]="formMain">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="5">
            <mat-checkbox (change)="assured()" (change)="validatorCustom.checkedBoxValidator(additionalCosts,$event.checked, ['fixedPhysicallyMovingCosts'])" (change)="validatorCustom.checkedBoxValidator(formMain,$event.checked,['payment','expiration'])" formControlName="assured">
            </mat-checkbox>
            <div fxFlex="3"></div>
            <mat-label>Mensal
            </mat-label>
        </div>
    </div>
    <!-- <div fxFlex="10"></div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="5">
            <mat-checkbox formControlName="customerType">
            </mat-checkbox>
            <div fxFlex="3"></div>
            <mat-label>Empresa</mat-label>
        </div>
    </div>
    <br>
    <div fxFlex="5"></div> -->

    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Mensalidade
        </mat-label>
        <mat-form-field>
            <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="payment" aria-label="Mensalidade">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex formGroupName="additionalCosts">
        <mat-label class="mat-label" fxLayoutAlign="center center">Custo Fixo in loco
        </mat-label>
        <mat-form-field fxFlex>
            <input matInput type="text" currencyMask formControlName="fixedPhysicallyMovingCosts" aria-label="Custo Fixo in loco">
            <mat-error>
                <span>{{validatorMessages.required(additionalCosts,'fixedPhysicallyMovingCosts', 'Valor')}}</span>
                <span>{{validatorMessages.minMaxLength(additionalCosts,'fixedPhysicallyMovingCosts', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(additionalCosts,'fixedPhysicallyMovingCosts', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Dia do vencimento
        </mat-label>
        <mat-form-field>
            <input matInput min="1" max="31" type="number" formControlName="expiration" aria-label="Dia do vencimento">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Desconto
        </mat-label>
        <mat-form-field>
            <input matInput type="text" currencyMask formControlName="discount" aria-label="Desconto">
        </mat-form-field>
    </div>

</div>