<div class="border-around" (window:resize)="screen()">
    <title-component [digit]="'|'" [titleString]="'Cartão de Crédito'" [icon]="'attach_money'"></title-component>
    <div>
       
        <div fxLayout="column" fxFlex>
            <mat-card class="mat-card-sub-title" fxFlex>
               
                <grid-list-common>
                    <sub-title title  [title]="'Faturas Cartões de credito.'" [icon]="'list'"></sub-title>
                    <div search-filter fxLayout="column">

                        <div fxLayout="column">
                            <div class="small-space-horizontal-beteween-fields"></div>
                            <div fxLayout="row" *ngIf="!this.showDataBank" class="child" id="title">{{'Selecione um cartão de crédito'}}</div>
                            <div fxLayout="row" fxFlex fxLayoutGap="10">
                                <div fxLayout="column" fxFlex="50">
                                    <credit-card-invoices-mat-select-single
                                    [urlBackEndApi]="'GetAllCreditCardsOnlyByCompanyId'"
                                    (creditCardIdOutput)="getCreditCardIdOutput($event)">
                                </credit-card-invoices-mat-select-single>
                                </div>
                            </div>
                            <div fxLayout="row" fxFlex="50" *ngIf="this.showDataBank">
                                <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="false"
                                [changeSelection]="monthFilter" [fxFlexInput]="searchFieldMonthSelect"
                                (sendSelected)="selectedMonth($event)">
                            </months-select>
                            </div>
                            <div fxLayout="row" *ngIf="showDataBank">
                                <view-bank-account [bankAccount]="bankAccount">
                                </view-bank-account>
                            </div>
                        </div>
                        
                        <div class="small-space-horizontal-beteween-fields"></div>
                        <div [fxLayout]="screenFieldPosition" fxLayoutGap="10">
                            <div fxLayout="column">
                                <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div>
                          
                            <div fxLayout="screenFieldPosition" fxFlex>

                            </div>
                            <!-- <div fxLayout="column" *ngIf="screenFieldPosition == 'row'">
                                <btn-g btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div> -->

                        </div>
                       <br>
                    </div>
                 

                    <div search-filter id="space-components" fxLayout="row">
                   
                    </div>

                    <!-- <div search-pagination [fxLayout]="screenFieldPosition" fxFlex> -->
                    <!-- <div fxLayout="column" fxFlex>
                            <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="true"
                                [changeSelection]="monthFilter" [fxFlexInput]="searchFieldMonthSelect"
                                (sendSelected)="selectedMonth($event)">
                            </months-select>
                        </div> -->
                    <!-- <div fxLayout="column" fxFlex>
                            <grid-list-common-search [searchName]="'Busca'" [fxFlexInput]="searchFieldMonthSelect"
                                (queryFieldOutput)="queryFieldOutput($event)"></grid-list-common-search>
                        </div>
                        <br>
                        <mat-paginator #paginatorAbove [length]="this.gridListCommonHelper.lengthPaginator.getValue()"
                            [pageSize]="pageSize" fxLayoutAlign="center center"
                            (page)="onPageChange($event)"></mat-paginator>
                        <br> -->

                    <!-- </div> -->

                    <grid-list-common-table *ngIf="this.showDataBank" fxFlex body-table [statusShow]="true"
                        [matIcons]="{deleteEmpty:'empty', editEmpty:'empty',visibility:'Detalhes' }"
                        [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers"
                        (getEntityOut)="getEntity($event, 'fixedExpenses')" (toPayOut)="getEntityTopay($event)">
                    </grid-list-common-table>
                    <!-- <div pagination-below fxLayout="column">
                        <div class="mat-paginator-above-margin" fxLayout="row" fxFlex>

                        </div>
                        <div fxLayout="row" fxFlex>
                            <div fxLayout="column" fxFlex>

                            </div>

                            <mat-paginator pagination-below #paginatorBelow
                                [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize"
                                (page)="onPageChange($event)"></mat-paginator>

                        </div>
                        <div class="mat-paginator-below-margin" fxLayout="row" fxFlex>

                        </div>
                    </div> -->
                </grid-list-common>
            </mat-card>
        </div>
    </div>
</div>