<div class="p-4">
    <title-component [digit]="'|'" [textTitleComp]="'Cartão de Crédito'" [icon]="'attach_money'"></title-component>
    <div>

        <div>
            <mat-card class="border-radius-none">

                <grid-list-common>
                    <sub-title title [title]="'Faturas Cartões de credito.'" [icon]="'list'"></sub-title>
                    <div search-filter>

                        <div>
                            <div class="small-space-horizontal-beteween-fields"></div>
                            <div *ngIf="!this.showDataBank" class="child" id="title">{{'Selecione um cartão de crédito'}}</div>
                            <div>
                                <div>
                                    <credit-card-invoices-mat-select-single [urlBackEndApi]="'GetAllCreditCardsOnlyByCompanyId'" (creditCardIdOutput)="getCreditCardIdOutput($event)">
                                    </credit-card-invoices-mat-select-single>
                                </div>
                            </div>
                            <div *ngIf="this.showDataBank">
                                <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="false" [changeSelection]="monthFilter" (sendSelected)="selectedMonth($event)">
                                </months-select>
                            </div>
                            <div *ngIf="showDataBank">
                                <view-bank-account [bankAccount]="bankAccount">
                                </view-bank-account>
                            </div>
                        </div>

                        <div class="small-space-horizontal-beteween-fields"></div>
                        <div>
                            <div>
                                <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div>

                            <div fxLayout="screenFieldPosition">

                            </div>
                            <!-- <div  >
                                <btn-g btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div> -->

                        </div>
                        <br>
                    </div>


                    <div search-filter id="space-components">

                    </div>


                    <!-- [matIcons]="{deleteEmpty:'empty', editEmpty:'empty',visibility:'Detalhes' }" -->
                    <grid-list-common-table *ngIf="this.showDataBank" body-table [statusShow]="false" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers" [matIcons]="{visibility:'Detalhes', deleteEmpty:'empty', editEmpty:'empty',format_list_numbered:'Itens Filhos' }"
                        (getEntityOut)="getEntity($event, 'fixedExpenses')" (toPayOut)="getEntityTopay($event)" (getColumnEntityName)="orderBy($event)">
                    </grid-list-common-table>

                </grid-list-common>
            </mat-card>
        </div>
    </div>
</div>
