<div class="border-around"  [formGroup]="formMain">
    <mat-card class="mat-elevation-z10">
        <sub-title title class="font-title" [icon]="'https'" [title]="'Redefinição de senha!'" [styleContainerTitle]="'padding-top:8px;'" [titleStyle]="'font-family: Mynerve; font-size: 24px;'" [titleBarStyle]="'height:60px'"></sub-title>
        <br>
        <div >
            <div  ="3%">
            </div>
            <div>
                <div fxLayout="row ">
                    <b> Senha</b>
                </div>
                <div fxLayout="row ">
                    <mat-form-field  appearance="outline">
                        <input type="password" matInput (blur)="validatorCustom.fieldCompare(formMain, 'password', 'confirmPassword')" formControlName="password" aria-label="senha">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'password', '')}}</span>
                            <span>{{validatorMessages.compareFields(formMain,'password')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row ">
                    <mat-label>
                        <b>Confirmar Senha</b>
                    </mat-label>
                </div>
                <div fxLayout="row ">
                    <mat-form-field  appearance="outline">
                        <input type="password" matInput (blur)="validatorCustom.fieldCompare(formMain, 'confirmPassword', 'password')" formControlName="confirmPassword" aria-label="confirmPassword">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'confirmPassword', '')}}</span>
                            <span>{{validatorMessages.compareFields(formMain,'confirmPassword')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div  fxLayoutAlign="center center">
                    <captcha #token [hidden]="!formMain.valid"></captcha>
                </div>
                <div  fxLayoutAlign="center center" (click)="register(token.sendForm())">
                    <button mat-button class="btn-settings" [disabled]="token.token == undefined"><span>Recuperar</span></button>
                </div>
            </div>

        </div>

    </mat-card>
</div>