<div class="around" fxLayout="column" [formGroup]="formMain">
    <mat-card class="mat-elevation-z10">

        <div fxLayout="row " fxLayoutAlign="center center">
            <div fxLayoutAlign="center center">
                <img class="image-logo" src="../../../../../../assets/nsti-menor.jpg " alt=" ">
            </div>

        </div>

        <mat-divider></mat-divider>
        <br>
        <!-- <div fxLayout="row" fxLayoutAlign="center center"> -->
        <div fxLayout="row">
            <div fxLayout="column ">
                <h1>
                    <mat-icon class="mat-icon-style " fontSet="material-icons-outlined">https</mat-icon>
                </h1>
            </div>
            <div fxLayout="column" fxFlex="30%">
            </div>
            <div fxLayout="column ">
                <h1 mat-card-title style="margin-top:70px;">Redefinição de senha</h1>
            </div>

        </div>
        <mat-card-content>
            <mat-card>
                <div fxLayout="row ">
                    <b> Senha</b>
                </div>
                <div fxLayout="row ">
                    <mat-form-field fxFlex appearance="outline">
                        <input type="password" matInput (blur)="validatorCustom.fieldCompare(formMain, 'password', 'confirmPassword')" formControlName="password">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'password', '')}}</span>
                            <span>{{validatorMessages.compareFields(formMain,'password')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row ">
                    <mat-label>
                        <b>Confirmar Senha</b>
                    </mat-label>
                </div>
                <div fxLayout="row ">
                    <mat-form-field fxFlex appearance="outline">
                        <input type="password" matInput (blur)="validatorCustom.fieldCompare(formMain, 'confirmPassword', 'password')" formControlName="confirmPassword">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'confirmPassword', '')}}</span>
                            <span>{{validatorMessages.compareFields(formMain,'confirmPassword')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
            <br>
            <div fxLayout="row " fxLayoutAlign="center center ">
                <button mat-button id="btnAdd" (click)="register() ">Redefinir</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>