@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* @import "../node_modules/@fortawesome/fontawesome-free/css/all.css"; */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}

input[type="text"] {
    font-size: 35px;
    text-align: center;
}

input[type="matDatepicker"] {
    font-size: 35px;
    text-align: center;
}

input[type="number"] {
    font-size: 35px;
    text-align: center;
}

input[type="password"] {
    font-size: 35px;
    text-align: center;
}

input[type="url"] {
    font-size: 35px;
    text-align: center;
}

mat-label {
    font-size: 35px;
}

mat-select {
    font-size: 35px;
    text-align: center;
}

.big-checkbox .mat-checkbox-inner-container {
    width: 50px;
    height: 50px;
}

#datepicker {
    font-size: 35px;
    padding: 10px;
}

#textarea {
    height: 150px;
    font-size: 35px;
}

#btnSave {
    margin-right: 15px;
    width: 550px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(17, 75, 24);
    color: white;
}

#btnAdd {
    margin-right: 15px;
    width: 180px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: green;
}


/* mat-datepicker-element {
      font-size: 50px;
      text-align: center;
  } */


/* mat-datepicker-input {
      font-size: 50px;
      text-align: center;
  } */
