@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
    font-family: Tourney-Medium;
    src: url('../../Views/src/assets/fonts/tourney-medium.ttf');
}

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}


/* MAT-FORM-FIELD-COLORS | START */

.mat-form-field {
    .mat-input-element {
        color: rgb(0, 0, 0);
    }
    .mat-form-field-label {
        color: rgb(6, 89, 6);
    }
    .mat-form-field-underline {
        background-color: rgb(141, 216, 145);
    }
}

.mat-form-field.mat-focused {
    .mat-input-element {
        color: rgb(0, 0, 0);
    }
    .mat-form-field-label {
        color: #287206;
    }
    .mat-form-field-ripple {
        background-color: #50a82d;
    }
}


/* MAT-FORM-FIELD-COLORS | END */


/* MAT-RADIO-BUTTON-COLORS | START */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: green;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: green;
    background-color: green;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(255, 37, 37, .26);
}


/* MAT-RADIO-BUTTON-COLORS | END */

input[type="text"] {
    /* font-size: 35px; */
    font-size: 20px;
    text-align: center;
}

input[type="matDatepicker"] {
    /* font-size: 35px; */
    font-size: 20px;
    text-align: center;
}

input[type="number"] {
    /* font-size: 35px; */
    font-size: 20px;
    text-align: center;
}

input[type="password"] {
    /* font-size: 35px; */
    font-size: 20px;
    text-align: center;
}

input[type="url"] {
    /* font-size: 35px; */
    font-size: 20px;
    text-align: center;
}

mat-label {
    /* font-size: 35px; */
    font-size: 17px;
}

mat-select {
    /* font-size: 35px; */
    font-size: 20px;
    text-align: center;
}


/* mat-error {
    font-size: 16px;
} */

mat-radio-button {
    /* font-size: 35px; */
    font-size: 20px;
}

#datepicker {
    /* font-size: 35px; */
    font-size: 20px;
    padding: 10px;
}

#textarea {
    height: 150px;
    /* font-size: 35px; */
    font-size: 20px;
}

.save-btn {
    margin-right: 15px;
    width: 550px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(17, 75, 24);
    color: white;
}

.add-btn {
    margin-right: 15px;
    width: 180px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: rgb(17, 75, 24);
}

.small-space-horizontal-beteween-fields {
    padding-top: 10px;
}

.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}

.remove-btn {
    height: 40px;
    font-size: 25px;
}

.default-button {
    background-color: #183f17;
    color: white;
}

.big-checkbox .mat-checkbox-inner-container {
    width: 50px;
    height: 50px;
}

.green-snackBar {
    background: rgb(18, 82, 5);
    color: white;
    width: 450px;
    height: 70px;
}

.red-snackBar-error {
    justify-content: center;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    background: rgb(143, 5, 5);
    color: rgb(255, 255, 255);
    width: 450px;
    height: 80px;
}

.mat-simple-snackbar-action {
    color: white !important;
}

.mat-simple-snack-bar-content {
    align-items: center;
    font-size: 20px;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate3d(-50%, 0, 0) !important;
    /* left: 50%;
     */
}

.mat-tooltip {
    font-size: 20px;
    background: rgb(23, 79, 10)!important;
}

.border-around {
    padding-top: 50px;
    padding-left: 70px;
    padding-bottom: 50px;
    padding-right: 10px;
    /* padding-left: 100px padding-bo: 100px */
}


/* Below change color of mat-icon using filters */


/* .turqoise {
    filter: invert(56%) sepia(82%) saturate(376%) hue-rotate(125deg) brightness(53%) contrast(190%);
} */


/* .blue {
    filter: invert(0.5) sepia(1) saturate(10) hue-rotate(180deg);
}

.orange {
    filter: invert(68%) sepia(81%) saturate(4119%) hue-rotate(3deg) brightness(104%) contrast(106%);
} */
