<div>
    <h3>Contatos</h3>

    <div  [formGroup]="formMain">
        <div  (window:resize)="screen()" fxLayoutGap="15px">
            <div  >

                <mat-form-field appearance="outline">
                    <mat-label> E-mail:</mat-label>
                    <input matInput formControlName="email" aria-label="E-mail">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'email', 'E-mail')}}</span>
                        <span>{{validatorMessages.mailField(formMain,'email')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div  >

                <mat-form-field appearance="outline">
                    <mat-label>Site:</mat-label>
                    <input matInput formControlName="site" aria-label="Site">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'site', 'Site', null, 100)}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div  (window:resize)="screen()" fxLayoutGap="15px">
            <div  >

                <mat-form-field appearance="outline">
                    <mat-label> Celular:</mat-label>
                    <input (blur)="validatorCustom.atLeastOneValidationBlur(this.formMain, ['cel','zap','landline'])" matInput mask="(00) 0-0000-0000" formControlName="cel" placeholder="(00) 0-0000-0000">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'cel', 'Celular', 11, 11)}}</span>
                        <span>{{validatorMessages.atLeastOne(formMain,'cel', 'Celular')}}</span>
                        <span>{{validatorMessages.required(formMain,'cel', 'Celular')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div  >

                <mat-form-field appearance="outline">
                    <mat-label>WhatsApp</mat-label>
                    <input (blur)="validatorCustom.atLeastOneValidationBlur(this.formMain, ['cel','zap','landline'])" matInput mask="(00) 0-0000-0000" formControlName="zap" placeholder="(00) 0-0000-0000">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'zap', 'WhatsApp', 11, 11)}}</span>
                        <span>{{validatorMessages.atLeastOne(formMain,'zap', 'WhatsApp')}}</span>
                        <span>{{validatorMessages.required(formMain,'zap', 'WhatsApp')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div  >

                <mat-form-field appearance="outline">
                    <mat-label>Tel. Fixo:</mat-label>
                    <input (blur)="validatorCustom.atLeastOneValidationBlur(this.formMain, ['cel','zap','landline'])" matInput mask="(00) 0-000-0000" formControlName="landline" placeholder="(00) 0-000-0000">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'landline', 'Telefone Fixo', 10, 10)}}</span>
                        <span>{{validatorMessages.required(formMain,'landline', 'Telefone Fixo')}}</span>
                        <span>{{validatorMessages.atLeastOne(formMain,'landline', 'Telefone Fixo')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div  fxLayoutAlign="center center">

            <div  fxLayoutAlign="end end">
                <btn-g [name]="'Adicionar'" [icon]="'add'" (btn)="addSocialNets()"></btn-g>
                <!-- <button mat-raised-button class="add-btn" (click)="addSocialNets()">
          <mat-icon>add</mat-icon>Adicionar
        </button> -->
            </div>
            <br>
            <div id="labelBtnAdd"  fxLayoutAlign="end end">
                <h1>Rede Social</h1>
            </div>
        </div>

        <div formArrayName="socialMedias" *ngFor="let scnw of formSocialNets.controls; let i = index;">
            <div [formGroupName]="i"  fxLayoutGap="20">
                <div  ="15">

                    <button type="button" mat-raised-button color="warn" (click)="removeNets(i)">
            <mat-icon>clear</mat-icon>&nbsp;&nbsp;Remover
          </button>

                </div>
                <div  >
                    <mat-form-field appearance="outline">
                        <mat-label>Rede Social</mat-label>
                        <input matInput id="socialnetName" formControlName="name" aria-label="Rede Social">
                        <mat-error>
                            <span>{{validatorMessages.required(subForm,'name', 'Nome')}}</span>
                            <span>{{validatorMessages.minMaxLength(subForm,'name', 'name', 3, 150)}}</span>
                        </mat-error>
                    </mat-form-field>

                </div>
                <div  >

                    <mat-form-field appearance="outline">
                        <mat-label>Url (Link)</mat-label>
                        <input matInput id="socialnetUrl" formControlName="url" aria-label="Url (Link)">
                        <mat-error>
                            <span>{{validatorMessages.required(subForm,'url', 'URL')}}</span>
                            <span>{{validatorMessages.minMaxLength(subForm,'url', 'URL', null, 150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </div>

</div>