.container-level-0 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.container-level-1 {
  display: flex;
  flex: 1;
  width: 100%; 
}

.container-level-2,

mat-form-field {
  width: 100%;
  margin: 0px;
  padding: 0px;
  
}

.container-level-2{
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px dashed rgb(43, 161, 168);
}

.btn-add-segment-div {
  display: flex;
}


#btn-remove {
  float: right;
  font-size: 15px;
  color: rgb(156, 33, 29);
}

mat-divider {
  border-top: 2px solid rgb(43, 161, 168);

}

.title-editable {
  padding: 0px;
  margin: 0px;
  justify-self: center;
  color: rgb(43, 161, 168);
}

.index {
  position: relative;
  top: 0;
  left: 0;
  padding-left: -10px;
  color: rgb(43, 161, 168);
  font-style: oblique;
  text-decoration: underline;
}

.model,
.speed,
.capacity,
.description{
margin-bottom: 15px;
}

@media(max-width: 640px) {
  .container-level-2 {
    border: 0px dashed rgb(43, 161, 168);
    border-bottom: 2px dashed rgb(43, 161, 168);
  }
}