@media(min-width: 640px) {
    .isUsed {
        display: flex;
        width: 100%;
    }

    .supplierInfo {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .usedHistoricalOrSupplier {
        display: flex;
        width: 100%;
    }

    .values {
        display: flex;
        gap: 10px;
        width: 100%;
    }

}

mat-form-field {
    flex-basis: 100%;
}

@media(max-width: 640px) {
    .isUsed {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .supplierInfo {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .usedHistoricalOrSupplier {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .values {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
 
    mat-form-field {
        flex-basis: 100%;
    }
}

get-suppliers{
    width: 100%;
}

.quantity {
    flex-basis: 10px;
}

.mat-checkbox-add {
    padding-bottom: 20px;
}
