<div class="main">
    <div>
        <mat-label for="supplierId"></mat-label>
        <input id="supplierId" type="text" matInput formControlName="supplierId">
    </div>
    <div>
        <mat-label for="usedHistoricalOrSupplier"></mat-label>
        <input id="usedHistoricalOrSupplier" type="text" matInput formControlName="usedHistoricalOrSupplier">
    </div>
    <div>
        <mat-label for="purchaseInvoiceNumber"></mat-label>
        <input id="purchaseInvoiceNumber" type="text" matInput formControlName="purchaseInvoiceNumber">
    </div>
    <div>
        <mat-label for="costPrice"></mat-label>
        <input id="costPrice" type="text" matInput formControlName="costPrice">
    </div>
    <div>
        <mat-label for="soldPrice"></mat-label>
        <input id="soldPrice" type="text" matInput formControlName="soldPrice">
    </div>
    <div>
        <mat-label for="entryDate"></mat-label>
        <input id="entryDate" type="text" matInput formControlName="entryDate">
    </div>
    <div>
        <mat-label for="warrantyEnd"></mat-label>
        <input id="warrantyEnd" type="text" matInput formControlName="warrantyEnd">
    </div>
    <div>
        <mat-label for="warrantyEndLocal"></mat-label>
        <input id="warrantyEndLocal" type="text" matInput formControlName="warrantyEndLocal">
    </div>
    <div>
        <mat-label for="isUsed"></mat-label>
        <input id="isUsed" type="text" matInput formControlName="isUsed">
    </div>
    <div>
        <mat-label for="isTested"></mat-label>
        <input id="isTested" type="text" matInput formControlName="isTested">
    </div>
</div>