.container-main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'isUsed isTested' 
    'entryDate warrantyEndLocal' 
    'supplierId usedHistoricalOrSupplier' 
    'costPrice soldPrice' 
    'purchaseInvoiceNumber purchaseInvoiceNumber' 
    ;
    align-items:center;
    width: 100%;
    column-gap: 10px;
}


.isUsed{
    grid-area: isUsed;
}
.isTested{
    grid-area: isTested;
}


.entryDate {
    grid-area: entryDate;
}

.warrantyEndLocal {
    grid-area: warrantyEndLocal;
}

.supplierId {
    grid-area: supplierId;
}

.usedHistoricalOrSupplier {
    grid-area: usedHistoricalOrSupplier;
}

.costPrice {
    grid-area: costPrice;
}

.soldPrice {
    grid-area: soldPrice;
}

.purchaseInvoiceNumber {
    grid-area: purchaseInvoiceNumber;
}


mat-form-field {
    width: 100%;
}