<div [formGroup]="formMain" class="small-large-screen" style="width:100%">
    <div class="isUsed">
        <mat-checkbox class="mat-checkbox-add" id="isUsed" (change)="onChangeIsUsed($event)" formControlName="isUsed">Usado</mat-checkbox>
    </div>


    <div class="supplierInfo">
        <get-suppliers [formMain]="formMain" (supplierSelected)="onSupplierSelected($event)"></get-suppliers>

        <mat-form-field appearance="outline">
            <mat-label>Data Entrada</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="entryDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Garantia fornecedor</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="warrantyEndLocal">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="purchaseInvoiceNumber">NF: Entrada</mat-label>
            <input id="purchaseInvoiceNumber" type="text" matInput formControlName="purchaseInvoiceNumber">
        </mat-form-field>
    </div>
    <!-- *ngIf="isUsed" -->
    <div class="usedHistoricalOrSupplier" >
        <mat-form-field appearance="outline">
            <mat-label for="usedHistoricalOrSupplier">Procedência</mat-label>
            <input id="usedHistoricalOrSupplier" type="text" matInput formControlName="usedHistoricalOrSupplier">
        </mat-form-field>
    </div>

    <div class="isTested">
        <mat-checkbox class="mat-checkbox-add" id="isTested" formControlName="isTested">Testado</mat-checkbox>
    </div>

    <div class="values">
        <mat-form-field appearance="outline">
            <mat-label for="costPrice">Preço de custo</mat-label>
            <input id="costPrice" type="text" matInput currencyMask formControlName="costPrice">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label for="soldPrice">Preço de venda</mat-label>
            <input id="soldPrice" type="text" matInput currencyMask formControlName="soldPrice">
        </mat-form-field>

        <mat-form-field class="quantity" appearance="outline">
            <mat-label for="quantities">Quantidade de peças</mat-label>
            <input min="1" id="quantities" type="number" matInput formControlName="quantity">
        </mat-form-field>
    </div>

    <div>
        {{formMain.value | json}}
    </div>
</div>