<default-component [digitTitleComp]="'|'" [hideDivider]="true" [textTitleComp]="'Cartão de crédito'" [textSubTitleComp]="'Faturas cartão de crédito'" [iconSubTitleComp]="'add'">
    <div btns>

    </div>
    <div body>

        <div class="flex justify-center pt-2">
            <financial-subtitle [hideSubtitle]="false">
            </financial-subtitle>
        </div>
        <mat-card class="p-4 m-4 border-card-categories-divide-comp">
            <div *ngIf="!this.showDataBank" class="title-categories-divide-comp">{{'Selecione um cartão de crédito'}}
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <credit-card-select [urlBackEndApi]="'GetAllCreditCardsOnlyByCompanyId'" (creditCardIdOutput)="getCreditCardIdOutput($event)">
                    </credit-card-select>
                </div>

                <div *ngIf="this.showDataBank">
                    <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="false" [changeSelection]="monthFilter" (sendSelected)="selectedMonth($event)">
                    </months-select>
                </div>
            </div>

            <div *ngIf="showDataBank">
                <view-bank-account [bankAccount]="bankAccount">
                </view-bank-account>
            </div>
        </mat-card>

        <div class="p-4">
            <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="callRouter('/financial/add-credit-card-expenses')"></btn-g>
        </div>

        <list-g *ngIf="(entitiesFiltered$ | async)?.length > 0" [hidePaginator]="true" [headersLabel]="labelHeaders()" [headersFields]="fieldsHeaders()" [entities]="this.entitiesFiltered$" (outOnClickHeaderField)="onClickOrderByFields($event, this.entitiesFiltered$)"
            (outOnClickIcons)="onClickIcons($event)">
        </list-g>
    </div>
</default-component>
