<div style="padding:30px;">
    <div [formGroup]="this.formMain">
        <!-- <div fxLayout="column" fxLayoutGap="50px">
            <title-container [titleString]="title" [subTitleString]="subTitle">
                <title-component>
                </title-component>
            </title-container>
        </div> -->
        <div style="padding-top:10px;"></div>
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-card fxLayoutAlign=center center>
                <mat-form-field fxFlex="100">
                    <input matInput type="text" formControlName="name" placeholder="Despesa">
                    <mat-error>
                        <span>{{required(formMain,'name', 'Despesa')}}</span>
                        <span>{{minMax(formMain,'name', 'Despesa',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </mat-card>

            <mat-grid-list (window:resize)="screen()" [cols]="amountStartedExpirationInstallmentCols" [rowHeight]="amountStartedExpirationInstallmentRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input matInput currencyMask type="text" formControlName="amount" placeholder="Valor">
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input matInput [matDatepicker]="picker0" formControlName="started" placeholder="Iniciado">
                            <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                            <mat-datepicker #picker0 startView="year" [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input max="31" min="0" matInput type="number" formControlName="expiration" placeholder="Dia do Vencimento">
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input max="31" matInput type="number" formControlName="installment" placeholder="Parcelas">
                        </mat-form-field>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>

            <div>
                <mat-card>
                    <mat-form-field fxFlex="100">
                        <mat-label>Instituição Financeira</mat-label>
                        <input matInput type="text" formControlName="institution" placeholder="Instituição Financeira">
                    </mat-form-field>
                </mat-card>
            </div>
            <mat-card>
                <mat-form-field fxFlex="100">
                    <mat-label>Link Segunda via</mat-label>
                    <input matInput type="text" formControlName="duplicateurl" placeholder="Link Segunda via">
                </mat-form-field>
            </mat-card>

            <mat-grid-list (window:resize)="screen()" [cols]="userPasswordCols" [rowHeight]="userPasswordRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input matInput type="text" formControlName="user" placeholder="Usuário">
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input matInput type="password" formControlName="password" placeholder="Senha">
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-card>
                <mat-form-field fxFlex="100">
                    <mat-label>Observações</mat-label>
                    <textarea matInput type="text" formControlName="description" placeholder="Observações"></textarea>
                </mat-form-field>
            </mat-card>
        </div>
        <div style="padding-top:30px;"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <button id="btnSave" mat-raised-button type="submit" (click)="save()">Salvar</button>
        </div>
    </div>
</div>
