<div fxLayout="column" fxFlex="100%">

    <title-container [titleString]="title" [subTitleString]="subTitle">
        <title-component>
        </title-component>
    </title-container>

    <tab-g [titleTabs]="['Entrada']" (tabIndexEvt)="tabContentIndex($event)">
        <div *ngIf="indexTabContentField == 0" [routerLink]="['/navinventory/createinventory']">
            <router-outlet></router-outlet>
        </div>

        <!-- <div *ngIf="indexTabContentField == 2">
            <essential-expenses-create>
            </essential-expenses-create>-->
        <!-- <div *ngIf="indexTabContentField == 2">
            <inventory-list>
            </inventory-list>
        </div> -->
    </tab-g>

</div>