<mat-grid-list (window:resize)="screen()" [cols]="navCols" [rowHeight]="navRowHeight">
    <mat-toolbar>
        <div fxLayout="row">
            <mat-grid-tile>
                <img src="../../../../../../assets/nsti-globe.png" alt="" style="padding-top:25px; width:150x; height:80px;">
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../../../../../assets/nsti-word.png" alt="" style="padding-top:30px; width:200px; height:100px;">
            </mat-grid-tile>
            <mat-grid-tile>
                <a *ngIf="true" (click)="openDialogLogin()" style="padding-top:20px;">
                    <div fxLayout="column" fxLayoutGap="-20px">
                        <div fxFlex="row" style="padding-left: 20px;">
                            <mat-icon>lock_open</mat-icon>
                        </div>
                        <div fxFlex="row">
                            <small> ENTRAR</small>
                        </div>
                    </div>
                </a>
            </mat-grid-tile>
        </div>
    </mat-toolbar>
</mat-grid-list>
<main>
    <div id="welcome">

    </div>
    <div fxLayout="column" fxLayoutAlign="center center">

        <div fxLayout="row">
            <div>
                <h1>Bem-vindo ao SONNY!</h1>
            </div>

        </div>
        <div fxLayout="row" style="padding-left:50px; padding-right:50px;">
            <div>
                <p>Nosso aplicativo de administração de serviços de informática! Desenvolvido com o objetivo de simplificar o gerenciamento de clientes, finanças, estoque e serviços prestados por técnicos de informática, nosso aplicativo oferece uma solução
                    completa e eficiente para os profissionais da área.</p>
            </div>
        </div>
    </div>
    <br>
    <mat-grid-list (window:resize)="screen()" [cols]="informationCols" [rowHeight]="informationRowHeight">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <mat-grid-tile>
                <div fxLayout="column">
                    <mat-card class="mat-elevation-z10" style="height: 300px; width:250px;">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <mat-icon>attach_money</mat-icon>
                            </div>
                            <mat-card-title>Financeiro</mat-card-title>
                            <mat-card-subtitle>Controle</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div>
                                <p>poderá monitorar suas finanças de maneira simples e organizada, com recursos para controle de receitas e despesas, geração de faturas e acompanhamento de pagamentos.
                                </p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div fxLayout="column">
                    <mat-card class="mat-elevation-z10" style="height: 300px; width:250px;">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <mat-icon>settings_bluetooth</mat-icon>
                            </div>

                            <mat-card-title>Estoque</mat-card-title>
                            <mat-card-subtitle>Entrada/Saída</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                            <div>

                                <p>O gerenciamento de estoque também será facilitado com nosso aplicativo. Você poderá controlar suas peças, produtos e suprimentos, monitorando a entrada e saída de itens e gerando relatórios de estoque sempre que necessário.
                                </p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div fxLayout="column">
                    <mat-card class="mat-elevation-z10" style="height: 300px; width:250px;">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <mat-icon>settings</mat-icon>
                            </div>
                            <mat-card-title>Serviços</mat-card-title>
                            <mat-card-subtitle>Executados</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                            <div>
                                aplicativo também permite que você registre e acompanhe todos os serviços prestados aos seus clientes, com informações sobre a data, hora, descrição do serviço, duração e valores cobrados. Tudo isso em um só lugar, tornando o gerenciamento do seu negócio
                                mais ágil e eficiente. Com um design intuitivo e fácil de usar, nosso aplicativo é ideal para técnicos de informática que desejam otimizar a administração de seus negócios, economizando tempo e evitando erros de registro.
                                Experimente agora mesmo.
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-grid-tile>


        </div>
    </mat-grid-list>
</main>
