<!-- <button (click)="test()">Test </button> -->

<!-- <div style="padding:30px;">
    <search-table [textSearch]="searchTerms" (searchKey)="search($event)" [searchByText]="true"></search-table>
    <br>
    <paginated-table (pgSort)="sort($event)" (pgEvent)="paging($event)" [dataSourceInput]="data" [pageSizeOptionsInput]="pageSizeOptions" [displayedColumnsInput]="displayedColumnsInventory" [displayedColumnsInputBr]="displayedColumnsInventoryBr" [pageIndex]="this.pageIndex"
        [pageSize]="this.pageSize" [length]="this.length" [spinner]="spinnerShowHide" [paginationOnOff]="true">
    </paginated-table>
</div> -->
