<div [formGroup]="formMain"  >
    <div formArrayName="banksAccounts" *ngFor="let bkAcc of bankAccountsArray.controls; let i = index;">
        <div [formGroupName]="i">
            <div class="middle-space-horizontal-beteween-fields"> </div>
            <div>{{'Conta ' }}{{i+1}}</div>
            <mat-divider></mat-divider>
            <div class="middle-space-horizontal-beteween-fields"> </div>
            <div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Titular</mat-label>
                        <input matInput type="text" formControlName="holder" aria-label="Titular">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain.get('banksAccounts').at(i),'holder', 'Titular')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain.get('banksAccounts').at(i),'holder', 'Titular',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Instituição Financeira</mat-label>
                        <input matInput type="text" formControlName="institution" aria-label="Instituição Financeira">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain.get('banksAccounts').at(i),'institution', 'Instituição financeira')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain.get('banksAccounts').at(i),'institution', 'Instituição financeira',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields "> </div>
            <div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Agência</mat-label>
                        <input matInput type="text" formControlName="agency" aria-label="Agência">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain.get('banksAccounts').at(i),'agency', 'Agência')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain.get('banksAccounts').at(i),'agency', 'Agência',null,10)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Conta</mat-label>
                        <input matInput type="text" formControlName="account" aria-label="Conta">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain.get('banksAccounts').at(i),'account', 'Conta')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain.get('banksAccounts').at(i),'account', 'Conta',null,10)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="screenFieldPosition != 'column'" class="middle-space-horizontal-beteween-fields"> </div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Tipo de Conta</mat-label>
                        <mat-select formControlName="type">
                            <mat-option [value]="typesAccount.id" *ngFor="let typesAccount of typeAccountsArray">
                                {{typesAccount.typeAccount}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div >
                <div >
                    <btn-remove-g (remove)="remove(0)" id="btn-remove">
                    </btn-remove-g>
                </div>
                <div>

                </div>
                <div >

                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <div>


    </div>
    <div >
        <btn-g [name]="'Adicionar'" [icon]="'add'" (click)="add()"></btn-g>
    </div>
    <div>

    </div>
</div>