<div  class="border-around">
    <!-- <title-component [digit]="'|'"[textTitleComp]="'Cadastro de despesas fixas'"[icon]="'attach_money'">
        </title-component> -->
    <section id="container-above" >
        <button id="btn-back" mat-raised-button (click)="back()">{{'Voltar'}}</button>
    </section>
    <br>
    <br>
    <!-- <mat-card [formGroup]="formMain"*ngIf="formMain">
        <sub-title title [title]="'Categoria / Subcategorias'"[icon]="'add'"></sub-title>
        <div >
            <h3>Cadastro</h3>
        </div>
     
    </mat-card> -->
    <mat-card [formGroup]="formMain"  *ngIf="formMain">
        <sub-title title [title]="'Categoria / Subcategorias'" [icon]="'add'"></sub-title>
        <div >
            <h3>Cadastro</h3>
        </div>
        <div>
            <mat-form-field appearance="outline" >
                <mat-label> Categoria</mat-label>
                <input matInput formControlName="name" aria-label="Categoria">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'name', 'Categoria')}}</span>
                    <span>{{requiredSubcategory()}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'name', 'Categoria',null,30)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div >
            <btn-g btn-1 [name]="'Subcategoria'" [icon]="'add'" (btn)="addSubcategories()"></btn-g>
        </div>
        <br>
        <div  formArrayName="subcategoriesExpenses"
            *ngFor="let subCat of getSubcategories.controls; let i = index;">
            <div [formGroupName]="i" >
                <btn-g  [name]="'Remover'" [icon]="'clear'"
                    
                    (btn)="removeSubcategory(i)"></btn-g>
                <br>
                <div>
                    <mat-form-field appearance="outline" >
                        <mat-label>Subcategoria</mat-label>
                        <input matInput formControlName="name" aria-label="Subcategoria">
                        <mat-error>
                            <span>{{validatorMessages.required(subCat,'name', 'Nome')}}</span>
                            <span>{{validatorMessages.minMaxLength(subCat,'name', 'Nome', 3, 30)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>



        </div>
        <div  fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>
        <div  fxLayoutGap="50px">
            <div>{{formMain.value | json}}</div>
        </div>
    </mat-card>
</div>