<div *ngFor="let field of fields" >

    
        <div *ngIf="field.order % 2 == 0" >
            <p>
                <span class="span-pipe">|</span>
                <span>{{field.label}}:</span>
                <span class="span-title">
                    {{' '+field.value}}</span>
            </p>
        </div>
        <div *ngIf="field.order % 2 != 0" >
            <p>
                <span class="span-pipe">|</span>
                <span>{{field.label}}:</span>
                <span class="span-title">
                    {{' '+field.value}}</span>
            </p>
        </div>
    
    <!-- {{'test'}} -->
</div>