.mat-icon-style {
    color: green;
    background-color: rgba(68, 184, 93, 0.397);
    border: 12px solid transparent;
    border-radius: 80px;
}

.mat-card-settings {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mat-card-title {
    /* padding: 50px; */
    height: 100%;
}


/* Change color input  */

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(94, 255, 0) !important;
}