<mat-card>
    <div class="mat-card-title">
        <mat-grid-list (window:resize)="screen()" [cols]="btnChangeTitleCols" [rowHeight]="btnChangeTitleRowHeight">

            <mat-grid-tile>
                <h3>Informações de conta</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <button class="default-button" mat-raised-button (click)="updateUser()"> Salvar </button>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
    <mat-divider>
    </mat-divider>
    <br>
    <div fxLayout="column" fxLayoutGap="15px" [formGroup]="formMain">
        <mat-grid-list (window:resize)="screen()" fxLayoutGap="3px" [cols]="companyUserNameEmailCols" [rowHeight]="companyUserNameEmailRowHeight">
            <mat-grid-tile [formGroup]="subForm">
                <mat-form-field fxFlex="99" appearance="outline">
                    <mat-label>Nome Empresa</mat-label>
                    <input matInput formControlName="name">
                    <!-- <mat-error>
                      <span>{{validatorMessages.required(formMain,'state', 'Estado')}}</span>
                      <span>{{validatorMessages.minMaxLength(formMain,'state', 'Estado',null,2)}}</span>
                  </mat-error> -->
                </mat-form-field>


            </mat-grid-tile>
            <mat-grid-tile>




                <mat-form-field fxFlex="99%" appearance="outline">
                    <mat-label>Nome de Usuário</mat-label>
                    <input matInput formControlName="userName">
                    <!-- <mat-error>
                <span>{{validatorMessages.required(formMain,'district', 'Bairro')}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'district', 'Bairro',null,150)}}</span>
            </mat-error> -->
                </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field fxFlex="99" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email">
                    <!-- <mat-error>
                    <span>{{validatorMessages.required(formMain,'city', 'Cidade')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'city', 'Cidade',null,150)}}</span>
                </mat-error> -->
                </mat-form-field>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card>