.title-amount {
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Mynerve';
}

.costs {
    font-size: 15px;
    font-family: 'Mynerve';
    color: red;
    font-weight: bolder;
}

.paid {
    font-size: 15px;
    font-family: 'Mynerve';
    // color: green;
    font-weight: bolder;
}