<mat-card class="!border !border-color-main !shadow-md card">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">TOTAL</p>
            </div>
            <div class="costs">
                <p>{{valuesFinancing?.totalPriceToBePaid | ptBrCurrency}}</p>
            </div>
        </div>

        <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">PARCELA</p>
            </div>
            <div class="costs">
                <p>{{valuesFinancing?.installmentPrice | ptBrCurrency}}</p>
            </div>
        </div>

        <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">A PAGAR</p>
            </div>
            <div class="costs">
                <p>{{valuesFinancing?.remainderToBePaid | ptBrCurrency}}</p>
            </div>
        </div>

        <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">JUROS %</p>
            </div>
            <div class="w-full costs">
                <p>{{valuesFinancing?.totalPercentageInterest | percent }}</p>
            </div>
        </div>
        <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">JUROS $</p>
            </div>
            <div class="w-full costs">
                <p>{{valuesFinancing?.totalPriceInterest | ptBrCurrency }}</p>
            </div>
        </div>
        <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">PAGO</p>
            </div>
            <div class="w-full paid">
                <p>{{valuesFinancing?.totalPaid | ptBrCurrency}}</p>
            </div>
        </div>
        <div class="w-full grid sm:grid-cols-[10px_1fr_50px] grid-cols-[10px_1fr_1fr] items-center">
            <div>
                <p class="pipe-title"> <span>|</span></p>
            </div>
            <div>
                <p class="title">PARCELAS PAGAS</p>
            </div>
            <div class="w-full paid">
                <p>{{valuesFinancing?.installmentsQuantity}}</p>
            </div>
        </div>

    </div>
</mat-card>