<mat-card [formGroup]="formMain"  *ngIf="formMain">
    <sub-title title [title]="mainTitle" [icon]="mainIcon"></sub-title>
    <h3>Dados Bancários</h3>
    <div [fxLayout]=" screenFieldPosition" >
        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Titular</mat-label>
                <input matInput type="text" formControlName="holder" aria-label="Titular">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'holder', 'Titular')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'holder', 'Titular',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Instituição Financeira</mat-label>
                <input matInput type="text" formControlName="institution" aria-label="Instituição Financeira">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'institution', 'Instituição financeira')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'institution', 'Instituição financeira',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div>
        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Agência</mat-label>
                <input matInput type="text" formControlName="agency" aria-label="Agência">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'agency', 'Agência')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'agency', 'Agência',null,10)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Conta</mat-label>
                <input matInput type="text" formControlName="account" aria-label="Conta">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'account', 'Conta')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'account', 'Conta',null,10)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Tipo de Conta</mat-label>
                <mat-select formControlName="type">
                    <mat-option [value]="typesAccount.id" *ngFor="let typesAccount of typeAccountsArray">
                        {{typesAccount.typeAccount}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <ng-content select="[pix]">

    </ng-content>

    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div>
        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Gerente Nome</mat-label>
                <input formControlName="managerName" matInput type="text" aria-label="Gerente Nome">
                <mat-error>
                    <span>{{validatorMessages.minMaxLength(formMain,'managerName', 'Gerente',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field  appearance="outline">
                <mat-label>Contato Gerente</mat-label>
                <input matInput type="text" formControlName="managerContact" aria-label="Contato Gerente">
                <mat-error>
                    <span>{{validatorMessages.minMaxLength(formMain,'managerContact', 'Gerente',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <ng-content select="[description]">

    </ng-content>




    <mat-form-field  appearance="outline">
        <mat-label>Saldo</mat-label>
        <input matInput type="text" currencyMask formControlName="balance" aria-label="Saldo">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'balance', 'Saldo')}}</span>
        </mat-error>
    </mat-form-field>
</mat-card>