<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Informações gerais'" [icon]="'record_voice_over'">

    </title-component>
    <div fxLayout="row">

        <div fxLayout="column">
            <mat-card>
                <grid-list-common-title title [titleGrid]="'Localização'"></grid-list-common-title>

            </mat-card>
        </div>
        <div fxLayout="column">
            <mat-card>
                <grid-list-common-title title [titleGrid]="'Contatos'"></grid-list-common-title>
            </mat-card>
        </div>
    </div>
</div>
