<div>
    <mat-card-title>Contatos</mat-card-title>
    <mat-card>
        <div  [formGroup]="formMain">
            <div  ="100%" >
                <div ="50%" >
                    <mat-form-field>
                        <mat-label> E-mail:</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>
                            <!-- <span>{{validator?.required(formMain,'street', 'Logradouro')}}</span> -->
                            <!-- <span>{{validator.required(formMain,'email', 'E-mail')}}</span>
                            <span>{{validator?.mailField(formMain,'email', 'E-mail')}}</span> -->
                        </mat-error>
                    </mat-form-field>
                </div>

                <div ="50%" >
                    <mat-form-field>
                        <mat-label>Site:</mat-label>
                        <input matInput formControlName="site">
                        <!-- <mat-error>
                            <span><span>{{validator?.minMax(formMain,'site', 'Site', null, 100)}}</span></span>
                        </mat-error> -->
                    </mat-form-field>
                </div>





            </div>

            <div  ="100%">

                <mat-form-field ="33%">
                    <mat-label> Celular:</mat-label>
                    <input matInput mask="(00) 0-0000-0000" formControlName="cel" placeholder="(00) 0-0000-0000">
                    <!-- <mat-error>
                  <span>{{_ValidationMsg.commonFields('cel',
        'Cel requer um minimo de 2 caracteres.'
        , 'Cel é limitado a 150 caracteres.', _ValidationMsg._contactForm)}}</span>
              </mat-error> -->
                </mat-form-field>

                <mat-form-field ="33%">
                    <mat-label>WhatsApp</mat-label>
                    <input matInput mask="(00) 0-0000-0000" formControlName="zap" placeholder="(00) 0-0000-0000">
                    <!-- <mat-error>
                <span>{{_ValidationMsg.commonFields('zap',
        'WhatsApp requer um minimo de 2 caracteres.'
        , 'WhatsApp é limitado a 150 caracteres.', _ValidationMsg._contactForm)}}</span>
            </mat-error> -->
                </mat-form-field>

                <mat-form-field ="33%">
                    <mat-label>Tel. Fixo:</mat-label>
                    <input matInput mask="(00) 0-000-0000" formControlName="landline" placeholder="(00) 0-000-0000">
                    <!-- <mat-error>
                <span>{{_ValidationMsg.commonFields('landline',
        'Tel fixo requer um minimo de 2 caracteres.'
        , 'Tel fixo é limitado a 150 caracteres.', _ValidationMsg._contactForm)}}</span>
            </mat-error> -->
                </mat-form-field>

                <!-- <mat-error>
          <span>{{_ValidationMsg.commonFields('landline',
            'Tel fixo requer um minimo de 2 caracteres.'
            , 'Tel fixo é limitado a 150 caracteres.', _ValidationMsg._contactForm)}}</span>
          </mat-error> -->
            </div>

            <div >
                <div id="labelBtnAdd"  fxLayoutAlign="end end">
                    <h6>Rede Social</h6>
                </div>
                <div  fxLayoutAlign="end end">
                    <button mat-raised-button color="primary" style="width: 180px; height: 40px; font-size: 25px;" (click)="validator.addSocialNets()">Adicionar</button>
                </div>
            </div>
            <div class="pt-3"></div>
            <div ="100%" >
                <div formArrayName="socialnetworks" *ngFor="let scnw of formSocialNets.controls; let i = index;">
                    <div  [formGroupName]="i">
                        <mat-form-field ="40%">
                            <mat-label>Rede Social</mat-label>
                            <input matInput id="socialnetName" formControlName="name">
                        </mat-form-field>
                        <mat-form-field ="40%">
                            <mat-label>Url (Link)</mat-label>
                            <input matInput id="socialnetUrl" formControlName="url">
                        </mat-form-field>

                        <button mat-raised-button color="warn"  style="float: right; width: 180px; height: 40px; font-size: 25px;" (click)="_CntValService.removeNets(i)">Remover</button>


                    </div>
                </div>
            </div>

        </div>

        <mat-card-actions>
            <!-- can add button here -->
        </mat-card-actions>
    </mat-card>
    <br>

</div>
