<default-component [formGroup]="formMain" [hideDivider]="true" *ngIf="formMain" [digitTitleComp]="'|'" [textTitleComp]="'Pagamento'" [textSubTitleComp]="'Despesa'" [iconSubTitleComp]="'payment'">
    <div btns>

    </div>
    <div body class="p-4">
        <mat-card class="p-4 !border !border-color-main !shadow-md card" *ngIf="formMain.get('bankAccountId').value">
            <view-default class="hidden sm:block" *ngIf="itemsToView" [itemsToView]="itemsToView" [hideDivider]="true" [type]="'row'">
            </view-default>
            <view-default class="block sm:hidden" *ngIf="itemsToView" [itemsToView]="itemsToView " [hideDivider]="true">
            </view-default>
        </mat-card>
        <div class="pb-2"></div>
        <mat-card class="p-4 !border !border-color-main !shadow-md card">
            <get-bank-accounts [urlBackEndApi]="'GetAllFnBankAccount'" [formMain]="formMain" [bankAccountFormControlName]="'bankAccountId'" (banckAccountSelected)="banckAccountSelected($event)">
            </get-bank-accounts>

            <radio-g *ngIf="formMain.get('bankAccountId').value" (selectedRadioOut)="onSelectedRadio($event)" [selectedRadio]="selectedRadio" [optionsRadio]="optionsRadio">
            </radio-g>

            <div class="pb-2"></div>
            
            <get-bank-pixes-g *ngIf="selectedRadio == 0 && formMain.get('bankAccountId').value" [formMain]="formMain" [pixes]="pixes"></get-bank-pixes-g>

            <pixes-expenses-fields *ngIf="selectedRadio == 0 && formMain.get('bankAccountId').value" [showExpenseDay]="true" [priceDisabled]="false" [formMain]="subForm">
            </pixes-expenses-fields>


            <get-bank-cards-g *ngIf="selectedRadio == 1 && formMain.get('bankAccountId').value && cards != null" [formMain]="formMain" [cards]="cards">
            </get-bank-cards-g>

            <input-field-g *ngIf="selectedRadio == 2 && formMain.get('bankAccountId').value" [formMain]="this.formMain" [inputLabel]="'Forma de pagamento'" [fieldControlName]="'othersPaymentMethods'">
                <span msg-error *ngIf="this.formError(formMain,'othersPaymentMethods', 'required') && this.formTouched(formMain, 'othersPaymentMethods')">{{requiredMsg}}</span>
            </input-field-g>

            <div class="pb-2"></div>

            <price-interest-fields *ngIf="formMain.get('bankAccountId').value" [formMain]="formMain" [priceFormControlName]="'priceWasPaidInstallment'">
            </price-interest-fields>

            <div class="pb-2"></div>
            <div id="warning-expired" *ngIf="checkExpires()">
                {{'Já vencido, provável multa/juros, não esqueça de preencher o campo juros corretamente.'}}
            </div>

            <div btn>
                <btn-g [name]="'Pagar'" [icon]="'payment'" (click)="updateBtn()" [enableDisable]="paymentBtnEnabledDisabled"></btn-g>
            </div>
        </mat-card>
    </div>
</default-component>


<!-- <div >
<div>{{formMain.value | json}}</div>
</div> -->
