<div style="padding:50px;">
    <h3>
        Cadastro de Items
    </h3>
    <hr>
    <div [formGroup]="formMainTmp" fxLayout="column">

        <div fxLayout="row">
            <mat-card fxFlex="99">
                <mat-form-field fxFlex="99">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </mat-card>
        </div>

        <br>
        <div fxLayout="row">

            <mat-card fxFlex="99">
                <mat-form-field fxFlex="99">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
            </mat-card>

        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
            <button id="btn-save" mat-button type="submit" (click)="save()">Salvar</button>
        </div>

    </div>
</div>