<div fxLayout="column" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center center">
        <h3>{{'Equipamento'}}</h3>
    </div>
    <div fxLayout="column" fxFlex>
        <!-- <h4>native html select</h4> -->

        <mat-form-field appearance="outline">
            <mat-label>Selecione o Hardware</mat-label>
            <mat-select matNativeControl id="mySelectId">
                <!-- <mat-option value="" disabled selected></mat-option> -->
                <mat-option *ngFor="let eqp of this.GetTogetherDto.equipaments_Fill" [value]="eqp.equipament">{{eqp.equipament}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <table-g-grid fxFlex [dataSource]="dataSourceEquipament" [tableHtml]="'radio'" [columnsFields]="['check', 'name']" [columnsNamesToDisplay]="['check', 'Fabricante']" (radioChoice)="onChangeRadioChoiceEquipamentSelected($event)">
            <search-g search fxFlex [inputFxFlex]="searchInputFxFlexSize" (queryField)="outputFieldSearchEquipament($event)">
                <div found>
                    {{this.dataSourceEquipament.searchItensFound.value}}
                </div>
            </search-g>
            <mat-paginator #equipamentsPaginator pagination fxLayoutAlign="center center" [length]="equipamentsLength" [pageSize]="5" [pageSizeOptions]="[5]" aria-label="Select page">
            </mat-paginator>
        </table-g-grid> -->
    </div>
    <div style="padding-top:20px;" fxLayoutAlign="center center">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'nameId', 'Equipamento')}}</span>
        </mat-error>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <h3>{{'Fabricante'}}</h3>
    </div>
    <div fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Selecione o Fabricante</mat-label>
            <mat-select matNativeControl id="mySelectId">
                <!-- <mat-option value="" disabled selected></mat-option> -->
                <mat-option *ngFor="let man of this.GetTogetherDto.manufacturers_Fill" [value]="man.manufacturer">{{man.manufacturer}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <table-g-grid fxFlex [dataSource]="dataSourceManufacturer" [tableHtml]="'radio'" [columnsFields]="['check', 'name']" [columnsNamesToDisplay]="['check', 'Fabricante']" (radioChoice)="onChangeRadioChoiceManufacturerSelected($event)">
          <search-g search fxFlex [inputFxFlex]="searchInputFxFlexSize" (queryField)="outputFieldSearchManufacturer($event)">
              <div found>
                  {{this.dataSourceManufacturer.searchItensFound.value}}
              </div>
          </search-g>
          <mat-paginator #manufacturersPaginator pagination fxLayoutAlign="center center" [length]="manufacturersLength" [pageSize]="5" [pageSizeOptions]="[5]" aria-label="Select page">
          </mat-paginator>
      </table-g-grid> -->
    </div>
</div>
<div fxFlex="1"></div>
<div fxLayout="column" fxFlex>

    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h3>{{'Segmento'}}</h3>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Selecione o Segmento</mat-label>
            <mat-select matNativeControl id="mySelectId">
                <!-- <mat-option value="" disabled selected></mat-option> -->
                <mat-option *ngFor="let seg of this.GetTogetherDto.segments_Fill" [value]="seg.segment">{{seg.segment}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <table-g-grid fxFlex [dataSource]="dataSourceManufacturer" [tableHtml]="'radio'" [columnsFields]="['check', 'name']" [columnsNamesToDisplay]="['check', 'Fabricante']" (radioChoice)="onChangeRadioChoiceManufacturerSelected($event)">
            <search-g search fxFlex [inputFxFlex]="searchInputFxFlexSize" (queryField)="outputFieldSearchManufacturer($event)">
                <div found>
                    {{this.dataSourceManufacturer.searchItensFound.value}}
                </div>
            </search-g>
            <mat-paginator #manufacturersPaginator pagination fxLayoutAlign="center center" [length]="manufacturersLength" [pageSize]="5" [pageSizeOptions]="[5]" aria-label="Select page">
            </mat-paginator>
        </table-g-grid> -->
    </div>
    <div style="padding-top:20px;" fxLayoutAlign="center center">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'manufacturerId', 'Fabricante')}}</span>
        </mat-error>
    </div>
</div>
</div>