<div fxLayout="column">
    <div fxLayout="row">
        <div class="hardwareTitle" fxLayout="column">
            {{'Serviços bancada'}}
        </div>
        <div class="margin-divider-title" fxLayout="column" fxFlex>
            <mat-divider fxFlex></mat-divider>
        </div>
    </div>
    <div fxLayout="column" fxFlex>
        <!-- Grid hardware sold to this customer -->
        <grid-list-opts>
            <!-- <grid-list-opts-title title [titleGrid]="'Clientes'"></grid-list-opts-title> -->
            <grid-list-opts-search search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-opts-search>
            <grid-list-opts-table body-table [matIcons]="null" [radioAlone]="''" [checkAlone]="null" (getEntityRadioEvent)="radioAloneMtd($event)" [checks]="null" [btnsNames]="null" [cssColumns]="cssColumns" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$"
                [headers]="headers">
            </grid-list-opts-table>
            <mat-paginator #customerPaginator pagination [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" fxLayoutAlign="center center"></mat-paginator>
        </grid-list-opts>,
    </div>
</div>