<div mat-dialog-title>
    <div *ngIf="data.action === 'reserve'">
        <h2>{{'Reservar'}}</h2>
    </div>
    <div *ngIf="data.action === 'sell'">
        <h2>{{'Vender'}}</h2>
    </div>
</div>
{{data.title.description}}
<mat-divider></mat-divider>
<div class="middle-space-horizontal-beteween-fields"></div>
<div>
    {{'Quantidade:'+ ' '+ data.entities.length}}
</div>
<div class="middle-space-horizontal-beteween-fields"></div>
<div *ngIf="data.action === 'reserve'">
    {{'Data Reserva: '}}{{data.entities[0].isReserved | date:'dd/MM/yyyy'}}
</div>
<div *ngIf="data.action === 'sell'">
    {{'Data Venda: '}}{{data.entities[0].soldDate | date:'dd/MM/yyyy'}}
</div>
<div class="small-space-horizontal-beteween-fields"></div>
<div *ngFor="let entity of data.entities">
    {{'Número de Série:'}} {{entity.sn}}
</div>


<!-- <mat-dialog-content> -->
<div class="middle-space-horizontal-beteween-fields"></div>
<grid-list-opts>
    <grid-list-opts-title title [titleGrid]="'Clientes'"></grid-list-opts-title>
    <grid-list-opts-search search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-opts-search>
    <grid-list-opts-table body-table [matIcons]="null" [radioAlone]="''" [checkAlone]="null" [checks]="null" [btnsNames]="null" [cssColumns]="cssColumns" (getEntityRadioEvent)="radioAloneMtd($event)" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$"
        [headers]="headers">
    </grid-list-opts-table>
    <mat-paginator #pag pagination [length]="this.lengthCustomer" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" fxLayoutAlign="center center"></mat-paginator>
</grid-list-opts>
<!-- </mat-dialog-content> -->
<mat-dialog-actions align="end">
    <button [disabled]="btnsDisabled" class="btns-reserve-sell" mat-button (click)="clickedYes('yes')">{{'Confirmar'}}</button>
    <button class="btns-reserve-sell" mat-button (click)="clickedNo('No')">{{'Cancelar'}}</button>
</mat-dialog-actions>