<div  class="border-around" *ngIf="formMain" [formGroup]="formMain">

    <title-component [digit]="'|'" [textTitleComp]="'Cadastro de corrida'" [icon]="'compare_arrows'">

    </title-component>
    <mat-card class="mat-card-sub-title">
        <sub-title title [title]="'Cadastro de coletas e entregas'" [icon]="'compare_arrows'"></sub-title>
        <div class="middle-space-horizontal-beteween-fields"></div>
        <div >
            <h3>Informações</h3>
        </div>
        <subject-contact [formMain]="formMain"></subject-contact>
        <!-- <mat-divider></mat-divider>
        <div >
            <h3>Itens Transportados / Serviço</h3>
        </div> -->
        <div class="small-space-horizontal-beteween-fields"></div>

        <div  [fxLayoutGap]="'35'" [fxLayoutAlign]="checkBoxAlign">

            <div  style="padding-top:17px;">
                <mat-checkbox
                    (change)="validatorLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver', 'other'])"
                    (change)="onCollectChecked($event)">
                    Coleta
                </mat-checkbox>
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'collect', '')}}</span>
                </mat-error>

                <mat-checkbox
                    (change)="validatorLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver', 'other'])"
                    (change)="onDeliveryChecked($event)">
                    Entrega
                </mat-checkbox>
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'deliver', '')}}</span>
                </mat-error>

                <mat-checkbox
                    (change)="validatorLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver', 'other'])"
                    (change)="onOtherChecked($event)">Outros</mat-checkbox>
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'other', '')}}</span>
                </mat-error>
            </div>
            <div>
                <description-field [formMain]="formMain" [frmControlName]="'taskOverView'"
                    [label]="'Descrição da corrida'" [required]="true" [rows]="5">
                </description-field>
            </div>


        </div>
        <mat-divider></mat-divider>
        <div >
            <h3>Destino</h3>
        </div>
    
        <div >

            <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="selectedDestiny"
                [ngModelOptions]="{standalone: true}" (change)="onSelectedRadioDestiny($event)">
                <mat-radio-button class="radio-button" *ngFor="let entity of entities" [value]="entity">
                    {{entity}}
                </mat-radio-button>
            </mat-radio-group>


            <div [fxLayout]="'column'"  style="padding-left:10px;">

                <!-- [ngClass]="{'middle-space-horizontal-top-single':!topBottomPaddingEntitiesRadio, 'middle-space-horizontal-bottom-single':topBottomPaddingEntitiesRadio}" -->
                <get-customer-matselect-single *ngIf="selectedDestiny == 'Clientes'" [formMain]="destiny"
                    [selectedEntity]="cleanEntity"
                    [urlBackEndApi]="'GetCustomersByCompanyIdIncludedPhysicallyMovingCosts'"
                    (customerSelected)="onCustomerSelectedDestiny($event)"
                    (customerSelected)="onPriceSelectedDestiny('Combustível')" >
                </get-customer-matselect-single>

                <!-- [ngClass]="{'middle-space-horizontal-top-single':!topBottomPaddingEntitiesRadio, 'middle-space-horizontal-bottom-single':topBottomPaddingEntitiesRadio}" -->
                <get-partner-matselect-single *ngIf="selectedDestiny == 'Parceiros'" [formMain]="destiny"
                    [urlBackEndApi]="'GetPartnersByCompanyIdIncludedPhysicallyMovingCosts'"
                    (partnerSelected)="onPartnerSelectedDestiny($event)" >
                </get-partner-matselect-single>

                <!-- [ngClass]="{'middle-space-horizontal-top':!topBottomPaddingEntitiesRadio, 'middle-space-horizontal-bottom':topBottomPaddingEntitiesRadio}" -->
                <others-destinies [noRegisterName]="this.destiny.controls['noRegisterName']"
                    [noRegisterAddress]="this.destiny.controls['noRegisterAddress']" [form]="destiny"
                    *ngIf="selectedDestiny == 'Outros'" [formMain]="formMain" >
                </others-destinies>

                <get-transporter-matselect-single [formMain]="formMain"
                    (click)="this.formMain.controls['transporterId'].markAsTouched()"
                    (transporterSelected)="onTransporterSelected($event)" >
                </get-transporter-matselect-single>


            </div>
        </div>

        <!-- <div >
            <h3>Transportador</h3>
        </div> -->

        <mat-divider></mat-divider>

        <div  [formGroup]="subForm">
            <div  *ngIf="!disablePaymentDestiny">
                <h3>Cobrança:</h3>
            </div>
            <!-- <div  *ngIf="!disablePaymentDestiny" ="35">
                
            </div> -->

        </div>
        <!-- <mat-divider *ngIf="!disablePaymentDestiny"></mat-divider> -->
        <div >
            <!--  -->
            <!-- <div [fxLayout]="screenFieldPositionSub" [style]="rightSideBorder"> -->
            <div [fxLayout]="'column'">
                <!-- <div >
                </div> -->
                <mat-radio-group *ngIf="!disablePaymentDestiny" aria-labelledby="radio-group-label" class="radio-group"
                    [(ngModel)]="selectedEntityToPayment" [ngModelOptions]="{standalone: true}"
                    (change)="onSelectedRadioPayment($event)">
                    <mat-radio-button class="radio-button" *ngFor="let entity of entitiesToPayment" [value]="entity">
                        {{entity}}
                    </mat-radio-button>
                </mat-radio-group>
                <div *ngIf="disablePaymentDestiny" class="middle-space-horizontal-beteween-fields"> </div>
                <mat-checkbox style="margin-top:-10px; padding-left:6px;" #matCheckbox
                    (change)="localCostToPayment($event)" [fxLayoutAlign]="checkBoxAlign" fomControlName="payer">
                    <mat-label>{{'Despesa?'}}</mat-label>
                </mat-checkbox>
                <div *ngIf="disablePaymentDestiny" class="middle-space-horizontal-beteween-fields"> </div>
            </div>
            <div style="padding-top:30px; padding-left:10px;" *ngIf="!disablePaymentDestiny"
                [fxLayout]="screenFieldPositionSub" >
                <!-- [ngClass]="{'middle-space-horizontal-top-single':!topBottomPaddingEntitiesRadio, 'middle-space-horizontal-bottom-single':topBottomPaddingEntitiesRadio}" -->
                <get-customer-matselect-single *ngIf="selectedEntityToPayment == 'Clientes'" [formMain]="subForm" 
                    (customerSelected)="onCustomerSelectedPayment($event)"
                    (customerSelected)="onPriceSelectedPayment('Combustível')"
                    [urlBackEndApi]="'GetCustomersByCompanyIdIncludedPhysicallyMovingCosts'"></get-customer-matselect-single>

                <!-- [ngClass]="{'middle-space-horizontal-top-single':!topBottomPaddingEntitiesRadio, 'middle-space-horizontal-bottom-single':topBottomPaddingEntitiesRadio}" -->
                <get-partner-matselect-single *ngIf="selectedEntityToPayment == 'Parceiros'" [formMain]="subForm" 
                    (partnerSelected)="onPartnerSelectedPayment($event)"
                    (partnerSelected)="onPriceSelectedPayment('Combustível')"
                    [urlBackEndApi]="'GetPartnersByCompanyIdIncludedPhysicallyMovingCosts'"></get-partner-matselect-single>
            </div>
            <div [fxLayout]="'column'"  *ngIf="selectedCustomerPayment || selectedPartnerPayment">
                <div [fxLayout]="'row'"  [style]="pricePayment">
                    <mat-form-field appearance="outline" >
                        <mat-label>Valor pre cadastrado</mat-label>
                        <mat-select #singleSelect (selectionChange)="onPriceSelectedPayment(singleSelect.value)"
                            formControlName="kindTransport">
                            <mat-option *ngFor="let pay of transportOptions" [value]="pay">
                                {{pay}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div [fxLayout]="'row'" >
                    <mat-form-field >
                        <mat-label>Preço</mat-label>
                        <input matInput currencyMask type="text" formControlName="price" aria-label="Preço">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <!-- [ngClass]="{'smallTransportPrice':this.sizeScreenIsSmall, 'middleTransportPrice':!this.sizeScreenIsSmall}" -->
        <div  fxLayoutGap="30">
            <div [fxLayout]="screenFieldPositionSub" >
                <mat-form-field appearance="outline"  *ngIf="disablePaymentDestiny">
                    <mat-label>Valor pre cadastrado</mat-label>
                    <mat-select #singleSelect (selectionChange)="onPriceSelectedDestiny(singleSelect.value)"
                        formControlName="kindTransport">
                        <mat-option *ngFor="let pay of transportOptions" [value]="pay">
                            {{pay}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div [fxLayout]="screenFieldPositionSub" >
                <mat-form-field  *ngIf="disablePaymentDestiny">
                    <mat-label>Preço</mat-label>
                    <input matInput currencyMask type="text" formControlName="price" aria-label="Preço">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div  class="middle-space-horizontal-beteween-fields"> </div>
        <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        <!-- <button type="button" mat-raise-button (click)="test()">Test</button> -->
    </mat-card>
</div>


<div>{{formMain.value| json}}</div>