.confirm-dialog-collect-deliver {
    .mat-dialog-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: -330px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: #333 #fff;
    }
    /* For WebKit (Chrome, Safari, etc.) */
    *::-webkit-scrollbar {
        width: 10px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: rgba(10, 23, 55, 0.5);
    }
    *::-webkit-scrollbar-track {
        background-color: #fff;
    }
    .mat-dialog-container .mat-dialog-content {
        /* Set the direction to right-to-left */
        /* direction: rtl; */
        overflow-y: auto;
        margin-right: -16px;
    }
}
/* 
.small-space-horizontal-beteween-fields {
    padding-top: 10px;
}

.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}

.middle-space-horizontal-top-single {
    padding-top: 38px;
    padding-right: 30px;
}

.middle-space-horizontal-bottom-single {
    margin-top: -45px;
}

.middle-space-horizontal-top {
    padding-top: 45px;
}

.middle-space-horizontal-bottom {
    margin-top: -45px;
}

.transportOptions {
    padding-top: 8px;
}

.smallTransportPrice {
    margin-top: 30px;
}

.middleTransportPrice {
    padding-top: 40px;
}

.mat-card-sub-title {
    height: 100%;
    background-color: rgb(249, 249, 249);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: -330px;
}
 */
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}