<mat-tab-group mat-stretch-tabs class="mat-elevation-z4" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" #tabGroup>

    <mat-tab label="{{titleTab}}" *ngFor="let titleTab of titleTabs; let i = index;" [label]="titleTab" class="tab-title">

        <div *ngIf="titleTab == 'Cliente'">

            <ng-content select=".client"></ng-content>




        </div>

        <div *ngIf="titleTab == 'Técnico'">

            <ng-content select=".technician"></ng-content>

        </div>

    </mat-tab>

</mat-tab-group>
<!-- <button (click)="test(tabGroup)">TESTE</button> -->
