<div [formGroup]="formMain">
    <div fxLayout="row">
        <div fxLayout="column">
            <button id="btn-1" mat-raised-button (click)="filterMtd()">
        <div fxLayout="row">
          <div fxLayout="column" id="mat-icon-search-column">
            <mat-icon>search</mat-icon>
          </div>
        <div fxLayout="column">
        Filtrar
          </div>
        <span id="space-items-left-vertical-line"></span>

          <div fxLayout="column" id="vertical-line-divider">
          </div>

          <span id="space-items-rigt-vertical-line"></span>

          <div fxLayout="column" id="icons-arrow-up-down">
            <mat-icon *ngIf="arrow" >keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!arrow" >keyboard_arrow_up</mat-icon>
          </div>

          </div>
      </button>
        </div>

    </div>
    <div style="height:15px;"></div>
    <mat-card *ngIf="arrow">
        <div fxLayout="column" fxLayoutGap="10">
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <input matInput type="text" placeholder="CNPJ / CPF">
                </mat-form-field>
            </div>
            <!-- <div fxFlex="5"></div> -->
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <input matInput type="text" placeholder="E-Mail">
                </mat-form-field>
            </div>
            <div fxLayout="row">

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Entidade:</mat-label>
                    <mat-select formControlName="entitySelect">
                        <mat-option [value]="entity" *ngFor="let entity of entities">
                            {{entity}}</mat-option>
                    </mat-select>
                    <!-- <mat-error>
                  <span>{{validatorMessages.required(formMain,'paidBy', 'Pagamento efetuado via')}}</span>
              </mat-error> -->
                </mat-form-field>


            </div>
            <div fxLayout="row" fxLayoutGap="10">

                <div fxLayout="column">

                    <mat-checkbox class="example-margin">Assegurados</mat-checkbox>

                </div>

                <div fxLayout="column">
                    <button id="btn-1" mat-raised-button (click)="addMtd()">
                    <div fxLayout="row">
                      <div fxLayout="column">
                        <mat-icon style="padding-top:7px; margin-left:-10px;">refresh</mat-icon>
                      </div>
                      <div style="width:10px;">

                      </div>
                      <div fxLayout="column">
                        {{'Aplicar Filtros'}}
                      </div>
                    </div>
                    </button>

                </div>
            </div>
        </div>
    </mat-card>
</div>
