<div [formGroup]="formMain" [fxLayout]="'column'" (window:resize)="screen()" *ngIf="formMain">
    <div >
        <btn-g [styleSize]="'width:120px;'" btn-1 (btn)="addCard()" [name]="'Adicionar Cartão'"></btn-g>
    </div>
    <div style="padding-bottom: 50px;">

    </div>
    <div  formArrayName="cards" *ngFor="let ctrls of getCards.controls let i = index">
        <mat-card  *ngIf="ctrls.get('deleted').value != true">
            <sub-title title [icon]="mainIcon" [title]="ctrls.get('flag').value" [plus]="true" [spaceItem]="spaceItem" [titleBarStyle]="titleBarStyle">
                <mat-icon class="mouse-pointer" id="btn-remove" plus (click)="removeCard(i)">remove_circle_outline</mat-icon>
            </sub-title>
            <div [formGroupName]="i" >
                <div >
                    <div >
                        <h3>Dados do cartão</h3>
                    </div>
                    <div  >
                    </div>
                    <div  fxLayoutAlign="center center">
                        <h3>{{type[i]?.card?.niceType}}</h3>
                        <mat-icon id="card-icon" matSuffix class="card ccs ccs-{{type[i]?.card?.type}}">
                        </mat-icon>
                    </div>
                </div>
                <div  >
                    <mat-form-field appearance="outline" >
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="holder" placeholder="Nome exatamente como está no cartão.">
                        <mat-error>
                            <span>{{validatorMessages.required(this.subForm,'holder', 'Titular')}}</span>
                            <span>{{validatorMessages.minMaxLength(this.subForm,'holder', 'Titular',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div  fxLayoutGap="15" >
                    <div  >
                        <mat-form-field appearance="outline" >
                            <mat-label>Número</mat-label>
                            <input matInput type="text" formControlName="number" [mask]="maskCardNumber" type="text" (keyup)="cardNumberKeyUp(i)" aria-label="Número">
                            <mat-error>
                                <span>{{validatorMessages.required(this?.formMain?.get('cards')?.get(i.toString()),'number', 'Número do cartão')}}</span>
                                <span>{{validatorMessagesFiancial.cardNumber(this?.formMain?.get('cards')?.get(i.toString()),'number')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div >
                        <mat-form-field  appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let card of typeCards" (blur)="validatorLocal.limitWhenRequired(this.subForm, 0.99, {ValuBelowAllowed:true}, 'creditLimit')" [value]="card.id">
                                    {{card.typeCard}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="small-space-horizontal-beteween-fields"> </div>
                <div  fxLayoutGap="15">

                    <div class="validate-field"  ="15">
                        <mat-form-field ="15" appearance="outline">
                            <mat-label>Validade</mat-label>
                            <input matInput (input)="validateValidation()" [matDatepicker]="picker" placeholder="00/0000" formControlName="validate">
                            <!-- (blur)="makeSpaceFields(ctrls)" -->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
                            <mat-error>
                                <span>{{validatorMessages.required(this.subForm,'validate', 'Validade')}}</span>
                                <span>{{validatorMessagesFiancial.cardValidateDate(this.subForm,'validate')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="cvc-field"  ="7">
                        <mat-form-field ="7" appearance="outline">
                            <mat-label>CVC</mat-label>
                            <input [mask]="maskCvc" matInput type="text" formControlName="cvc" aria-label="CVC">
                            <!-- (blur)="makeSpaceFields(ctrls)" -->
                            <mat-error>
                                <span>{{validatorMessages.required(ctrls,'cvc', 'Código verificador')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div  ="30" [style]="spaceCvcField">
                        <mat-form-field ="30" appearance="outline">
                            <mat-label>Limite Credito</mat-label>
                            <input matInput type="text" currencyMask formControlName="creditLimit" aria-label="Limite Credito">
                            <!-- (blur)="makeSpaceFields(ctrls)" -->
                            <mat-error>
                                <span>{{validatorMessages.required(ctrls,'creditLimit', 'Limite')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div  [ngClass]="{'space-closing-expires':spaceClosingExpires}">
                        <date-just-day [formMain]="ctrls" [formCtrlName]="'closingDate'" [placeholder]="'00'" [labelTitle]="'Fechamento'" [Width]="closingDate" [layoutColumnRow]="layoutColumnRowDateJustDay">
                            <div validation-error>
                                <span>{{validatorMessages.required(this.subForm,'closingDate', 'Fechamento')}}</span>
                                <!-- <span>{{validatorMessagesFiancial.cardValidateDate(this.subForm,'validate')}}</span> -->
                            </div>
                        </date-just-day>
                    </div>


                    <div  [ngClass]="{'space-closing-expires':spaceClosingExpires}">
                        <date-just-day [formMain]="ctrls" [formCtrlName]="'expiresDate'" [placeholder]="'00'" [labelTitle]="'Vencimento'" [Width]="expiresDate" [layoutColumnRow]="layoutColumnRowDateJustDay">
                            <div validation-error>
                                <span>{{validatorMessages.required(this.subForm,'expiresDate', 'Vencimento')}}</span>
                                <!-- <span>{{validatorMessagesFiancial.cardValidateDate(this.subForm,'validate')}}</span> -->
                            </div>
                        </date-just-day>
                    </div>


                </div>
                <div class="space-description">
                    <description-field [formMain]="ctrls" [maxLength]="2000" >
                    </description-field>
                </div>


                <!-- <div   [ngClass]="{'space-description':makeSpaceFields(ctrls), 'without-space-description':!makeSpaceFields(ctrls)}">

                </div> -->
            </div>
        </mat-card>
        <div *ngIf="ctrls.get('deleted').value != true" class="middle-space-horizontal-beteween-fields"> </div>
        <div *ngIf="ctrls.get('deleted').value != true" class="middle-space-horizontal-beteween-fields"> </div>
    </div>
</div>
