<div [formGroup]="formMain" [fxLayout]="'column'" (window:resize)="screen()" *ngIf="formMain">
    <div fxLayout="row">
        <btn-add-g btn-1 (add)="addCard()" [btnName]="'Adicionar Cartões'"></btn-add-g>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column" formArrayName="cards" *ngFor="let ctrls of getCards.controls let i = index">
        <mat-card fxFlex *ngIf="ctrls.get('deleted').value != true">
            <sub-title title [icon]="'payment'" [plus]="true" [spaceItem]="spaceItem" [titleBarStyle]="'background-color: rgb(16, 86, 90);'">
                <mat-icon class="mouse-pointer" id="btn-remove" plus (click)="removeCard(i)">remove_circle_outline</mat-icon>
            </sub-title>
            <div [formGroupName]="i" fxLayout="column">
                <div fxLayout="row">
                    <div fxLayout="column">
                        <h3>Dados do cartão</h3>
                    </div>
                    <div fxLayout="column" fxFlex>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h3>{{type[i]?.card?.niceType}}</h3>
                        <mat-icon id="card-icon" matSuffix class="card ccs ccs-{{type[i]?.card?.type}}">
                        </mat-icon>
                    </div>
                </div>
                <div fxLayout="row" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="holder" placeholder="Nome exatamente como está no cartão.">
                        <mat-error>
                            <span>{{validatorMessages.required(this.subForm,'holder', 'Titular')}}</span>
                            <span>{{validatorMessages.minMaxLength(this.subForm,'holder', 'Titular',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div [fxLayout]="screenFieldPosition" fxLayoutGap="15" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Número</mat-label>
                            <input matInput type="text" formControlName="number" [mask]="maskCardNumber" type="text" (keyup)="cardNumberKeyUp(i)" aria-label="Número">
                            <mat-error>
                                <span>{{validatorMessages.required(this?.formMain?.get('cards')?.get(i.toString()),'number', 'Número do cartão')}}</span>
                                <span>{{validatorMessagesFiancial.cardNumber(this?.formMain?.get('cards')?.get(i.toString()),'number')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let card of typeCards" (blur)="validatorLocal.limitWhenRequired(this.subForm, 0.99, {ValuBelowAllowed:true}, 'limit')" [value]="card.id">
                                    {{card.typeCard}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="small-space-horizontal-beteween-fields"> </div>
                <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">

                    <div class="validate-field" fxLayout="column" fxflex="7">
                        <mat-form-field fxflex="10" appearance="outline">
                            <mat-label>Validade</mat-label>
                            <input matInput (input)="validateValidation()" [matDatepicker]="picker" placeholder="00/0000" formControlName="validate">
                            <!-- (blur)="makeSpaceFields(ctrls)" -->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
                            <mat-error>
                                <span>{{validatorMessages.required(this.subForm,'validate', 'Validade')}}</span>
                                <span>{{validatorMessagesFiancial.cardValidateDate(this.subForm,'validate')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="cvc-field" fxLayout="column" fxflex="4">
                        <mat-form-field fxflex="4" appearance="outline">
                            <mat-label>CVC</mat-label>
                            <input [mask]="maskCvc" matInput type="text" formControlName="cvc" aria-label="CVC">
                            <!-- (blur)="makeSpaceFields(ctrls)" -->
                            <mat-error>
                                <span>{{validatorMessages.required(ctrls,'cvc', 'Código verificador')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxflex [style]="spaceCvcField">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Limite Credito</mat-label>
                            <input matInput type="text" currencyMask formControlName="limit" aria-label="Limite Credito">
                            <!-- (blur)="makeSpaceFields(ctrls)" -->
                            <mat-error>
                                <span>{{validatorMessages.required(ctrls,'limit', 'Limite')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxFlex [ngClass]="{'space-description':makeSpaceFields(ctrls), 'without-space-description':!makeSpaceFields(ctrls)}">
                    <description-field [formMain]="this.formMain.get('cards').at(i)" [maxLength]="2000" fxFlex>
                    </description-field>
                </div>
            </div>
        </mat-card>
        <div *ngIf="ctrls.get('deleted').value != true" class="middle-space-horizontal-beteween-fields"> </div>
        <div *ngIf="ctrls.get('deleted').value != true" class="middle-space-horizontal-beteween-fields"> </div>
    </div>
</div>