<mat-toolbar>
    <div fxFlex="250px;"></div>
    <ng-content select="[btn-menu]"></ng-content>
    <div fxFlex></div>
    <button type="button" title="open-menu" mat-button [matMenuTriggerFor]="menu">
<div>

  <button class="profile-button" mat-button fxLayout="row">

  <i>
    {{userName ?? 'Login' | titlecase}}
  </i>

  <img class="image-nav-bar" src="../../../../../../assets/nsti-menor.jpg" alt="logo nsti aqui">

</button>


    </div>
    </button>
    <mat-menu class="menu-overflow-hidden" #menu="matMenu">

        <div class="menu-opened" fxLayout="column">
            <div class="menu-title" fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="row">
                    <img class="image-menu-opened" src="../../../../../../assets/nsti-menor.jpg" alt="logo nsti aqui">
                </div>
            </div>
            <div class="profile-menu-opended" fxLayout="column" fxLayoutAlign="center center">
                <span class="profile-menu-opended-name">
    {{userName ?? 'Login' | titlecase}}
  </span>

            </div>
            <mat-divider fxFlex></mat-divider>
            <div [routerLink]="['/side-nav/user-profile']" class="hand-pointer menu-opened-icons-main menu-opened-icons-items menu-opened-items-font" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="10%"></div>
                <div fxLayout="column">
                    <mat-icon fxLayoutAlign="center center" class="menu-opened-icons-item" fontSet="material-icons-two-tone">account_circle</mat-icon>
                </div>
                <div fxFlex="10%"></div>
                <div fxLayout="column">
                    <span class="menu-opened-span-font">Perfil</span>
                    <small class="menu-opened-icons-items-font hand-pointer">Informações</small>
                </div>
                <div fxFlex="100%"></div>
                <div fxLayout="column">
                    <mat-icon class="arrow_right">keyboard_arrow_right</mat-icon>
                </div>
            </div>
            <mat-divider fxFlex></mat-divider>
            <div (click)="logOut()" class="hand-pointer menu-opened-icons-main menu-opened-icons-items menu-opened-items-font" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="10%"></div>
                <div fxLayout="column">
                    <mat-icon fxLayoutAlign="center center" class="menu-opened-icons-item" fontSet="material-icons-two-tone">exit_to_app</mat-icon>
                </div>
                <div fxFlex="10%"></div>
                <div fxLayout="column">
                    <span class="menu-opened-span-font ">Sair</span>
                    <small>Desconectar</small>
                </div>
                <div fxFlex="100%"></div>
                <div fxLayout="column">
                    <mat-icon class="arrow_right">keyboard_arrow_right</mat-icon>
                </div>
            </div>
            <mat-divider fxFlex></mat-divider>


        </div>
    </mat-menu>

</mat-toolbar>
