<div class="table">
    <div class="row header">
        <!-- <div class="cell-header" [style]="header.style" (click)="onClickHeaderField(headersFields[i].key)" *ngFor="let header of headersLabel;let i = index;">
            {{header.key}}
        </div> -->
    </div>

    <div *ngFor="let entity of this.entities$ | async; let isOdd = odd; let isEven = even">

        <div *ngFor="let field of headersFields let i = index;">

            {{headersLabel[i].key}} {{entity[field.key]?.key}}

            <ng-container [ngSwitch]="entity[field.key]?.display">

                <!-- <ng-container *ngSwitchCase="'icons'">
                    <mat-icon class="btn-icon" [style]="entity[field.key]?.styleInsideCell" (click)="onClickIcon(icon, entity.id.key)" *ngFor="let icon of entity[field.key]?.icons">{{icon}}</mat-icon>
                </ng-container>

                <ng-container *ngSwitchCase="'button'">
                    <button [style]="entity[field.key]?.styleInsideCell" (click)="onClickButton(entity[field.key]?.key)" mat-raised-button>{{entity[field.key]?.button}}</button>
                </ng-container>

                <ng-container *ngSwitchCase="'menu'">
                    <ng-content select="[out-display]"></ng-content>
                </ng-container> -->



                <ng-container *ngSwitchDefault>
                    <!-- <div (click)="tooltip.show()" [style]="entity[field.key]?.styleInsideCell">{{entity[field.key]?.key}}</div> -->
                </ng-container>

            </ng-container>
        </div>

    </div>
</div>
<spinner-g [entities]="entities$" [optionalTitle]="'(Lista)'" [_empty]="spinerNoRegisterClean">
</spinner-g>
