<div class="border-around">
    <div fxLayout="column" fxFlex>
        <!-- Grid Customers -->
        <grid-list-opts>
            <!-- <grid-list-opts-title title [titleGrid]="'Clientes'"></grid-list-opts-title>
            <grid-list-opts-search search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-opts-search>
            <grid-list-opts-table body-table [matIcons]="null" [radioAlone]="''" [checkAlone]="null" [checks]="null" [btnsNames]="null" [cssColumns]="cssColumns" (getEntityRadioEvent)="radioCustomerGrid($event)" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$"
                [headers]="headers">
            </grid-list-opts-table>
            <mat-paginator #customerPaginator pagination [length]="0" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" fxLayoutAlign="center center"></mat-paginator> -->
        </grid-list-opts>
    </div>
</div>
<!-- this.lengthCustomer -->