<h3>Selecione para editar.</h3>

<mat-radio-group aria-label="selecione uma opcao" class="container">
    <div class="product-type">
        <mat-radio-button value="product-type">Tipo de produto</mat-radio-button>
    </div>
    <div class="segment">

        <mat-radio-button value="segment">Segmento</mat-radio-button>
    </div>
    <div class="manufacturer">

        <mat-radio-button value="manufacturer">Fabricante</mat-radio-button>
    </div>
    <div class="model">

        <mat-radio-button value="model">Modelo</mat-radio-button>
    </div>
</mat-radio-group>