<!-- <div class="middle-space-horizontal-beteween-fields"> </div> -->
<div>
    <div>
        <ng-content select="[title]"></ng-content>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div>
        <ng-content fxFlex select="[search-pagination]">

        </ng-content>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div>
        <ng-content select="[body-table]"></ng-content>
    </div>
    <div>
        <ng-content select="[btns]"></ng-content>
    </div>
</div>
<!-- <div>
    <div>
        <ng-content select="[title]"></ng-content>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div>
        <ng-content select="[search]"></ng-content>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div>
        <ng-content select="[body-table]"></ng-content>
    </div>
    <div>
        <ng-content select="[pagination]"></ng-content>
    </div>
    <div>
        <ng-content select="[btns]"></ng-content>
    </div>
</div> -->
