<!-- <div style="overflow: auto; height: 200px;">

</div> -->
<table>

    <tr class="default_tr_th">
        <th [class]="styleTableTh(field)" *ngFor="let field of headers let i_th = index">
            {{field}}
        </th>
    </tr>
    <tr *ngFor="let entity of entities$ | async">

        <td class="td-actions-icons">
            <mat-icon style="padding-right: 5px;" class="actions-icons mouse-pointer">{{entity.icons.split(',')[0]}}</mat-icon>

            <mat-icon style="padding-right: 5px;" class="actions-icons mouse-pointer">{{entity.icons.split(',')[2]}}</mat-icon>

            <mat-icon style="padding-right: 5px;" class="actions-icons mouse-pointer">{{entity.icons.split(',')[1]}}</mat-icon>
            <!-- <mat-icon mat-icon-button [matTooltip]="icon.value" class="actions-icons mouse-pointer" fontSet="material-icons-outlined" *ngFor="let icon of matIcons | keyvalue" (click)="getEntity(entity, icon)">
                {{icon.key}}
            </mat-icon> -->
        </td>

        <td class="default_td" [class]="styleTableTd(fieldsInEnglish[xy])" *ngFor="let field of fieldsInEnglish let xy = index">
            {{entity[fieldsInEnglish[xy]]}}
        </td>
        <td class="default_td" [class]="styleTableTd(fieldsInEnglish[xy])">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <div *ngIf="entity.contacts">
                    <button mat-menu-item>WhatsApp</button>
                    <button mat-menu-item>{{entity.contacts.split(',')[0]}}</button>
                    <button mat-menu-item>Celular</button>
                    <button mat-menu-item>{{entity.contacts.split(',')[1]}}</button>
                    <button mat-menu-item>Telefone</button>
                    <button mat-menu-item>{{entity.contacts.split(',')[2]}}</button>
                    <button mat-menu-item>E-mail</button>
                    <button mat-menu-item>{{entity.contacts.split(',')[3]}}</button>

                </div>
            </mat-menu>
        </td>

    </tr>

</table>