.default_td {
    vertical-align: baseline;
    font-size: 13px;
    font-family: Mynerve;
    padding-top: 10px;
}

.default_tr_th {
    vertical-align: baseline;
    font-size: 13px;
    font-family: Mynerve;
    padding-top: 10px;
    text-align: left;
}

table {
    width: 100%;
}