
<table>

    <thead>
        <tr class="default_tr_th">
            <th class="mouse-pointer" [class]="styleTableTh(field)" *ngFor="let field of headers let i_th = index" (click)="getColumnEntity(field)">
                {{field}}
            </th>
        </tr>
    </thead>
    <tbody>
      
        <tr class="default_tr_td" *ngFor="let entity of entities$ | async; let ind = index;">
            <td class="td-actions-icons">
                <mat-icon mat-icon-button [matTooltip]="icon?.value" class="mat-icons mouse-pointer" fontSet="material-icons-outlined" *ngFor="let icon of matIcons | keyvalue" (click)="getEntity(entity, icon)">
                    <span [hidden]="icon?.value == 'empty'">
                      {{icon?.key}}
                    </span>
                </mat-icon>
            </td>

            <td class="default_td" [class]="styleTableTd(fieldsInEnglish[xy], entity)" *ngFor="let field of fieldsInEnglish let xy = index">
                <b> <span [class]="styleTableItemInsideTd(fieldsInEnglish[xy], entity)">{{entity[fieldsInEnglish[xy]]}}</span></b>
            </td>


            <td class="default_td" *ngIf="customerList">
                <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <div *ngIf="entity.contacts">
                        <button mat-menu-item class="btn-zap-icon" (click)="openLink('https://wa.me/' + entity.contacts[1]['zap'])">WhatsApp</button>
                        <button mat-menu-item class="btn-zap-icon">
                    <span><img class="svg-zap-icon" src="../../../../../../assets/zap.svg" alt=""></span>
                    <span>{{entity.contacts[1]['zap'] | phoneNumber}}</span>
                  </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item>Celular</button>
                        <button mat-menu-item>
                  <mat-icon>phone_android</mat-icon>
                  <span>{{entity.contacts[0]['cel']  | phoneNumber}}</span>
                </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item>Telefone</button>
                        <button mat-menu-item>
                  <mat-icon>phone_in_talk</mat-icon>
                  <span>{{entity.contacts[2]['landline']  | phoneNumber}}</span>
                </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item>E-mail</button>
                        <button mat-menu-item>
                  <mat-icon>email</mat-icon>
                  <span>{{entity.contacts[3]['email'].split(',')[0]}}</span>
                </button>
                    </div>
                </mat-menu>

            </td>
            <td *ngIf="customerList">
                <button mat-button><mat-icon>settings</mat-icon></button>
            </td>
            <td *ngIf="statusShow" [class]="compareDateWasPaidButton(entity.wasPaid)">
                <button [disabled]="checkIsPaid(entity.wasPaid)" (click)="toPay(entity)" [ngClass]="{'statusFalse':status, 'statusTrue':!status}" mat-button><mat-icon>done_all</mat-icon></button>
            </td>

        </tr>
    </tbody>
</table>
<spinner-g [entities$]="entities$" [optionalTitle]="'(Lista)'" [_empty]="spinerNoRegisterClean">
</spinner-g>