<!-- <mat-card style="margin: 20px">
    <sub-title title class="font-body font-title" [title]="data.title" [styleContainerTitle]="'padding-top:8px;'" [titleStyle]="'font-family: Mynerve; font-size: 24px;'" [height]="'height:60px'"></sub-title>
    <mat-dialog-content>

        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Motivo'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.subject}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Preço'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.price}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Contato no local'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.contact}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Coleta?'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.collect}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Entrega?'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.deliver}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Sem cadastrado'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.other}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Itens Transportados - Serviço'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.itemsOrService}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Destino'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.destiny}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Transportador'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.transporter}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="30">
            <div fxLayout="column">
                <p class="font-body label-field">{{'Cobrança'}}</p>
            </div>
            <div fxLayout="column">
                <p class="font-body">{{data.payer}}</p>
            </div>
        </div>

    </mat-dialog-content>
    <div fxLayout="row" class="font-body margin" fxLayoutGap="30px">
        <div fxLayout="column" fxFlex>
        </div>
        <div fxLayout="column">
            <btn-cancel-g mat-dialog-close (click)="clickedNo('cancel')"></btn-cancel-g>
        </div>
        <div fxLayout="column">
            <btn-delete-g (click)="clickedYes('yes')"></btn-delete-g>
        </div>
    </div>

</mat-card> -->

<mat-card style="margin: 20px">
    <sub-title title class="font-body font-title" [title]="data.title" [styleContainerTitle]="'padding-top:8px;'" [titleStyle]="'font-family: Mynerve; font-size: 24px;'" [height]="'height:60px'"></sub-title>
    <mat-dialog-content>

        <table>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Motivo'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.subject}}</p>

                </td>

            </tr>

            <tr>

                <td>
                    <p class="font-body label-field">{{'Preço'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.price | ptBrCurrency}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Contato no local'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.contact}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Coleta?'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.collect}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Entrega?'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.deliver}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Sem cadastrado'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.other}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Itens Transportados - Serviço'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.itemsOrService}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Destino'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.destiny}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Transportador'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.transporter}}</p>

                </td>

            </tr>
            <tr>

                <td>
                    <p class="font-body label-field">{{'Cobrança'}}</p>

                </td>
                <td>
                    <p class="font-body">{{data.payer}}</p>

                </td>

            </tr>
        </table>

    </mat-dialog-content>
    <div fxLayout="row" class="font-body margin" fxLayoutGap="30px">
        <div fxLayout="column" fxFlex>
        </div>
        <div fxLayout="column">
            <btn-cancel-g mat-dialog-close (click)="clickedNo('cancel')"></btn-cancel-g>
        </div>
        <div fxLayout="column">
            <btn-confirm-g (click)="clickedYes('yes')"></btn-confirm-g>
        </div>
    </div>

</mat-card>