<div class="grid grid-cols-1 sm:grid-cols-[60px_auto]">
    <div class="bg-color-main">
        <mat-icon class="icon-title">{{'compare_arrows'}}</mat-icon>
    </div>
    <div class="bg-color-main">
        <h3 mat-dialog-title><span class="font-bold text-white">{{'Confirmação de exclusão'}}</span></h3>
    </div>
</div>
<mat-dialog-content>
    <view-default [itemsToView]="itemsToView">
    </view-default>
</mat-dialog-content>
<mat-dialog-actions class="!flex !justify-center">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
            <btn-g mat-dialog-close [name]="'Apagar'" [icon]="'delete_outline'" [btnType]="'red'" (click)="clickedNo()"></btn-g>
        </div>
        <div>
            <btn-g mat-dialog-close [name]="'Confirmar'" [icon]="'cancel'" (click)="clickedYes()"></btn-g>
        </div>
    </div>
</mat-dialog-actions>
