<div class="container-filter">

    <div class="search-field">

        <mat-form-field appearance="outline">
            <mat-label>{{'Pesquisar'}}</mat-label>
            <input #field (input)="search(field.value,outFieldSearch,this.removeAccentsSpecialCharacters)" type="text"
                matInput placeholder="Pesquisar" [attr.for]="'Pesquisar'" [formControl]="formControlSearch">
        </mat-form-field>
   
    </div>

    <div class="type">
<!-- 
        <select-input-search-g style="width: 100%;" [removeValidatorNgxFormControl]="true" [removeValidatorFormControl]="true"
            (outEntitiesSelected)="this.onSelectedProduct($event, this.productsTypes$, this.productsList$, this.resetControlForm, this.removeAccentsSpecialCharacters, this.outProductsListFiltered$)"
            [entities]="productsTypes$" [formControlReset]="resetControlForm[0]" [labelInput]="'Tipo'">
        </select-input-search-g> -->

    </div>

    <div class="segment">

        <!-- <select-input-search-g [removeValidatorNgxFormControl]="true" [removeValidatorFormControl]="true"
            [entities]="segments$"
            (outEntitiesSelected)="this.onSelectedSegment($event, this.segments$, this.productsList$, this.resetControlForm, this.removeAccentsSpecialCharacters, this.outProductsListFiltered$)"
            [formControlReset]="resetControlForm[1]" [labelInput]="'Segmento'">
        </select-input-search-g> -->

    </div>

    <div class="manufacturer">
        <!-- <select-input-search-g [removeValidatorNgxFormControl]="true" [removeValidatorFormControl]="true"
            (outEntitiesSelected)="this.onSelectedManufacturer($event, manufacturers$, this.productsList$, this.resetControlForm, this.removeAccentsSpecialCharacters, this.outProductsListFiltered$)"
            [entities]="manufacturers$" [formControlReset]="resetControlForm[2]" [labelInput]="'Fabricante'">
        </select-input-search-g> -->
    </div>

</div>