<div class="border-around" [formGroup]="formMain">
    <div fxLayout="row">
        <h3>Dados Cadastrais</h3>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="middle-space-horizontal-beteween-fields"> </div>

    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="15">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>CNPJ / CPF</mat-label>
                <input matInput mask="CPF_CNPJ" type="text" formControlName="cnpj">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'cnpj', 'CNPJ')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'cnpj', 'CNPJ',8,14)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div fxFlex="1"></div> -->
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Responsável</mat-label>
                <input matInput type="text" formControlName="responsible">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'responsible', 'Responsável')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'responsible', 'Responsável',null,100)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>

    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="5">
                <mat-checkbox (change)="assured()" (change)="validatorCustom.checkedBoxValidator(formMain,$event.checked,['payment','expiration'])" formControlName="assured">
                </mat-checkbox>
                <div fxFlex="3"></div>
                <mat-label>Mensal
                </mat-label>
            </div>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="5">
                <mat-checkbox formControlName="customerType">
                </mat-checkbox>
                <div fxFlex="3"></div>
                <mat-label>Empresa</mat-label>
            </div>
        </div>
        <br>
        <div fxFlex="5"></div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-label class="mat-label">Valor
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="payment">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-label class="mat-label">Dia do vencimento
            </mat-label>
            <mat-form-field>
                <input matInput min="1" max="31" type="number" formControlName="expiration">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                    <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-label class="mat-label">Desconto
            </mat-label>
            <mat-form-field>
                <input matInput type="text" currencyMask formControlName="discount">
            </mat-form-field>
        </div>

    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="row">
        <h3>Custos Deslocamento</h3>
    </div>
    <div [formGroup]="subForm" [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5">
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
            <mat-label class="mat-label">Fixo
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="fixedCostAssured">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- <div fxFlex="5"></div> -->
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
            <mat-label class="mat-label">Combustível
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="fuel">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
            <mat-label class="mat-label">Aplicativo
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="apps">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
            <mat-label class="mat-label">Transporte publico
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="publicTransport">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
            <mat-label class="mat-label">Moto Boy
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="motoBoy">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>

    <div fxLayout="column">
        <div fxLayout="row">
            <address fxFlex></address>
        </div>

        <div fxLayout="row">
            <contact fxFlex></contact>
        </div>


    </div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <mat-label fxLayoutAlign="center center">Observações</mat-label>
        </div>
        <div fxLayout="row">
            <mat-card fxFlex class="mat-elevation-z10">
                <textarea fxFlex cols="10" rows="10" formControlName="description"></textarea>
                <mat-error>
                    <span>{{validatorMessages.minMaxLength(formMain,'description', 'Observações',null,500)}}</span>
                </mat-error>
            </mat-card>
        </div>


    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayoutAlign="center center">
        <button class="save-btn" mat-raised-button (click)="save()">Salvar</button>
    </div>
</div>

<div fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>