<div class="border-around" [formGroup]="formMain">
    <div fxLayout="row">
        <h3>Identificação Cliente</h3>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <main-entities-base [formMain]="formMain" fxFlex>
            </main-entities-base>
        </div>
    </div>
    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="5">
                <mat-checkbox (change)="assured()" (change)="validatorCustom.checkedBoxValidator(formMain,$event.checked,['payment','expiration'])" formControlName="assured">
                </mat-checkbox>
                <div fxFlex="3"></div>
                <mat-label>Mensal
                </mat-label>
            </div>
        </div>
        <div fxFlex="10"></div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="5">
                <mat-checkbox formControlName="customerType">
                </mat-checkbox>
                <div fxFlex="3"></div>
                <mat-label>Empresa</mat-label>
            </div>
        </div>
        <br>
        <div fxFlex="5"></div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-label class="mat-label">Valor
            </mat-label>
            <mat-form-field>
                <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="payment">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                    <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-label class="mat-label">Dia do vencimento
            </mat-label>
            <mat-form-field>
                <input matInput min="1" max="31" type="number" formControlName="expiration">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                    <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="small-space-horizontal-beteween-fields"> </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <mat-label class="mat-label">Desconto
            </mat-label>
            <mat-form-field>
                <input matInput type="text" currencyMask formControlName="discount">
            </mat-form-field>
        </div>

    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="row">
        <h3>Custos Deslocamento</h3>
    </div>

    <div fxLayout="column">
        <div fxLayout="row">
            <physically-moving-costs [formMain]="subForm" fxFlex>
            </physically-moving-costs>
        </div>
    </div>

    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>

    <div fxLayout="column">
        <div fxLayout="row">
            <address [formMain]="this.address" fxFlex></address>
        </div>


        <div fxLayout="row">
            <contact fxFlex [formMain]="this.contact"></contact>
        </div>
    </div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayoutAlign="center center">
        <button class="save-btn" mat-raised-button (click)="save()">Salvar</button>
    </div>
</div>

<div class="border-around" fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>