div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-expansion-panel-header {
    height: 48px;
    visibility: visible;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 25px;
}