<div [formGroup]="formMain" [fxLayout]="'column'" (window:resize)="screen()" *ngIf="formMain">

    <div formArrayName="pixes" *ngFor="let pixFormGroup of pixesFormArray.controls; let i = index;">
        <div *ngIf="pixFormGroup.get('deleted').value != true">
            <!-- <div>{{'Pix ' }}{{i+1}}</div> -->
            <img src="../../../../assets/finances/pix.png" alt="pix" style="width:50px; height: 20px;">
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div  [formGroupName]="i" >
                <div  >
                    <mat-form-field  appearance="outline">
                        <mat-label>PIX</mat-label>
                        <mat-select (selectionChange)="pixValidatorSelected(pixFormGroup, pixFormGroup.get('key').value)" (selectionChange)="formCleanField(pixFormGroup)" formControlName="key">
                            <mat-option [value]="p.kindPix" *ngFor="let p of pixArray">{{p.kindPix}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div   *ngIf="pixFormGroup.get('key').value">

                    <mat-form-field  appearance="outline">
                        <mat-label>{{pixFormGroup.get('key').value}}</mat-label>
                        <input matInput #cpfcnpj (blur)="pixValidator(pixFormGroup, pixFormGroup.get('key').value, cpfcnpj.value)" [mask]="pixInputMask(pixFormGroup.get('key').value)" [placeholder]="pixInputPlaceHolder(pixFormGroup.get('key').value)" formControlName="value"
                            aria-label="pix">
                        <mat-error  >

                            <span  *ngIf="pixFormGroup.get('key').value === 'CEL'">{{validatorMessages.required(pixFormGroup,'value', 'Chave pix'+' '+pixFormGroup.get('key').value)}}</span>
                            <span  *ngIf="pixFormGroup.get('key').value === 'CEL'">{{validatorMessages.minMaxLength(pixFormGroup,'value', '', 11, null)}}</span>

                            <span  *ngIf="pixFormGroup.get('key').value === 'CPF'">{{validatorMessages.required(pixFormGroup,'value', 'Chave pix'+' '+pixFormGroup.get('key').value)}}</span>
                            <span  *ngIf="pixFormGroup.get('key').value === 'CPF'">{{validatorMessages.isValidCpf(pixFormGroup,'value')}}</span>

                            <span  *ngIf="pixFormGroup.get('key').value === 'CNPJ'">{{validatorMessages.required(pixFormGroup,'value', 'Chave pix'+' '+pixFormGroup.get('key').value)}}</span>
                            <span  *ngIf="pixFormGroup.get('key').value === 'CNPJ'">{{validatorMessages.isValidCnpj(pixFormGroup,'value','value')}}</span>

                            <span  *ngIf="pixFormGroup.get('key').value === 'E-MAIL'">{{validatorMessages.mailField(pixFormGroup,'value')}}</span>
                            <span  *ngIf="pixFormGroup.get('key').value === 'E-MAIL'">{{validatorMessages.required(pixFormGroup,'value', 'Chave pix'+' '+pixFormGroup.get('key').value)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <span *ngIf="noBeneficiaryField" >
                <div   *ngIf="pixFormGroup.get('key').value">

                  <mat-form-field  appearance="outline">
                    <mat-label>{{'Favorecido'}}</mat-label>
                    <input matInput [placeholder]="'Favorecido'" formControlName="holder" aria-label="Favorecido">

                  </mat-form-field>
                </div>
              </span>
            </div>
            <!-- <mat-divider></mat-divider> -->

            <div >
                <div >
                    <btn-g mat-dialog-close [name]="'Remover'" [icon]="'clear'" [styleColors]="'font-size: 15px;color: white;background-color: rgb(156,33,29);'" (btn)="remove(i)"></btn-g>
                </div>
                <div  >

                </div>
                <div >

                </div>
            </div>
            <br>

            <div class="middle-space-horizontal-beteween-fields"></div>
        </div>
    </div>


</div>


<div >
    <div  >


    </div>
    <div >
        <btn-g [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
    </div>
    <div  >

    </div>
</div>
