<div class="border-around" [formGroup]="formMain">
    <div fxLayout="row">
        <form-error-panel [form]="formMain" *ngIf="errorsPanelHiddenShow"></form-error-panel>
    </div>
    <div fxLayout="row">
        <h3>Identificação</h3>
    </div>

    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Motivo</mat-label>
                <input (blur)="validatorLocal.required(formMain,['subject'])" matInput type="text" formControlName="subject">
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'subject', 'Motivo')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'subject', 'Motivo',null,250)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutAlign="center center" fxLayoutGap="50">
        <mat-form-field fxFlex="50">
            <mat-label>Preço</mat-label>
            <input (blur)="validatorLocal.required(formMain,['price'])" matInput currencyMask type="text" formControlName="price">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
            </mat-error>
        </mat-form-field>



        <mat-form-field fxFlex="50">
            <mat-label>Contato no local</mat-label>
            <input matInput type="text" formControlName="ownerResponsible">
            <mat-error>
                <span>{{validatorMessages.required(formMain, 'ownerResponsible', 'Responsável')}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'ownerResponsible', 'Responsável',null,45)}}</span>
            </mat-error>
        </mat-form-field>

    </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5">
        <div fxLayout="row">
            <h3>Selecione um ou mais destinos</h3>
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
            <check-button (selectedEntityICheck)="selectedEntityICheck($event)" [position]="'horizontal'" [entities]="entitiesLabelCheckDestiny">
            </check-button>
        </div>
    </div>


    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayout="row" fxLayoutGap="10">

        <div fxLayout="column" fxFlex>
            <table-collect-deliver-container *ngIf="tableDestinyCustomer" [tableHtml]="'multipleschecks'" (nextStepOutput)="nextStep($event)" (selectedEntityOutput)="selectedEntityToGo($event)" [selectedRadio]="selectedRadio" [pageSizeOptions]="[5,10,20]" [pageSize]="10"
                [length]="lengthCustomer" [columnsFields]="['id','name']" [columnsNamesToDisplay]="['Código','Nome']" [url]="url">
            </table-collect-deliver-container>
            <table-collect-deliver-container *ngIf="tableDestinyPartner" [tableHtml]="'multipleschecks'" (nextStepOutput)="nextStep($event)" (selectedEntityOutput)="selectedEntityToGo($event)" [selectedRadio]="selectedRadio" [pageSizeOptions]="[5,10,20]" [pageSize]="10"
                [length]="lengthPartner" [columnsFields]="['id','name']" [columnsNamesToDisplay]="['Código','Nome']" [url]="url2">
            </table-collect-deliver-container>
        </div>
        <!-- <div *ngIf="tableDestinyDivider" fxLayout="column" fxFlex="0.1" style="background-color: green;">
        </div> -->

        <!-- <div fxLayout="column" fxFlex *ngIf="tableDestinyPartner">
            <table-collect-deliver-container [tableHtml]="'multipleschecks'" (nextStepOutput)="nextStep($event)" (selectedEntityOutput)="selectedEntityToGo($event)" [selectedRadio]="selectedRadio" [pageSizeOptions]="[5,10,20]" [pageSize]="10" [length]="lengthPartner"
                [columnsFields]="['id','name']" [columnsNamesToDisplay]="['Código','Nome']" [url]="url2">
            </table-collect-deliver-container>

        </div> -->
    </div>


    <div fxLayout="row" *ngIf="tableDestinyOther">
        <div fxLayout="column" fxFlex>
            <div fxLayout="column">
                <h3>Destino não cadastrado.</h3>
            </div>
            <div fxLayout="column">
                <div fxLayout="row" (window:resize)="screen()" fxLayoutAlign="center center" fxLayoutGap="50">
                    <div fxLayout="column">
                        <mat-label>Coleta</mat-label>
                        <mat-checkbox #checkCollect (click)="typeTransportCheck(checkCollect)" fxLayoutAlign="center center" (change)="validatorLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver'])" (change)="validatorLocal.requiredIf(formMain,'collect', 'itemsCollected')"
                            formControlName="collect">
                        </mat-checkbox>

                        <div>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'collect', '')}}</span>
                            </mat-error>
                        </div>

                    </div>
                    <div fxLayout="column">
                        <mat-label>Entrega</mat-label>
                        <mat-checkbox #checkDeliver (change)="typeTransportCheck(checkDeliver)" fxLayoutAlign="center center" (change)="validatorLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver'])" (change)="validatorLocal.requiredIf(formMain,'deliver','itemsDelivered')"
                            formControlName="deliver">
                        </mat-checkbox>
                        <div>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'deliver', '')}}</span>
                            </mat-error>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <mat-label>Outros</mat-label>
                        <mat-checkbox #checkOther (click)="typeTransportCheck(checkOther)" fxLayoutAlign="center center" (change)="validatorLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver'])" (change)="validatorLocal.requiredIf(formMain,'deliver','itemsDelivered')"
                            formControlName="deliver">
                        </mat-checkbox>
                        <div>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'deliver', '')}}</span>
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"> </div>
            <div fxLayout="row" fxFlex>
                <other-form [noRegisterName]="this.formMain.controls['noRegisterName']" [noRegisterAddress]="this.formMain.controls['noRegisterAddress']" [fxFlex]="100" [form]="formMain">
                </other-form>
            </div>
        </div>

    </div>
    <div fxLayout="column" (window:resize)="screen()" fxLayoutGap="5">
        <div fxLayout="column">
            <h3>Detalhe dos itens</h3>
        </div>
        <div fxLayout="row" *ngIf="typeTransportCollect">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Itens coletados</mat-label>
                <input (blur)="validatorLocal.required(formMain,['subject'])" matInput type="text" formControlName="itemsCollected" placeholder="Itens que serão coletados">
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'itemsCollected', 'Itens coletados')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'itemsCollected',
            'Itenscoletados',null,500)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" *ngIf="typeTransportDeliver">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Itens a entregar</mat-label>
                <input (blur)="validatorLocal.required(formMain,['subject'])" matInput type="text" formControlName="itemsDelivered" placeholder="Itens que serão entregues">
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'itemsDelivered', 'Itens entregue')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'itemsDelivered',
            'Itensentregue',null,500)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" *ngIf="typeTransportOther">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Outros</mat-label>
                <input matInput type="text" formControlName="comments" placeholder="Outros / Serviços de banco /Cartório etc...">
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'comments', 'Outros')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'comments',
            'Itensentregue',null,500)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column" (window:resize)="screen()" fxLayoutGap="5">
        <div fxLayout="column">
            <h3>Transportador</h3>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="99" class="mat-form-field-transporter">
                <mat-label>Transportador</mat-label>
                <mat-select (blur)="validatorLocal.required(formMain,['transporterId'])" formControlName="transporterId">
                    <mat-option *ngFor="let transporter of transporters" [value]="transporter.id + ',' + transporter.name">{{transporter.name}}</mat-option>
                </mat-select>
                <mat-error>
                    <span>{{validatorMessages?.required(formMain,'transporterId', 'Transportador')}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="column" (window:resize)="screen()">
        <h3>Cobrança</h3>
        <div>


            <mat-checkbox #matCheckbox (change)="toCharger($event)" fxLayoutAlign="center center">
                <mat-label>{{'Receber?'}}</mat-label>
            </mat-checkbox>
        </div>

        <div *ngIf="chargeShowHide" fxFlex [formGroup]="subForm">

            <div fxLayout="column" fxLayoutAlign="center center">
                <radio-button [markAsCustomer]="markAsCustomer" (selected)="radioChose($event)" [selectedStart]="RadioSelectedStart" [position]="'horizontal'" [entities]="radiosEntitiesDic('charge')">
                </radio-button>
            </div>

            <table-collect-deliver-container (selectedEntityOutput)="selectedEntityToPay($event)" [selectedRadio]="selectedRadio" [length]="length" [pageSizeOptions]="[5,10,20]" [pageSize]="10" [columnsFields]="['id', 'name']" [columnsNamesToDisplay]="['Código', 'Nome']"
                [url]="url">
            </table-collect-deliver-container>

        </div>

        <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5" fxLayoutGap="100">
            <div fxLayout="column">

                <div *ngIf="!this.formMain.get('noRegisterName').value || !this.formMain.get('noRegisterAddress').value">
                    <span style="font-weight:900;">{{'Destino:'}}</span> {{' '+selectedEntityTypeToGo+':'}}
                </div>
                <div *ngIf="this.formMain.get('noRegisterName').value || this.formMain.get('noRegisterAddress').value">
                    <div *ngIf="this.formMain.get('noRegisterName').value">
                        {{'Nome:' +' '+ this.formMain.get('noRegisterName').value}}
                    </div>
                    <div *ngIf="this.formMain.get('noRegisterAddress').value">
                        {{'Destino' +' '+ this.formMain.get('noRegisterAddress').value}}
                    </div>
                </div>
                {{selectedNameEntityToGo}}

            </div>
            <div fxLayout="column">
                <div fxLayout="row">
                    <div>
                        <span style="font-weight:900;">{{'Receber:'}}</span>{{' '+selectedEntityTypeToPay+':'}}
                    </div>
                </div>
                <div fxLayout="row">
                    <div>
                        {{selectedNameEntityToPay}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="save-btn" (click)="this.save()">Salvar</button>
    </div>
</div>
<div class="border-around">
    {{formMain.value | json}}
</div>