<br>
<br>
<div [formGroup]="formMain" style="margin-left:50px;">
    <title-component [titleString]="title" [subTitleString]="subTitle">
    </title-component>

    <form-error-panel [form]="formMain" *ngIf="errorsPanelHiddenShow"></form-error-panel>

    <mat-stepper orientation="vertical" #stepper (selectionChange)="selectedStep($event)">

        <!-- step-one -->
        <mat-step>
            <ng-template matStepLabel>Motivo</ng-template>
            <ng-template matStepContent>
                <mat-grid-list [cols]="1" [rowHeight]="'180px'">
                    <mat-grid-tile>
                        <div fxLayoutGap="30px" fxFlex="99.5" fxLayout="row" fxLayoutAlign="center center">
                            <mat-card class="mat-elevation-z8" fxFlex="99.5" fxFlex="99.5" style="height:130px;" fxLayoutAlign="center center">
                                <mat-form-field fxFlex="99.5">
                                    <mat-label>Motivo</mat-label>
                                    <input (blur)="validatorLocal.required(formMain,['subject'])" matInput type="text" formControlName="subject">
                                    <mat-error>
                                        <span>{{validatorMessages.required(formMain, 'subject', 'Motivo')}}</span>
                                        <span>{{validatorMessages.minMaxLength(formMain,'subject', 'Motivo',null,250)}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list (window:resize)="screen()" [cols]="subjectCollectDeliverCols" [rowHeight]="subjectCollectDeliverRowHeight">
                    <mat-grid-tile>
                        <div fxLayoutGap="30px" fxFlex="99" fxLayout="row" style="height:130px;">
                            <mat-card class="mat-elevation-z8" fxFlex="99">
                                <mat-form-field fxFlex="99">
                                    <mat-label>Proprietário / Responsável</mat-label>
                                    <input matInput type="text" formControlName="ownerResponsible">
                                    <mat-error>
                                        <span>{{validatorMessages.required(formMain, 'ownerResponsible', 'Responsável')}}</span>
                                        <span>{{validatorMessages.minMaxLength(formMain,'ownerResponsible', 'Responsável',null,45)}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99" style="height:130px;" class="mat-elevation-z8">

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-label>Coleta

                                </mat-label>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-checkbox (change)="this.valLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver'])" (change)="validatorLocal.requiredIf(formMain,'collect', 'itemsCollected')" formControlName="collect">
                                </mat-checkbox>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'collect', 'Coleta ou Entrega')}}</span>
                                </mat-error>
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99" style="height:130px;" class="mat-elevation-z8">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-label>Entrega</mat-label>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-checkbox (change)="this.valLocal.atLeastOneCheckBox(this.formMain, ['collect', 'deliver'])" (change)="validatorLocal.requiredIf(formMain,'deliver','itemsDelivered')" formControlName="deliver">
                                </mat-checkbox>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'deliver', 'Entrega ou Coleta')}}</span>
                                </mat-error>
                            </div>
                        </mat-card>
                    </mat-grid-tile>

                </mat-grid-list>
                <br>
                <br>
                <br>
                <div fxLayout="row">
                    <table>
                        <tr>
                            <td> <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </mat-step>
        <!-- step-two -->
        <mat-step>
            <!-- <button mat-button style="background-color: green; color:white;" (click)="test()">TEST</button> -->
            <ng-template matStepLabel>Local</ng-template>
            <ng-template matStepContent>
                <div *ngIf="UpdateRadioButtonOptionToGo">


                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div fxLayout="row">
                            <radio-button [markAsCustomer]="markAsCustomer" (selected)="radioChose($event)" [position]="'horizontal'" [entities]="radiosEntitiesDic('place')">
                                <!-- <radio-button (selected)="radioChose($event)" [position]="'horizontal'" [entities]="radiosEntitiesDic('place')"> -->
                            </radio-button>
                        </div>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div *ngIf="hiddenTable">

                        <!-- (radioChoseOutput)="radioChoseOutput($event)" (selectedEntityOutput)="selectedEntityToGo($event)" (nextStepOutput)="nextStep($event)" [selectedRadio]="selectedRadio" -->
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div fxLayout="row" fxFlex>
                                <table-full-container-g [afterSaveRenew]="afterSaveRenew" (nextStepOutput)="nextStep($event)" (selectedEntityOutput)="selectedEntityToGo($event)" [selectedRadio]="selectedRadio" [length]="length" [pageSizeOptions]="[5,10,20]" [pageSize]="10" [columnsFields]="['id', 'name']"
                                    [columnsNamesToDisplay]="['Código', 'Nome']" [url]="url">
                                </table-full-container-g>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!hiddenTable">
                        <other-form [noRegisterName]="this.formMain.controls['noRegisterName']" [noRegisterAddress]="this.formMain.controls['noRegisterAddress']" [fxFlex]="100" [form]="formMain">
                        </other-form>
                    </div>

                </div>

                <table>
                    <tr>
                        <td> <button *ngIf="!hiddenTable" id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                        <td>
                            <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                        </td>
                    </tr>
                </table>
                <!-- <div fxLayout="row" style="padding-top: 50px;">
                    <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                </div> -->


            </ng-template>

        </mat-step>
        <!-- step-Three -->
        <mat-step>
            <div fxLayout="column" fxFlex="100%">
                <ng-template matStepLabel>Items Observações</ng-template>
                <br>
                <mat-grid-list (window:resize)="screen()" [cols]="itemsCollectedItemsDeliveredCols" [rowHeight]="itemsCollectedItemsDeliveredRowHeight">
                    <mat-grid-tile>
                        <div fxLayout="column" fxFlex="99">
                            <div fxLayout="row" fxFlex="99">
                                <mat-card class="mat-elevation-z8" fxFlex="99">
                                    <mat-form-field fxFlex="99">
                                        <textarea id="textarea" formControlName="itemsCollected" matInput placeholder="Itens que serão coletados"></textarea>
                                        <mat-error>
                                            <span>{{validatorMessages.required(formMain, 'itemsCollected', 'Itens coletados')}}</span>
                                            <span>{{validatorMessages.minMaxLength(formMain,'itemsCollected',
                        'Itenscoletados',null,500)}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column" fxFlex="99">
                            <div fxLayout="row" fxFlex="99">
                                <mat-card class="mat-elevation-z8" fxFlex="99">
                                    <mat-form-field fxFlex="99">
                                        <textarea id="textarea" formControlName="itemsDelivered" matInput placeholder="Itens que serão entregues"></textarea>
                                        <mat-error>
                                            <span>{{validatorMessages.required(formMain, 'itemsDelivered', 'Itens entregue')}}</span>
                                            <span>{{validatorMessages.minMaxLength(formMain,'itemsDelivered',
                        'Itensentregue',null,500)}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <br>
                <div fxLayout="column" fxFlex="99">
                    <div fxLayout="row" fxFlex="99">
                        <mat-card class="mat-elevation-z8" fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <textarea id="textarea" formControlName="comments" matInput placeholder=" Observações: Sobre os itens transportados, local de entrega ou de coleta etc... Sobre o contexto geral. Se necessário.">

                                </textarea>
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'comments', 'Observações',null,500)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </div>
                </div>
                <div fxLayout="row" style="padding-top: 50px;">
                    <table>
                        <tr>
                            <td> <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                            <td>
                                <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-step>
        <!-- step-Four -->
        <mat-step>
            <div fxLayout="column" fxFlex="100%">
                <br>
                <ng-template matStepLabel>Trânsportador / Preço / Data</ng-template>
                <div fxLayout="row" fxFlex="99">
                    <mat-checkbox (change)="trans()" (change)="validatorLocal.checkBoxTranporter(formMain,$event.checked,['transporterNoregisterd'], ['transporterId'])">
                        <mat-label>{{transporterLabelString}}</mat-label>
                    </mat-checkbox>
                </div>
                <mat-grid-list *ngIf="transporter" (window:resize)="screen()" [cols]="startPriceTransporterCols" [rowHeight]="startPriceTransporterRowHeight">
                    <div fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="99">
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99" style="padding-bottom:20px;">
                                <mat-label>Data</mat-label>
                                <input id="datepicker" matInput [matDatepicker]="dp" formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp startView="multi-year">
                                </mat-datepicker>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'start', 'Dia')}}</span>
                                    <span>{{validatorMessages.invalidDate(formMain,'start', 'Dia')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99">
                                <mat-label>Preço</mat-label>
                                <input matInput (blur)="validatorLocal.required(formMain,['price'])" currencyMask type="text" formControlName="price">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99">
                                <mat-label>Transportador</mat-label>
                                <input (blur)="validatorLocal.required(formMain,['transporterNoregisterd'])" matInput type="text" formControlName="transporterNoregisterd">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'transporterNoregisterd', 'Transportador')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>

                <mat-grid-list *ngIf="!transporter" (window:resize)="screen()" [cols]="startPriceTransporterCols" [rowHeight]="startPriceTransporterRowHeight">
                    <div fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="99">
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99" style="padding-bottom:20px;">
                                <mat-label>Data</mat-label>
                                <input id="datepicker" matInput [matDatepicker]="dp" formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp startView="multi-year">
                                </mat-datepicker>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'start', 'Dia')}}</span>
                                    <span>{{validatorMessages.invalidDate(formMain,'start', 'Dia')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99">
                                <mat-label>Preço</mat-label>
                                <input (blur)="validatorLocal.required(formMain,['price'])" matInput currencyMask type="text" formControlName="price">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field fxFlex="99" style="padding-bottom:3px;">
                                <mat-label>Transportador</mat-label>
                                <mat-select (blur)="validatorLocal.required(formMain,['transporterId'])" formControlName="transporterId">
                                    <mat-option *ngFor="let transporter of transporters" [value]="transporter.id">{{transporter.name}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages?.required(formMain,'transporterId', 'Transportador')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
                <div fxLayout="row">
                    <table>
                        <tr>
                            <td> <button (click)="actualDate()" class="trasporter-actual-date" mat-button mat-raised-button>Data
                  Atual</button></td>
                        </tr>
                    </table>
                </div>
                <div fxLayout="row" style="padding-top: 50px;">
                    <table>
                        <tr>
                            <td> <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                            <td>
                                <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </mat-step>
        <!-- step-Five -->
        <mat-step fxFlex>

            <br>
            <ng-template matStepLabel>Cobrança</ng-template>
            <div *ngIf="this.UpdateRadioButtonOptionToPay">
                <mat-card fxFlex fxLayout="column" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row">
                            <mat-checkbox #matCheckbox (change)="toCharger($event)">
                                <mat-label>{{'Receber?'}}</mat-label>
                            </mat-checkbox>
                        </div>
                        <br>
                        <mat-divider></mat-divider>
                        <br>
                        <div *ngIf="chargeShoHide" fxFlex>
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <div fxLayout="row">
                                    <radio-button [markAsCustomer]="markAsCustomer" (selected)="radioChose($event)" [selectedStart]="RadioSelectedStart" [position]="'horizontal'" [entities]="radiosEntitiesDic('charge')">
                                    </radio-button>
                                </div>
                            </div>
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                            <div>
                                <div fxLayout="column" [formGroup]="subForm">
                                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                                        <table-full-container-g (selectedEntityOutput)="selectedEntityToPay($event)" [onClickSelected]="this.formMain.controls['customer']" [selectedRadio]="selectedRadio" [length]="length" [pageSizeOptions]="[5,10,20]" [pageSize]="10" [columnsFields]="['id', 'name']"
                                            [columnsNamesToDisplay]="['Código', 'Nome']" [url]="url">
                                        </table-full-container-g>
                                    </div>

                                </div>

                            </div>


                            <br>
                        </div>
                    </div>
                </mat-card>
            </div>

            <br>
            <table fxFlex="99" fxLayout="row" fxLayoutAlign="space-beetwen">
                <tr fxLayoutGap="100px">
                    <td fxFlex="99">
                        <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                    </td>
                </tr>
            </table>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button id="btnSave" (click)="save()">Salvar</button>
            </div>

        </mat-step>
    </mat-stepper>
</div>
<br>
<!-- <mat-grid-list (window:resize)="screen()" [cols]="destinyChargeCols" [rowHeight]="destinyChargeRowHeight">



    <mat-card>
        <mat-grid-tile>
            <h1>test1</h1>
        </mat-grid-tile>
    </mat-card>
    <mat-card>
        <mat-grid-tile>
            <h1>test2</h1>
        </mat-grid-tile>
    </mat-card>
</mat-grid-list> -->
<!-- <div fxLayout="row" *ngIf="hiddenTable" fxLayoutAlign="center center" fxLayoutGap="30px">




</div> -->
<mat-grid-list (window:resize)="screen()" [cols]="destinyChargeCols " [rowHeight]="destinyChargeRowHeight">

    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
                <div style="font-weight: bolder">
                    {{'Destino:'+' '+selectedEntityTypeToGo+':'}}
                </div>
            </div>
            <div fxLayout="row">
                <div style="font-weight: bolder; color:red">
                    {{selectedNameEntityToGo}}
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>



    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
                <div style="font-weight: bolder">
                    {{'Receber de'+' '+selectedEntityTypeToPay+':'}}
                </div>
            </div>
            <div fxLayout="row">
                <div style="font-weight: bolder; color:red">
                    {{selectedNameEntityToPay}}
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
<br> {{formMain.value | json}}