.charge-list {
    height: 150px;
    width: 250px;
}

.charge-item-height {
    height: 200px;
}

.textarea-heigth {
    height: 100px;
}

#step-back-next {
    background-color: green;
    color: white;
}

.trasporter-actual-date {
    background-color: rgb(1, 57, 1);
    color: white;
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: green;
    height: 25px;
    width: 25px;
    font-size: 15px;
}
