<div [fxLayout]="screenFieldPosition" (window:resize)="screen()" class="border-around" fxLayoutGap="50px" fxFlex>
    <div fxFlex>

        <div class="middle-space-horizontal-beteween-fields"></div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-divider fxFlex></mat-divider>
        </div>
        <!-- TableProvidedServicesPrices -->
        <div [formGroup]="tableProvidedServicesPricesHelper.formTableProvidedServicesPrices">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <h1>Preço de serviços</h1>
                    <!-- <button mat-raised-button class="add-btn" (click)="this.tableProvidedServicesPricesHelper.addTableProvidedServicesPrices()">Add</button> -->
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div formArrayName="TableProvidedServicesPrices" *ngFor="let TableProvidedServicesPrices of tableProvidedServicesPricesHelper.TableProvidedServicesPrices.controls; let i = index;">
                <div [formGroupName]="i" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <button mat-raised-button color="warn" class="remove-btn" (click)="this.tableProvidedServicesPricesHelper.removeTableProvidedServicesPrices(i)">Remover</button>
                        </div>
                        <div class="middle-space-horizontal-beteween-fields"></div>
                        <div [fxLayout]="screenFieldPosition" fxFlex fxLayoutGap="10px">
                            <div fxLayout="column" fxFlex>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>{{'Serviço' + ' ' +(i+1)}}</mat-label>
                                    <input matInput type="text" formControlName="serviceName">
                                    <mat-error>
                                        <span>{{validatorMessages.required(tableProvidedServicesPricesHelper.subFormGroupTableProvidedServicesPrices,'serviceName', 'Serviço ')}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxFlex>
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>{{'Preço'}}</mat-label>
                                    <input matInput type="text" currencyMask formControlName="priceService">
                                    <mat-error>
                                        <span>{{validatorMessages.required(tableProvidedServicesPricesHelper.subFormGroupTableProvidedServicesPrices,'priceService', 'Preço')}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-divider fxFlex></mat-divider>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="add-btn" (click)="this.tableProvidedServicesPricesHelper.addTableProvidedServicesPrices()">Add</button>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="save-btn" (click)="this.save()">Salvar</button>
            </div>

            <br>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                {{tableProvidedServicesPricesHelper.TableProvidedServicesPrices.value | json}}
            </div>
        </div>
    </div>

</div>