<div [fxLayout]="screenFieldPosition" (window:resize)="screen()" class="border-around" fxLayoutGap="50px" fxFlex>

    <div fxFlex>
        <title-component title [titleString]="'Produtos'" [subTitleString]="'Cadastrar Equipamento Fabricante Segmento'">
        </title-component>
        <radio-button [position]="'horizontal'" [entities]="entitiesRegister" [selectedStart]="radioSelectedStart" (selected)="radioSelected($event)">
            <!-- (selected)="onChangeRadioPayment($event)" (selected)="radioPayment($event)"  -->
        </radio-button>
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
        </div> -->
        <div class="middle-space-horizontal-beteween-fields"></div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-divider fxFlex></mat-divider>
        </div>
        <!-- Manufacturer -->
        <div *ngIf="hideShow === 'manufacturer'" [formGroup]="manHelper.formManufacturer">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <h1>Fabricante</h1>
                    <!-- <button mat-raised-button class="add-btn" (click)="this.manHelper.addManufacturer()">Add</button> -->
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div formArrayName="manufacturers" *ngFor="let manufacturer of manHelper.manufacturers.controls; let i = index;">
                <div [formGroupName]="i" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <button mat-raised-button color="warn" class="remove-btn" (click)="this.manHelper.removeManufacturer(i)">Remover</button>
                        </div>
                        <div class="middle-space-horizontal-beteween-fields"></div>
                        <div fxLayout="row" fxFlex>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>{{'Fabricante' + ' ' +(i+1)}}</mat-label>
                                <input matInput type="text" formControlName="manufacturer">
                                <mat-error>
                                    <span>{{validatorMessages.required(manHelper.subFormGroupManufacturer,'name', 'Nome
                    Fabricante')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-divider fxFlex></mat-divider>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="add-btn" (click)="this.manHelper.addManufacturer()">Add</button>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="save-btn" (click)="this.saveManufacturer()">Salvar</button>
            </div>
            <br>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                {{manHelper.manufacturers.value | json}}
            </div>
        </div>
        <!-- Equipament -->
        <div *ngIf="hideShow === 'equipament'" [formGroup]="eqpHelper.formEquipament">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <h1>Equipamento</h1>
                    <!-- <button mat-raised-button class="add-btn" (click)="this.eqpHelper.addEquipament()">Add</button> -->
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div formArrayName="equipaments" *ngFor="let equipament of eqpHelper.equipaments.controls; let i = index;">
                <div [formGroupName]="i" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <button mat-raised-button color="warn" class="remove-btn" (click)="this.eqpHelper.removeEquipament(i)">Remover</button>
                        </div>
                        <div class="middle-space-horizontal-beteween-fields"></div>
                        <div fxLayout="row" fxFlex>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>{{'Equipamento' + ' ' +(i+1)}}</mat-label>
                                <input matInput type="text" formControlName="equipament">
                                <mat-error>
                                    <span>{{validatorMessages.required(eqpHelper.subFormGroupEquipament,'name', 'Nome
                    Equipamento')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-divider fxFlex></mat-divider>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="add-btn" (click)="this.eqpHelper.addEquipament()">Add</button>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="save-btn" (click)="this.saveEquipament()">Salvar</button>
            </div>

            <br>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                {{eqpHelper.equipaments.value | json}}
            </div>
        </div>
        <!-- Segment -->
        <div *ngIf="hideShow === 'segment'" [formGroup]="segHelper.formSegment">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <h1>Segmento</h1>
                    <!-- <button mat-raised-button class="add-btn" (click)="this.segHelper.addSegment()">Add</button> -->
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div formArrayName="segments" *ngFor="let segment of segHelper.segments.controls; let i = index;">
                <div [formGroupName]="i" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <button mat-raised-button color="warn" class="remove-btn" (click)="this.segHelper.removeSegment(i)">Remover</button>
                        </div>
                        <div class="middle-space-horizontal-beteween-fields"></div>
                        <div fxLayout="row" fxFlex>
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>{{'Segmento' + ' ' +(i+1)}}</mat-label>
                                <input matInput type="text" formControlName="segment">
                                <mat-error>
                                    <span>{{validatorMessages.required(segHelper.subFormGroupSegment,'name', 'Nome
                  Segmento')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-divider fxFlex></mat-divider>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="add-btn" (click)="this.segHelper.addSegment()">Add</button>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="save-btn" (click)="this.saveSegment()">Salvar</button>
            </div>

            <br>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                {{segHelper.segments.value | json}}
            </div>
        </div>
    </div>

</div>
