.btn-pipe-green {
    border-left: solid 1px #b5f4ff;
    background-color: #558486;
    border-right: solid 1px #2ba1a8;
    height: 35px;
    width: 3px;
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
}

.btn-pipe-red {
    border-left: solid 1px #c92424;
    background-color: #d66666;
    border-right: solid 1px #ffb5b5;
    height: 35px;
    width: 3px;
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
}

.btnMouseOverGreen:hover {
    mat-icon {
        color: #4ff6ff;
    }
}

.btnMouseOverRed:hover {
    mat-icon {
        color: #ffa9a9;
    }
}
