<!-- <button [class]="btnClassList" type="button" mat-raised-button (click)="btnGMtd()" [disabled]="isDisabled">
  <mat-icon [class]="btnIconClassList" *ngIf="haveIcon">{{icon}}</mat-icon>
  <div>{{name}}</div>
</button> -->

<!-- mat-raised-button || mat-fab extended -->
<button mat-raised-button [class]="btnClassList" type="button" (click)="btnGMtd()" [disabled]="isDisabled" *ngIf="!iconOnly">
  <div class="grid grid-cols-[25px_1px_110px] items-center space-x-1">
    <div class="flex items-center space-x-1"> <mat-icon *ngIf="haveIcon">{{icon}}</mat-icon></div>
    <div class="pipe-box" *ngIf="haveIcon"></div>
    <div class="btn-name">{{name}}</div>
  </div>
</button>

<button [class]="btnClassList" mat-mini-fab type="button" (click)="btnGMtd()" [disabled]="isDisabled" *ngIf="iconOnly">
  <mat-icon>{{icon}}</mat-icon>
</button>
