
    <button [style]="styleColors" mat-raised-button type="button" mat-raised-button (click)="btnGMtd()" [disabled]="enableDisable" *ngIf="!noIconSimpleBtn">
      <div fxLayout="row" >
        <div fxLayout="column" id="mat-icon-search-column">
          <mat-icon>{{icon}}</mat-icon>
        </div>
        
        <div fxLayout="column" id="vertical-line-divider">
        </div>
        <span id="space-items-left-vertical-line"></span>
        <div fxLayout="column" [style]="styleSize">
          {{name}}
        </div>
      </div>
    </button>
    <button [style]="styleColors" mat-raised-button type="button" mat-raised-button (click)="btnGMtd()" [disabled]="enableDisable" *ngIf="noIconSimpleBtn">
        {{name}}
    </button>