<div>

        <!-- <div class="middle-space-horizontal-beteween-fields"> </div> -->

        <div class="container-main">
            <!-- Column LEFT -->
            <div class="product">
                <!-- product start-->
                <div class="mat-checkbox-add">
                    <mat-checkbox (change)="this.productCheckbox($event)" >Adicionar Novo</mat-checkbox>
                </div>
        
                <product-add-upd [formErrors]="formErrosValidation"
                    [products]="this.products$" [noEntriesFoundLabel]="noEntriesFoundLabel"
                    [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute"
                    [formMain]="this.formMain"
                    [productInput]="this.productInput"
                    [formControlReset]="productformControlReset"
                    (outProductSelected)="onSelectedProduct($event)">
                </product-add-upd>
                <!-- [productMatSelect]="this.productMatSelect" -->

            </div>

            <div class="segment">
                <!-- segment start-->
                <div *ngIf="!productInput && formMain.get('name').value">
                    <mat-checkbox class="mat-checkbox-add" (change)="this.segmentCheckbox($event)">Adicionar
                        Novo</mat-checkbox>
                </div>
                <div class="input-space" *ngIf="!formMain.get('id').value && productInput">
                </div>
            
                <segment-add-upd 
                    [formErrors]="formErrosValidation" [segments]="this.segments$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute"
                    [formMain]="segmentForm"
                    [segmentMatSelect]="this.segmentMatSelect"
                    [segmentInput]="this.segmentInput"
                    [formControlReset]="segmentFormControlReset"
                    (outSegmentSelected)="onSelectedSegment($event)"
                    >
                </segment-add-upd>

                <!-- segment end-->
            </div>

            <div class="manufacturer">
                <!-- manufacturer start-->
                <div *ngIf="!productInput && segmentForm.get('name').value">
                    <mat-checkbox class="mat-checkbox-add" (change)="this.manufacturerCheckbox($event)">Adicionar
                        Novo</mat-checkbox>
                </div>

                <manufacturer-add-upd
                    [formErrors]="formErrosValidation" [manufacturers]="manufacturers$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute"
                    [formMain]="manufacturerForm"
                    [manufacturerMatSelect]="manufacturerMatSelect"
                    [manufacturerInput]="manufacturerInput"
                    [formControlReset]="manufacturerFormControlReset"
                    (outManufacturerSelected)="onSelectedManufacturer($event)">
                </manufacturer-add-upd>
                <!-- manufacturer end-->
            </div>

            <div class="model">
                <!-- model start-->
                <div *ngIf="!productInput && manufacturerForm.get('name').value">
                    <mat-checkbox class="mat-checkbox-add" (change)="this.modelCheckbox($event)">Adicionar
                        Novo</mat-checkbox>
                </div>

                <div class="input-space" *ngIf="!productInput && segmentMatSelect && manufacturerForm.get('name').value == ''">
                </div>

                <model-add-upd
                    [formErrors]="formErrosValidation" [models]="this.models$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute" 
                    [modelMatSelect]="modelMatSelect"
                    [modelInput]="modelInput"
                    [formControlReset]="modelFormControlReset"
                    [formMain]="modelForm"
                    (outModelSelected)="onSelectedModel($event)">
                </model-add-upd>
                <!-- model end-->
            </div>

            <div class="description">
                <model-description style="width: 100%;" [formMain]="this.modelForm" [hideShow]="description">
                </model-description>
            </div>

        </div>


        

       
        <!-- <add-item-product *ngIf="formMain.valid">
        </add-item-product> -->
        <!-- <div>{{formMain.value | json}}</div> -->
     
  
</div>