<div fxLayout="column" class="border-around" *ngIf="this.products$">
    <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'attach_money'">
    </title-component>
    <mat-card fxLayout="column">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <!-- product -->
        <div fxLayout="column">
            <mat-checkbox (change)="this.productCheckbox($event)">Adicionar Novo</mat-checkbox>
        </div>
        <add-update-product-get-mat-select-single *ngIf="!this.product" [formErrors]="formErrosValidation" [products]="this.products$"
            [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
            [productTypeNameAttribute]="productTypeNameAttribute"
            (outProductTypeSelected)="onSelectedProductType($event)">
        </add-update-product-get-mat-select-single>
        
        <add-update-product-input *ngIf="this.product" [formMain]="this.formMain"></add-update-product-input>


        <!-- segment -->
        <div fxLayout="column" *ngIf="formMain.get('id').value && !this.product">
            <mat-checkbox (change)="this.segmentCheckbox($event)">Adicionar Novo</mat-checkbox>
        </div>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <add-update-segment-input *ngIf="this.segmentUpd" [formMain]="segmentForm"
            [placeholderProductType]="placeholderProductType" [productTypeNameAttribute]="productTypeNameAttribute"
            (outSegmentSelected)="onSelectedSegment($event)">
        </add-update-segment-input>
        <add-update-segment-mat-select-single *ngIf="!this.segmentUpd && this.formMain.get('id').value != ''" [formErrors]="formErrosValidation"
            [segments]="this.segments$" [noEntriesFoundLabel]="noEntriesFoundLabel"
            [placeholderProductType]="placeholderProductType" [productTypeNameAttribute]="productTypeNameAttribute"
            (outSegmentSelected)="onSelectedSegment($event)">
        </add-update-segment-mat-select-single>
        <!-- segment -->

        <!-- manufacturer -->
        <div fxLayout="column" *ngIf="this.manufacturers$ && !this.segmentUpd">
            <mat-checkbox (change)="this.manufacturerCheckbox($event)">Adicionar Novo</mat-checkbox>
        </div>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <add-update-manufacturer-input *ngIf="this.manufacturerUpd" [formMain]="this.manufacturerForm"
            [placeholderProductType]="placeholderProductType" [productTypeNameAttribute]="productTypeNameAttribute"
            (outManufacturerSelected)="onSelectedManufacturer($event)">
        </add-update-manufacturer-input>

        <add-update-manufacturer-mat-select-single *ngIf="!this.manufacturerUpd" [formErrors]="formErrosValidation"
            [manufacturers]="this.manufacturers$" [noEntriesFoundLabel]="noEntriesFoundLabel"
            [placeholderProductType]="placeholderProductType" [productTypeNameAttribute]="productTypeNameAttribute"
            (outManufacturerSelected)="onSelectedManufacturer($event)">
        </add-update-manufacturer-mat-select-single>
        <!-- manufacturer -->

        <!-- model -->
        <div fxLayout="column" *ngIf="this.manufacturerForm.get('id').value">
            <mat-checkbox (change)="this.modelCheckbox($event)">Adicionar Novo</mat-checkbox>
        </div>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <add-update-model-input *ngIf="this.modelUpd" [formMain]="modelForm"
            [placeholderProductType]="placeholderProductType" [productTypeNameAttribute]="productTypeNameAttribute"
            (outModelSelected)="onSelectedModel($event)">
        </add-update-model-input>
        <add-update-model-mat-select-single *ngIf="!this.modelUpd" [formMain]="this.modelForm" [formErrors]="formErrosValidation"
            [models]="this.models$" [noEntriesFoundLabel]="noEntriesFoundLabel"
            [placeholderProductType]="placeholderProductType" [productTypeNameAttribute]="productTypeNameAttribute"
            (outModelSelected)="onSelectedModel($event)">
        </add-update-model-mat-select-single>
        <!-- model -->

        <div>{{formMain.value | json}}</div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()" [enableDisable]="saveBtnEnabledDisabled"></btn-g>
        </div>
    </mat-card>
</div>