<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'attach_money'">
    </title-component>
    <mat-card class="small-large-screen">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>
        <!-- <div class="middle-space-horizontal-beteween-fields"> </div> -->

        <div class="container-main">
            <!-- Column LEFT -->
            <div class="product">
                <!-- product start-->
                <div class="mat-checkbox-add">
                    <mat-checkbox (change)="this.productCheckbox($event)" >Adicionar Novo</mat-checkbox>
                </div>
        
                <product-add-upd [formErrors]="formErrosValidation"
                    [products]="this.products$" [noEntriesFoundLabel]="noEntriesFoundLabel"
                    [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute"
                    [formMain]="this.formMain"
                    [productCheckbox]="this.product"
                    (outProductSelected)="onSelectedProduct($event)">
                </product-add-upd>

            </div>

            <div class="segment">
                <!-- segment start-->
                <div *ngIf="!product && formMain.get('name').value">
                    <mat-checkbox class="mat-checkbox-add" (change)="this.segmentCheckbox($event)">Adicionar
                        Novo</mat-checkbox>
                </div>
                <div class="input-space" *ngIf="!formMain.get('id').value && this.product">
                </div>
            
                <segment-add-upd 
                    [formErrors]="formErrosValidation" [segments]="this.segments$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute"
                    [formMain]="segmentForm"
                    [segmentCheckbox]="this.segmentMatSelect"
                    [segmentInput]="this.segmentInput"
                    (outSegmentSelected)="onSelectedSegment($event)"
                    >
                </segment-add-upd>

                <!-- segment end-->
            </div>

            <div class="manufacturer">
                <!-- manufacturer start-->
                <div *ngIf="!product && segmentForm.get('name').value">
                    <mat-checkbox class="mat-checkbox-add" (change)="this.manufacturerCheckbox($event)">Adicionar
                        Novo</mat-checkbox>
                </div>

                <manufacturer-add-upd
                    [formErrors]="formErrosValidation" [manufacturers]="manufacturers$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute"
                    [formMain]="manufacturerForm"
                    [manufacturerCheckbox]="manufacturerMatSelect"
                    [manufacturerInput]="manufacturerInput"
                    (outManufacturerSelected)="onSelectedManufacturer($event)">
                </manufacturer-add-upd>
                <!-- manufacturer end-->
            </div>

            <div class="model">
                <!-- model start-->
                <div *ngIf="!product && manufacturerForm.get('name').value">
                    <mat-checkbox class="mat-checkbox-add" (change)="this.modelCheckbox($event)">Adicionar
                        Novo</mat-checkbox>
                </div>

                <div class="input-space" *ngIf="!product && segmentMatSelect && manufacturerForm.get('name').value == ''">
                </div>

                <model-add-upd
                    [formErrors]="formErrosValidation" [models]="this.models$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderProductType]="placeholderProductType"
                    [productTypeNameAttribute]="productTypeNameAttribute" 
                    [modelCheckbox]="modelMatSelect"
                    [modelInput]="modelInput"
                    [formMain]="modelForm"
                    (outModelSelected)="onSelectedModel($event)">
                </model-add-upd>
                <!-- model end-->
            </div>

            <div class="description">
                <model-description style="width: 100%;" [formMain]="this.modelForm" [hideShow]="description">
                </model-description>
            </div>

        </div>


        

        <add-item-product>
        </add-item-product>
        <div>{{formMain.value | json}}</div>
        [enableDisable]="saveBtnEnabledDisabled"
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>
    </mat-card>
</div>