
@media(min-width: 640px) {
    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'product segment' 'manufacturer model' 'description description';
        align-items:center;
        column-gap: 10px;
    }
    

    .product {
        grid-area: product;
    }
    
    .segment {
        grid-area: segment;
    }
    
    .manufacturer {
        grid-area: manufacturer;
    }
    
    .model {
        grid-area: model;
    }
    
    .description {
        grid-area: description;
    }
    
    .input-space {
        padding-bottom: 41px;
    }
}

.mat-checkbox-add {
    padding-bottom: 20px;
}
