#stl {
    background-color: white;
}

#img {
    border: 2px solid green;
    margin: 2px;
}

#cam {
    border: 5px solid green;
    margin: 2px;
    /* margin-left: 300px;
    position: absolute; */
}

#btnCam {
    /* border: 5px solid green;
    margin: 2px;
    position: absolute;
    */
}

#btnSave {
    /* border: 5px solid green;
  margin: 2px;
  */
    margin-left: 13px;
}

#btnNext {
    /*position: absolute;
    /* margin-left: 13px;*/
}

#btnClose {
    /*position: absolute;
    margin-left: 53px;*/
}