<div>
    <div class="p-4">
        <h3 class="title-categories-divide-comp">Pix do beneficiado</h3>
    </div>
</div>

<div [formGroup]="formMain" *ngIf="formMain">

    <div class="w-full grid grid-cols-1 gap-4" [ngClass]="showPrice ? 'sm:grid-cols-3' : 'sm:grid-cols-2'">

        <div class="w-full">
            <!-- <div> -->
            <mat-label>Chave Pix Beneficiado</mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <input matInput type="text" [formControlName]="'benefitedKey'" aria-label="Valor juros">
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-label>Dia despesa</mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <input [disabled]="expenseDayDisabled" matInput [matDatepicker]="picker3" formControlName="expenseDay">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'expenseDay', '* Obrigatório')}}</span>
                    <span>{{validatorMessages.invalidDate(formMain,'expenseDay')}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="w-full" *ngIf="showPrice">
            <mat-label>Valor</mat-label>
            <mat-form-field class="w-full" appearance="outline">
                <input currencyMask matInput type="text" formControlName="price" aria-label="Valor">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'price', 'Valor')}}</span>
                </mat-error>
            </mat-form-field>
        </div>

    </div>

</div>