<div >
    <mat-label id="label">Pix do beneficiado:</mat-label>
</div>
<div class="middle-space-horizontal-beteween-fields"> </div>
<div (window:resize)="screen()" [fxLayout]="fxLayout"  [formGroup]="formMain" *ngIf="formMain" fxLayoutGap="10">

    <div  []="BenefitedKey">
    <!-- <div  []="BenefitedKey"> -->
        <mat-form-field appearance="outline">
            <mat-label>Chave Pix Beneficiado</mat-label>
            <input matInput type="text" [formControlName]="'benefitedKey'" aria-label="Valor juros">
        </mat-form-field>
    </div>
    <div  []="ExpenseDay">
        <mat-form-field appearance="outline">
            <mat-label>Dia despesa</mat-label>
            <input [disabled]="expenseDayDisabled" matInput [matDatepicker]="picker3" formControlName="expenseDay">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'expenseDay', '* Obrigatório')}}</span>
                <span>{{validatorMessages.invalidDate(formMain,'expenseDay')}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div  []="ExpenseDay" *ngIf="priceDisabled">
        <mat-form-field  appearance="outline" ="100">
            <mat-label>Valor</mat-label>
            <input currencyMask matInput type="text" formControlName="price" aria-label="Valor">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'price', 'Valor')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
 
</div>