<!-- <div>
    <button class="button-center !bg-main-color" mat-mini-fab>
      <mat-icon>{{'arrow_back'}}</mat-icon>
  </button>
</div>

<div>
    <button class="button-center !bg-main-color" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div> -->

<!-- <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button class="ttt !bg-main-color" mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>{{'arrow_back'}}</mat-icon>
        </button>
            </div>
        </div>
    </div>
</section> -->