.btn-view {
    transition-duration: 0.4s;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid #44ec49;
    border-radius: 5px;
}

.btn-view:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-weight: bolder;
}
