.date-card {
    height: 5px;
    margin-top: 5px;
}

::ng-deep .mat-datepicker-content .mat-calendar {
    /* width: unset !important; */
    height: 20px !important;
}

#mat-select-padding {
    padding-top: 5px;
}

.year-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.year-month-picker .mat-calendar-arrow {
    display: none;
}