/* mat-label {
    font-size: 25px;
}

input {
    font-size: 30px;
}

mat-select {
    font-size: 23px;
} */

#mat-select-padding {
    padding-top: 5px;
}

.year-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.year-month-picker .mat-calendar-arrow {
    display: none;
}
