<div class="border-around">
    <br>
    <div [formGroup]="formMain" fxLayout="column">
        <h2>Identificação</h2>

        <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Titular</mat-label>
                    <input matInput type="text" formControlName="holder">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'holder', 'Titular')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'holder', 'Titular',null,100)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Instituição Financeira</mat-label>
                    <input matInput type="text" formControlName="institution">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'institution', 'Instituição financeira')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'institution', 'Instituição financeira',null,100)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <br>
        <h2>Dados Bancários</h2>

        <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Agência</mat-label>
                    <input matInput type="text" formControlName="agency">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'agency', 'Agência')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'agency', 'Agência',null,10)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Conta</mat-label>
                    <input matInput type="text" formControlName="account">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'account', 'Conta')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'account', 'Conta',null,10)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Tipo de Conta</mat-label>
                    <mat-select formControlName="type">
                        <mat-option [value]="typesAccount.typeAccount" *ngFor="let typesAccount of typeAccountsArray">
                            {{typesAccount.typeAccount}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <br>
        <h2>Contato</h2>


        <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Gerente Nome</mat-label>
                    <input formControlName="managerName" matInput type="text">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'managerName', 'Gerente',null,100)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Contato Gerente</mat-label>
                    <input matInput type="text" formControlName="managerContact">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'managerContact', 'Gerente',null,100)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>





        <br>
        <h2>PIX</h2>

        <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>PIX</mat-label>
                    <mat-select formControlName="pix" #pix>
                        <mat-option [value]="p.kindPix" *ngFor="let p of pixArray">{{p.kindPix}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="column" fxFlex>

                <mat-form-field fxFlex *ngIf="pix.value == 'CEL'" appearance="outline">
                    <mat-label>Cel</mat-label>
                    <input matInput type="text" mask="00 0-0000-0000" placeholder="Ex: (00) 0-0000-0000" formControlName="pix">
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="pix.value == 'E-MAIL'" appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput type="text" formControlName="pix">
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="pix.value == 'CPF'" appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" mask="CPF_CNPJ" formControlName="pix">
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="pix.value == 'CNPJ'" appearance="outline">
                    <mat-label>CNPJ</mat-label>
                    <input matInput type="text" mask="CPF_CNPJ" formControlName="pix">
                </mat-form-field>

            </div>
        </div>

        <br>
        <h2>Valores</h2>


        <mat-form-field fxFlex appearance="outline">
            <mat-label>Saldo
            </mat-label>
            <input style="font-size: 35px;" matInput type="text" currencyMask formControlName="balance">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'balance', 'Saldo')}}</span>
            </mat-error>
        </mat-form-field>

        <br>
        <h2>Observações</h2>

        <div fxLayout="row" fxLayoutGap="30px">
            <div fxLayout="row" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'description', 'Descrição',null,100)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>




        <table>
            <br>
            <br>
            <br>
            <tr>

                <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="30px" fxFlex>
                    <h3>ADICIONAR CARTÕES</h3>
                </div>

            </tr>
            <br>

            <tr>
                <td fxFlex fxLayoutAlign="end start">
                    <button class="add-btn" mat-raised-button (click)="addCard()">Adicionar</button>
                </td>
            </tr>
        </table>


        <div class="m-3" id="generalDiv">
            <hr>
            <div formArrayName="cards" *ngFor="let ctrls of getCards.controls let i = index">


                <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">

                    <div fxLayout="column" fxFlex>

                        <h3>
                            {{'Cartão '+(1+i) }}
                        </h3>

                    </div>

                    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
                        <button mat-raised-button style="background-color:red; color:white;" (click)="removeCard($event.target)">Remover</button>
                    </div>
                </div>


                <div [formGroupName]="i" fxLayout="column">
                    <br>

                    <h2>Identificação</h2>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="holder" placeholder="Nome exatamente como está no cartão.">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'holder', 'Titular')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'holder', 'Titular',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>

                    <br>
                    <h2>Dados do cartão</h2>

                    <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
                        <div fxLayout="column" fxFlex>
                            <mat-form-field fxFlex appearance="outline">
                                <mat-label>Bandeira</mat-label>
                                <input matInput type="text" formControlName="flag">
                                <mat-error>
                                    <span>{{validatorMessages.required(subForm,'flag', 'Bandeira')}}</span>
                                    <span>{{validatorMessages.minMaxLength(subForm,'flag', 'Bandeira',null,50)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <mat-form-field fxFlex appearance="outline">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option (blur)="validatorLocal.limitWhenRequired(subForm, 0.99, {ValuBelowAllowed:true}, 'limit')" [value]="card.typeCard" *ngFor="let card of typeCardArray">{{card.typeCard}}
                                        <!-- (blur)="validatorLocal.cardLimitRequired(formMain)" -->

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <mat-form-field appearance="outline">
                                <mat-label>Mês e Ano</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="validate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
                                <mat-error>
                                    <span>{{validatorMessages.required(subForm,'warrantyEnd', 'Garantia')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <br>


                    <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
                        <div fxLayout="column" fxFlex>
                            <mat-form-field fxFlex appearance="outline">
                                <mat-label>Número</mat-label>
                                <input matInput type="text" formControlName="number">
                                <mat-error>
                                    <span>{{validatorMessages.required(subForm,'number', 'Número do cartão')}}</span>
                                    <span>{{validatorMessages.minMaxLength(subForm,'number', 'Número do cartão',13,20)}}</span>
                                </mat-error>
                                <!--  -->
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxFlex>
                            <mat-form-field fxFlex appearance="outline">
                                <mat-label>Código Verificador</mat-label>
                                <input matInput type="text" formControlName="checkCode">
                                <mat-error>
                                    <span>{{validatorMessages.required(subForm,'checkCode', 'Código verificador')}}</span>
                                    <span>{{validatorMessages.minMaxLength(subForm,'checkCode', 'Código verificador',null,10)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>


                    </div>



                    <br>
                    <h2>Valores</h2>


                    <mat-form-field fxFlex style="height:200px;" appearance="outline">
                        <mat-label>Limite Credito</mat-label>
                        <input matInput type="text" currencyMask formControlName="limit">
                        <mat-error>
                            <!-- <span>{{validatorMessages.required(subForm,'limit', 'Limite credito')}}</span>
                                    <span>{{validatorMessages.minMax(subForm,'limit', 'Limite credito',1,null)}}</span> -->
                            <span>{{validatorMessagesFiancial.currencyValueLimit(subForm,'limit', 'Valor', 'R$ 1,00')}}</span>
                        </mat-error>
                    </mat-form-field>

                    <br>

                    <br>

                    <div fxLayout="row">
                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>Observações</mat-label>
                            <input matInput type="text" formControlName="description">
                        </mat-form-field>
                    </div>


                    <br>
                    <mat-divider>
                    </mat-divider>
                    <br>
                </div>
            </div>

        </div>


    </div>

    <div>
        {{formMain.value | json}}
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="save-btn" mat-raised-button type="submit" (click)="save()">Salvar</button>
    </div>
</div>