
 <!-- <div class="break" >
  <div  fxLayoutGap="30px" fxLayoutAlign="center center">
      <div>
          <h2 mat-dialog-title  >{{title}}</h2>
      </div>
  </div>
   <mat-dialog-content class="break" >
       {{messageBody}}
   </mat-dialog-content>
  
  <div  fxLayoutAlign="space-between stretch" style="margin-top:30px;" fxLayoutAlign="center center" >
      <button mat-dialog-close mat-button style="background-color: rgb(38, 187, 38); color: white;" (click)="clickedYes(btn1)" *ngIf="btn1">{{btn1}}</button>
      <button mat-button mat-dialog-close style="background-color: rgb(24, 121, 24); color: white; " (click)="clickedNo(btn2)" *ngIf="btn2">{{btn2}}</button>
  </div>
</div>  -->
