    #logo {
        color: white;
        margin-left: 35px;
    }

    .navbar {
        background-color: #183f17;
        color: honeydew;
    }

    .navbar li a,
    .navbar .navbar-brand {
        color: #183f17 !important;
    }

    .mat-option {
        color: greenyellow;
        background-color: rgb(7, 68, 34);
    }

    .mat-option:hover {
        color: greenyellow;
        background-color: rgb(14, 116, 59);
    }

    #menuOperationDropDown {
        margin-left: 50%;
    }
