<div >
  <div class="mat-card-sub-title" >
      <div id="body" >
          <div   >
              <div >
                  <div >
                      <div  class="pipe-column-title">
                          <p class="pipe-title"> <span>|</span></p>
                      </div>

                      <div  class="space-right weight-title-space-left">
                          <p>Banco:</p>
                      </div>
                      <div >
                          <p>{{bankAccount.institution | uppercase}}</p>
                      </div>
                  </div>
              </div>
              <div >
                  <div >
                      <div  class="pipe-column-title">
                          <p class="pipe-title"> <span>|</span></p>
                      </div>

                      <div  class="space-right weight-title-space-left">
                          <p>Conta:</p>
                      </div>
                      <div >
                          <p>{{bankAccount?.account | uppercase}}</p>
                      </div>
                  </div>
              </div>
              <div >
                  <div >
                      <div  class="pipe-column-title">
                          <p class="pipe-title"> <span>|</span></p>
                      </div>

                      <div  class="space-right weight-title-space-left">
                          <p>Agência:</p>
                      </div>
                      <div >
                          <p>{{bankAccount?.agency | uppercase}}</p>
                      </div>
                  </div>
              </div>
              <div >
                  <div >
                      <div  class="pipe-column-title">
                          <p class="pipe-title"> <span>|</span></p>
                      </div>
                      <div  class="space-right weight-title-space-left">
                          <p>Titular:</p>
                      </div>
                      <div >
                          <p>{{bankAccount?.holder | uppercase}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>