<div class="w-full pr-4 pl-4 pb-4 grid sm:grid-cols-4 grid-cols-1 grid-row-4 gap-4">
    <div class="w-full grid grid-cols-[10px_70px_1fr] items-center">
        <div>
            <p class="pipe-title"> <span>|</span></p>
        </div>
        <div>
            <p>Banco:</p>
        </div>
        <div>
            <p>{{bankAccount.institution | uppercase}}</p>
        </div>
    </div>
    <div class="w-full grid grid-cols-[10px_70px_1fr] items-center">
        <div>
            <p class="pipe-title"> <span>|</span></p>
        </div>
        <div>
            <p>Conta:</p>
        </div>
        <div>
            <p>{{bankAccount?.account | uppercase}}</p>
        </div>
    </div>
    <div class="w-full grid grid-cols-[10px_70px_1fr] items-center">
        <div>
            <p class="pipe-title"> <span>|</span></p>
        </div>
        <div>
            <p>Agência:</p>
        </div>
        <div>
            <p>{{bankAccount?.agency | uppercase}}</p>
        </div>
    </div>
    <div class="w-full grid grid-cols-[10px_70px_1fr] items-center">
        <div>
            <p class="pipe-title"> <span>|</span></p>
        </div>
        <div>
            <p>Titular:</p>
        </div>
        <div class="w-full">
            <p>{{bankAccount?.holder | uppercase}}</p>
        </div>
    </div>
</div>
