<div fxLayout="column" [formGroup]="formMain" class="border-around">
    <!-- <title-component [titleString]="'Bancada'" [subTitleString]="'Abrir Serviço'">
    </title-component> -->
    <!-- <div class="customerName" fxLayout="row" fxFlex fxLayoutAlign="start start">
        <span class="item">{{'CLIENTE:'}}</span>{{customerName}}
    </div> -->
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row">
        <div class="information" fxLayout="column">
            {{'CLIENTE'}}
        </div>
        <div fxLayout="column" fxFlex style=" margin-top:10px;">
            <mat-divider fxFlex></mat-divider>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex>
        <mat-card fxFlex>
            <mat-card-title>{{customerName}}</mat-card-title>
            <mat-divider style="width: 30%;"></mat-divider>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <!-- <mat-card-content>
                {{formMain.get('problemAccordingCustomer').value}}
            </mat-card-content> -->
            <!-- <mat-error>
                <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
            </mat-error> -->
        </mat-card>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row">
        <div class="information" fxLayout="column">
            {{'INFORMAÇÕES'}}
        </div>
        <div fxLayout="column" fxFlex style=" margin-top:10px;">
            <mat-divider fxFlex></mat-divider>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex>
        <mat-card fxFlex>
            <mat-card-title>Problema relatado pelo cliente</mat-card-title>
            <mat-divider style="width: 30%;"></mat-divider>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <mat-card-content>
                {{formMain.get('problemAccordingCustomer').value}}
            </mat-card-content>
            <!-- <mat-error>
                <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
            </mat-error> -->
        </mat-card>
    </div>

    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex>
        <mat-card fxFlex>
            <mat-card-title>Descrição Visual</mat-card-title>
            <mat-divider style="width: 30%;"></mat-divider>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <mat-card-content>
                {{formMain.get('isPresentVisuallyDescription').value}}
            </mat-card-content>
            <!-- <mat-error>
            <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
        </mat-error> -->
        </mat-card>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayoutGap="50">

        <mat-card fxFlex>
            <mat-card-title>Tipo de suporte / Dados de acessos</mat-card-title>
            <mat-divider style="width: 30%;"></mat-divider>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <mat-card-content [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="30">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>Acessos</mat-label>
                    <mat-checkbox fxLayoutAlign="start center" [disabled]="true" [checked]="this.dataAccess" (change)="dataAccessShowHideInput($event)" (change)="dataAccessValidator.requiredSetFiel(formMain, $event)">
                    </mat-checkbox>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-label>Remoto</mat-label>
                    <mat-checkbox formControlName="isRemote" fxLayoutAlign="start center" [checked]="formMain.get('isRemote').value" [disabled]="true">
                    </mat-checkbox>
                </div>
            </mat-card-content>
            <!-- <mat-error>
        <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
    </mat-error> -->
        </mat-card>


    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" *ngIf="formMain.get('dataDescription').value">
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxFlex>
                <mat-card fxFlex>
                    <mat-card-title>Dados de acesso</mat-card-title>
                    <mat-divider style="width: 30%;"></mat-divider>
                    <div class="middle-space-horizontal-beteween-fields"></div>
                    <mat-card-content>
                        {{formMain.get('dataDescription').value}}
                    </mat-card-content>
                    <!-- <mat-error>
                <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
            </mat-error> -->
                </mat-card>
            </div>


            <!-- <mat-form-field appearance="outline">
                <mat-label>Dados de acesso</mat-label>
                <textarea class="dataDescription" matInput type="text" formControlName="dataDescription"></textarea>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'dataDescription', 'Acessos (Usuário, senha etc...) ')}}</span>
                </mat-error>
            </mat-form-field> -->
        </div>
    </div>

    <mat-divider fxFlex></mat-divider>

    <!-- <services-repairs [finishedHideShow]="finishedHideShow" [statusOfAllService]="false" (addPricesEvent)="addPrices()" (removePricesIndex)="removePrices($event)" [formMain]="formMain" [pricesArray]="pricesArray">
    </services-repairs> -->


</div>



<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button class="save-btn" (click)="update()" [disabled]="!btnSaveDisable">Salvar</button>
    <!-- formService.get('isAuthorized').value || formService.get('started').value || this.formPrices.get('0').get('serviceName').value -->
</div>

<div class="border-around" fxLayout="row" fxLayoutAlign="center center">
    {{formMain.value | json}}
</div>
