mat-dialog-actions {
    margin: -24px;
    margin-top: 30px;
    display: block;
    /* padding-bottom: 30px; */
    padding-top: 0px;
    background: green;
    overflow: hidden;
}

mat-dialog-content {
    margin-top: -30px;
    overflow: hidden;
}

mat-error {
    margin-top: -7.5px;
}

span {
    cursor: pointer;
    font-size: 10px;
}

#recovery-button {
    color: white;
    justify-content: center;
    display: flex;
}
