<div mat-dialog-title>
    <img src="../../../../../../assets/nsti-menor.jpg" alt="" style="width:350x; height:50px;">
    <mat-divider></mat-divider>
</div>

<mat-dialog-content fxLayout="column" [formGroup]="formMain" fxLayoutAlign="center center" class="mat-typography">
    <div style="height:8px;"></div>
    <div fxLayout="row" fxFlex="100%">
        <mat-form-field fxFlex="100%">
            <mat-label>
                <mat-icon>email</mat-icon> <b> E-mail</b>
            </mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'email', '')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions id="recovery-button">
    <span>
    <h3 (click)="recovery()">Recuperar</h3>
  </span>
</mat-dialog-actions>
<!--
  <div class="col-12 d-flex justify-content-center p-5">
    <div class="card w-50" style="padding-top: 50px;">
      <div class="card-body">

        <h5 class="card-title">Recuperar senha...</h5>
        <div class="container col-12">
          <div class="p-5">
            <div class="container">
              <div class="d-flex justify-content-center">
                <h1>Login</h1>
              </div>
            </div>
            <div class="pt-2"></div>
            <div class="container col-8">
              <div class=" d-flex justify-content-start">
                <div class=" d-flex justify-content-start">
                  <h5> <label for="">Email:</label></h5>
                </div>
              </div>
              <input class="form-control align-self-center" type="text" formControlName="email"
                [ngClass]="{'is-invalid': validatorMessages.touchedErrors(formMain, 'email')}">

              <div class="invalid-feedback">
                <span>{{validatorMessages.required(formMain,'email', '')}}</span>
              </div>
            </div>
            <div class="container col-4">
              <div class=" d-flex justify-content-start">
                <div class=" d-flex justify-content-start">
                  <button class="btn btn-success" (click)="recovery()">Recuperar</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div> -->
