<!-- <img src="../../../../../../assets/nsti-menor.jpg" alt="" style="width:350x; height:50px;">
<mat-divider></mat-divider>

<div style="height:30px;"></div>


<div>
    <mat-form-field >
        <mat-label>
            <mat-icon>email</mat-icon> <b> E-mail</b>
        </mat-label>
        <input matInput type="text" formControlName="email" aria-label="E-mail">
        <mat-error>
            <br>
            <span>{{validatorMessages.required(formMain,'email', '')}}</span>
            <span>{{validatorMessages.mailField(formMain,'email')}}</span>
        </mat-error>
    </mat-form-field>
</div>
<br>
<captcha #token></captcha>


<div class="row" class="recovery-button" (click)="recovery(token.sendForm())">
    <span>
        <h1>Recuperar</h1>
      </span>
</div> -->

<div class="border-around paper-inside" [formGroup]="formMain" >
    <section id="container-above" >
        <button id="btn-back" mat-raised-button (click)="back()">{{'Voltar'}}</button>
    </section>
    <div class="space-title-logo"></div>
    <mat-card>
        <title-description-auth title class="font-title" [icon]="'language'" [title]="'Sonny App'" [styleContainerTitle]="'padding-top:8px;'" [titleStyle]="'font-family: Mynerve; font-size: 24px;'" [height]="'height:60px'"></title-description-auth>
        <div class="space-title-logo"></div>
        <div>
            <div >

                <div  >
                    <h1 class="title">Recuperação de senha</h1>
                </div>
            </div>

            <div  [formGroup]="formMain">
                <div >
                    <mat-form-field  appearance="outline">
                        <mat-label>
                            <mat-icon id="email-icon">email</mat-icon> <b>Email</b>
                        </mat-label>
                        <input matInput type="text" formControlName="email" aria-label="Email">
                        <mat-error>
                            <span> {{validatorMessages.required(formMain,'email', '')}}</span>
                            <span> {{validatorMessages.mailField(formMain,'email')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div >
                    <captcha #token [hidden]="!formMain.valid"></captcha>
                </div>
            </div>

            <div  (click)="recovery(token.sendForm())">
                <button mat-button class="btn-settings" [disabled]="token.token == undefined"><span>Recuperar</span></button>
            </div>
        </div>
    </mat-card>

</div>