<div mat-dialog-title>
    <img src="../../../../../../assets/nsti-menor.jpg" alt="" style="width:350x; height:50px;">
    <mat-divider></mat-divider>
</div>

<mat-dialog-content fxLayout="column" [formGroup]="formMain" class="mat-typography">
    <div style="height:30px;"></div>


    <div fxLayout="row" fxFlex>
        <mat-form-field fxFlex>
            <mat-label>
                <mat-icon>email</mat-icon> <b> E-mail</b>
            </mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error>
                <br>
                <span>{{validatorMessages.required(formMain,'email', '')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <br>
    <captcha (result)="captchResult" [retorno]="ret"></captcha>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row" class="recovery-button" (click)="recovery()">
        <button mat-button><span>
        <h1>Recuperar</h1>
      </span></button>
    </div>
</mat-dialog-actions>