<!-- <div class="main-card" [style]="this.height">

    <div>
        <mat-grid-list  [cols]="cols" [rowHeight]="rowHeight">
            <mat-grid-tile *ngFor="let obj of elements">
                <mat-icon class="mat-elevation-z10 mat-icon-style" fontSet="material-icons-outlined" [routerLink]="obj['route']" #tooltip="matTooltip" [matTooltip]="obj.toolTip" [matTooltipPosition]="matTooltip.position.value" [matTooltipHideDelay]="10" [matTooltipDisabled]="matTooltip.enableDisable">{{obj['icon']}}</mat-icon>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <mat-divider></mat-divider>
</div> -->