<button (window:resize)="responsive($event)" *ngIf="btnType == 'dynamic-default'" [ngClass]="btnClassList" mat-raised-button type="button" (click)="filterMtd()" (mouseover)="onMouseOverMtd()" (mouseout)="onMouseOutMtd()" (click)="btnGMtd()" [disabled]="isDisabled">
  <div class="grid grid-cols-[25px_1px_110px] items-center space-x-1">
    <div class="flex items-center space-x-1">
      <mat-icon *ngIf="action">{{actOpened}}</mat-icon>
      <mat-icon *ngIf="!action">{{actClosed}}</mat-icon>
    </div>
    <div [class]="pipeBox"></div>
    <div [class]="btnNameScssClasses">{{name}}</div>
  </div>
</button>

<button (window:resize)="responsive($event)" *ngIf="btnType == 'dynamic-simple'" [ngClass]="btnClassList" mat-raised-button type="button" (click)="filterMtd()" (mouseover)="onMouseOverMtd()" (mouseout)="onMouseOutMtd()" (click)="btnGMtd()" [disabled]="isDisabled">
    <div [class]="btnNameScssClasses">{{name}}</div>
</button>
