<div class="border-around" *ngIf="formMain">
    <title-component [digit]="'|'" [titleString]="'Pagamento'" [icon]="'payment'">
    </title-component>
    <div>
        <div fxLayout="column" fxFlex>
            <mat-card class="mat-card-sub-title" fxFlex>
                <sub-title title [title]="'Despesa'" [icon]="'payment'"></sub-title>
                <screen-data-info *ngIf="hideShowScreenDataInfo" [fields]="fields"
                [reiceverThisComponentToDisplay]="'payment'"
                >
                </screen-data-info>
                <!-- 
                [radioOptionRemove]="['Cartão', 'Pix','Outros' ]"
                [radioHideShow]="true"
                -->
                <get-bank-account-select-single [urlBackEndApi]="'GetAllFnBankAccount'" [formMain]="formMain"
                    [radioOptionRemove]="[1]" [validatorsPaymentBtnAction]="validatorsCreditPixOthers"
                    [alignRadios]="'start start'">
                    <div pixExpense>
                        <pixes-expenses-fields [formMain]="subForm">
                        </pixes-expenses-fields>
                    </div>
                </get-bank-account-select-single>

                <price-interest-fields [formMain]="formMain">
                </price-interest-fields>

                <div fxLayout="column" btn>
                    <btn-g [name]="'Pagar'" [icon]="'payment'" (click)="updateBtn()"
                        [enableDisable]="saveBtnEnabledDisabled"></btn-g>
                </div>
            </mat-card>
        </div>
    </div>
    <!-- <div fxLayout="row" fxlayoutAlign="center center">
        <div>{{formMain.value | json}}</div>
    </div> -->

</div>