#zap {
    position: absolute;
    padding-left: 77%;
    padding-top: 3%;
}

#assured {
    padding-left: 25%;
}

#clientDivForm {
    border: 2px solid tomato;
    border-radius: 50px 20px;
}

#generalDiv {
    padding-left: 5%;
}

#btnSave {
    margin-left: 30%;
    width: 250px;
    height: 50px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
    ;
}

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color, #135821) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #135821;
}