<div class="border-around" [formGroup]="formMain">
    <title-component title [titleString]="'Parceiros'" [subTitleString]="'Cadastro Parceiro'">
    </title-component>
    <div fxLayout="row">
        <h3>Identificação Parceiro</h3>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <main-entities-base [formMain]="formMain" [entityType]="'entityType'" fxFlex>
            </main-entities-base>
        </div>
    </div>
    <div fxLayout="row">
        <h3>Financeiro</h3>
    </div>
    <financial-pix [formMain]="paymentDataForm">
        <div [formGroup]="paymentDataForm" fxLayout="column" fxFlex>
            <div fxLayout="column">
                <div fxLayout="row">
                    <mat-checkbox #bankAccount>
                    </mat-checkbox>
                    <div class="check-box-label-space"></div>
                    <mat-label>Conta Bancária</mat-label>
                </div>
            </div>
            <div class="middle-space-horizontal-beteween-fields"> </div>
            <div fxLayout="column" fxFlex *ngIf="bankAccount.checked">
                <mat-form-field appearance="outline">
                    <mat-label>Dados Bancarios</mat-label>
                    <input matInput type="text">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'businessLine', 'Negócios')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'businessLine', 'Negócios',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>



    </financial-pix>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <!-- <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="80">
        <div fxLayout="row">

        </div>
    </div> -->
    <div fxLayout="row">
        <h3>Sobre o parceiro</h3>
    </div>
    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="80">
        <div fxLayout="column" fxFlex>
            <mat-form-field>
                <mat-select (selectionChange)="businessLine($event.value)" formControlName="businessLine">
                    <mat-option [value]="line.businessLine" *ngFor="let line of businesslineArray">
                        {{line.businessLine}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'businessLine', 'Negócios')}}</span>
                    <span>{{validatorMessages.changeSelection(formMain,'businessLine', 'Negócios')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'businessLine', 'Negócios',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
            <mat-form-field #tooltip="matTooltip" [matTooltip]="messageTooltipBusinessLineOther" [matTooltipPosition]="matTooltip.position.value" [matTooltipHideDelay]="matTooltip.matTooltipHideDelay" [matTooltipDisabled]="matTooltip.enableDisable">
                <mat-label>Linha de Negócios</mat-label>
                <input matInput type="text" formControlName="businessLineOther">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'businessLine', 'Negócios')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'businessLine', 'Negócios',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <physically-moving-costs [formMain]="subForm" fxFlex>
            </physically-moving-costs>
        </div>
    </div>
    <div fxLayout="column">
        <description-field [formMain]="formMain">
        </description-field>
    </div>

    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <address [formMain]="this.address" fxFlex></address>
        </div>


        <div fxLayout="row">
            <contact fxFlex [formMain]="this.contact"></contact>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayoutAlign="center center">
        <button class="save-btn" mat-raised-button (click)="save()">Salvar</button>
    </div>
</div>
<div class="border-around" fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>
</div>