<ng-content select="[top-large]"></ng-content>

<div style="overflow: hidden;" class="flex-column" *ngFor="let menu of dataTree; let i = index;">

    <div class="btn-container mouse-pointer flex-row flex" (click)="rootMenuArrowOpenClosedOnAction(menu.name)">

        <div class="flex-column flex-1"></div>

        <div class="flex-column">
            <mat-icon>{{menu.icon}}</mat-icon>
        </div>
        <div class="flex-column flex-3"></div>

        <div class="items-main flex-column">
            <div>{{menu.name}}</div>
        </div>
        <div class="flex-column flex"></div>

        <div class="flex-column">
            <mat-icon *ngIf="!menu.opened">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="menu.opened">keyboard_arrow_down</mat-icon>
        </div>

    </div>


    <div class="level-one flex-column flex" *ngIf="menu.opened">

        <div *ngFor="let levelOne of menu.children; let i = index;">


            <div class="flex-row" (click)="levelOneSubMenuArrowOpenClosedOnAction(menu.name, levelOne.name)">

                <div class="flex-column flex-1"></div>

                <div class="flex-column">

                    <div class="mouse-pointer level-one-items-with-children" *ngIf="levelOne.children">
                        <menu>
                            <li class="level-one-with-children-item-li">{{levelOne.name}}</li>
                        </menu>
                    </div>
                    <div class="level-one-items-single mouse-pointer" (click)="navigateByUrl(levelOne.route)" *ngIf="!levelOne.children">
                        <menu>
                            <li class="level-one-single-item-li">{{levelOne.name}}</li>
                        </menu>
                    </div>

                </div>
                <div class="level-one-items-with-children flex-column flex" *ngIf="levelOne.children"></div>
                <div class="level-one-items-single flex-column flex" *ngIf="!levelOne.children"></div>

                <div class="align-arrow-with-menu-name level-one-items-with-children flex-column" *ngIf="levelOne.children">
                    <mat-icon *ngIf="!levelOne.opened">keyboard_arrow_right</mat-icon>
                    <mat-icon *ngIf="levelOne.opened">keyboard_arrow_down</mat-icon>
                </div>

                <div class="align-arrow-with-menu-name level-one-items-single flex-column" *ngIf="!levelOne.children"></div>

            </div>

            <div class="flex-column">
                <div class="level-two flex-column flex" *ngIf="levelOne.opened">
                    <div *ngFor="let levelTwo of levelOne.children; let i = index;">
                        <div class="mouse-pointer" *ngIf="!levelTwo.children" (click)="navigateByUrl(levelTwo.route)">
                            <menu>
                                <li class="item-li-level-two">{{levelTwo.name}}</li>
                            </menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<div class="bottom-nav flex-column gap-50">
    <div class="flex-row"></div>

    <div class="container-rectangle-bottom flex-column">
        <div class="flex-row">
            <mat-label class="label-rectangle-bottom">Dúvidas?</mat-label>
        </div>

        <div class="small-space-horizontal-beteween-fields"></div>

        <div class="rectangle-bottom flex-row">
            <div class="flex-column">
                <mat-icon class="icon-inside-rectangle-bottom" fontSet="material-icons-outlined">mode_comment</mat-icon>
            </div>
            <div class="flex-column label-inside-rectangle-bottom">
                <mat-label class="label-rectangle-bottom">Fale conosco.</mat-label>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-column flex-35">
            <mat-divider class="divider-bottom flex"></mat-divider>
        </div>
        <div class="circle.align-btn-collapse flex-column">
            <div class="circle-divider-bottom flex-row">
                <div class="arrow-align-inside-circle">
                    <ng-content select="[arrow_left]"></ng-content>
                </div>
            </div>
        </div>
        <div class="flex-column flex-50">
            <mat-divider class="divider-bottom flex"></mat-divider>
        </div>
    </div>

    <div class="flex-row"></div>
</div>