<div class="container">

    <!-- <ng-content select="[top-large]"></ng-content> -->

    <div class="container--menu-box" (click)="rootMenuArrowOpenClosedOnAction(menu.name)" *ngFor="let menu of dataTree; let i = index;">

        <!-- <div> -->
        <div class="container--menu-box-icon">
            <mat-icon>{{menu.icon}}</mat-icon>
        </div>
        <div class="container--menu-box-item">
            <div>{{menu.name}}</div>
        </div>


        <div class="container--menu-box-arrow">
            <mat-icon *ngIf="!menu.opened">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="menu.opened">keyboard_arrow_down</mat-icon>
        </div>

        <!-- </div> -->


        <div *ngIf="menu.opened">

            <div *ngFor="let levelOne of menu.children; let i = index;">

                <div (click)="levelOneSubMenuArrowOpenClosedOnAction(menu.name, levelOne.name)">



                    <div>

                        <div *ngIf="levelOne.children">
                            <menu>
                                <li>{{levelOne.name}}</li>
                            </menu>
                        </div>
                        <div (click)="navigateByUrl(levelOne.route)" *ngIf="!levelOne.children">
                            <menu>
                                <li>{{levelOne.name}}</li>
                            </menu>
                        </div>

                    </div>
                    <div *ngIf="levelOne.children"></div>
                    <div *ngIf="!levelOne.children"></div>

                    <div *ngIf="levelOne.children">
                        <mat-icon *ngIf="!levelOne.opened">keyboard_arrow_right</mat-icon>
                        <mat-icon *ngIf="levelOne.opened">keyboard_arrow_down</mat-icon>
                    </div>

                    <div *ngIf="!levelOne.children"></div>

                </div>

                <div>
                    <div *ngIf="levelOne.opened">
                        <div *ngFor="let levelTwo of levelOne.children; let i = index;">
                            <div *ngIf="!levelTwo.children" (click)="navigateByUrl(levelTwo.route)">
                                <menu>
                                    <li>{{levelTwo.name}}</li>
                                </menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom -->
    <div>


        <div>
            <div>
                <mat-label>Dúvidas?</mat-label>
            </div>



            <div>
                <div>
                    <mat-icon fontSet="material-icons-outlined">mode_comment</mat-icon>
                </div>
                <div>
                    <mat-label>Fale conosco.</mat-label>
                </div>
            </div>
        </div>

        <div>
            <div>
                <mat-divider></mat-divider>
            </div>
            <div>
                <!-- <div>
                    <ng-content select="[arrow_left]"></ng-content>
                </div> -->
            </div>
            <div>
                <mat-divider></mat-divider>
            </div>
        </div>


    </div>
</div>