<div style="padding:30px;">
    <div [formGroup]="this.formMain">
        <!-- <div fxLayout="column" fxLayoutGap="50px">
            <title-container [titleString]="title" [subTitleString]="subTitle">
                <title-component>
                </title-component>
            </title-container>
        </div> -->
        <div style="padding-top:10px;"></div>
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-card fxLayoutAlign=center center>
                <mat-form-field fxFlex="100">
                    <mat-label>Despesa</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'name', 'Despesa')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'name', 'Despesa',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </mat-card>

            <mat-grid-list (window:resize)="screen()" [cols]="amountStartedExpirationInstallmentCols" [rowHeight]="amountStartedExpirationInstallmentRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Valor</mat-label>
                            <input matInput currencyMask type="text" formControlName="amount">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'amount', 'Valor')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Iniciado</mat-label>
                            <input matInput [matDatepicker]="picker0" formControlName="started">
                            <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                            <mat-datepicker #picker0 startView="year" [startAt]="startDate"></mat-datepicker>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'started', 'Iniciado')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Vencimento dia</mat-label>
                            <input max="31" min="1" matInput type="number" formControlName="expiration">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'expiration', 'Dia do Vencimento')}}</span>
                                <span>{{validatorMessages.minMax(formMain,'expiration', 'Dia do Vencimento',1,20)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Parcelas</mat-label>
                            <input min="1" matInput type="number" formControlName="installment">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'installment', 'Parcelas')}}</span>
                                <span>{{validatorMessages.minMax(formMain,'installment', 'Parcelas',1,null)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>

            <div>
                <mat-card>
                    <mat-form-field fxFlex="100">
                        <mat-label>Instituição Financeira</mat-label>
                        <input matInput type="text" formControlName="institution" placeholder="Instituição Financeira">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'institution', 'Instituição financeira')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'institution', 'Instituição financeira',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </div>
            <mat-card>
                <mat-form-field fxFlex="100">
                    <mat-label>Link Segunda via</mat-label>
                    <input matInput type="text" formControlName="duplicateUrl" placeholder="Link Segunda via">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'duplicateUrl', 'Link segunda via',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </mat-card>

            <mat-grid-list (window:resize)="screen()" [cols]="userPasswordCols" [rowHeight]="userPasswordRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Usuário</mat-label>
                            <input matInput type="text" formControlName="user">
                            <mat-error>
                                <span>{{validatorMessages.minMaxLength(formMain,'user', 'Usuário',null,50)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Senha</mat-label>
                            <input matInput type="password" formControlName="password">
                            <mat-error>
                                <span>{{validatorMessages.minMaxLength(formMain,'password', 'Senha',null,20)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-card>
                <mat-form-field fxFlex="100">
                    <mat-label>Observações</mat-label>
                    <textarea matInput type="text" cols="5" rows="5" formControlName="description"></textarea>
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'description', 'Observações',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </mat-card>
        </div>
        <div style="padding-top:30px;"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <button id="btnSave" mat-raised-button type="submit" (click)="save()">Salvar</button>
        </div>
    </div>
</div>
