<div style="padding:10px;">
    <div [formGroup]="this.formMain">
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-grid-list (window:resize)="screen()" [cols]="cycleExpensesCols" [rowHeight]="cycleExpensesRowHeight">
                <mat-grid-tile>
                    <div fxLayout="column" fxFlex="99">
                        <div fxLayout="row">
                            <mat-card-title>Despesas</mat-card-title>
                        </div>
                        <mat-card fxFlex="99">
                            <div fxLayout="row">
                                <mat-form-field id="mat-select-padding" fxFlex="99">
                                    <mat-select formControlName="expensesName">
                                        <mat-option [value]="essentialExpenses.expense" *ngFor="let essentialExpenses of essentialExpensesArray">
                                            {{essentialExpenses.expense}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </mat-card>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="column" fxFlex="99">
                        <div fxLayout="row">
                            <mat-card-title>Ciclo de pagamento</mat-card-title>
                        </div>
                        <div fxLayout="row">
                            <mat-card fxFlex="99">
                                <mat-form-field fxFlex="99">
                                    <mat-select formControlName="cyclePayment">
                                        <mat-option [value]="cycle.expiration" *ngFor="let cycle of expirationCycleArray">{{cycle.expiration}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list (window:resize)="screen()" [cols]="expirationCols" [rowHeight]="expirationRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <input matInput [matDatepicker]="picker0" formControlName="expiration" placeholder="Vencimento">
                            <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                            <mat-datepicker #picker0 startView="year" [startAt]="startDate"></mat-datepicker>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card>
                <mat-form-field fxFlex="100">
                    <mat-label>Observações</mat-label>
                    <textarea matInput cols="10" rows="5" type="text" formControlName="comments" placeholder="Observações"></textarea>

                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'comments', 'Observações',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </mat-card>
        </div>
        <div style="padding-top:30px;"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <button id="btnSave" mat-raised-button type="submit" (click)="save()">Salvar</button>
        </div>
    </div>
</div>
