<div style="padding:10px;">
    <div [formGroup]="this.formMain">
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-grid-list (window:resize)="screen()" [cols]="cycleExpensesCols" [rowHeight]="cycleExpensesRowHeight">
                <mat-grid-tile>
                    <div fxLayout="column" fxFlex="99">
                        <div fxLayout="row">
                            <mat-card-title>Despesas</mat-card-title>
                        </div>
                        <mat-card fxFlex="99">
                            <div fxLayout="row">
                                <mat-form-field fxFlex="99">
                                    <mat-label>Nome</mat-label>
                                    <mat-select formControlName="name" (selectionChange)="expenses($event.value)">
                                        <mat-option [value]="essentialExpenses.expense" *ngFor="let essentialExpenses of essentialExpensesArray">
                                            {{essentialExpenses.expense}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-card>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="column" fxFlex="99">
                        <div fxLayout="row">
                            <mat-card-title>Ciclo de pagamento</mat-card-title>
                        </div>
                        <div fxLayout="row">
                            <mat-card fxFlex="99">
                                <mat-form-field fxFlex="99">
                                    <mat-select formControlName="cyclePayment">
                                        <mat-option [value]="cycle.expiration" *ngFor="let cycle of expirationCycleArray">
                                            {{cycle.expiration}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-card>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list (window:resize)="screen()" [cols]="expirationNameCols" [rowHeight]="expirationNameRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99" style="height:103px;">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="nameOther" placeholder="Nome da despesa">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'nameOther', 'Nome')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'nameOther', 'Nome',null,10)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label>Vencimento</mat-label>
                            <input id="datepicker" matInput [matDatepicker]="picker0" formControlName="expiration">
                            <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                            <mat-datepicker #picker0 startView="year" [startAt]="startDate"></mat-datepicker>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                                <span>{{validatorMessages.invalidDate(formMain,'expiration')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card>
                <mat-form-field fxFlex="100">
                    <mat-label>Observações</mat-label>
                    <textarea id="textarea" matInput cols="10" rows="5" type="text" formControlName="comments"></textarea>
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'comments', 'Observações',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </mat-card>
        </div>
        <div style="padding-top:30px;"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <button id="btnSave" mat-raised-button type="submit" (click)="save()">Salvar</button>
        </div>
    </div>
</div>
<div fxLayoutAlign="center center">
    <div>{{formMain.valid}}</div>
</div>
<div fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>
</div>
<br>