<div fxLayout="column" style="padding:50px;">
    <mat-card-title>Parceiro</mat-card-title>

    <form [formGroup]="formMain">
        <mat-card>
            <mat-form-field fxFlex="99">
                <mat-label>Nome Parceiro</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error>
                    <span>{{required(formMain,'name', 'Nome')}}</span>
                    <span>{{minMax(formMain,'name', 'Nome',null,50)}}</span>
                </mat-error>
            </mat-form-field>
        </mat-card>

        <mat-grid-list (window:resize)="screen()" [cols]="todayCnpjCols" [rowHeight]="todayCnpjRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>Data Inicio</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="today">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>CNPJ / CPF:</mat-label>
                        <input mask="CPF_CNPJ" matInput type="text" formControlName="cnpj" placeholder="CPF: 000.000.000-00 | CNPJ: 00.000.000/0000-00">
                        <mat-error>
                            <span>{{required(formMain,'cnpj', 'CNPJ / CPF')}}</span>
                            <span>{{minMax(formMain,'cnpj', 'CNPJ / CPF',8,15)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>








        <mat-card>
            <mat-grid-list (window:resize)="screen()" [cols]="responsibleBusinesslineTransporterCols" [rowHeight]="responsibleBusinesslineTransporterRowHeight">
                <mat-grid-tile>
                    <mat-form-field fxFlex="99">
                        <mat-label>Responsável</mat-label>
                        <input matInput type="text" formControlName="responsible">
                        <mat-error>
                            <span>{{required(formMain,'responsible', 'Responsável')}}</span>
                            <span>{{minMax(formMain,'responsible', 'Responsável',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field fxFlex="99">
                        <mat-label>Seguimento:</mat-label>
                        <input matInput type="text" formControlName="businessline">
                        <mat-error>
                            <span>{{required(formMain,'businessline', 'Seguimento')}}</span>
                            <span>{{minMax(formMain,'businessline', 'Seguimento',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label style="color:green;">
                        <h3>Transportador</h3>
                        <mat-checkbox class="big-checkbox" fxLayoutAlign="center center" formControlName="transporter">
                        </mat-checkbox>
                    </mat-label>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
        <mat-grid-list (window:resize)="screen()" [cols]="commentsCols" [rowHeight]="commentsRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="100">
                    <mat-form-field fxFlex="100">
                        <mat-label>Comentários:</mat-label>
                        <input matInput type="text" formControlName="comments">
                        <mat-error>
                            <span>{{minMax(formMain,'comments', 'comments',null,500)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </form>

    <comp-address (formLoad)="address($event)"></comp-address>

    <contact (formLoad)="contact($event)"></contact>



    <div fxFlex="100%">
        <mat-dialog-actions fxLayoutAlign="end end">

            <!-- [disabled]="!_formMonthly.valid" -->
            <button mat-raised-button color="primary" (click)="save()">Salvar</button>
        </mat-dialog-actions>
    </div>

</div>