<div class="border-around" [formGroup]="formMain">
    <title-container [titleString]="title" [subTitleString]="subTitle">
        <title-component>
        </title-component>
    </title-container>
    <br>
    <mat-card>
        <mat-card-title>Identificação Parceiro</mat-card-title>
        <mat-card>
            <mat-form-field fxFlex="99">
                <mat-label>Nome Parceiro</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,50)}}</span>
                </mat-error>
            </mat-form-field>
        </mat-card>
        <br>
        <mat-grid-list (window:resize)="screen()" [cols]="responsibleCnpjCols" [rowHeight]="responsibleCnpjRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>Responsável</mat-label>
                        <input matInput type="text" formControlName="responsible">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'responsible', 'Responsável')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'responsible', 'Responsável',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>CNPJ / CPF:</mat-label>
                        <input mask="CPF_CNPJ" matInput type="text" formControlName="cnpj" placeholder="CPF: 000.000.000-00 | CNPJ: 00.000.000/0000-00">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'cnpj', 'CNPJ / CPF')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'cnpj', 'CNPJ / CPF',8,15)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <div fxLayout="row">
            <mat-card-title>Sobre o parceiro</mat-card-title>
        </div>
        <mat-grid-list (window:resize)="screen()" [cols]="todayBusinesslineTransporterCols" [rowHeight]="todayBusinesslineTransporterRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99" id="height">
                    <mat-form-field fxFlex="99">
                        <mat-label>Data Inicio</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="today">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'today', 'Inicio')}}</span>
                            <span>{{validatorMessages.invalidDate(formMain,'today')}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99" id="height">
                    <mat-form-field fxFlex="99">
                        <mat-label>Seguimento:</mat-label>
                        <input matInput type="text" formControlName="businessline">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'businessline', 'Seguimento')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'businessline', 'Seguimento',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-label style="color:green;">
                        <h3 fxLayoutAlign="center center">Transportador</h3>
                        <mat-checkbox class="big-checkbox" fxLayoutAlign="center center" formControlName="transporter">
                        </mat-checkbox>
                    </mat-label>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <div fxLayout="column">
            <div fxLayout="row">
                <mat-card-title>
                    Observações
                </mat-card-title>
            </div>
            <div fxLayout="row" fxFlex="99">
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <textarea id="textarea" cols="30" rows="10" formControlName="comments" matInput placeholder="
      Descreva a procedência da peça que esta sendo cadastrada."></textarea>
                        <mat-error>
                            <span>{{validatorMessages.minMaxLength(formMain,'comments', 'Observações',null,500)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </div>
        </div>
        <br>
        <address></address>
        <contact></contact>
        <br>
        <div fxLayoutAlign="center center">
            <button [disabled]="!formMain.valid" id="btnSave" mat-raised-button (click)="save()">Salvar</button>
        </div>
    </mat-card>
</div>
