<table>

    <tr class="default_tr_th">
        <th class="mouse-pointer" [class]="styleTableTh(field)" *ngFor="let field of headers let i_th = index" (click)="getColumnEntity(field)">
            {{field}}
        </th>
    </tr>

    <tr class="default_tr_td" *ngFor="let entity of entities$ | async; let ind = index;">
        <td class="td-actions-icons">
            <mat-icon mat-icon-button [matTooltip]="icon.value" class="mat-icons mouse-pointer" fontSet="material-icons-outlined" *ngFor="let icon of matIcons | keyvalue" (click)="getEntity(entity, icon)">
                {{icon.key}}
            </mat-icon>
        </td>

        <td class="default_td" [class]="styleTableTd(fieldsInEnglish[xy])" *ngFor="let field of fieldsInEnglish let xy = index">
            {{entity[fieldsInEnglish[xy]]}}
            <div *ngIf="field == 'start'">
                {{entity[fieldsInEnglish[xy]] | ptBrDate}}
            </div>
        </td>
    </tr>
</table>