<ng-content select="[top-slim]">
</ng-content>
<div fxLayout="column" *ngFor="let levelZero of dataTree; let i = index;">

    <div class="dropdown btn-container" fxLayout="row" fxFlex>
        <div fxLayout="column" fxFlex="1">
        </div>

        <div fxLayout="column">
            <div>
                <mat-icon class="mouse-pointer mat-icon-settings">{{levelZero.icon}}</mat-icon>
                <div class="dropdown-content">
                    <mat-label class="btn-container-dropdown-title" fxLayoutAlign="start start" *ngIf="!levelZero.templateName">{{ levelZero.name }}</mat-label>
                    <div *ngIf="levelZero.children" fxLayout="column">
                        <div class="bg-color-btn-menu" *ngFor="let levelOne of levelZero.children">
                            <!-- full with arrow -->
                            <div class="btn-container-with-children mouse-pointer" fxLayout="row" *ngIf="levelOne.children" (click)="(levelZero.name)" (click)="rootMenuArrowOpenClosedOnAction(levelZero.children,levelOne.name)">
                                <div class="style-spacing-left-menu-item" fxLayout="column">{{ levelOne.name }}</div>
                                <div fxLayout="column" fxFlex>
                                </div>
                                <div fxLayout="column ">
                                    <mat-icon *ngIf="!levelOne.opened">keyboard_arrow_right</mat-icon>
                                    <mat-icon *ngIf="levelOne.opened">keyboard_arrow_down</mat-icon>
                                </div>
                            </div>
                            <!-- empty without arrow -->
                            <div class="btn-container-with-children mouse-pointer" fxLayout="row" (click)="navigateByUrl(levelOne.route)">
                                <div class="style-spacing-left-menu-item" fxLayout="column" *ngIf="!levelOne.children">{{ levelOne.name }}
                                    <div class="spacing-around-no-children"></div>
                                </div>
                                <div fxLayout="column" fxFlex>
                                </div>
                                <div fxLayout="column ">
                                </div>
                            </div>
                            <div class="bg-color-submenu mouse-pointer" fxLayout="row " *ngFor="let itemSubMenu of levelOne.children" (click)="navigateByUrl(itemSubMenu.route)">
                                <div class="style-spacing-item-sub-menu bg-color-padding-submenu" fxFlex *ngIf="levelOne.opened ">{{itemSubMenu.name}}
                                </div>
                            </div>
                            <div fxLayout="row">
                                <mat-divider fxFlex></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <mat-divider fxFlex></mat-divider>
    </div>
</div>
<div class="middle-space-horizontal-beteween-fields "></div>
<div fxLayout="column " class="circle-align-btn-collapse ">
    <div class="align-comment-icon " fxLayout="row ">
        <mat-icon fontSet="material-icons-outlined ">mode_comment</mat-icon>
    </div>

    <ng-content select="[arrow_right] "></ng-content>

</div>
