.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}

.circle-divider-bottom {
    width: 18px;
    height: 18px;
    border: 0.5px solid black;
    border-radius: 100%;
    margin-left: 10px;
}

.circle-align-btn-collapse {
    margin-bottom: 10px;
}

.btn-container {
    background-color: rgb(223, 223, 223);
    padding: 8px;
}

.btn-container:hover {
    margin-left: -5px;
    background-color: rgb(236, 236, 236);
    transition: background-color 400ms;
    transition-delay: 20ms;
}

.arrow-align-inside-circle {
    margin-left: -4px;
    margin-top: -3px;
}

.align-comment-icon {
    margin-left: 8px;
}

.mat-icon-settings {
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn-container-dropdown-title {
    background-color: rgb(204, 204, 204);
    font-weight: bolder;
    font-size: 11px;
    font-family: Mynerve;
    padding: 15px;
}

.btn-container-with-children {
    font-family: Mynerve;
    margin-bottom: 1px;
    margin-top: 10px;
}

.btn-container-with-children:hover {
    background-color: rgb(230, 230, 230);
}

.bg-color-btn-menu:hover {
    background-color: rgb(230, 230, 230);
}

.dropdown-content {
    margin-top: -35px;
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    left: 41px;
}

.spacing-around-no-children {
    padding: 10px;
}

.style-spacing-item-sub-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 11px;
    font-family: Mynerve;
}

.bg-color-padding-submenu {
    background-color: rgb(224, 224, 224);
    padding: 12px;
}

.bg-color-submenu {
    background-color: rgb(224, 224, 224);
}

.bg-color-submenu:hover {
    background-color: rgb(214, 214, 214);
}

.bg-color-padding-submenu:hover {
    background-color: rgb(214, 214, 214);
}

.style-spacing-left-menu-item {
    padding-left: 15px;
    font-size: 11px;
    font-family: Mynerve;
}

.dropdown:hover .dropdown-content {
    display: block;
}
