<ng-content select="[side-menu-top-slim]">
</ng-content>
<div fxLayout="column" *ngFor="let levelZero of dataTree; let i = index;">

    <div class="btn-container" fxLayout="row" fxFlex>

        <div fxLayout="column" fxFlex="1">

        </div>

        <div fxLayout="column">

            <mat-icon [matMenuTriggerFor]="tabledriven" (mouseover)="showMenu(levelOneTrigger)" #levelOneTrigger="matMenuTrigger" (mouseleave)="hideMenu(levelOneTrigger)">{{levelZero.icon}}</mat-icon>

        </div>

        <div fxLayout="column" fxFlex="3">

        </div>

        <div class="items-main" fxLayout="column">

        </div>

        <div fxLayout="column" fxFlex>

        </div>

        <div fxLayout="column">

        </div>

    </div>

    <div fxLayout="column">

        <mat-menu #tabledriven="matMenu">
            <ng-container>
                <mat-label *ngIf="!levelZero.templateName" mat-menu-item>{{ levelZero.name }}</mat-label>

                <div *ngIf="levelZero.children">
                    <div *ngFor="let levelOne of levelZero.children">
                        <div *ngIf="levelOne.children">

                            <button mat-menu-item [matMenuTriggerFor]="levelOne.elementRef" (click)="subMenuMtd(levelZero.name, levelOne.name, subMenu)">{{ levelOne.name }}</button>

                            <mat-menu #subMenu="matMenu">
                                <div *ngFor="let itemSubMenu of levelOne.children">

                                    <button mat-menu-item>{{itemSubMenu.name}}</button>

                                </div>
                            </mat-menu>

                        </div>

                        <button *ngIf="!levelOne.children" mat-menu-item>{{ levelOne.name }}</button>
                    </div>
                </div>
            </ng-container>
        </mat-menu>

    </div>

</div>
<div class="middle-space-horizontal-beteween-fields"></div>
<div fxLayout="column" class="circle.align-btn-collapse">
    <div class="align-comment-icon" fxLayout="row">
        <mat-icon fontSet="material-icons-outlined">mode_comment</mat-icon>
    </div>
    <div fxLayout="row" class="circle-divider-bottom">
        <div class="arrow-align-inside-circle">
            <ng-content select="[arrow_right]"></ng-content>
        </div>
    </div>

</div>

<!-- <div fxLayout="column" fxFlex="50">
    <mat-divider class="divider-bottom" fxFlex></mat-divider>
</div> -->