// // Classes de layout substitutas
// .flex-column {
//     display: flex;
//     flex-direction: column;
// }
// .flex-row {
//     display: flex;
//     flex-direction: row;
// }
// .gap-10 {
//     gap: 10px;
// }
// .align-center-center {
//     justify-content: center;
//     align-items: center;
// }
// .align-start-center {
//     justify-content: flex-start;
//     align-items: center;
// }
// .flex-1 {
//     flex: 1;
// }
// .flex-10 {
//     flex: 0 0 10%;
// }
// // Ajustes adicionais para substituição completa
// .top-nav {
//     display: flex;
//     margin-right: -10px; // Descomente se necessário
// }
// .logo-align {
//     padding-left: 90px;
//     padding-top: 20px;
// }
// .menu-opened {
//     width: 400px;
//     overflow: hidden;
// }
// .profile-menu-opended {
//     margin: -24px;
//     padding: 0;
// }
// .image-nav-bar {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .menu-title {
//     display: block;
//     padding: 0;
//     background: rgb(231, 231, 231);
//     height: 225px;
// }
