<div fxLayout="column" class="border-around">
    <title-component title [titleString]="'Produtos'" [subTitleString]="'Cadastrar Produto'">
    </title-component>

    <equipament [formMain]="equipamentForm">
    </equipament>

    <quantities [formMain]="formMain"></quantities>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <button mat-raised-button class="save-btn" (click)="save()">Salvar</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        {{formMain.value | json}}
    </div>
</div>