<div>
    <h1>Contatos</h1>
    <div fxLayout="column" [formGroup]="formMainLocal" fxLayoutGap="15px">
        <mat-card>
            <mat-grid-list (window:resize)="screen()" [cols]="emailSiteCols" [rowHeight]="emailSiteRowHeight">
                <mat-grid-tile>

                    <mat-form-field appearance="outline" fxFlex="99%">
                        <mat-label> E-mail:</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>
                            <span>{{validatorMessages.required(formMainLocal,'email', 'E-mail')}}</span>
                            <span>{{validatorMessages.mailField(formMainLocal,'email')}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" fxFlex="99%">
                        <mat-label>Site:</mat-label>
                        <input matInput formControlName="site">
                        <mat-error>
                            <span>{{validatorMessages.minMaxLength(formMainLocal,'site', 'Site', null, 100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list (window:resize)="screen()" [cols]="zapCelLandlineCols" [rowHeight]="zapCelLandlineRowHeight">
                <mat-grid-tile>
                    <mat-form-field appearance="outline" fxFlex="99">
                        <mat-label> Celular:</mat-label>
                        <input (blur)="validatorCustom.atLeastOneValidationBlur(formMainLocal, ['cel','zap','landline'])" matInput mask="(00) 0-0000-0000" formControlName="cel" placeholder="(00) 0-0000-0000">
                        <mat-error>
                            <span>{{validatorMessages.minMaxLength(formMainLocal,'cel', 'Celular', 11, 11)}}</span>
                            <span>{{validatorMessages.atLeastOne(formMainLocal,'cel', 'Celular')}}</span>
                            <span>{{validatorMessages.required(formMainLocal,'cel', 'Celular')}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" fxFlex="99">
                        <mat-label>WhatsApp</mat-label>
                        <input (blur)="validatorCustom.atLeastOneValidationBlur(formMainLocal, ['cel','zap','landline'])" matInput mask="(00) 0-0000-0000" formControlName="zap" placeholder="(00) 0-0000-0000">
                        <mat-error>
                            <span>{{validatorMessages.minMaxLength(formMainLocal,'zap', 'WhatsApp', 11, 11)}}</span>
                            <span>{{validatorMessages.atLeastOne(formMainLocal,'zap', 'WhatsApp')}}</span>
                            <span>{{validatorMessages.required(formMainLocal,'zap', 'WhatsApp')}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" fxFlex="99">
                        <mat-label>Tel. Fixo:</mat-label>
                        <input (blur)="validatorCustom.atLeastOneValidationBlur(formMainLocal, ['cel','zap','landline'])" matInput mask="(00) 0-000-0000" formControlName="landline" placeholder="(00) 0-000-0000">
                        <mat-error>
                            <span>{{validatorMessages.minMaxLength(formMainLocal,'landline', 'Telefone Fixo', 10, 10)}}</span>
                            <span>{{validatorMessages.required(formMainLocal,'landline', 'Telefone Fixo')}}</span>
                            <span>{{validatorMessages.atLeastOne(formMainLocal,'landline', 'Telefone Fixo')}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
        <div fxLayout="column" fxLayoutAlign="center center">
            <br>
            <div fxLayout="row" fxLayoutAlign="end end">
                <button id="btnAdd" mat-raised-button color="primary" (click)="addSocialNets()">
          <mat-icon>add</mat-icon>&nbsp;&nbsp;Adicionar
        </button>
            </div>
            <br>
            <div id="labelBtnAdd" fxLayout="row" fxLayoutAlign="end end">
                <h1>Rede Social</h1>
            </div>
        </div>

        <div fxFlex="99" fxLayout="column">
            <div formArrayName="socialnetworks" *ngFor="let scnw of socialNets.controls; let i = index;">

                <div [formGroupName]="i">
                    <mat-card>
                        <mat-grid-list (window:resize)="screen()" [cols]="socialNetUrlButtonRemoveCols" [rowHeight]="socialNetUrlButtonRemoveRowHeight">
                            <mat-grid-tile>
                                <mat-form-field appearance="outline" fxFlex="99">
                                    <mat-label>Rede Social</mat-label>
                                    <input matInput id="socialnetName" formControlName="name">
                                    <mat-error>
                                        <span>{{validatorMessages.required(subFormLocal,'name', 'Nome')}}</span>
                                        <span>{{validatorMessages.minMaxLength(subFormLocal,'name', 'name', 3, 150)}}</span>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline" fxFlex="99">
                                    <mat-label>Url (Link)</mat-label>
                                    <input matInput id="socialnetUrl" formControlName="url">
                                    <mat-error>
                                        <span>{{validatorMessages?.required(subFormLocal,'url', 'URL')}}</span>
                                        <span>{{validatorMessages?.minMaxLength(subFormLocal,'url', 'URL', null, 150)}}</span>
                                    </mat-error>
                                </mat-form-field>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <button fxFlex="50" mat-raised-button color="warn" style=" width: 180px; height: 40px; font-size: 25px;" (click)="removeNets(i)">
                  <mat-icon>clear</mat-icon>&nbsp;&nbsp;Remover
                </button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>

    </div>

</div>