<mat-sidenav-container class="mat-drawer-inner-container" autosize>
    <!-- [hasBackdrop]="true" -->

    <mat-sidenav opened mode="side" #sidenav role="navigation" [style]="matSideNavStyle">

        <tests></tests>
        <!-- <table class="side-nav-table" BORDER=0 CELLSPACING=0>

            <tree-g [treeData]="dataTree" (expandContract)="toggle()">
            </tree-g>



        </table> -->
    </mat-sidenav>

    <mat-sidenav-content [style]="styleSidenavContent">
        <top-bar>
            <div btn-menu><button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></div>
        </top-bar>

        <main (click)="collapseAll()">
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>
