.container {
    &--menu-large {
        max-width: 250px;
        height: 250px;
    }
}


/* Garante altura total no container principal */

.mat-sidenav-container {
    height: 100vh;
}


/* Habilita rolagem apenas no conteúdo principal */

// .mat-sidenav-content {
//     overflow-y: auto;
//     /* Rolagem vertical */
//     overflow-x: hidden;
//     /* Evita rolagem horizontal */
// }

/* Ajuste de espaçamento para conteúdo */

main {
    // padding: 16px;
    min-height: calc(100vh - 96px);
    /* Ajuste conforme suas medidas */
}

mat-sidenav {
    height: 100vh;
    overflow: hidden;
}


/* Para navegadores WebKit (Chrome, Safari) */

// ::ng-deep mat-sidenav::-webkit-scrollbar {
//     width: 2px;
// }

/* Para Firefox */

mat-sidenav {
    scrollbar-width: thin;
    scrollbar-color: #616161 #424242;
}

::ng-deep .mat-drawer-inner-container {
    /* Para Firefox - Hack de redução visual */
    scrollbar-color: #616161 transparent !important;
    scrollbar-width: thin !important;
}


/* Hack para Firefox - Criar barra mais fina usando gradiente */

@supports (-moz-appearance: none) {
     ::ng-deep .mat-drawer-inner-container {
        background-image: linear-gradient(to right, #616161 1px, transparent 1px);
        background-size: 2px 100%;
        background-repeat: no-repeat;
        background-position: right top;
    }
}


/* Para WebKit (Chrome, Edge, Safari) */

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
    width: 0.5px !important;
    /* Barra ultra-fina */
    height: 0 !important;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: #616161 !important;
    border-radius: 0 !important;
}


/* Adicione isto ao seu CSS global ou use ::ng-deep no componente pai */

// ::ng-deep .mat-drawer-inner-container {
//   /* Scrollbar vertical */
//   scrollbar-width: thin;
//   /* Para Firefox */
//   scrollbar-color: #616161 #424242;
//   /* Para Firefox */
//   /* Remover scroll horizontal */
//   overflow-x: hidden !important;
// }