mat-sidenav-container {
    overflow: hidden;
    /* width */
}

mat-sidenav-content {
    height: 100%;
    width: 100%;
    /* margin-left: 10px; */
}

mat-sidenav {
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
    /* padding-top: 50px; */
    /* padding-left: 15px;
    margin: -20px; */
    overflow: hidden;
    /*  */
    /*  */
    /*  */
    /*  */
     ::-webkit-scrollbar {
        /* width: 7px; */
        display: none;
    }
    /* .mat-drawer-inner-container {
        overflow-x: hidden;
    } */
    /* Track */
     ::-webkit-scrollbar-track {
        /* background: #f1f1f1; */
        /* background-color: rgba(10, 23, 55, 0.5); */
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        /* background: #888; */
        /* background-color: rgba(10, 23, 55, 0.5);
        border-radius: 80px; */
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        /* background-color: rgba(10, 23, 55, 0.5); */
        /* background: #555; */
    }
}

mat-sidenav:hover {
    /* background-color: white;
    transition: width 0.5s, transform 2s; */
}

mat-sidenav-container>mat-sidenav>nav>ul {
    text-align: initial;
    list-style: none;
}

.side-nav-table {
    padding-left: 10px;
    padding-bottom: 80px;
}

.top-nav {
    width: 255px;
    height: 255px;
    /* background-color: #2ca1a8; */
    background-color: #183f17;
    /* box-shadow: rgb(253 253 253 / 35%) 0px 5px 15px; */
}
