<div class="p-4">
    <title-component [digit]="'|'" [textTitleComp]="institution" [icon]="'attach_money'">
    </title-component>

    <bank-account [formMain]="formMain" [mainIcon]="'edit'" [mainTitle]="institution">
        <pix pix [formMain]="formMain" [noBeneficiaryField]="false" [edit]="true" [pixesEntities]="pixes">
        </pix>

    </bank-account>

    <bank-cards [formMain]="formMain" [edit]="true" [cards]="cards" [mainIcon]="'payment'">
    </bank-cards>
    <!-- {{formMain.value | json}} -->
    <div class="ml-4 pb-12 sm:w-full sm:flex sm:justify-center">
        <btn-g [name]="'Atualizar'" [icon]="'save'" (btn)="update()"></btn-g>
    </div>
</div>
