<div class="border-around" >
    <title-component [digit]="'|'" [titleString]="institution" [icon]="'attach_money'">
    </title-component>

    <bank-account [formMain]="formMain" [mainIcon]="'edit'" [mainTitle]="institution">
        <pix pix [formMain]="formMain" [noBeneficiaryField]="false" [edit]="true" [pixesEntities]="pixes">
        </pix>
        <div class="middle-space-horizontal-beteween-fields"> </div>
    </bank-account>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <bank-cards [formMain]="formMain" [edit]="true" [cards]="cards" [mainIcon]="'payment'">
    </bank-cards>
    <!-- {{formMain.value | json}} -->
    <div  fxLayoutAlign="center center">
        <btn-g [name]="'Atualizar'" [icon]="'save'" (btn)="update()"></btn-g>
    </div>
</div>