<form [formGroup]="formMain" class="w-full">
    <div class="w-full">
        <div>
            <mat-label>Pixes</mat-label>
        </div>
        <mat-form-field class="w-full" appearance="outline">
            <mat-select placeholder="Selecione um pix" (selectionChange)="onPixesSelected($event)" formControlName="pixId">
                <mat-option *ngFor="let pix of pixes | async" [value]="pix.id">
                    {{pix.key}} {{' | '}}{{pix.value}}
                </mat-option>
            </mat-select>
            <mat-error>
                <span *ngIf="formErrorAndTouched(formMain,'pixId', 'required')">{{defaultMessages.requiredMsg}}</span>
            </mat-error>
        </mat-form-field>
    </div>
</form>
