<div class="p-4">
    <h3 class="title-categories-divide-comp">Financeiro</h3>
</div>
<div class="p-4 w-full grid grid-cols-1 sm:grid-cols-5 gap-4" [formGroup]="formMain">


    <div class="w-full">
        <mat-checkbox (change)="assured()" (change)="validatorCustom.checkedBoxValidator(additionalCosts,$event.checked, ['fixedPhysicallyMovingCosts'])" (change)="validatorCustom.checkedBoxValidator(formMain,$event.checked,['payment','expiration'])" formControlName="assured">
        </mat-checkbox>

        <mat-label>Mensal
        </mat-label>
    </div>

    <div class="w-full">
        <mat-label class="mat-label">Mensalidade
        </mat-label>
        <mat-form-field class="w-full">
            <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="payment" aria-label="Mensalidade">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="w-full" formGroupName="additionalCosts">
        <mat-label class="mat-label">Custo Fixo in loco
        </mat-label>
        <mat-form-field class="w-full">
            <input matInput type="text" currencyMask formControlName="fixedPhysicallyMovingCosts" aria-label="Custo Fixo in loco">
            <mat-error>
                <span>{{validatorMessages.required(additionalCosts,'fixedPhysicallyMovingCosts', 'Valor')}}</span>
                <span>{{validatorMessages.minMaxLength(additionalCosts,'fixedPhysicallyMovingCosts', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(additionalCosts,'fixedPhysicallyMovingCosts', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="w-full">
        <mat-label class="mat-label">Dia do vencimento
        </mat-label>
        <mat-form-field class="w-full">
            <input matInput min="1" max="31" type="number" formControlName="expiration" aria-label="Dia do vencimento">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="w-full">
        <mat-label class="mat-label">Desconto
        </mat-label>
        <mat-form-field class="w-full">
            <input matInput type="text" currencyMask formControlName="discount" aria-label="Desconto">
        </mat-form-field>
    </div>

</div>
