<ng-content select="[add]"></ng-content>
<br>
<br>
<h3 *ngIf="formArray.length > 0" class="title-editable">Campos editáveis:</h3>
<mat-divider *ngIf="formArray.length > 0"></mat-divider>
<br>
<div class="container-level-0" [formGroup]="formMain">
    <div class="container-level-1" [formArrayName]="arrayName" *ngFor="let ctrls of formArray.controls let i = index">
        <div class="container-level-2" *ngIf="!isDeleted(ctrls.get('deleted').value)">
            <div class="index">{{i+1}}</div>
            <div [formGroupName]="i">
                <button id="btn-remove" mat-icon-button
                    (click)="removeItemArray('type', i, formArray)"><mat-icon>clear</mat-icon></button>

                <mat-form-field [class]="{'model':(ctrls.get('name').hasError('maxlength') || ctrls.get('name').hasError('required') && entityToEdit == 'model')}" appearance="outline">
                    <mat-label>{{labelInput}}</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="ctrls.get('name').hasError('required')">
                        <span>{{requiredMsg}}</span>
                    </mat-error>
                    <mat-error *ngIf="ctrls.get('name').hasError('maxlength')">
                        <span>{{maxLengthMsg + '50' + charactersMsg}}</span>
                    </mat-error>
                </mat-form-field>

                <div *ngIf="entityToEdit == 'model'">
              
                    <mat-form-field [class]="{'speed':ctrls.get('speed').hasError('maxlength')}" appearance="outline">
                        <mat-label>Velocidade</mat-label>
                        <input type="text" matInput [placeholder]="placeholderProductType" formControlName="speed">
                        <mat-error *ngIf="ctrls.get('speed').hasError('maxlength')">
                            <span>{{maxLengthMsg + '50' + charactersMsg}}</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field [class]="{'capacity':ctrls.get('capacity').hasError('maxlength')}" appearance="outline">
                        <mat-label>Capacidade</mat-label>
                        <input type="text" matInput [placeholder]="placeholderProductType" formControlName="capacity">
                        <mat-error *ngIf="ctrls.get('capacity').hasError('maxlength')">
                            <span>{{maxLengthMsg + '50' + charactersMsg}}</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field [class]="{'description':ctrls.get('description').hasError('maxlength')}" appearance="outline">
                        <mat-label>Descrição</mat-label>
                        <input type="text" matInput [placeholder]="placeholderProductType" formControlName="description">
                            <mat-error *ngIf="ctrls.get('description').hasError('maxlength')">
                                <span>{{maxLengthMsg + '500' + charactersMsg}}</span>
                            </mat-error>
                    </mat-form-field>
                </div>


            </div>
        </div>
    </div>
</div>