<div (window:resize)="screen()" [fxLayout]="smallCurrentSizeScreen" fxFlex>
    <!-- defaultSubtitle -->
    <div [fxLayout]="'column'" *ngIf="singleStatusSubtitle">
        <div *ngIf="defaultSubtitle" id="space-components" [fxLayout]="bigCurrentSizeScreen" fxLayoutGap="10" fxFlex>
            <div fxLayout="row">
                <span class="dimensions-subtitle bg-color-expired"></span><span class="space-subtitle">Vencida</span>
            </div>
            <div class="small-space-horizontal-beteween-fields"></div>
            <div fxLayout="row">
                <span class="dimensions-subtitle bg-color-will-expire"></span><span class="space-subtitle">Pendente</span>
            </div>
            <div class="small-space-horizontal-beteween-fields"></div>
            <div fxLayout="row">
                <span class="dimensions-subtitle bg-color-paid"></span><span class="space-subtitle">Liquidada</span>
            </div>
        </div>
        <div style="padding-top:70px;" *ngIf="smallCurrentSizeScreen == 'row'">

        </div>
    </div>
    <br>

    <div [fxLayout]="smallCurrentSizeScreen" fxLayout="row">
        {{title}}
    </div>


    <div fxFlex="30" *ngIf="smallCurrentSizeScreen == 'row'">

    </div>
    <div id="whenSmallSpaceTop" *ngIf="smallCurrentSizeScreen == 'column'">

    </div>

    <!-- singleStatusSubtitle -->
    <div *ngIf="singleStatusSubtitle">
        <div [fxLayout]="bigCurrentSizeScreen" *ngFor="let status of statusCollection">
            <div fxLayout="smallCurrentSizeScreen" [class]="status.squareBgColor" style="height: 50px; width: 50px;" *ngIf="status.visible">

            </div>
            <div fxFlex="5" *ngIf="bigCurrentSizeScreen == 'row'">

            </div>
            <span *ngIf="bigCurrentSizeScreen == 'row'">
                <div fxLayout="smallCurrentSizeScreen" class="dimensions-subtitle-single-status" *ngIf="status.visible">
                    <div [class]="status.monthColorName" class="subtitleRow">
                        {{status.name | uppercase}}
                    </div>
                </div>
            </span>
            <span *ngIf="bigCurrentSizeScreen == 'column'">
                <div fxLayout="smallCurrentSizeScreen" class="dimensions-subtitle-single-status" *ngIf="status.visible">
                    <div [class]="status.monthColorName" class="subtitleColumn">
                        {{status.name | uppercase}}
                    </div>
                </div>
            </span>
        </div>
    </div>
    <br>
    <div [fxLayout]="smallCurrentSizeScreen" *ngFor="let status of statusCollection">
        <div *ngIf="status.visible" [class]="status.monthColorName">
            {{'VENCIMENTO:'}} {{expiresDate | ptBrDate:'Date'}}
        </div>
    </div>


</div>