<div fxLayout="column">
    <div fxLayout="row" *ngIf="this.formMain.get('customerId').value">
        <div class="costsTitle" fxLayout="column">
            {{'CUSTOS'}}
        </div>
        <div class="margin-divider-title" fxLayout="column" fxFlex>
            <mat-divider fxFlex></mat-divider>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex [formGroup]="subForm">
        <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxFlex fxLayoutGap="10" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex>
                <div style="font-size: 20px; color:red;" *ngIf="!this.formMain.get('customerId').value">
                    {{'Selecione um cliente no topo desta tela, por favor.'}}
                </div>
                <div class="middle-space-horizontal-beteween-fields"></div>
                <mat-form-field appearance="outline" *ngIf="this.formMain.get('customerId').value">
                    <mat-label>Tipo de custo</mat-label>
                    <mat-select formControlName="costFrom" (selectionChange)="kindCostsMoving($event)">
                        <mat-option *ngFor="let cost of costs.costsTypes | keyvalue : sort" [value]="cost.value">
                            {{cost.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" *ngIf="hideShowPaymentKind" fxFlex>
                <div class="middle-space-horizontal-beteween-fields"></div>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Modificar Valor</mat-label>
                    <input matInput type="text" currencyMask formControlName="price">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="this.formMain.get('customerId').value" fxFlex>
                <mat-label>Coleta/Entrega</mat-label>
                <mat-checkbox formControlName="roundTrip" fxLayoutAlign="start center" (change)="roundTrip($event.checked)">
                </mat-checkbox>
            </div>
            <div>

            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <div style="font-size: 30px; color:red;" fxLayout="row" *ngIf="this.formMain.get('customerId').value">
                    {{this.priceShow | ptBrCurrency}}
                </div>
            </div>
        </div>
    </div>
    <mat-divider fxFlex></mat-divider>
    <!-- <div class="border-around" fxLayout="row" fxLayoutAlign="center center">
        {{formM.value | json}}
    </div> -->
</div>