@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
#icon {
    text-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0);
    color: rgb(0, 97, 13);
    font-size: 115px;
    padding-right: 105px;
    /* padding-top: 55px; */
    text-align: center;
}

#icon:hover {
    /* text-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0); */
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    color: rgb(0, 97, 13);
    font-size: 115px;
    padding-right: 105px;
    /* padding-top: 55px; */
    text-align: center;
}

#nsti {
    text-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0);
    color: rgb(0, 97, 13);
    font-size: 35px;
    /* padding-right: 105px;
    padding-top: 55px; */
    text-align: center;
}

#nsti:hover {
    /* text-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0); */
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    color: rgb(0, 97, 13);
    font-size: 35px;
    font-weight: bold;
    /* padding-right: 105px;
    padding-top: 55px; */
    text-align: center;
}

#wordsInMenu {
    text-shadow: 1px 1px 0px rgb(8, 71, 0), 2px 2px 0px rgb(26, 99, 4);
    text-decoration: none;
    /* text-shadow: 0px 0px 9px rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* padding-right: 105px;
    padding-top: 55px; */
    text-align: left;
    text-decoration: none;
}

.mat-button-base {
    text-decoration: none;
}

#wordsInMenu:hover {
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-weight: bold;
    /* text-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    font-size: 20px;
    /* padding-right: 105px;
    padding-top: 55px; */
    text-align: left;
}

#name-client {
    text-shadow: 0 0 3px #000000, 0 0 3px #000000;
    text-align: center;
}

hr {
    box-shadow: 0px 0px 9px rgb(255, 255, 255);
    width: 90%;
}

mat-sidenav-container,
mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 290px;
    background-color: #183f17;
}

mat-toolbar {
    background-color: #183f17;
    height: 100px;
}

mat-sidenav-container>mat-sidenav>nav>ul {
    text-align: initial;
    list-style: none;
}

nav {
    margin-top: 30px;
}

nav ul {
    /* background: linear-gradient(top, darkgreen 0%, rgb(7, 68, 34));
    background: -moz-linear-gradient(top, darkgreen 0%, rgb(7, 68, 34));
    background: -webkit-linear-gradient(top, darkgreen 0%, rgb(7, 68, 34)); */
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul li a {
    color: white;
    font-size: 20px;
    /* background: #183f17; */
    height: 40px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 5px;
    padding-left: -50px;
}

nav ul li a:hover {
    color: rgb(58, 158, 58);
    height: 40px;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
}

.mat-tree-node:hover {
    color: rgba(255, 255, 255, 0.658) !important;
}

.mat-tree-node {
    color: rgb(43, 99, 11) !important;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    height: 10px;
    display: block;
}

.mat-focus-indicator {}

.mat-tree {
    background-color: transparent;
}

.mat-icon-rtl-mirror {
    padding-bottom: 53px;
    padding-right: 33px;
    /* color: rgb(0, 87, 22); */
    font-size: 35px;
}

#border {
    border-right: 3px solid rgb(0, 90, 12);
    text-shadow: 0px 0px 9px rgb(20, 124, 6);
    box-shadow: 0px 0px 9px rgb(49, 255, 42);
}


/* .notranslate {}

.material-icons {} */


/* .example-tree-progress-bar {
    margin-left: 30px;

} */


/* .bg {
    background-image: url('../../../assets/left-side.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtOP {
    background-image: url('../../../assets/b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
} */


/* .box-shadow-3d {
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
    box-shadow: 0px 0px 9px rgb(255, 255, 255);
} */
