<mat-sidenav-container class="sidenav" style="border:5px solid white;">
    <mat-sidenav mode="side" opened #sidenav role="navigation" class="bg" id="border">

        <div style="text-align: center; text-decoration: none;">
            <br>
            <div fxLayoutAlign="center center" id="nsti">
                NO STOP TI

            </div>
            <br>
            <mat-icon id="icon">language </mat-icon>

            <!-- <div> <img src="../../../assets/logo-gimp.png"> </div> -->
        </div>
        <hr>
        <nav>
            <div style="padding-left:10px;">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                        <a (click)="nav(node.route)">
                            <p style="font-size:small; color:rgb(92, 196, 23); "> {{(node.name).toUpperCase()}}</p>
                        </a>
                    </mat-tree-node>

                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        <a fxFlex="100%" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                            <h6 id="wordsInMenu"> {{(node.name).toUpperCase()}}
                            </h6>
                            <!-- <hr fxLayoutAlign="start start"> -->

                        </a>
                        <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar">
                        </mat-progress-bar>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </nav>
        <!-- <br>
        <br>
        <br>
        <br>
        <hr> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="bgtOP">
            <div><button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button></div>
            <app-navbar></app-navbar>
            <div fxFlex></div>
            <div>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> Login</a>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
