<ng-container>
    <ng-content select="[fromOut]"></ng-content>
</ng-container>
<section class="container">

    <div class="container--digit">{{'|'}}</div>
    <div class="container--title">{{'Produto'}}</div>
    <!-- <div class="child">
        <mat-icon class="child" id="icon">{{icon}}</mat-icon>
    </div>
    <div class="child">
        <ng-content select="[btn-1]"></ng-content>
    </div>
    <div fxFlex="4"></div>
    <div class="child">
        <ng-content select="[btn-2]"></ng-content>
    </div> -->
</section>
