.container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    max-height: 750px;
    background-color: white;
    border: 0.5px solid#2ba1a8;
}

.line {
    border: 0.5px solid #9e9e9e;
    margin: 10px;
}