<!-- <mat-card>
    <sub-title title class="font-title" [title]="'Efetuar pagamento'" [styleContainerTitle]="'padding-top:8px;'" [titleStyle]="'font-family: Mynerve; font-size: 24px;'" [height]="'height:60px'"></sub-title>
    <mat-dialog-content style="padding-top: 20px">


        <div fxLayout="row" fxLayoutAlign="start start">
            <p><b>Despesa: </b></p>
            <p>{{itemToBePay}}</p>

        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <p><b>Descrição:</b></p>
            <p>{{itemDescription}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <p><b>Valor cadastrado:</b></p>
            <p>{{registeredPrice | ptBrCurrency}}</p>
        </div>

    </mat-dialog-content>
    <div fxLayout="row" class="margin" fxLayoutGap="30px">
        <div fxLayout="column" fxFlex>
        </div>
        <div fxLayout="column">
            <btn-cancel-g mat-dialog-close (click)="clickedNo('cancel')"></btn-cancel-g>
        </div>
        <div fxLayout="column">
            <btn-delete-g (click)="clickedYes(this.id,'yes')"></btn-delete-g>
        </div>
    </div>

</mat-card> -->

<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Contas bancárias'" [icon]="'account_balance'">
        <!-- <btn-add-g btn-1 (add)="add()"></btn-add-g> -->
    </title-component>
    <div>
        <div fxLayout="column" fxFlex>
            <mat-card class="mat-card-sub-title" fxFlex>
                <sub-title title [title]="'Contas a pagar'" [icon]="'list'"></sub-title>
                <br>
                <bank-account-mat-select-single [urlBackEndApi]="'GetAllFnBankAccount'" [formMain]="formMain" (banckAccountelected)="onSelectedBanckAccountelected($event)">
                </bank-account-mat-select-single>
            </mat-card>
        </div>
    </div>
</div>