<div [fxLayout]="screenFieldPosition" [fxLayoutGap]="'10'">

    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Conta bancária</mat-label>
        <mat-select placeholder="Pesquise pelo nome" #singleSelect
            (selectionChange)="onCardsSelected(singleSelect.value)">
            <mat-option *ngFor="let card of $cards | async" [value]="card">
                <div>
                    {{card.flag}} {{' | '}}{{card.number | bankCardNumber}}
                </div>
            </mat-option>
        </mat-select>
        <mat-error>
            <span class="error">{{validatorMessages.required(formMain,'idBankAccount', '* Obrigatório')}}</span>
        </mat-error>
    </mat-form-field>
</div>
<div fxLayout="column" *ngIf="showDataBank">
    <mat-card class="mat-card-sub-title" fxFlex>


        <div id="body" fxLayout="column">

            <!-- data bank -->

            <div [fxLayout]="''" fxLayoutGap="10">
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span></p>
                        </div>

                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Banco:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{bankAccount.institution}}</p>
                        </div>
                    </div>
                </div>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span></p>
                        </div>

                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Conta:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{bankAccount?.account}}</p>
                        </div>
                    </div>
                </div>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span></p>
                        </div>

                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Agência:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{bankAccount?.agency}}</p>
                        </div>
                    </div>
                </div>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span></p>
                        </div>
                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Titular:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{bankAccount?.holder}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </mat-card>
</div>