<div fxLayout="column" class="border-around" *ngIf="fillersExpenses">
    <title-component [digit]="'|'" [titleString]="'Cadastro de despesas anual'" [icon]="'attach_money'">
    </title-component>
    <mat-card [formGroup]="formMain" fxLayout="column" *ngIf="formMain">
        <sub-title title [title]="'Cadastro de despesa anual'" [icon]="'add'"></sub-title>
        <div class="middle-space-horizontal-beteween-fields"> </div>






        <div [fxLayout]="'row'" fxLayoutGap="10">
            <div [fxLayout]="'column'">
                <mat-checkbox #include (change)="includeMtd($event.checked)">Incluir</mat-checkbox>
            </div>

        </div>

        <br>
        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline" #tooltip="matTooltip" [matTooltip]="messageTooltipNameOther" [matTooltipPosition]="matTooltip.position.value" [matTooltipHideDelay]="matTooltip.matTooltipHideDelay" [matTooltipDisabled]="matTooltip.enableDisable">
                    <mat-label>Despesa</mat-label>
                    <mat-select formControlName="nameId" (click)="includeMtd(false)" (selectionChange)="selectedExpenses($event)" *ngIf="!include.checked">
                        <mat-option [value]="expense.id" *ngFor="let expense of fillersExpenses | async">
                            {{expense.expensesName | uppercase}}</mat-option>
                    </mat-select>
                    <input matInput type="text" (blur)="includeMtd(true)" formControlName="nameNew" aria-label="Nova Despesa" *ngIf="include.checked">
                    <mat-error [hidden]="!include.checked">
                        <span>{{validatorMessages.required(formMain,'nameId', 'Despesa')}}</span>
                        <span>{{validatorMessages.changeSelection(formMain,'nameId', 'Despesa')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'nameId', 'Despesa',null,150)}}</span>
                    </mat-error>
                    <mat-error [hidden]="include.checked">
                        <span>{{validatorMessages.required(formMain,'nameNew', 'Despesa')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'nameNew', 'Despesa',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="20">
                <mat-form-field appearance="outline">
                    <mat-label>Início</mat-label>
                    <input matInput formControlName="start" [matDatepicker]="start" aria-label="início">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'start', 'Vencimento')}}</span>
                        <span>{{validatorYearlyAction.incorrectDate(formMain,'start', 'Inicio')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="20">
                <mat-form-field appearance="outline">
                    <mat-label>Vencimento</mat-label>
                    <input matInput formControlName="expiration" [matDatepicker]="picker" aria-label="Dia do vencimento" (dateChange)="validatorYearlyAction.validateDate(formMain, 'start', 'expiration')">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                        <span>{{validatorYearlyAction.incorrectDate(formMain,'expiration', 'Vencimento')}}</span>
                    </mat-error>
                </mat-form-field>


            </div>
            <!-- <div fxLayout="column" fxFlex="20">
                <mat-form-field appearance="outline">
                    <mat-label>Inicio</mat-label>
                    <input matInput formControlName="start" [matDatepicker]="start" aria-label="inicio">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'start', 'Vencimento')}}</span>
                        <span>{{validatorMessages.minMax(formMain,'start', 'Vencimento',1,31)}}</span>
                    </mat-error>
                </mat-form-field>


            </div>
            <div fxLayout="column" fxFlex="20">
                <mat-form-field appearance="outline">
                    <mat-label>Dia do vencimento</mat-label>
                    <input matInput formControlName="expiration" [matDatepicker]="picker" aria-label="Dia do vencimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                        <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
                    </mat-error>
                </mat-form-field>


            </div> -->
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline" fxFlex>
                    <mat-label>Valor</mat-label>
                    <input currencyMask matInput type="text" formControlName="price" aria-label="Valor">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'price', 'Valor')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div [fxLayout]="'column'">
            <mat-checkbox formControlName="autoRenew">Renovação Automatica</mat-checkbox>
        </div>

        <br>

        <div fxLayout="row" [ngClass]="{'space-description':makeSpaceFields(), 'without-space-description':!makeSpaceFields()}">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput type="text" formControlName="nameIdentification" aria-label="Descrição">
                <mat-hint>EX: Seguro Casa, Seguro Escritório, Luz residência, Internet loja etc...</mat-hint>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'nameIdentification', 'Despesa')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'nameIdentification', 'Despesa',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div fxLayout="row">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Link Segunda via</mat-label>
                <input matInput type="text" formControlName="linkCopyBill" placeholder="Link Segunda via" aria-label="Link Segunda via">
                <mat-error>
                    <span>{{validatorMessages.minMaxLength(formMain,'linkCopyBill', 'Link segunda via',null,150)}}</span>

                </mat-error>
            </mat-form-field>
        </div>


        <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
            <div fxLayout="column" fxFlex>

                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput type="text" formControlName="userLinkCopyBill" aria-label="Usuário">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'userLinkCopyBill', 'Usuário',null,50)}}</span>
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="column" fxFlex>

                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="passLinkCopyBill" aria-label="Senha">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'passLinkCopyBill', 'Senha',null,20)}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
        </div>

        <div>{{formMain.value | json}}</div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>
    </mat-card>
</div>
