<div class="border-around">

    <title-component [digit]="'|'" [titleString]="'Produto'" [icon]="'storage'" [styleContainerBelow]="'display:none;'">
    </title-component>

    <div class="container">


        <mat-card class="container--mat-card">
            <div class="container--card-title">
                <sub-title-description title [title]="'Produto'" [icon]="'add'"></sub-title-description>
            </div>
            <div class="container--card-body">
                <p><span>PRODUTO:</span></p>
                <p><strong>{{ productTemplate.productType?.name }}</strong></p>
                <p><strong>SEGMENTO:</strong> </p>
                <p><span>{{ productTemplate.segment?.name }}</span></p>
                <p><strong>FABRICANTE:</strong> </p>
                <p><span>{{ productTemplate.manufacturer?.name }}</span></p>
                <p><strong>MODELO:</strong> </p>
                <p><span>{{ productTemplate.model?.name }}</span></p>
                <p><strong>QUANTIDADE:</strong> </p>
                <p><span>{{ productTemplate.quantity }}</span></p>
                <p><strong>FORNECEDOR:</strong> </p>
                <p><span>{{ productTemplate.supplier?.name }}</span></p>
                <p><strong>NÚMERO NF-E:</strong> </p>
                <p><span>{{ productTemplate.purchaseInvoiceNumber }}</span></p>

                <p><strong>PREÇO DE VENDA:</strong> </p>
                <p><span>{{ productTemplate.soldPrice | currency}}</span></p>
                <p><strong>DATA DE ENTRADA:</strong> </p>
                <p><span>{{ productTemplate.entryDate | date:'medium'}}</span></p>

                <p><strong>USADO:</strong> </p>
                <p><span>{{ productTemplate.isUsed ? 'Yes' : 'No' }}</span></p>
                <p><strong>TESTADO:</strong> </p>
                <p><span>{{ productTemplate.isTested | date:'medium' }}</span>
                </p>
                <p><strong>LINK FABRICANTE:</strong> </p>
                <p><span>{{productTemplate.specificities?.manufacturerLink }}</span></p>
                <div style="display: flex; justify-content: center;">
                    <h4>DESCRIÇÃO:</h4>
                </div>

                <mat-label>REDUZIDA:</mat-label>
                <br>
                <textarea autoResize>{{ productTemplate?.description }}</textarea>
                <br>
                <br>
                <mat-label>COMPLETA:</mat-label>
                <br>
                <textarea autoResize>{{ productTemplate?.detailedDescription }}</textarea>

            </div>
        </mat-card>
    </div>
</div>