<div class="border-around small-large-screen">
    <br>
    <br>
    <br>

    <title-details>
    </title-details>
    <!-- <title-component [styleContainerBelow]="'display: flex; width: 100%; height: 10px;'" [digit]="'|'"
        [titleString]="'Detalhes'" [icon]="'storage'" [btnFromOut]="true">
        <button mat-dialog-close class="main-bg-color white-text-color" btnFromOut mat-raised-button
            (click)="''">Fechar</button>
    </title-component> -->
    <mat-card class="card">
        <br>
        <!-- <sub-title  title [title]="'Produtos'" [icon]="'details'"></sub-title> -->
        <div class="card-subtitle">

            <div></div>
            <div></div>

        </div>

        <p><span>PRODUTO:</span></p>
        <p><strong>{{ productTemplate.productType?.name }}</strong></p>
        <p><strong>SEGMENTO:</strong> </p>
        <p><span>{{ productTemplate.segment?.name }}</span></p>
        <p><strong>FABRICANTE:</strong> </p>
        <p><span>{{ productTemplate.manufacturer?.name }}</span></p>
        <p><strong>MODELO:</strong> </p>
        <p><span>{{ productTemplate.model?.name }}</span></p>
        <p><strong>QUANTIDADE:</strong> </p>
        <p><span>{{ productTemplate.quantity }}</span></p>
        <p><strong>FORNECEDOR:</strong> </p>
        <p><span>{{ productTemplate.supplier?.name }}</span></p>
        <p><strong>NÚMERO NF-E:</strong> </p>
        <p><span>{{ productTemplate.purchaseInvoiceNumber }}</span></p>

        <p><strong>PREÇO DE VENDA:</strong> </p>
        <p><span>{{ productTemplate.soldPrice | currency}}</span></p>
        <p><strong>DATA DE ENTRADA:</strong> </p>
        <p><span>{{ productTemplate.entryDate | date:'medium'}}</span></p>

        <p><strong>USADO:</strong> </p>
        <p><span>{{ productTemplate.isUsed ? 'Yes' : 'No' }}</span></p>
        <p><strong>TESTADO:</strong> </p>
        <p><span>{{ productTemplate.isTested | date:'medium' }}</span>
        </p>
        <p><strong>LINK FABRICANTE:</strong> </p>
        <p><span>{{productTemplate.specificities?.manufacturerLink }}</span></p>

        <h4>DESCRIÇÃO:</h4>
        <mat-label>REDUZIDA:</mat-label>
        <textarea name="" id=""
            [rows]="calcRows(productTemplate?.description)">{{ productTemplate?.description }}</textarea>

        <mat-label>COMPLETA:</mat-label>
        <textarea name="" id=""
            [rows]="calcRows(productTemplate?.detailedDescription)">{{ productTemplate?.detailedDescription }}</textarea>

    </mat-card>
</div>