<div class="grid sm:grid-cols-2 grid-cols-1 gap-4" [formGroup]="formMain" *ngIf="formMain">
  <div *ngIf="priceHideShow">
    <mat-label>Valor Despesa</mat-label>
    <mat-form-field class="w-full" appearance="outline">
      <input matInput type="text" currencyMask [formControlName]="priceFormControlName" aria-label="Valor despesa">
      <mat-error>
        <span>{{validatorMessages.required(formMain,priceFormControlName, 'Despesa')}}</span>
        <span>{{validatorMessages.minMax(formMain,priceFormControlName, 'Despesa', 'R$1,00', null)}}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="interestHideShow">
    <mat-label>Juros</mat-label>
    <mat-form-field class="w-full" appearance="outline">
      <input matInput type="text" currencyMask [formControlName]="interestFormControlName" aria-label="Valor juros">
    </mat-form-field>
  </div>
</div>