<div style="padding:30px;">
    <search-table [textSearch]="searchTerms" (searchKey)="search($event)" [searchByText]="true"></search-table>
    <br>
    <mat-divider></mat-divider>
    <br>
    <paginated-table (pageSort)="sort($event)" (pageEvent)="paging($event)" (selectedRow)="nameofRowExpanded" [dataSourceInput]="data" [pageSizeOptionsInput]="pageSizeOptions" [displayedColumnsInput]="displayedColumns" [displayedColumnsInputBr]="displayedColumnsBr"
        [pageIndex]="this.pageIndex" [pageSize]="this.pageSize" [length]="this.length" [spinner]="spinnerShowHide" [paginationOnOff]="true" [expandedShow]="true">
        {{nameofRowExpanded}}

        <div *ngFor="let d of data | async">
            <div *ngIf="d == nameofRowExpanded">
            </div>
        </div>

    </paginated-table>
</div>
