<div class="m-3">
    <h3>
        Cartões
    </h3>
    <hr>
    <div [formGroup]="_formCard" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field fxFlex="40%">
                <mat-label>Nome No Cartão</mat-label>
                <input matInput type="text" formControlName="holder">
            </mat-form-field>
            <mat-form-field fxFlex="40%">
                <mat-label>Número Do Cartão</mat-label>
                <input matInput type="text" formControlName="numbercard">
            </mat-form-field>
            <mat-form-field fxFlex="40%">
                <mat-label>Código Verificador</mat-label>
                <input matInput type="text" formControlName="checkcode">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field fxFlex="40%">
                <mat-label>Instituição Financeira</mat-label>
                <input matInput type="text" formControlName="institution">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bandeira</mat-label>
                <input matInput type="text" formControlName="agency">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Validade</mat-label>
                <input matInput type="text" formControlName="validate">
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field fxFlex="70%">
                <mat-label>Descrição Amigável</mat-label>
                <input matInput type="text" formControlName="nickname">
            </mat-form-field>
            <mat-form-field fxFlex="30%">
                <mat-label>Tipo</mat-label>
                <input matInput type="text" formControlName="typeaccount">
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" type="submit" (click)="save()">Salvar</button>
        </div>
    </div>

</div>
