<div>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <mat-toolbar>
        <span>My Application</span>
        <div fxFlex></div>

        <mat-form-field fxFlex="30%" class="input-search">
            <mat-label>Pesquisar</mat-label>
            <input matInput [formControl]="queryField" (input)="onSearch()" type="text">
        </mat-form-field>

    </mat-toolbar>

    <mat-table (matSortChange)="sortChanged($event)" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc">

        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsFields; let i = index;">

            <div *ngIf="IncludeButtonCheckboxHtml">
                <span *ngIf="i === 0">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              {{'Todos'}}
            </mat-checkbox>

          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </span>
            </div>


            <div *ngIf="IncludeButtonRadioHtml">

                <span *ngIf="i === 0">
          <mat-header-cell *matHeaderCellDef>
            {{'Selecione'}}
          </mat-header-cell>

          <mat-cell *matCellDef="let row">
            <mat-radio-group [(ngModel)]="selectedStart">
              <mat-radio-button [value]="row" (change)="onChangeRadioChoice($event.value)">
              </mat-radio-button>
            </mat-radio-group>
          </mat-cell>
        </span>
            </div>
            <div *ngIf="simpleTable">
                <span *ngIf="i === 0">
          <mat-header-cell *matHeaderCellDef>
            {{column}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.id}}
          </mat-cell>
        </span>
            </div>

            <span *ngIf="i !== 0">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{columnsNamesToDisplay[i]}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          {{element[column]}}
        </mat-cell>
      </span>

        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsFields; sticky: true;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsFields;"></mat-row>

    </mat-table>

</div>

<mat-paginator fxLayoutAlign="center center" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
