<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <span class="mouse" (click)="navigateByUrl(node.route)" (click)="expandContractMtd()">{{node.name}}
    </span>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <!-- Left Icons -->
        <div fxLayout="column" *ngIf="node.icon">
            <i class="side-nav-i">
        <mat-icon #tooltip="matTooltip" [matTooltip]="node.toolTip" matTooltipPosition="right"  class="menu-side-icons" fontSet="material-icons-two-tone" (click)="expandContractMtd()">{{node.icon}}</mat-icon>
      </i>
        </div>
        <div fxFlex></div>
        <span matTreeNodeToggle class="mouse">{{node.name}}</span>
        <div fxFlex></div>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
    <div fxLayout="row">
     <div fxLayout="column" fxFlex>

     </div>
     <div fxLayout="column">

      <mat-icon class="mat-icon-rtl-mirror" fxLayoutAlign="end end">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
     <!-- <div>

     </div> -->
     </div>
    </div>
    </button>
        <span class="mouse" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
    </span>
    </mat-tree-node>
</mat-tree>
