<div class="border-around">
  <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'storage'">
  </title-component>

  <mat-card class="small-large-screen">

    <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>
    <!-- <div>
      <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
    </div> -->
    <add-stock-item #product>
    </add-stock-item>

    <add-item-product #productItem [hidden]="!product?.formMain?.valid">
    </add-item-product>

    {{product.formMain.value | json}} {{productItem?.formMain.value | json}}
    <!-- [enableDisable]="saveBtnEnabledDisabled" -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
      <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save(product.formMain, productItem?.formMain)"></btn-g>
    </div>

  </mat-card>
</div>