<div fxLayout="column" class="border-around">
    <title-component [digit]="'|'" [titleString]="'Despesas Pix'" [icon]="'attach_money'">
    </title-component>
    <mat-card fxLayout="column">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>
        <div class="middle-space-horizontal-beteween-fields"> </div>

        <product-type-get-mat-select-single 
        [productsTypes]="productsTypes$" 
        [noEntriesFoundLabel]="noEntriesFoundLabel"
        [placeholderProductType]="placeholderProductType"
        [productTypeNameAttribute]="productTypeNameAttribute"
        (outProductTypeSelected)="onSelectedProductType($event)"
        >
        </product-type-get-mat-select-single>

        <segment-mat-select-single
        [segments]="segments$"
        [noEntriesFoundLabel]="noEntriesFoundLabel"
        [placeholderProductType]="placeholderProductType"
        [productTypeNameAttribute]="productTypeNameAttribute"
        (outSegmentSelected)="onSelectedSegment($event)"
        ></segment-mat-select-single>

        <manufacturer-mat-select-single
        [manufacturers]="manufacturers$"
        [noEntriesFoundLabel]="noEntriesFoundLabel"
        [placeholderProductType]="placeholderProductType"
        [productTypeNameAttribute]="productTypeNameAttribute"
        (outManufacturerSelected)="onSelectedManufacturer($event)"
        ></manufacturer-mat-select-single>
        
        <model-mat-select-single
        [models]="models$"
        [noEntriesFoundLabel]="noEntriesFoundLabel"
        [placeholderProductType]="placeholderProductType"
        [productTypeNameAttribute]="productTypeNameAttribute"
        (outModelSelected)="onSelectedModel($event)"
        ></model-mat-select-single>

        <div>{{formMain.value | json}}</div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()" [enableDisable]="saveBtnEnabledDisabled"></btn-g>
        </div>
    </mat-card>
</div>