<div fxLayout="column" class="border-around" *ngIf="formMain">
    <title-component [digit]="'|'" [titleString]="'Financiamento / Empréstimo'"  [icon]="'attach_money'">
        <btn-g btn-1 [styleSize]="'width:150px;'" [name]="'Adicionar Categoria'" [icon]="'add'" (btn)="add()"></btn-g>
    </title-component>
    <mat-card [formGroup]="formMain" fxLayout="column" *ngIf="formMain">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Despesa</mat-label>
                    <input matInput type="text" formControlName="name" aria-label="Despesa">
                    <mat-hint>EX: Financiamento carro xxx / Empréstimo ...</mat-hint>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'name', 'Despesa')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'name', 'Despesa
                            descritivo',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="25">
                <mat-form-field appearance="outline">
                    <mat-label>Primeira parcela</mat-label>
                    <input matInput formControlName="start" [matDatepicker]="startDate" aria-label="início">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'start', 'Inicio')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <select-category-subcategory-expenses [formMain]="formMain" [payCycle]="payCycle">
        </select-category-subcategory-expenses>

        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline" fxFlex>
                    <mat-label>Valor Financiado</mat-label>
                    <input currencyMask matInput type="text" formControlName="totalPriceFinancingOrLoan" aria-label="Valor">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'price', 'Valor')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Valor Parcela</mat-label>
                    <input currencyMask matInput type="text" (keyup)="installmentCacl()" formControlName="installmentPrice" aria-label="Valor">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'installmentPrice', '* Obrigatório')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="10">
                <mat-form-field fxFlex="10" appearance="outline" (change)="installmentCacl()">
                    <mat-label>Parcelas</mat-label>
                    <input matInput type="number" formControlName="installmentsQuantity" aria-label="Parcelas">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'installmentsQuantity', 'Parcelas')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'installmentsQuantity',
                            'Parcelas',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <div fxLayout="row" fxFlex>
                <div fxLayout="column">
                    <mat-label>Montante:</mat-label>
                </div>
                <div fxLayout="column">
                    <mat-label>{{totalPriceToBePaid | ptBrCurrency}}</mat-label>
                </div>
            </div>
            <div fxLayout="row" fxFlex>
                <div fxLayout="column">
                    <mat-label>Juros:</mat-label>
                </div>
                <div fxLayout="column">
                    <mat-label>{{totalPriceInterest | ptBrCurrency}}</mat-label>
                </div>
            </div>
            <div fxLayout="row" fxFlex>
                <div fxLayout="column">
                    <mat-label>Porcentagem:</mat-label>
                </div>
                <div fxLayout="column">
                    <mat-label>{{percentageInterest /100 | percent}}</mat-label>
                </div>
            </div>
        </div>
        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
        </div>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div fxLayout="row">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Link Segunda via</mat-label>
                <input matInput type="text" formControlName="linkCopyBill" placeholder="Link Segunda via" aria-label="Link Segunda via">
                <mat-error>
                    <span>{{validatorMessages.minMaxLength(formMain,'linkCopyBill', 'Link segunda
                        via',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput type="text" formControlName="userLinkCopyBill" aria-label="Usuário">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'userLinkCopyBill', 'Usuário',null,50)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="passLinkCopyBill" aria-label="Senha">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'passLinkCopyBill', 'Senha',null,20)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Despesa descritivo</mat-label>
                <input matInput type="text" formControlName="description" aria-label="Descrição">
                <mat-hint>EX: Seguro Casa, Seguro Escritório, Luz residência, Internet loja etc...</mat-hint>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'description', 'Despesa descritivo')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'description', 'Despesa
                        descritivo',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div>{{formMain.value | json}}</div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()" [enableDisable]="saveBtnEnabledDisabled"></btn-g>
        </div>
    </mat-card>
</div>