<default-component [formGroup]="formMain" *ngIf="formMain" [hideDivider]="true" [digitTitleComp]="'|'" [textTitleComp]="'Adicionar despesa Cartão de Crédito'" [textSubTitleComp]="'Adicionar despesa Cartão de Crédito'" [iconSubTitleComp]="'add'">
    <div btns>

    </div>
    <div body>
        <mat-card class="p-4 m-4 border-card-categories-divide-comp">
            <get-bank-account-cards-select [urlBackEndApi]="'GetAllFnBankAccount'" [formMain]="formMain" [bankAccountFormControlName]="'paidFromBankAccountId'" [typeCardToDisable]="typeCardToDisable" (banckAccountSelected)="onSelectedBanckAccountelected($event)"
                (cardsFromSelectedBank)="selectedCreditCard($event)"> </get-bank-account-cards-select>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="formMain.get('cardId').value">
                <div class="w-full">
                    <mat-label>Local despesa</mat-label>
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput type="text" formControlName="name" aria-label="Nome">
                        <!-- <mat-hint>EX: Seguro Casa, Seguro Escritório, Luz residência, Internet loja etc...</mat-hint> -->
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'name', '* Obrigatório')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'name', '* Obrigatório',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-label>Dia despesa</mat-label>
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput [matDatepicker]="picker3" formControlName="expenseDay" (dateChange)="onDateChanged()">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker>
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'expenseDay', '* Obrigatório')}}</span>
                            <span>{{validatorMessages.invalidDate(formMain,'expenseDay')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>

        <div class="align-h-center" *ngIf="getExpenseDay">
            <mat-divider class="divider-line-categories-comp"></mat-divider>
        </div>

        <div *ngIf="getExpenseDay">

            <mat-card class="p-4 m-4 border-card-categories-divide-comp">
                <div class="p-4">
                    <select-category-subcategory-expenses [formMain]="formMain" [payCycle]="payCycle" [payCycle2]="payCycle2">
                    </select-category-subcategory-expenses>
                    <btn-g btn-1 [name]="'Categoria'" [icon]="'add'" (btn)="add()"></btn-g>
                </div>
            </mat-card>

            <div class="align-h-center">
                <mat-divider class="divider-line-categories-comp"></mat-divider>
            </div>


            <!--  -->
            <mat-card class="border-card-categories-divide-comp">
                <div class="p-4 grid grid-cols-1 sm:grid-cols-3 gap-4">
                    <div class="w-full">
                        <mat-label>Valor à vista</mat-label>
                        <mat-form-field class="w-full" appearance="outline">
                            <input currencyMask matInput type="text" (keyup)="sumPaymentAtSight()" formControlName="paymentAtSight" aria-label="Valor">
                            <!-- (keyup)="installmentCacl()"  -->
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'paymentAtSight', 'Valor total')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full" *ngIf="formMain.get('installmentsQuantity').value  > 1">
                        <mat-label>Valor Parcela</mat-label>
                        <mat-form-field class="w-full" appearance="outline">
                            <input currencyMask matInput type="text" (keyup)="sumQuantityInstallment()" formControlName="installmentPrice" aria-label="Valor">
                            <!-- (keyup)="installmentCacl()" -->
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'price', '* Obrigatório')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full" *ngIf="formMain.get('installmentsQuantity').value == 1">
                        <mat-label>Juros %</mat-label>
                        <mat-form-field class="w-full" appearance="outline">
                            <input matInput type="text" (keyup)="sumSingleInstallment()" formControlName="totalPercentageInterest" aria-label="Valor">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'price', '* Obrigatório')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-label>Parcelas</mat-label>
                        <mat-form-field class="w-full" appearance="outline" (change)="sumQuantityInstallment()">
                            <input matInput type="number" min="1" max="152" formControlName="installmentsQuantity" aria-label="número de parcelas">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'installmentsQuantity', '* Obrigatório')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <!--  -->

                <div class="w-full pr-4 pl-4 pb-4 grid sm:grid-cols-3 grid-cols-1 grid-row-3 gap-4" *ngIf="formMain.get('price').value || formMain.get('totalPriceInterest').value > 0">
                    <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
                        <div>
                            <p class="pipe-title"> <span>|</span></p>
                        </div>
                        <div>
                            <p>Montante:</p>
                        </div>
                        <div>
                            <p class="text-red-600">{{priceToPaidView | ptBrCurrency}}</p>
                        </div>
                    </div>
                    <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
                        <div>
                            <p class="pipe-title"> <span>|</span></p>
                        </div>
                        <div>
                            <p>Juros:</p>
                        </div>
                        <div>
                            <p class="text-red-600">{{totalPriceInterestView | ptBrCurrency}}</p>
                        </div>
                    </div>
                    <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center">
                        <div>
                            <p class="pipe-title"> <span>|</span></p>
                        </div>
                        <div>
                            <p>Porcentagem:</p>
                        </div>
                        <div>
                            <p class="text-red-600">{{percentageInterestView / 100 | percent}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div>
                <mat-label *ngIf="formMain.get('installmentsQuantity').value > 1">{{'Vencimento primeira parcela:'}}
                </mat-label>
                <mat-label *ngIf="formMain.get('installmentsQuantity').value == 1">{{'Vencimento:'}}</mat-label>
                <mat-label>{{firstInstallmentExpires | ptBrDate:'Date'}}</mat-label>
            </div> -->
                <div class="w-full pr-4 pl-4 pb-4 grid sm:grid-cols-2 grid-cols-1 grid-row-2 gap-4">
                    <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center" *ngIf="installmentPayment">
                        <div>
                            <p class="pipe-title"> <span>|</span></p>
                        </div>
                        <div>
                            <!-- <p>Montante:</p> -->
                            <mat-label>{{'Vencimento primeira parcela:'}}
                            </mat-label>
                        </div>
                        <div>
                            <!-- <p class="text-red-600">{{priceToPaidView | ptBrCurrency}}</p> -->
                            <mat-label>{{firstInstallmentExpires | ptBrDate:'Date'}}</mat-label>
                        </div>
                    </div>
                    <div class="w-full grid grid-cols-[10px_1fr_1fr] items-center" *ngIf="fullPaymentUpfront">
                        <div>
                            <p class="pipe-title"> <span>|</span></p>
                        </div>
                        <div>
                            <!-- <p>Juros:</p> -->
                            <mat-label>{{'Vencimento:'}}</mat-label>
                        </div>
                        <div>
                            <!-- <p class="text-red-600">{{totalPriceInterestView | ptBrCurrency}}</p> -->
                            <mat-label>{{firstInstallmentExpires | ptBrDate:'Date'}}</mat-label>
                        </div>
                    </div>
                </div>
            </mat-card>
            <div class="align-h-center mb-4">
                <mat-divider class="divider-line-categories-comp"></mat-divider>
            </div>
            <div class="p-4 grid grid-cols-1 sm:grid-cols-[1fr_150px] gap-4">

                <div class="w-full">
                    <div>
                        <mat-label>Descrição / Itens</mat-label>
                    </div>
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput type="text" formControlName="description" aria-label="Descrição">
                        <mat-hint>EX: Peças para o carro (Pastilhas de freio), Material de contrução etc...</mat-hint>
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'description', '* Obrigatório')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'description', '* Obrigatório',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <div>
                        <mat-label>Recibo</mat-label>
                    </div>
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput type="text" formControlName="document" aria-label="Código documento">
                    </mat-form-field>
                </div>
            </div>


            <div style="color: red;" *ngIf="showWarning">{{warningCreditLimit}}</div>
            <!-- <div>{{formMain.value | json}}</div> -->

            <div class="mb-14 align-h-center">
                <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()" [enableDisable]="saveBtnEnabledDisabled"></btn-g>
            </div>

            <!-- <div>
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()" [enableDisable]="saveBtnEnabledDisabled"></btn-g>
        </div> -->

        </div>
    </div>
</default-component>
