<div fxLayout="column" class="border-around" *ngIf="fillersExpenses">
    <title-component [digit]="'|'" [titleString]="'Cadastro de despesas fixas'" [icon]="'attach_money'">
        <btn-g btn-1 [styleSize]="'width:150px;'" [name]="'Adicionar Categoria'" [icon]="'add'" (btn)="add()"></btn-g>
    </title-component>
    <mat-card [formGroup]="formMain" fxLayout="column" *ngIf="formMain">
        <sub-title title [title]="'Cadastro de despesa fixa'" [icon]="'add'"></sub-title>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <!-- <div [fxLayout]="'row'">
            <mat-checkbox #include (change)="includeMtd($event.checked)">Incluir</mat-checkbox>
        </div> -->
        <div fxLayout="row">
            <!-- <div fxLayout="row" [ngClass]="{'space-description':makeSpaceFields(), 'without-space-description':!makeSpaceFields()}"> -->

        </div>

        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Despesa</mat-label>
                <input matInput type="text" formControlName="description" aria-label="Descrição">
                <mat-hint>EX: Seguro Casa, Seguro Escritório, Luz residência, Internet loja etc...</mat-hint>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'description', 'Despesa descritivo')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'description', 'Despesa
                        descritivo',null,150)}}</span>
                </mat-error>
            </mat-form-field>
            <select-category-subcategory-expenses [formMain]="formMain" [payCycle]="payCycle">
            </select-category-subcategory-expenses>
         
            <div fxLayout="column" fxFlex="20">

                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Dia despesa</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="expires">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'expires', 'Dia despesa')}}</span>
                        <span>{{validatorMessages.invalidDate(formMain,'expires')}}</span>
                    </mat-error>
                </mat-form-field>

                <!-- [fxFlexWidth]="expiresDateFxFlex" [layoutColumnRow]="layoutColumnRowDateJustDay" -->

                <!-- <mat-form-field appearance="outline">
                      <mat-label>Dia do vencimento</mat-label>
                      <input matInput type="number"  formControlName="expiration" aria-label="Dia do vencimento">

                      <mat-error>
                        <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                        <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
                      </mat-error>
                    </mat-form-field> -->
            </div>

        </div>
        <div fxLayout="column" fxFlex>
            <bank-account-mat-select-single (selectedPayment)="makeEntityToUpdate($event)"
                [urlBackEndApi]="'GetAllFnBankAccount'" (formIsValid)="formIsValid($event)"
                [btnCheckIsFormValid]="checkIsValid" [formMain]="formMain"
                [typeCardToDisable]="cardType"
                [SelectedRadio]="''"
                [onlyCards]="true"
                (banckAccountelected)="onSelectedBanckAccountelected($event)">
            </bank-account-mat-select-single>
        </div>
        <div (window:resize)="screen()" [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline" fxFlex>
                    <mat-label>Parcelas</mat-label>
                    <input currencyMask matInput type="number" formControlName="price" aria-label="Valor">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'price', 'Valor')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex>
                <mat-form-field fxFlex appearance="outline" fxFlex>
                    <mat-label>Valor</mat-label>
                    <input currencyMask matInput type="text" formControlName="price" aria-label="Valor">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'price', 'Valor')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="middle-space-horizontal-beteween-fields"> </div>

        <div>{{formMain.value | json}}</div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>
    </mat-card>
</div>