<div>
    <h3>Endereço</h3>

    <div  [formGroup]="formMain">

        <div  >

            <mat-form-field  appearance="outline">
                <mat-label>CEP</mat-label>
                <input mask="00.000-000" (blur)="query($event.target.value)" matInput formControlName="zipcode" placeholder="00.000-000">
                <mat-error>
                    <span>{{validatorMessages.minMaxLength(formMain,'zipcode','CEP', null, 8)}}</span>
                </mat-error>
            </mat-form-field>

        </div>


        <div  (window:resize)="screen()" fxLayoutGap="15">
            <div  ="78">
                <mat-form-field appearan appearance="outline" ce="outline">
                    <mat-label>Logradouro</mat-label>
                    <input matInput formControlName="street" aria-label="Logradouro">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'street', 'Logradouro')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'street', 'Logradouro',null, 150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div  ="22">
                <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input mask="000000000000000" type="text" matInput formControlName="number" aria-label="Número">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'number', 'Número')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'number', 'Número',15, 150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div  (window:resize)="screen()" fxLayoutGap="15">
            <div  >
                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="district" aria-label="Bairro">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'district', 'Bairro')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'district', 'Bairro',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div  >
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="city" aria-label="Cidade">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'city', 'Cidade')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'city', 'Cidade',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div  >
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="state" aria-label="Estado">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'state', 'Estado')}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'state', 'Estado',null,2)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field ="99">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complement" aria-label="Complemento">
            <mat-error>
                <span>{{validatorMessages.minMaxLength(formMain,'complement', 'Complemento',null,500)}}</span>
            </mat-error>
        </mat-form-field>

    </div>
</div>
