<div fxLayout="row">
    <!-- <div fxLayout="column">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" [routerLink]="['/financial/dailyinflow']" (click)="toshow(false)">Entrada</a>
        </nav>

    </div>
    <div fxLayout="column">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" [routerLink]="['/financial/dailyoutflow']" (click)="toshow(true)">Saída</a>
        </nav>
    </div> -->

    <button mat-button [matMenuTriggerFor]="menu" style="font-size: large;">INSERIR</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/typepay']" (click)="toshow(false)">Formas De Pagamentos</button>
        <button mat-menu-item [routerLink]="['/checkacc']" (click)="toshow(false)">Contas Bancarias</button>

    </mat-menu>

    <!-- <div fxLayout="column">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" [routerLink]="['/financial/dailyoutflow']" (click)="toshow(true)">Saída</a>
        </nav>
    </div> -->


    <!-- <div fxLayout="column">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" [routerLink]="['/financial/monthlyoutflow']">Fixo Mês</a>
                </nav>
            </div> -->
    <!-- <a [routerLink]="['/financial/outflow']">Inserir</a> -->
    <!-- <div fxLayout="column" class="m-3" style="text-align:center;">
  </div> -->


</div>
<!-- <div fxLayout="column" fxFlex="3%" style="border-left: 1px solid darkgreen;">

    </div> -->




<hr>
<div class="m-3" fxLayout="row" fxLayoutGap="20px" *ngIf="openCloseOption">
    <div fxLayout="column">
        <a class="navbar-brand" [routerLink]="['dailyoutflow']">
            <h4>DIÁRIO</h4>
        </a>
    </div>
    <div fxLayout="column">
        <a class="navbar-brand" [routerLink]="['monthlyoutflow']">
            <h4>MENSAL</h4>
        </a>
    </div>
</div>
