<div class="border-around" [formGroup]="formMain">
    <mat-form-field class="mat-select-width" appearance="outline">
        <mat-label>Cliente</mat-label>
        <mat-select [formControl]="selectCustomer" placeholder="Pesquise pelo nome" #singleSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="selectFilterCustomer" (input)="searchCustomer()" placeholderLabel="Pesquise pelo nome"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let customer of $customersResult | async" [value]="customer.id">
                {{customer.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <br>
    <br>
    <mat-form-field class="mat-select-width" appearance="outline">
        <mat-label>Transportador</mat-label>
        <mat-select [formControl]="selectTransporter" placeholder="Pesquise pelo nome" #singleSelect>
            <mat-option *ngFor="let transporter of $transporters | async" [value]="transporter.id">
                {{transporter.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <br>
    <br>
    <mat-form-field class="mat-select-width" appearance="outline">
        <mat-label>Parceiros</mat-label>
        <mat-select [formControl]="selectPartner" placeholder="Pesquise pelo nome" #singleSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="selectFilterPartner" (input)="searchPartner()" placeholderLabel="Pesquise pelo nome"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let partner of $partnersResult | async" [value]="partner.id">
                {{partner.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    <br>
    <br>

    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Motivo</mat-label>
                <input matInput type="text" formControlName="subjectReason">
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'subjectReason', 'Motivo')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'subjectReason', 'Motivo',null,250)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column" (window:resize)="screen()" fxLayoutGap="50">
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex>
                <mat-label>Preço</mat-label>
                <input matInput currencyMask type="text" formControlName="price">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex>
                <mat-label>Contato no local</mat-label>
                <input matInput type="text" formControlName="contactName">
                <mat-error>
                    <span>{{validatorMessages.required(formMain, 'contactName', 'Responsável')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'contactName', 'Responsável',null,45)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>


    <br>
    <br>
    <br>

    <div>{{formMain.value| json}}</div>

</div>