<div class="top-nav">


</div>

<!-- <div class="middle-space-horizontal-beteween-fields"></div> -->

<table fxLayout="column" *ngFor="let menu of dataTree; let i = index;">

    <div class="btn-container" fxLayout="row" fxFlex (click)="arrowMenuCustomerOnAction(menu.name)">

        <div fxLayout="column" fxFlex="5">

        </div>



        <div fxLayout="column">
            <mat-icon fontSet="material-icons-outlined">{{menu.icon}}</mat-icon>
        </div>
        <div fxLayout="column" fxFlex="3">

        </div>

        <div class="items-main" fxLayout="column">
            <div>{{menu.name}}</div>
        </div>
        <div fxLayout="column" fxFlex>

        </div>

        <div fxLayout="column">
            <!-- {{menu.opened}} -->
            <mat-icon *ngIf="!menu.opened">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="menu.opened">keyboard_arrow_down</mat-icon>
        </div>

    </div>

    <div fxLayout="column" fxFlex *ngIf="menu.opened">
        <div *ngFor="let sub of menu.children; let i = index;">

            <menu>
                <li>{{sub.name}}</li>

            </menu>
        </div>



    </div>

</table>
<div class="top-nav">


</div>
