<div fxLayout="column" fxLayoutAlign="center center">
    <radio-button [position]="'vertical'" [entities]="{'Cliente': 'customer', 'Parceiro': 'partner', 'Outro': 'Others'}"></radio-button>
    <!-- <div fxLayout="row">
        <paginated-table (SortOut)="sort($event)" [displayedColumnsInput]="displayedColumnsInput" [displayedColumnsUserShows]="displayedColumnsUserShows" [dataSourceInput]="dataSourceInput">
            <div fxLayout="row" fxLayoutAlign="center center">
                <paginator fxFlex (pgEvent)="changePage($event)" [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptionsInput]="pageSizeOptionsInput"></paginator>

            </div>

        </paginated-table>
    </div> -->
</div>

<!-- <table-full-g [pageSizeOptions]="[5,10,20]"
[pageSize]="10"
[columnsFields]="['id', 'name']"
[columnsNamesToDisplay]="['Código', 'Nome']"
[url]="'customers/GetAllPagedCustomersAsync'">

</table-full-g> -->