<div class="top-nav">

    <div fxLayout="row">
        <mat-icon class="logo logo-align" fontSet="material-icons-outlined">language</mat-icon>
    </div>
    <div class="logo-label" fxLayout="row">
        <mat-label>NO STOP SISTEMAS</mat-label>
    </div>
    <div class="large-space-horizontal-beteween-fields"></div>
    <top-bar>
    </top-bar>

</div>


<div *ngIf="!collapsed">
    <div fxLayout="column" *ngFor="let menu of dataTree; let i = index;">

        <div class="btn-container" fxLayout="row" fxFlex (click)="arrowMenuCustomerOnAction(menu.name)">

            <div fxLayout="column" fxFlex="1">

            </div>



            <div fxLayout="column">
                <mat-icon>{{menu.icon}}</mat-icon>
            </div>
            <div fxLayout="column" fxFlex="3">

            </div>

            <div class="items-main" fxLayout="column">
                <div>{{menu.name}}</div>
            </div>
            <div fxLayout="column" fxFlex>

            </div>

            <div fxLayout="column">
                <mat-icon *ngIf="!menu.opened">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="menu.opened">keyboard_arrow_down</mat-icon>
            </div>

        </div>

        <div class="sub-menu" fxLayout="column" fxFlex *ngIf="menu.opened">
            <div *ngFor="let sub of menu.children; let i = index;">
                <menu>
                    <li class="item-li">{{sub.name}}</li>
                </menu>
            </div>
        </div>

    </div>


</div>


<div *ngIf="collapsed">



    <div fxLayout="column" *ngFor="let menu of dataTree; let i = index;">

        <div class="btn-container" fxLayout="row" fxFlex style="margin-left:5px;">
            <!-- (click)="arrowMenuCustomerOnAction(menu.name)" -->
            <div fxLayout="column" fxFlex="1">

            </div>



            <div fxLayout="column">
                <mat-icon>{{menu.icon}}</mat-icon>
            </div>
            <div fxLayout="column" fxFlex="3">

            </div>

            <div class="items-main" fxLayout="column">
                <!-- <div>{{menu.name}}</div> -->
            </div>
            <div fxLayout="column" fxFlex>

            </div>

            <div fxLayout="column">

            </div>

        </div>

        <div class="sub-menu" fxLayout="column" fxFlex *ngIf="menu.opened">
            <!-- <div *ngFor="let sub of menu.children; let i = index;">
            <menu>
                <li class="item-li">{{sub.name}}</li>
            </menu>
        </div> -->
        </div>

    </div>




</div>





<div class="bottom-nav" fxLayout="column" fxLayoutGap="50">
    <div fxLayout="row">

    </div>


    <div fxLayout="column" class="container-rectangle-bottom">

        <div fxLayout="row">
            <mat-label class="label-rectangle-bottom">Dúvidas?</mat-label>
        </div>

        <div class="small-space-horizontal-beteween-fields"></div>

        <div class="rectangle-bottom" fxLayout="row">
            <div fxLayout="column">
                <mat-icon class="icon-inside-rectangle-bottom" fontSet="material-icons-outlined">mode_comment</mat-icon>
            </div>
            <div fxLayout="column" class="label-inside-rectangle-bottom">
                <mat-label class="label-rectangle-bottom">Fale conosco.</mat-label>
            </div>
        </div>

    </div>

    <div fxLayout="row">

        <div fxLayout="column" fxFlex="35">
            <mat-divider class="divider-bottom" fxFlex></mat-divider>

        </div>
        <div fxLayout="column" style="margin-bottom:10px;">

            <div fxLayout="row" class="circle-divider-bottom">
                <div>
                    <ng-content select="[circle]"></ng-content>
                </div>
            </div>
        </div>

        <div fxLayout="column" fxFlex="50">
            <mat-divider class="divider-bottom" fxFlex></mat-divider>

        </div>

    </div>

    <div fxLayout="row">

        <div fxLayout="column">


        </div>

    </div>

</div>
