<div class="top-nav">


</div>
<!-- <div class="middle-space-horizontal-beteween-fields"></div> -->
<div class="btn-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="item-menu-space-right-left">

    </div>
    <div fxLayout="column">

        <mat-icon fontSet="material-icons-outlined">record_voice_over</mat-icon>

    </div>
    <div class="item-menu-space-right-middle">

    </div>
    <div fxLayout="column">

        <span>Clientes</span>

    </div>
    <div class="item-menu-space-right-right">

    </div>
    <div fxLayout="column" (click)="arrowMenuCustomerOnAction()">
        <mat-icon *ngIf="!arrowMenuCustomer">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="arrowMenuCustomer">keyboard_arrow_down</mat-icon>
    </div>


</div>


<div fxLayout="row" *ngIf="arrowMenuCustomer">
    <menu>
        <li>Bancada</li>
        <li>Financeiro</li>
        <li>Parceiros</li>
        <li>Estoque</li>
    </menu>
</div>


<!-- Clientes
Bancada
Financeiro
Parceiros
Estoque -->
