<mat-card class="mat-elevation-z10" style="height:80px; margin-left:50px; margin-right:50px; margin-top:10px;">
    <mat-grid-list [cols]="3" [rowHeight]="'90px'" style="margin-top:-23px;">
        <mat-grid-tile>
            <mat-card class="mat-elevation-z3" style="height: 50px; width: 50px;">
                <div fxLayoutAlign="center center">
                    <mat-icon [routerLink]="['/customer-nav/create']" style="margin-top: -10px; margin-left: -15px;"> insert_drive_file</mat-icon>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-elevation-z3" style="height: 50px; width: 50px;">
                <div fxLayoutAlign="center center">
                    <mat-icon style="margin-top: -10px; margin-left: -15px;">list</mat-icon>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="mat-elevation-z3" style="height: 50px; width: 50px;">
                <div fxLayoutAlign="center center">
                    <mat-icon style="margin-top: -10px; margin-left: -15px;">print</mat-icon>
                </div>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</mat-card>

<router-outlet></router-outlet>
