<div [formGroup]="formMain">
    <mat-label>Parceiros</mat-label>
    <mat-form-field class="w-full" appearance="outline">
        <mat-select placeholder="Pesquise pelo nome" #singleSelect name="partnerId" (blur)="onBlur()" (selectionChange)="onPartnerSelected(singleSelect.value)" formControlName="partnerId">
            <mat-option>
                <ngx-mat-select-search [formControl]="selectFilterPartner" (input)="searchPartner()" placeholderLabel="Pesquise pelo nome" name="searchPartner" noEntriesFoundLabel="Nenhum item encontrado"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let partner of $partnersResult | async" [value]="partner.id">
                {{partner.name}}
            </mat-option>
        </mat-select>
        <mat-error>
            <span *ngIf="formErrorAndTouched(formMain, 'partnerId', 'required')">{{defaultMessages.requiredMsg}}</span>
            <span *ngIf="formErrorAndTouched(formMain, 'partnerId', 'atleastone')">{{defaultMessages.atleastone}}</span>
        </mat-error>
    </mat-form-field>
</div>