<div style="padding:50px;">
    <h3>
        Cadastro de Items
    </h3>
    <hr>
    <div [formGroup]="formMain" fxLayout="column">

        <div fxLayout="row">
            <mat-form-field fxFlex="100%">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
        </div>


        <div fxLayout="row">

            <mat-form-field fxFlex="100%">
                <mat-label>Descrição</mat-label>
                <input matInput type="text" formControlName="description">
            </mat-form-field>

        </div>


        <div fxLayout="row" fxLayoutAlign="end end" fxFlex="100%">
            <button mat-button type="submit" style="background-color: rgb(38, 187, 38); color: white;" (click)="save()">Salvar</button>
        </div>

    </div>
</div>