<div class="border-around">
    <title-component [digit]="'|'" [textTitleComp]="'Cadastro de contas e cartões'" [icon]="'attach_money'">
    </title-component>

    <bank-account [formMain]="formMain" [mainIcon]="'add'" [mainTitle]="formMain.get('institution').value">
        <pix pix [formMain]="formMain" [noBeneficiaryField]="false">
        </pix>
    </bank-account>

    <bank-cards [formMain]="formMain" [mainIcon]="'payment'">
    </bank-cards>

    <!-- {{formMain.value | json}} -->
    <div class="ml-4 pb-12 sm:w-full sm:flex sm:justify-center">
        <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
    </div>
</div>
