<div class="border-around" fxLayout="column">
    <title-component [digit]="'|'" [titleString]="'Cadastro de contas e cartões'" [icon]="'attach_money'">

    </title-component>

    <div>
        <bank-account [formMain]="formMain">
        </bank-account>
        <br>
        <br>
        <br>
        <bank-cards [formMain]="formMain">
        </bank-cards>



    </div>

    <!-- <div>
      {{formMain.value | json}}
    </div> -->

    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="save-btn" mat-raised-button type="submit" (click)="save()">Salvar</button>
    </div>

</div>