<!-- <div id="space-aroud">
    <table-g *ngIf="dataSource" [displayedColumnsInput]="['id', 'equipament', 'quantity', 'model', 'saleprice', 'manufactorer']" [dataSourceInput]="dataSource" (pgEvent)="toLoad($event)" (searchKey)="toLoad($event)" [byDate]="false" [byText]="false" [combined]="true"
        [pageSizeOptionsInput]=[10,50,100]>
    </table-g>
</div> -->




<table-g [displayedColumnsInput]="['id', 'equipament', 'quantity', 'model', 'saleprice', 'manufactorer']" [(dataSourceInput)]="dataSource" (pgEvent)="toLoad($event)
" (searchKey)="toLoad($event)" [combined]="true" [pageSizeOptionsInput]=[10,50,100] [(pgIndex)]="pgIndex" [(totalItems)]="totalItems" [(pgSize)]="pgSize" [inventory]="true">
</table-g>
