<div class="border-around" form [formGroup]="formMain">

    <title-container [titleString]="title" [subTitleString]="subTitle">
        <title-component>
        </title-component>
    </title-container>

    <mat-card-title>Identificação Cliente</mat-card-title>
    <mat-card class="mat-elevation-z20">

        <mat-grid-list (window:resize)="screen()" [cols]="nameCnpjCpfCols" [rowHeight]="nameCnpjCpfRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error>
                            <span>{{required(formMain,'name', 'Nome')}}</span>
                            <span>{{minMax(formMain,'name', 'Nome',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>CNPJ / CPF</mat-label>
                        <input matInput mask="CPF_CNPJ" type="text" formControlName="cnpj">
                        <mat-error>
                            <span>{{required(formMain,'name', 'Nome')}}</span>
                            <span>{{minMax(formMain,'cnpj', 'CNPJ',8,14)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

        <br>
        <mat-card-title>Tipo de cliente</mat-card-title>
        <mat-grid-list (window:resize)="screen()" [cols]="assuredClientTypeResponsibleCols" [rowHeight]="assuredClientTypeResponsibleRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label>Mensal
                        </mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="big-checkbox" (click)="valueDate()" formControlName="assured">
                        </mat-checkbox>
                    </div>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label>Empresa</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="big-checkbox" formControlName="clientType">
                        </mat-checkbox>
                    </div>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99" id="responsible">
                    <mat-form-field fxFlex="99">
                        <mat-label>Responsável</mat-label>
                        <input matInput type="text" formControlName="responsible">
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <div *ngIf="valueDateGet" fxLayout="column" fxLayoutGap="10px">
            <mat-grid-list (window:resize)="screen()" [cols]="paymentDiscountExpirationCols" [rowHeight]="paymentDiscountExpirationRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Valor
                            </mat-label>
                            <input matInput type="text" currencyMask formControlName="payment">
                            <mat-error>
                                <!-- <span>{{required(formMain,'payment', 'Valor')}}</span>
            <span>{{minMax(formMain,'payment', 'Valor',null,150)}}</span>
            <span>{{money(formMain,'payment', 'Valor')}}</span> -->
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Vencimento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="expiration">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>
                                <!-- <span>{{required(formMain,'payment', 'Valor')}}</span>
<span>{{minMax(formMain,'payment', 'Valor',null,150)}}</span>
<span>{{money(formMain,'payment', 'Valor')}}</span> -->
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Desconto
                            </mat-label>
                            <input matInput type="text" currencyMask formControlName="discount">
                            <mat-error>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>



        </div>




        <br>


        <comp-address (formLoad)="address($event)"></comp-address>

        <contact (formLoad)="contact($event)"></contact>


        <div fxLayoutAlign="center center">
            <button id="btnSave" mat-raised-button color="primary" (click)="save()">Salvar</button>
        </div>
    </mat-card>
    <!-- <div fxLayoutAlign="end end">
        <div id="btnSave"></div> -->
</div>