<div class="border-around" [formGroup]="formMain">

    <title-container [titleString]="title" [subTitleString]="subTitle">
        <title-component>
        </title-component>
    </title-container>

    <!-- <div fxLayoutAlign="center center">
    <mat-card fxFlex="50">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-radio-group (change)="typeOfRegister($event)" fxLayoutGap="50px" class="big-radio big-radio2"
          aria-label="Select an option">
          <mat-radio-button checked="true" value="basic">Básico</mat-radio-button>
          <mat-radio-button value="complete">Completo</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card>
  </div> -->
    <br>
    <mat-card-title>Identificação Cliente</mat-card-title>
    <mat-card>

        <mat-grid-list (window:resize)="screen()" [cols]="nameCnpjCpfCols" [rowHeight]="nameCnpjCpfRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error>
                            <span>{{required(formMain,'name', 'Nome')}}</span>
                            <span>{{minMax(formMain,'name', 'Nome',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>CNPJ / CPF</mat-label>
                        <input matInput mask="CPF_CNPJ" type="text" formControlName="cnpj">
                        <mat-error>
                            <span>{{required(formMain,'cnpj', 'CNPJ')}}</span>
                            <span>{{minMax(formMain,'cnpj', 'CNPJ',8,14)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

        <br>
        <mat-card-title>Tipo de cliente</mat-card-title>
        <mat-grid-list (window:resize)="screen()" [cols]="assuredClientTypeResponsibleCols" [rowHeight]="assuredClientTypeResponsibleRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label>Mensal
                        </mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="big-checkbox" (change)="ifCheckedAnotherOneIsRequired($event,['payment','expiration'])" (change)="assured()" formControlName="assured">
                        </mat-checkbox>
                    </div>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label>Empresa</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="big-checkbox" formControlName="clientType">
                        </mat-checkbox>
                    </div>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99" id="responsible">
                    <mat-form-field fxFlex="99">
                        <mat-label>Responsável</mat-label>
                        <input matInput type="text" formControlName="responsible">
                        <mat-error>
                            <span>{{required(formMain,'responsible', 'Responsável')}}</span>
                            <span>{{minMax(formMain,'responsible', 'Responsável',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="assuredOrNot" fxLayout="column" fxLayoutGap="10px">
            <mat-grid-list (window:resize)="screen()" [cols]="paymentDiscountExpirationCols" [rowHeight]="paymentDiscountExpirationRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Valor
                            </mat-label>
                            <input matInput type="text" currencyMask formControlName="payment">
                            <mat-error>
                                <span>{{required(formMain,'payment', 'Valor')}}</span>
                                <span>{{minMax(formMain,'payment', 'Valor',null,150)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Vencimento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="expiration">
                            <mat-hint>DD/MM/AAAA</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>
                                <span>{{required(formMain,'expiration', 'Vencimento')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Desconto
                            </mat-label>
                            <input matInput type="text" currencyMask formControlName="discount">
                            <mat-error>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <mat-card-title fxLayoutAlign="center center">Observações</mat-card-title>
        <mat-card>
            <textarea fxFlex="100%" cols="10" rows="5" formControlName="comments"></textarea>
            <mat-error>
                <span>{{minMax(formMain,'comments', 'Observações',null,500)}}</span>
            </mat-error>
        </mat-card>

        <!-- <div *ngIf="typeRegisterShowHide">

    </div> -->
        <address></address>
        <contact></contact>
        <br>
        <div fxLayoutAlign="center center">
            <button [disabled]="!formMain.valid" id="btnSave" mat-raised-button (click)="save()">Salvar</button>
        </div>
    </mat-card>
</div>
<!-- <div fxLayoutAlign="center center">
        <div>{{formMain.value|json}}</div>
    </div>
    <br>
    <div fxLayoutAlign="center center">
        <div>{{formMain.valid}}</div>
    </div> -->
