<div class="border-around" [formGroup]="formMain" *ngIf="formMain">
    <title-component [digit]="'|'" [textTitleComp]="'Pagamento'" [icon]="'payment'">
        <!-- <btn-add-g btn-1 (add)="add()"></btn-add-g> -->
    </title-component>
    <div>
        <div>
            <mat-card class="mat-card-sub-title" >
                <sub-title title [title]="'Despesa'" [icon]="'payment'"></sub-title>

                <payment-screen-data [fields]="fields">
                </payment-screen-data>

                <bank-account-mat-select-single *ngIf="itemsHtmlToVisible.bankAccountSelectSingleIsVisible" (selectedPayment)="makeEntityToUpdate($event)" [formMain]="formMain"
                    [urlBackEndApi]="'GetAllFnBankAccount'" [btnCheckIsFormValid]="checkIsValid"
                    [typeCardToDisable]="cardType" (banckAccountelected)="onSelectedBanckAccountelected($event)">
                </bank-account-mat-select-single>
                <br>
                <br>
                <payment-month-fixed-btns-fields [formMain]="formMain" [interestShow]="true">
                </payment-month-fixed-btns-fields>
                <div  btn>
                    <btn-g [name]="'Pagar'" [icon]="'payment'" (click)="updateBtn()"
                        ></btn-g>
                        <!-- [enableDisable]="!formMain.valid" -->
                </div>
                <div>
                    {{formMain.value | json}}
                </div>
            </mat-card>
        </div>
    </div>
</div>