<div class="border-around" [formGroup]="formMain" *ngIf="formMain">
    <title-component [digit]="'|'" [titleString]="'Pagamento'" [icon]="'payment'">
        <!-- <btn-add-g btn-1 (add)="add()"></btn-add-g> -->
    </title-component>
    <div>
        <div fxLayout="column" fxFlex>
            <mat-card class="mat-card-sub-title" fxFlex>
                <sub-title title [title]="'Despesa'" [icon]="'payment'"></sub-title>

                <payment-month-fixed-screen-data [fields]="fields">
                </payment-month-fixed-screen-data>

                <bank-account-mat-select-single (selectedPayment)="makeEntityToUpdate($event)"
                    [urlBackEndApi]="'GetAllFnBankAccount'" (formIsValid)="formIsValid($event)"
                    [btnCheckIsFormValid]="checkIsValid" [formMain]="formMain"
                    (banckAccountelected)="onSelectedBanckAccountelected($event)">
                </bank-account-mat-select-single>
                <br>
                <br>
                <payment-month-fixed-btns-fields [formMain]="formMain" [interestShow]="true">
                </payment-month-fixed-btns-fields>
                <div fxLayout="column" btn>
                    <btn-g [name]="'Pagar'" [icon]="'payment'" (click)="updateBtn()" [enableDisable]="!formMain.valid"></btn-g>
                </div>
                <div>
                    {{formMain.value | json}}
                </div>
            </mat-card>
        </div>
    </div>
</div>