<div class="p-4">
    <mat-radio-group (change)="filter($event)" [disabled]="disabledRadioInput">
        <div class="w-full grid sm:grid-cols-3 grid-cols-1 gap-4 items-center justify-center">
            <div class="w-full grid grid-cols-[15px_1fr] items-center justify-center">

                <div class="w-[20px] h-[20px] bg-expired"> </div>

                <div>
                    <mat-radio-button #radioExpired [value]="'expired'">Vencida</mat-radio-button>
                </div>
            </div>

            <div *ngIf="!pedingRadioHide" class="w-full grid grid-cols-[15px_1fr] items-center justify-center">
                <div class="w-[20px] h-[20px] bg-pendding"></div>
                <div>
                    <mat-radio-button #radioPedding [value]="'pending'">Pendente</mat-radio-button>
                </div>
            </div>

            <div class="w-full grid grid-cols-[15px_1fr] items-center justify-center">
                <div class="w-[20px] h-[20px] bg-paid"></div>
                <div>
                    <mat-radio-button #radioPaid [value]="'paid'">Liquidada</mat-radio-button>
                </div>
            </div>
        </div>

    </mat-radio-group>

</div>
