
.btns {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

}

.paginator-above {
    display: flex;
    float: right;
}

.container-btns-paginator-above {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


@media(max-width: 640px) {

    
.container-btns-paginator-above {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between;
    align-items: center; */
    flex-wrap: wrap;
}



.btns {
    margin-bottom: -25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

}