<div fxLayout="column" class="border-around">
    <!-- <title-component [digit]="'|'" [titleString]="'Despesas'" [subTitleString]="'Consulta Cadastro'" [icon]="'attach_money'">
    </title-component> -->
    <mat-card fxLayout="column">
        <!-- <sub-title title [title]=" 'Cadastro de despesa fixa' " [icon]=" 'add' " [titleBarStyle]="titleBarStyle"></sub-title>-->
        <mat-tab-group>
            <mat-tab label="Cartão de crédito">
                <list-financings-loans-expenses>
                </list-financings-loans-expenses>
            </mat-tab>
            <mat-tab label="Financiamento / Empréstimo">
                <list-financings-loans-expenses>
                </list-financings-loans-expenses>
            </mat-tab>
            <mat-tab label="Mensal">
                <list-monthly-fixed-expenses>
                </list-monthly-fixed-expenses>
            </mat-tab>
         
            <mat-tab label="Variável">
                <!-- <variable-expenses>
                </variable-expenses> -->

                <variable-expenses-list>
                </variable-expenses-list>

                <!-- <select-category-subcategory-expenses-add [formMain]="formMain" [formCtrlNameCategory]="'name'" [formCtrlNameSubcategory]="'name'"> -->



                <!-- <edit-category-subcategory-expenses>
                </edit-category-subcategory-expenses> -->




                <!-- <select-category-subcategory-expenses-add>
                </select-category-subcategory-expenses-add> -->
            </mat-tab>
            <mat-tab label="Anual">
                <list-yearly-fixed-expenses>
                </list-yearly-fixed-expenses>
            </mat-tab>
           
        </mat-tab-group>
    </mat-card>
</div>