<div style="padding:10px;">
    <br>
    <div [formGroup]="formMain">
        <mat-card fxFlex="99" fxLayout="column" fxLayoutGap="15px">

            <mat-card fxFlex="99">
                <div fxLayout="row">
                    <mat-form-field fxFlex="99">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
            <mat-card fxFlex="99">
                <div fxLayout="row">
                    <mat-form-field fxFlex="99">
                        <mat-label>Descrição</mat-label>
                        <input matInput type="text" formControlName="description">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'description', 'Descrição')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'description', 'Descrição',null,86)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>

            </mat-card>

        </mat-card>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button id="btnSave" mat-raised-button color="primary" type="submit" (click)="save()">Salvar</button>
    </div>
