<!-- <mat-divider class="mat-elevation-z8"></mat-divider> -->
<div style="padding:10px;">
    <!-- <h3>
        Forma de Pagamento
    </h3>
    <hr> -->
    <br>

    <div [formGroup]="formMain" fxLayout="column">

        <!-- <mat-card-title> Forma de Pagamento</mat-card-title> -->
        <mat-card>


            <div fxLayout="row">
                <mat-form-field fxFlex="100%">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error>
                        <span>{{required(formMain,'name', 'Nome')}}</span>
                        <span>{{minMax(formMain,'name', 'Nome',null,150)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>




            <div fxLayout="row">
                <mat-form-field fxFlex="100%">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
            </div>
            <mat-error>
                <span>{{required(formMain,'description', 'Descrição')}}</span>
                <span>{{minMax(formMain,'description', 'Descrição',null,500)}}</span>
            </mat-error>

        </mat-card>

        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button style="margin-right: 15px; width: 550px; height: 50px; font-size: 30px;" mat-raised-button color="primary" type="submit" (click)="save()">Salvar</button>
        </div>
    </div>