.product,
.segment,
.manufacturer {
    margin-top:18px;
}
.model,
.speed,
.capacity {
    margin-top:18px;
}
.description {
    margin-top:18px;
}

@media(min-width: 640px) {
    .container-level-0 {
        display: inline-flex;
        gap: 5px;
        flex-wrap: wrap;
        width: 100%;
    }

    .product,
    .segment,
    .manufacturer {
        width: 100%;
        flex: 1;
        margin-top:18px;

    }

    .container-level-0-1 {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .model,
    .speed,
    .capacity {
        width: 100%;
        flex: 1;
        margin-top:10px;
    }
    .description {
        margin-top:10px;
    }
}