<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'storage'">
    </title-component>

    <mat-card class="small-large-screen">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>
        <div class="container-main" *ngIf="this.products$">
            <!-- Column LEFT -->
            <div class="product">
                <!-- product start-->
                <product-input-field [formErrors]="formErrosValidation" [products]="this.products$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [formMain]="this.formMain">
                </product-input-field>
                <!-- [productMatSelect]="this.productMatSelect" -->

            </div>

            <div class="segment">
                <!-- segment start-->
              
                <segment-input-field [formErrors]="formErrosValidation" [segments]="this.segments$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" [formMain]="segmentForm">
                </segment-input-field>

                <!-- segment end-->
            </div>

            <div class="manufacturer">
                <!-- manufacturer start-->
                <manufacturer-input-field [formMain]="manufacturerForm" [formErrors]="formErrosValidation" [manufacturers]="manufacturers$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel" >
                </manufacturer-input-field>
                <!-- manufacturer end-->
            </div>

            <div class="model">
                <!-- model start-->
                <model-input-field [formMain]="modelForm" [formErrors]="formErrosValidation" [models]="this.models$"
                    [noEntriesFoundLabel]="noEntriesFoundLabel">
                </model-input-field>
                <!-- model end-->
            </div>

            <div class="description">
                <model-description-input-field style="width: 100%;" [formMain]="this.modelForm">
                </model-description-input-field>
            </div>
            <!-- <div>{{formMain.value | json}}</div> -->
        </div>
        <div>
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
          </div>
          <br>
          <div>{{formMain.value | json}}</div>
    </mat-card>
</div>


<!-- <div class="border-around"> -->



<!-- <div>
            <btn-g [name]="saveOrUpdate" [icon]="'save'" (btn)="save()"></btn-g>
        </div> -->

<!-- </mat-card> -->
<!-- <add-item-product *ngIf="formMain.valid">
        </add-item-product> -->
<!-- <div>{{formMain.value | json}}</div> -->


<!-- </div> -->