<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'storage'">
    </title-component>

    <mat-card class="common-use--display">
        <sub-title class="common-use--sub-title" title [title]="'Cadastro'" [icon]="'add'"></sub-title>

        <!-- Column LEFT -->
        <div class="common-use--display">
            <!-- product start-->
            <field-input-g class="common-use--product" [type]="'text'" [formMain]="this.formMain" [inputLabel]="'Tipo'" [fieldControlName]="'name'">
                <span msg-error *ngIf="this.formError(formMain,'name', 'required') && this.formTouched(formMain, 'name')">{{requiredMsg}}</span>
                <span msg-error *ngIf="this.formError(formMain,'name', 'maxlength') && this.formTouched(formMain, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                <span msg-error *ngIf="this.formError(formMain,'name', 'inUse') && this.formTouched(formMain, 'name')">{{inUseMsg}}</span>
            </field-input-g>
            <!-- [productMatSelect]="this.productMatSelect" -->



            <!-- segment start-->
            <field-input-g class="common-use--segment" [type]="'text'" [formMain]="segmentForm" [inputLabel]="'Segmento'" [fieldControlName]="'name'">
                <span msg-error *ngIf="this.formError(segmentForm,'name', 'required') && this.formTouched(segmentForm, 'name')">{{requiredMsg}}</span>
                <span msg-error *ngIf="this.formError(segmentForm,'name', 'maxlength') && this.formTouched(segmentForm, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
            </field-input-g>
            <!-- segment end-->


            <!-- manufacturer start-->
            <field-input-g class="common-use--manufacturer" [type]="'text'" [formMain]="manufacturerForm" [inputLabel]="'Fabricante'" [fieldControlName]="'name'">
                <span msg-error *ngIf="this.formError(manufacturerForm,'name', 'required') && this.formTouched(manufacturerForm, 'name')">{{requiredMsg}}</span>
                <span msg-error *ngIf="this.formError(manufacturerForm,'name', 'maxlength') && this.formTouched(manufacturerForm, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
            </field-input-g>
            <!-- manufacturer end-->




            <!-- model start-->
            <field-input-g class="common-use--model" [type]="'text'" [formMain]="modelForm" [inputLabel]="'Modelo'" [fieldControlName]="'name'">
                <span msg-error *ngIf="this.formError(modelForm,'name', 'required') && this.formTouched(modelForm, 'name')">{{requiredMsg}}</span>
                <span msg-error *ngIf="this.formError(modelForm,'name', 'maxlength') && this.formTouched(modelForm, 'name')">{{maxLengthMsg
                      + '50' + charactersMsg}}</span>
            </field-input-g>
        </div>


        <!-- <div style="display:flex;">

        </div> -->

        <div class="common-use--group-measures">


            <field-select-g class="common-use--select-speed" (outEntitiesSelected)="onSelectSpeedMeasure($event)" [entities]="speed$" [labelInput]="'Medida'" [formControlResetalways]="controlReset">
            </field-select-g>
            <div class="common-use--container-prefix-suffix">
                <mat-form-field class="common-use--speed-field" appearance="outline" floatLabel="always">
                    <mat-label>Velocidade</mat-label>
                    <input matInput type="number" class="common-use--prefix-suffix-right-align" placeholder="0">
                    <span matSuffix>{{speedMeasure}}</span>
                </mat-form-field>
            </div>


            <field-select-g class="common-use--select-measure" (outEntitiesSelected)="onSelectStorageMeasure($event)" [entities]="storage$" [labelInput]="'Medida'" [formControlResetalways]="controlReset">
            </field-select-g>
            <div class="common-use--container-prefix-suffix">
                <mat-form-field class="common-use--measure-field" appearance="outline" floatLabel="always">
                    <mat-label>Armazenamento</mat-label>
                    <input matInput type="number" class="common-use--prefix-suffix-right-align" placeholder="0">
                    <span matSuffix>{{storageMeasure}}</span>
                </mat-form-field>
            </div>


        </div>



        <!-- <div class="speed ">
                <field-input-g [type]=" 'text' " [formMain]="this.specificitiesForm " [inputLabel]=" 'Velocidade' "
                    [fieldControlName]=" 'speed' ">
                    <span msg-error
                        *ngIf="this.formError(specificitiesForm, 'speed', 'maxlength') && this.formTouched(specificitiesForm, 'speed') ">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                </field-input-g>


            </div>
            <div class="capacity ">
                <field-select-g (outEntitiesSelected)=" '' " [entities]="speed$ " [labelInput]=" 'Velocidades' "
                    [formControlResetalways]="controlReset ">
                </field-select-g>
            </div> -->




        <!-- <div class="description ">
            <field-input-g [type]=" 'text' " [formMain]="this.modelForm " [inputLabel]=" 'Descrição' " [fieldControlName]=" 'description' ">
                <span msg-error *ngIf="this.formError(modelForm, 'description', 'maxlength') && this.formTouched(modelForm, 'description') ">{{maxLengthMsg + '500' + charactersMsg}}</span>
            </field-input-g>
        </div> -->
        <!-- model end-->

        <!-- <div>{{formMain.value | json}}</div> -->
        <div class="common-use--btn-save">
            <btn-g [name]=" 'Salvar' " [icon]=" 'save' " (btn)="save() "></btn-g>
        </div>
    </mat-card>

</div>
