<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'storage'">
    </title-component>

    <mat-card class="small-large-screen">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>

        <div class="container-level-0">
            <!-- Column LEFT -->
            <div class="product">
                <!-- product start-->
                <field-input-g [formMain]="this.formMain" [inputLabel]="'Tipo'" [fieldControlName]="'name'">
                </field-input-g>
                <!-- [productMatSelect]="this.productMatSelect" -->

            </div>

            <div class="segment">
                <!-- segment start-->

                <field-input-g [formMain]="segmentForm" [inputLabel]="'Segmento'" [fieldControlName]="'name'">
                </field-input-g>

                <!-- segment end-->
            </div>

            <div class="manufacturer">
                <!-- manufacturer start-->
                <field-input-g [formMain]="manufacturerForm" [inputLabel]="'Fabricante'" [fieldControlName]="'name'">
                </field-input-g>
                <!-- manufacturer end-->
            </div>

        </div>

        <div class="container-level-0-1">
            <div class="model">
                <!-- model start-->
                <field-input-g [formMain]="modelForm" [inputLabel]="'Modelo'" [fieldControlName]="'name'">
                </field-input-g>

            </div>

            <div class="speed">
                <field-input-g [formMain]="this.modelForm" [inputLabel]="'Velocidade'" [fieldControlName]="'speed'"
                    style="width: 100%;">
                </field-input-g>
            </div>
            <div class="capacity">
                <field-input-g [formMain]="this.modelForm" [inputLabel]="'Capacidade'" [fieldControlName]="'capacity'"
                    style="width: 100%;">
                </field-input-g>
            </div>

        </div>
        <div class="description">
            <field-input-g [formMain]="this.modelForm" [inputLabel]="'Descrição'" [fieldControlName]="'description'"
                style="width: 100%;">
            </field-input-g>
        </div>
        <!-- model end-->
        <div>
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>

        <div>{{formMain.value | json}}</div>
    </mat-card>
</div>