<div fxLayout="column" class="border-around">
    <!-- <title-component [digit]="'|'"[titleString]="'Cadastro de despesas fixas'"[icon]="'attach_money'">
        </title-component> -->
    <section id="container-above" fxLayout="row">
        <button id="btn-back" mat-raised-button (click)="back()">{{'Voltar'}}</button>
    </section>
    <br>
    <br>
    <mat-card [formGroup]="formMain" fxLayout="column" *ngIf="formMain">
        <sub-title title [title]="'Categoria / Subcategorias'" [icon]="'add'"></sub-title>
        <div fxLayout="row">
            <h3>Cadastro</h3>
        </div>
        <div fxLayout="column" *ngIf="delete">
            <btn-g mat-dialog-close [name]="'Apagar'" [icon]="'delete_outline'" [styleColors]="'font-size: 15px;color: white;background-color: rgb(156,33,29);'" (click)="findToDelete()"></btn-g>
         </div>
        <br>
        <div fxLayout="row" fxFlex>
            <mat-checkbox #edit [disabled]="!formMain.get('name').valid || disableToAdd" (change)="editCheck($event)">
                {{'Editar'}}
            </mat-checkbox>
        </div>
        <br>
        <div [fxLayout]="screenFieldPosition" fxLayoutGap="10">
            <div fxLayout="column" fxFlex *ngIf="!edit.checked">
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="name" (selectionChange)="selectedCategoryExpensesId($event.value)">
                        <mat-option [value]="expense.id" *ngFor="let expense of fillersExpenses | async">
                           <div *ngIf="expense.deleted != true">
                            {{expense.name | uppercase}}
                           </div>
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'name', 'Categoria')}}</span>
                        <span>{{requiredSubcategory()}}</span>
                        <span>{{requiredSubcategoryEditCat()}}</span>
                        <span>{{categoryIsExist()}}</span>
                        <span>{{validatorMessages.minMaxLength(formMain,'name', 'Categoria',null,30)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div fxLayout="column" fxFlex [formGroup]="formLoadEditCat" *ngIf="edit.checked">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Categoria</mat-label>
                    <input matInput formControlName="name" aria-label="Categoria">
                    <mat-error>
                        <span>{{validatorMessages.required(formLoadEditCat,'name', 'Categoria')}}</span>
                        <span>{{requiredSubcategory()}}</span>
                        <span>{{requiredSubcategoryEditCat()}}</span>
                        <span>{{categoryIsExist()}}</span>
                        <span>{{validatorMessages.minMaxLength(formLoadEditCat,'name', 'Categoria',null,30)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex [formGroup]="formLoadEditCat" *ngIf="disableToAdd">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Categoria</mat-label>
                    <input matInput #newCatInput (input)="isExists(newCatInput.value)" formControlName="name" aria-label="Categoria">
                    <mat-error>
                        <span>{{validatorMessages.required(formLoadEditCat,'name', 'Categoria')}}</span>
                        <span>{{requiredSubcategory()}}</span>
                        <span>{{requiredSubcategoryEditCat()}}</span>
                        <span>{{categoryIsExist()}}</span>
                        <span>{{validatorMessages.minMaxLength(formLoadEditCat,'name', 'Categoria',null,30)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
          
        </div>

        <div fxLayout="row">
            <btn-g btn-1 [name]="'Subcategoria'" [icon]="'add'" [enableDisable]="editChk"
                (btn)="addSubcategories()"></btn-g>
        </div>
        <br>
        <div fxLayout="column" formArrayName="subcategoriesExpenses"
            *ngFor="let subCat of getSubcategories.controls; let i = index;">
            <div [formGroupName]="i" fxLayout="column"  *ngIf="subCat.get('deleted').value != true">
                <btn-g fxLayout="row" [name]="'Remover'" [icon]="'clear'"
                    [styleColors]="'font-size: 15px;color: white;background-color: rgb(156,33,29);'"
                    (btn)="removeSubcategory(i)" [enableDisable]="editChk"></btn-g>
                <br>
                <div fxLayout="row" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Subcategoria</mat-label>
                        <input matInput formControlName="name" aria-label="Subcategoria">
                        <mat-error>
                            <span>{{validatorMessages.required(subCat,'name', 'Subcategoria')}}</span>
                            <span>{{validatorMessages.minMaxLength(subCat,'name', 'Subcategoria', 3, 30)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>



        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()" [enableDisable]="btnSave"></btn-g>
        </div>
        <br>
<!-- 
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <div>{{formMain.value | json}}</div>
            <br>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <br>
            <div>{{formLoadEditCat.value | json}}</div>
        </div> -->
    </mat-card>
</div>