/* #bg {
    background: url('../../../assets/footer.png');
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
} */

input[type="text"] {
    /* font-size: 35px; */
    font-size: 15px;
    text-align: center;
    /* color: black; */
}

mat-label {
    color: black !important;
    /* font-size: 35px; */
    font-size: 15px;
}

mat-icon {
    color: green;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

span {
    cursor: pointer;
    font-size: 10px;
}


/* #bg-div {
    background-color: darkgreen;
    margin: -12%;
    width: 100%;
    overflow: hidden;
    display: block;
} */

#enter-button {
    color: white;
    justify-content: center;
    display: flex;
}

mat-dialog-actions {
    margin: -24px;
    display: block;
    padding-bottom: 0px;
    padding-top: 0px;
    background: green;
}
