.logo {
    font-size: 50px;
    width: 50px;
    height: 50px;
}

title {
    margin-bottom: 30px;
}

h1 {
    font-family: Mynerve;
    font-size: 30px;
}

h3 {
    font-family: Mynerve;
}

.paper {}

.paper-inside {
    background-color: rgb(223, 223, 223);
}

.btn-settings {
    font-size: 15px;
    color: white;
    background-color: #2ba1a8;
}

.space-form-title-logo {
    padding: 25px;
}


/* .space-from-top {
    padding: 1%;
} */

.main-height {
    height: 100%;
}