<div>
    <h3>Contatos</h3>

    <div fxLayout="column" [formGroup]="formMain">
        <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex>

                <mat-form-field appearance="outline">
                    <mat-label> E-mail:</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>
                        <span>{{validatorMessages.required(formMain,'email', 'E-mail')}}</span>
                        <span>{{validatorMessages.mailField(formMain,'email', 'E-mail')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="column" fxFlex>

                <mat-form-field appearance="outline">
                    <mat-label>Site:</mat-label>
                    <input matInput formControlName="site">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'site', 'Site', null, 100)}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="15px">
            <div fxLayout="column" fxFlex>

                <mat-form-field appearance="outline">
                    <mat-label> Celular:</mat-label>
                    <input (blur)="validatorCustom.atLeastOneValidationBlur(this.formMain, ['cel','zap','landline'])" matInput mask="(00) 0-0000-0000" formControlName="cel" placeholder="(00) 0-0000-0000">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'cel', 'Celular', 11, 11)}}</span>
                        <span>{{validatorMessages.atLeastOne(formMain,'cel', 'Celular')}}</span>
                        <span>{{validatorMessages.required(formMain,'cel', 'Celular')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="column" fxFlex>

                <mat-form-field appearance="outline">
                    <mat-label>WhatsApp</mat-label>
                    <input (blur)="validatorCustom.atLeastOneValidationBlur(this.formMain, ['cel','zap','landline'])" matInput mask="(00) 0-0000-0000" formControlName="zap" placeholder="(00) 0-0000-0000">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'zap', 'WhatsApp', 11, 11)}}</span>
                        <span>{{validatorMessages.atLeastOne(formMain,'zap', 'WhatsApp')}}</span>
                        <span>{{validatorMessages.required(formMain,'zap', 'WhatsApp')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="column" fxFlex>

                <mat-form-field appearance="outline">
                    <mat-label>Tel. Fixo:</mat-label>
                    <input (blur)="validatorCustom.atLeastOneValidationBlur(this.formMain, ['cel','zap','landline'])" matInput mask="(00) 0-000-0000" formControlName="landline" placeholder="(00) 0-000-0000">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'landline', 'Telefone Fixo', 10, 10)}}</span>
                        <span>{{validatorMessages.required(formMain,'landline', 'Telefone Fixo')}}</span>
                        <span>{{validatorMessages.atLeastOne(formMain,'landline', 'Telefone Fixo')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <br>
            <div fxLayout="row" fxLayoutAlign="end end">
                <button class="add-btn" (click)="addSocialNets()">
          <mat-icon>add</mat-icon>&nbsp;&nbsp;Adicionar
        </button>
            </div>
            <br>
            <div id="labelBtnAdd" fxLayout="row" fxLayoutAlign="end end">
                <h1>Rede Social</h1>
            </div>
        </div>

        <div formArrayName="socialnetworks" *ngFor="let scnw of formSocialNets.controls; let i = index;">
            <div [formGroupName]="i" fxLayout="column" fxLayoutGap="20">
                <div fxLayout="row" fxFlex="15">

                    <button mat-raised-button color="warn" style="height: 40px; font-size: 25px;" (click)="removeNets(i)">
            <mat-icon>clear</mat-icon>&nbsp;&nbsp;Remover
          </button>

                </div>
                <div fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Rede Social</mat-label>
                        <input matInput id="socialnetName" formControlName="name">
                        <mat-error>
                            <span>{{validatorMessages.required(subForm,'name', 'Nome')}}</span>
                            <span>{{validatorMessages.minMaxLength(subForm,'name', 'name', 3, 150)}}</span>
                        </mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="column" fxFlex>

                    <mat-form-field appearance="outline">
                        <mat-label>Url (Link)</mat-label>
                        <input matInput id="socialnetUrl" formControlName="url">
                        <mat-error>
                            <span>{{validatorMessages.required(subForm,'url', 'URL')}}</span>
                            <span>{{validatorMessages.minMaxLength(subForm,'url', 'URL', null, 150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </div>

</div>