<div class="border-around">

    <title-component [digit]="'|'" [textTitleComp]="'Informações gerais'" [icon]="'compare_arrows'">
        <btn-g btn-1 [name]="'Editar'" [icon]="'edit'" (btn)="edit()"></btn-g>
    </title-component>

    <section id="container">
        <div class="child" id="identification">
            <mat-card class="mat-card-above">
                <sub-title-item class="title-item" [title]="'Identificação'" [icon]="'description'"></sub-title-item>
                <div>
                    <div>
                        <strong class="alignment default-font">Destino:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{destiny() | titlecase}}</p>
                    </div>
                </div>


                <div>
                    <div>
                        <strong class="alignment default-font">Transportador:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.transporter.name | titlecase}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Motivo:</strong>
                    </div>
                    <div>
                        <!-- <p class="default-font">{{collectDeliver?.subjectReason}}</p> -->
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Contato no local</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.contactName | titlecase}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Aberta / Iniciada:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.start | date}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Valor:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.price | ptBrCurrency}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Coleta:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.collect === true ? 'Sim' : 'Não'}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Entrega:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.deliver === true ? 'Sim' : 'Não'}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Serviço:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.other === true ? 'Sim' : 'Não'}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Cobrança:</strong>
                    </div>
                    <div>
                        <p class="default-font">{{billingFrom()}}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <strong class="alignment default-font">Visão geral da tarefa / Items transportados</strong>
                    </div>
                    <div>
                        <p class="default-font">{{collectDeliver?.taskOverView}}</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </section>
</div>
