<div (window:resize)="screen()" class="border-around">
    <div class="around"  >
        <title-component [digit]="'|'" [textTitleComp]="'Despesas Anuais'" [icon]="'attach_money'">
        </title-component>

        <mat-card class="mat-card-sub-title" >
            <grid-list-common>
                <sub-title title [title]="'Contas a pagar'" [icon]="'list'"></sub-title>
                <div search-filter >
                    <div >
                        <filter-radio-btns [fxLayoutInput]="screenFieldPosition" [inputSetClearRadios]="cleanRadios"
                            (radioChange)="filterView($event)">
                        </filter-radio-btns>
                    </div>
                    <div class="small-space-horizontal-beteween-fields"></div>
                    <div>
                        <div  *ngIf="screenFieldPosition == 'column'">
                            <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
                        </div>
                        <div >
                            <btn-g [name]="'Filtros'" [icon]="'clear'"
                                
                                (btn)="filterClear()"></btn-g>
                        </div>
                        <div fxLayout="screenFieldPosition" >

                        </div>
                        <div  *ngIf="screenFieldPosition == 'row'">
                            <btn-g btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="add()"></btn-g>
                        </div>

                    </div>
                </div>
                <div search-filter id="space-components" >

                </div>
                <div search-pagination  >
                    <div>
                        <grid-list-common-search [Input]="searchFieldYearlySelect" [searchName]="'Busca'"
                            [clearSearchField]="clearSearchField" (queryFieldOutput)="queryFieldOutput($event)">
                        </grid-list-common-search>
                    </div>
                    <br>
                    <mat-paginator #paginatorAbove [length]="this.gridListCommonHelper.lengthPaginator.getValue()"
                        [pageSize]="pageSize" fxLayoutAlign="center center"
                        (page)="onPageChange($event)"></mat-paginator>
                    <br>
                </div>
                <grid-list-common-table  body-table [statusShow]="true"
                    [matIcons]="{deleteEmpty:'empty', editEmpty:'empty',visibility:'Detalhes' }"
                    [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers"
                    (getColumnEntityName)="orderBy($event)" (getEntityOut)="getEntity($event, 'fixedExpenses')"
                    (toPayOut)="getEntityTopay($event)">
                </grid-list-common-table>
                <div pagination-below >
                    <div class="mat-paginator-above-margin"  >

                    </div>
                    <div>
                        <div>

                        </div>

                        <mat-paginator pagination-below #paginatorBelow
                            [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize"
                            (page)="onPageChange($event)"></mat-paginator>

                    </div>
                    <div class="mat-paginator-below-margin"  >

                    </div>
                </div>
            </grid-list-common>
        </mat-card>
    </div>

</div>