<div class="border-around" [formGroup]="formMain" *ngIf="formMain">
    <title-component [digit]="'|'" [textTitleComp]="'Edição de parceiros'" [icon]="'transfer_within_a_station'">

    </title-component>
    <mat-card class="mat-card-sub-title">
        <sub-title title [title]="'Edição de Parceiro'" [icon]="'edit'"></sub-title>
        <div >
            <h3>Identificação Parceiro</h3>
        </div>
        <div >
            <div >
                <name-cpf-cnpj (cpfCnpjBusinessData)="cpfCnpjBusinessData($event)" [formMain]="formMain" > </name-cpf-cnpj>
            </div>
            <div >
                <main-entities-base [formMain]="formMain" [businessLine]="true" [specificBusinessLine]="true" >
                </main-entities-base>
            </div>

        </div>

        <mat-divider></mat-divider>
        <payment-data [formMain]="paymentDataForm" (addPixOutput)="addPix()" (removePixOutput)="removePix($event)" (addBankOutput)="addBank()" (removeBankOutput)="removeBank($event)">
        </payment-data>

        <div class="middle-space-horizontal-beteween-fields"> </div>
        <mat-divider></mat-divider>

        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div >
            <div >
                <physically-moving-costs [formMain]="subForm" >
                </physically-moving-costs>
            </div>
        </div>
        <div >
            <description-field [formMain]="formMain" [rows]="rows" [maxLength]="2000">
            </description-field>
        </div>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <mat-divider></mat-divider>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div >
            <div >
                <address [formMain]="this.address" ></address>
            </div>
            <div class="middle-space-horizontal-beteween-fields"> </div>
            <mat-divider></mat-divider>
            <div class="middle-space-horizontal-beteween-fields"> </div>
            <div >
                <contact  [formMain]="this.contact"></contact>
            </div>
        </div>
        <div class="middle-space-horizontal-beteween-fields"> </div>
        <div fxLayoutAlign="center center">
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="update()"></btn-g>
        </div>
    </mat-card>

</div>

<div class="border-around" fxLayoutAlign="center center">
    <div>{{formMain?.value|json}}</div>
</div>