<div class="border-around">
    <title-component [titleString]="title" [subTitleString]="subTitle">
    </title-component>
    <mat-card>
        <div [formGroup]="formMain" fxLayout="row">
            <div fxLayout="column" fxLayoutGap="30px" fxFlex="100%">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <h4>IDENTIFICAÇÃO</h4>
                </div>
                <mat-grid-list (window:resize)="screen()" [cols]="equipamentIdManufactorerCols" [rowHeight]="equipamentIdManufactorerRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Peça</mat-label>
                                <mat-select formControlName="equipament" (selectionChange)="equipamentOnChange($event.value)">
                                    <mat-option [value]="equipament.name" *ngFor="let equipament of equipaments">
                                        {{equipament.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'equipament','Peça' )}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99" style="height:114px;">
                            <mat-form-field fxFlex="99">
                                <mat-label>Fabricante</mat-label>
                                <input matInput type="text" formControlName="manufacturer">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'manufacturer','Fabricante' )}}</span>
                                    <span>{{validatorMessages.minMaxLength(formMain,'manufacturer', 'Fabricante',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list [cols]="otherEquipamentModelCols" [rowHeight]="otherEquipamentModelRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99" #tooltip="matTooltip" [matTooltip]="messageTooltipNameOther" [matTooltipPosition]="matTooltip.position.value" [matTooltipHideDelay]="matTooltip.matTooltipHideDelay" [matTooltipDisabled]="matTooltip.enableDisable">
                            <mat-form-field fxFlex="99">
                                <mat-label>Outros equipamentos</mat-label>
                                <input matInput type="text" formControlName="otherEquipament">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'otherEquipament','Peça' )}}</span>
                                    <span>{{validatorMessages.minMaxLength(formMain,'otherEquipament', 'Peça',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Modelo</mat-label>
                                <input matInput type="text" formControlName="model">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'model','Modelo' )}}</span>
                                    <span>{{validatorMessages.minMaxLength(formMain,'model', 'Modelo',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list (window:resize)="screen()" [cols]="partnerIdSnCols" [rowHeight]="partnerIdSnRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Nota Fiscal Nº</mat-label>
                                <input matInput type="text" formControlName="nfNumber">
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'sn', 'Número de série',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field fxFlex="99">
                                <mat-label>Fornecedor</mat-label>
                                <mat-select formControlName="partnerId">
                                    <mat-option *ngFor="let partner of this.partners" [value]="partner.id">
                                        {{partner.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'partner','Fornecedor' )}}</span>
                                </mat-error>
                            </mat-form-field> -->
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>S/N impresso na peça.</mat-label>
                                <input matInput type="text" formControlName="sn">
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'sn', 'Número de série',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <h4>INFORMAÇÕES TÉCNICAS</h4>
                </div>
                <mat-grid-list (window:resize)="screen()" [cols]="generationCapacitySpeedCols" [rowHeight]="generationCapacitySpeedRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Geração</mat-label>
                                <input type="text" matInput formControlName="generation">
                                <!-- <mat-error>
                                    <span>{{validatorMessages.minMax(formMain,'generation', 'Geração',1,null)}}</span>
                                </mat-error> -->
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Capacidade</mat-label>
                                <input matInput type="text" formControlName="capacity">
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'capacity', 'Capacidade',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Velocidade</mat-label>
                                <input matInput type="text" formControlName="speed">
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'speed', 'Velocidade',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <h4>VALORES</h4>
                </div>
                <mat-grid-list (window:resize)="screen()" [cols]="costSalepriceCols" [rowHeight]="costSalepriceRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Preço de Custo</mat-label>
                                <input currencyMask matInput type="text" formControlName="cost">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'cost','Custo' )}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Preço de venda</mat-label>
                                <input currencyMask matInput type="text" formControlName="saleprice">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'saleprice','Preço de venda' )}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <h4>ESTADO</h4>
                </div>
                <mat-grid-list (window:resize)="screen()" [cols]="IstestedIsnewDriverCols" [rowHeight]="IstestedIsnewDriverRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-label>Testado
                                </mat-label>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center" style="height:50px;">
                                <mat-checkbox formControlName="istested">
                                </mat-checkbox>
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-label>Novo</mat-label>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center" style="height:50px;">
                                <mat-checkbox formControlName="isnew">
                                </mat-checkbox>
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Software</mat-label>
                                <input matInput type="url" formControlName="driver">
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'driver', 'Software',null,24)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <h4>GARANTIA</h4>
                </div>
                <mat-grid-list (window:resize)="screen()" [cols]="todayWarrantyCols" [rowHeight]="todayWarrantyRowHeight">
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <mat-label>Entrada</mat-label>
                                <input id="datepicker" matInput [matDatepicker]="picker" formControlName="entryDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'entryDate', 'Entrada')}}</span>
                                    <span>{{validatorMessages.invalidDate(formMain, 'entryDate')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card fxFlex="99">
                            <mat-form-field fxFlex="99" style="height:89px;">
                                <mat-label>Garantia(DIAS)</mat-label>
                                <input min="0" matInput type="number" formControlName="warranty">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'warranty','Garantia' )}}</span>
                                    <span>{{validatorMessages.minMax(formMain,'warranty', 'Garantia',0,null)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <table-g-grid (selectedItem)="selectedItem($event)" [title]="gridTitle" [dataSource]="this.dataSource" [IncludeButtonCheckboxHtml]="false" [IncludeButtonRadioHtml]="true" [pageSizeOptions]="[5,10,20]" [pageSize]="10" [columnsFields]="['check','name', 'responsible' ]"
                    [columnsNamesToDisplay]="['check', 'Nome', 'Responsável' ]" [url]="'partners/GetAllPagedPartnersAsync'" [length]="length">
                    <!-- when radio or check is activated, you needed to insert one more item on arrays
columnsFields
columnsNamesToDisplay
--------------------
for a simple table you will need to remove them.
-->
                </table-g-grid>
                <mat-grid-list [cols]="commentHistoricalCols" [rowHeight]="commentHistoricalRowHeight">
                    <mat-grid-tile>
                        <div fxLayout="column" fxFlex="99">
                            <div fxLayout="row">
                                <mat-card-title>
                                    Descrição
                                </mat-card-title>
                            </div>
                            <div fxLayout="row" fxFlex="99">
                                <mat-card class="mat-elevation-z10" fxFlex="99">
                                    <mat-form-field fxFlex="99">
                                        <textarea id="textarea" cols="30" rows="10" formControlName="comment" matInput placeholder="
                          Descreva as as características peça que esta sendo cadastrada."></textarea>
                                        <mat-error>
                                            <span>{{validatorMessages.minMaxLength(formMain,'comment', 'Descrição',null,250)}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="isNew">
                        <div fxLayout="column" fxFlex="99">
                            <div fxLayout="row">
                                <mat-card-title>
                                    Histórico
                                </mat-card-title>
                            </div>
                            <div fxLayout="row" fxFlex="99">
                                <mat-card class="mat-elevation-z10" fxFlex="99">
                                    <mat-form-field fxFlex="99">
                                        <textarea id="textarea" cols="30" rows="10" formControlName="historical" matInput placeholder="
                          Descreva a procedência da peça que esta sendo cadastrada."></textarea>
                                        <mat-error>
                                            <span>{{validatorMessages.minMaxLength(formMain,'historical', 'Histórico',null,500)}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div fxLayoutAlign="center center">
                    <mat-dialog-actions>
                        <button mat-button (click)="save()" id="btnSave">Salvar</button>
                    </mat-dialog-actions>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div fxLayoutAlign="center center">
    <div>{{formMain.valid}}</div>
</div>
<div fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>
</div>