<div [formGroup]="formMain">
    <div [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="80">
        <div fxLayout="column" fxFlex>
            <mat-form-field>
                <mat-select (selectionChange)="businessLine($event.value)" formControlName="businessLine">
                    <mat-option [value]="line.businessLine" *ngFor="let line of businesslineArray">
                        {{line.businessLine}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'businessLine', 'Linha de Negócios')}}</span>
                    <span>{{validatorMessages.changeSelection(formMain,'businessLine', 'Linha de Negócios')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'businessLine', 'Linha de Negócios',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex>
            <mat-form-field #tooltip="matTooltip" [matTooltip]="messageTooltipBusinessLineOther" [matTooltipPosition]="matTooltip.position.value" [matTooltipHideDelay]="matTooltip.matTooltipHideDelay" [matTooltipDisabled]="matTooltip.enableDisable">
                <mat-label>Linha de Negócios</mat-label>
                <input matInput type="text" formControlName="businessLineOther">
                <mat-error>
                    <span>{{validatorMessages.required(formMain,'businessLineOther', 'Linha de Negócios')}}</span>
                    <span>{{validatorMessages.minMaxLength(formMain,'businessLineOther', 'Linha de Negócios',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
