<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Tipo de produto'" [icon]="'storage'">
    </title-component>

    <mat-card class="container--mat-card">
        <sub-title class="container--sub-title" title [title]="'Cadastro'" [icon]="'add'"></sub-title>

        <div class="container--display">


            <!-- Column LEFT -->
            <div class="container--group-items">
                <h3>Básico</h3>
                <!-- product start-->
                <input-field-g [type]="'text'" [formMain]="this.formMain" [inputLabel]="'Tipo'"
                    [fieldControlName]="'name'">
                    <span msg-error
                        *ngIf="this.formError(formMain,'name', 'required') && this.formTouched(formMain, 'name')">{{requiredMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(formMain,'name', 'maxlength') && this.formTouched(formMain, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(formMain,'name', 'inUse') && this.formTouched(formMain, 'name')">{{inUseMsg}}</span>
                </input-field-g>
                <!-- [productMatSelect]="this.productMatSelect" -->

                <!-- segment start-->
                <input-field-g [type]="'text'" [formMain]="segments" [inputLabel]="'Segmento'"
                    [fieldControlName]="'name'">
                    <span msg-error
                        *ngIf="this.formError(segments,'name', 'required') && this.formTouched(segments, 'name')">{{requiredMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(segments,'name', 'maxlength') && this.formTouched(segments, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                        <span msg-error
                        *ngIf="this.formError(segments,'name', 'inUse') && this.formTouched(segments, 'name')">{{inUseMsg}}</span>
                </input-field-g>
                <!-- segment end-->


                <!-- manufacturer start-->
                <input-field-g [type]="'text'" [formMain]="manufacturers" [inputLabel]="'Fabricante'"
                    [fieldControlName]="'name'">
                    <span msg-error
                        *ngIf="this.formError(manufacturers,'name', 'required') && this.formTouched(manufacturers, 'name')">{{requiredMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(manufacturers,'name', 'maxlength') && this.formTouched(manufacturers, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                        <span msg-error
                        *ngIf="this.formError(manufacturers,'name', 'inUse') && this.formTouched(manufacturers, 'name')">{{inUseMsg}}</span>
                </input-field-g>
                <!-- manufacturer end-->

                <!-- model start-->
                <input-field-g [type]="'text'" [formMain]="models" [inputLabel]="'Modelo'"
                    [fieldControlName]="'name'">
                    <span msg-error
                        *ngIf="this.formError(models,'name', 'required') && this.formTouched(models, 'name')">{{requiredMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(models,'name', 'maxlength') && this.formTouched(models, 'name')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                        <span msg-error
                        *ngIf="this.formError(models,'name', 'inUse') && this.formTouched(models, 'name')">{{inUseMsg}}</span>
                </input-field-g>
            </div>


            <div class="container--group-specificity">
                <h3>Especificidade</h3>
                  <!-- <select-input-search-g class="space-between" (outEntitiesSelected)="onSelectSpeedMeasure($event)"
                    [entities]="speed$" [labelInput]="'Medida'" [selectFieldFormControl]="speedFormControl" [selectFieldSearchFormControl]="speedSearchFormControl">
                </select-input-search-g> -->

                <!-- <mat-form-field class="container--space" [formGroup]="specificity" appearance="outline"
                    floatLabel="always">
                    <mat-label>Velocidade</mat-label>
                    <input class="container--prefix-suffix-right-align" #speed (input)="speedHandle(speed.value)"
                        matInput type="text" placeholder="0" formControlName="speed">
                    <mat-hint>EX: (3.0 - 3.8) Os números a esqueda são o mínimo e os da direita o máximo.</mat-hint>
                    
                </mat-form-field>

                <select-input-search-g  class="container--space-between" (outEntitiesSelected)="onSelectStorageMeasure($event)"
                    [entities]="storage$" [labelInput]="'Medida'" [selectFieldFormControl]="capacityFormControl" [selectFieldSearchFormControl]="capacitySearchFormControl">
                </select-input-search-g>

                <mat-form-field class="container--space" [formGroup]="specificity" appearance="outline"
                    floatLabel="always">
                    <mat-label>Capacidade</mat-label>
                    <input class="container--prefix-suffix-right-align" #capacity
                        (input)="capacityHandle(capacity.value)" matInput type="text" placeholder="0"
                        formControlName="capacity">
                    <mat-hint>EX: (240 - 280) Os números a esqueda são o mínimo e os da direita o máximo.</mat-hint>
                    
                </mat-form-field>

                <input-field-g [type]="'text'" [formMain]="specificity" [inputLabel]="'Geração'"
                    [fieldControlName]="'generation'">
                    <span msg-error
                        *ngIf="this.formError(specificity,'generation', 'required') && this.formTouched(specificity, 'generation')">{{requiredMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(specificity,'generation', 'maxlength') && this.formTouched(specificity, 'generation')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                </input-field-g> -->

                <input-field-g [type]="'text'" [formMain]="specificity" [inputLabel]="'Link fabricante'"
                [fieldControlName]="'manufacturerLink'">
                <span msg-error
                *ngIf="this.formError(specificity,'manufacturerLink', 'required') && this.formTouched(specificity, 'manufacturerLink')">{{requiredMsg}}</span>
                <span msg-error
                *ngIf="this.formError(specificity,'manufacturerLink', 'maxlength') && this.formTouched(specificity, 'manufacturerLink')">{{maxLengthMsg
                        + '50' + charactersMsg}}</span>
                </input-field-g>
              
                <div [formGroup]="specificity">
                    <textarea class="container--text-area" matInput
                        [rows]="10" [placeholder]="'Descrição curta'" formControlName="description"></textarea>
                </div>
                <br>
                <div [formGroup]="specificity">
                    <textarea class="container--text-area" matInput [rows]="10"
                        [placeholder]="'Descrição completa'" formControlName="detailedDescription"></textarea>
                </div>
                <!-- <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,frmControlName, 'Observações', minLength, maxLength)}}</span>
                        <span *ngIf="required">{{validatorMessages.required(formMain, frmControlName, 'Descrição')}}</span>
                    </mat-error> -->

            </div>
        </div>
        <div>
            <br>
            <btn-g [name]=" 'Salvar' " [icon]=" 'save' " (btn)="save() "></btn-g>
        </div>
    </mat-card>
    <div>{{formMain.value | json}}</div>
</div>