<!-- <btn-g [name]="''" [icon]="'arrow_back'" (btn)="back()"></btn-g> -->
<!-- <btn-g [btnClassList]="'!bg-main-color !text-white !w-[30px] !rounded-[60px]'" [btnIconClassList]="'-ml-[300px]'" [name]="''" [icon]="'arrow_back'" (btn)="back()"></btn-g> -->


<div class="grid grid-rows-2 mb-10">
    <div>
        <button class="!bg-main-color" mat-mini-fab (click)="back()">
        <mat-icon>{{'arrow_back'}}</mat-icon>
      </button>
    </div>

    <div class="flex grid-cols-[15px_550px] items-center -mt-2">

        <div class="text-[40px] peer text-color-main">
            {{digit}}
        </div>

        <div class="title-comp">
            <div class="!flex !flex-wrap !whitespace-break-spaces">{{textTitleComp | uppercase}}</div>
        </div>
    </div>

</div>

<!-- <div class="grid grid-cols-1 mb-[50px] sm:grid-cols-3">
    <mat-icon class="invisible !w-[50px] !h-[50px] text-[50px] text-color-main sm:visible">{{icon}}</mat-icon>
    <div class="text-[40px] text-color-main gap-3">{{digit}}<span class="font-bold text-xl text-color-title-comp">{{textTitleComp}}</span>
        <ng-content select="[btn-1]"></ng-content>
    </div>
</div> -->






<!-- <ng-container *ngIf="!btnFromOut else fromOut">
    <btn-g [name]="'Voltar'" [icon]="'arrow_back'" (btn)="save()"></btn-g>
</ng-container>

<ng-template #fromOut>
    <ng-content select="[btnFromOut]"></ng-content>
</ng-template>

<section id="container-middle">

</section>
<section class="container">
    <div class="child" id="pipe">{{digit}}</div>
    <div class="child" [id]="titleIdCss">{{titleString}}</div>
    <div class="child">
        <mat-icon class="child" id="icon">{{icon}}</mat-icon>
    </div>
    <div class="child">
        <ng-content select="[btn-1]"></ng-content>
    </div>
    <div class="child">
        <ng-content select="[btn-2]"></ng-content>
    </div>
</section>
<section [style]="styleContainerBelow">

</section> -->
