<ng-container *ngIf="!btnFromOut else fromOut">
    <section id="container-above">
        <button id="btn-back" mat-raised-button (click)="back()">{{'Voltar'}}</button>
    </section>
</ng-container>

<ng-template #fromOut>
    <ng-content select="[btnFromOut]"></ng-content>
</ng-template>

<section id="container-middle">

</section>
<section class="container">
    <div class="child" id="pipe">{{digit}}</div>
    <div class="child" [id]="titleIdCss">{{titleString}}</div>
    <div class="child">
        <mat-icon class="child" id="icon">{{icon}}</mat-icon>
    </div>
    <div class="child">
        <ng-content select="[btn-1]"></ng-content>
    </div>
    <div class="child">
        <ng-content select="[btn-2]"></ng-content>
    </div>
</section>
<!-- <section class="container"  *ngIf="subTitleString">
    <p  id="sub-title-string">{{subTitleString}}</p>
</section> -->
<section [style]="styleContainerBelow">

</section>
