<div class="border-around" (window:resize)="screen()">
    <title-component [digit]="'|'" [titleString]="'Coletas entregas'" [icon]="'compare_arrows'">

    </title-component>
    <div>

        <div  >
            <mat-card class="mat-card-sub-title" >

                <grid-list-common>
                    <sub-title title [title]="titleGrid" [icon]="'list'"></sub-title>
                    <div search-filter >

                        <div >
                            <div class="small-space-horizontal-beteween-fields"></div>

                            <div   fxLayoutGap="10">
                                <div  ="50">
                                    <!-- <credit-card-invoices-mat-select-single
                                    [urlBackEndApi]="'GetAllCreditCardsOnlyByCompanyId'"
                                    (creditCardIdOutput)="getCreditCardIdOutput($event)">
                                </credit-card-invoices-mat-select-single> -->
                                </div>
                            </div>
                            <div  ="50">
                                <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="false"
                                    [changeSelection]="monthFilter" [Input]="searchFieldMonthSelect"
                                    (sendSelected)="selectedMonth($event)">
                                </months-select>
                            </div>
                            <!-- <div  *ngIf="showDataBank">
                                <view-bank-account [bankAccount]="bankAccount">
                                </view-bank-account>
                            </div> -->
                        </div>

                        <div class="small-space-horizontal-beteween-fields"></div>
                        <div  fxLayoutGap="10">
                            <div >
                                <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div>

                            <div fxLayout="screenFieldPosition" >

                            </div>
                            <!-- <div  *ngIf="screenFieldPosition == 'row'">
                                <btn-g btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div> -->

                        </div>
                        <br>
                    </div>


                    <div search-filter id="space-components" >

                    </div>

                    <!-- *ngIf="this.showDataBank" -->
                    <!-- [matIcons]="{deleteEmpty:'empty', editEmpty:'empty',visibility:'Detalhes' }" -->
                    <grid-list-common-table  body-table [statusShow]="false" [fieldsInEnglish]="fieldsInEnglish"
                        [entities$]="entities$" [headers]="headers"
                        [matIcons]="{visibility:'Detalhes', deleteEmpty:'empty', editEmpty:'empty',format_list_numbered:'Itens Filhos' }"
                        [statusShow]="false"
                        (getEntityOut)="getEntity($event, 'fixedExpenses')" 
                        (toPayOut)="getEntityTopay($event)"
                        (getColumnEntityName)="orderBy($event)">
                    </grid-list-common-table>
                </grid-list-common>
                <div *ngIf="this.monthFilter.id == -1" [class]="{
                    'amount-large': this.screenFieldPosition=='row',
                    'amount-small': this.screenFieldPosition=='column'
                }">
                    <span class="title-amount">TOTAL:&nbsp;</span> <span class="amount-sum">{{amountYear |
                        ptBrCurrency}}</span>
                </div>
            </mat-card>
        </div>
    </div>
</div>