<!-- <div class="border-around">
    <title-component [digit]="'|'" [textTitleComp]="'Coletas entregas'" [icon]="'compare_arrows'">

    </title-component>
    <div>

        <div>
            <mat-card class="mat-card-sub-title">

                <grid-list-common>
                    <sub-title title [title]="titleGrid" [icon]="'list'"></sub-title>
                    <div search-filter>

                        <div>


                            <div>
                                <div>

                                </div>
                            </div>
                            <div>
                                <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="false" [changeSelection]="monthFilter" (sendSelected)="selectedMonth($event)">
                                </months-select>
                            </div>
                    
                        </div>


                        <div>
                            <div>
                                <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
                            </div>

                            <div>

                            </div>
               

                        </div>
                        <br>
                    </div>


                    <div search-filter id="space-components">

                    </div>

                    <grid-list-common-table body-table [statusShow]="false" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers" [matIcons]="{visibility:'Detalhes', deleteEmpty:'empty', editEmpty:'empty',format_list_numbered:'Itens Filhos' }" [statusShow]="false"
                        (getEntityOut)="getEntity($event, 'fixedExpenses')" (toPayOut)="getEntityTopay($event)" (getColumnEntityName)="orderBy($event)">
                    </grid-list-common-table>
                </grid-list-common>
                <div *ngIf="this.monthFilter.id == -1" [class]="{
                    'amount-large': this.screenFieldPosition=='row',
                    'amount-small': this.screenFieldPosition=='column'
                }">
                    <span class="title-amount">TOTAL:&nbsp;</span> <span class="amount-sum">{{amountYear | ptBrCurrency}}</span>
                </div>
            </mat-card>
        </div>
    </div>
</div> -->


<default-component [digitTitleComp]="'|'" [textTitleComp]="'Coletas, entregas e serviços'" [textSubTitleComp]="'Cadastro'" [iconSubTitleComp]="'list'">
    <div btns>
        <div class="w-full grid sm:grid-cols-2 grid-cols-1 gap-4 pl-4 pr-4 pt-4 items-center">

            <div>
                <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="callRouter(addUrlRoute)"></btn-g>
            </div>

            <div>
                <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="true" [changeSelection]="monthFilter" (sendSelected)="selectedMonth($event)">
                </months-select>
            </div>

        </div>
    </div>
    <div body>
        <list-g [hidePaginator]="true" [headersLabel]="labelHeaders()" [headersFields]="fieldsHeaders()" [entities]="this.entitiesFiltered$" (outOnClickHeaderField)="onClickOrderByFields($event, this.entitiesFiltered$)" (outOnClickButton)="onClickButton($event)"
            (outOnClickIcons)="onClickIcons($event)">
        </list-g>
        <!-- <span class="title-amount">TOTAL:&nbsp;</span> <span class="amount-sum">{{amountYear | ptBrCurrency}}</span> -->
    </div>
</default-component>