<!-- <div class="border-around">
    <title-component [digit]="'|'" [textTitleComp]="titleGrid" [icon]="'compare_arrows'">
        <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
    </title-component>


    <div>
        <div>

            <mat-card class="mat-card-sub-title">
                <grid-list-common>
                    <sub-title title [title]="'Coletas, entregas e serviços'" [icon]="'list'"></sub-title>

                    <div search-filter id="space-components">

                    </div>
                    <div search-pagination>
                        <div>
                            <grid-list-common-search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-common-search>
                        </div>
                        <div>
                        </div>

                        <mat-paginator #paginatorAbove [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

                    </div>
                    <grid-list-common-table body-table [matIcons]="{delete_outline:'Excluir', edit:'Editar',visibility:'Detalhes' }" [fieldsInEnglish]="fieldsInEnglish" [entities$]="this.entities$" [headers]="headers" [statusShow]="true" (getColumnEntityName)="orderBy($event)"
                        (getEntityOut)="getEntity($event)">
                    </grid-list-common-table>
                    <div pagination-below>
                        <div class="mat-paginator-above-margin">

                        </div>
                        <div>
                            <div>

                            </div>

                            <mat-paginator pagination-below #paginatorBelow [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

                        </div>
                        <div class="mat-paginator-below-margin">

                        </div>
                    </div>
                </grid-list-common>
            </mat-card>

        </div>
    </div>
</div> -->



<default-component [digitTitleComp]="'|'" [textTitleComp]="'Coletas, entregas e serviços'"
    [textSubTitleComp]="'Cadastro'" [iconSubTitleComp]="'list'">
    <div btns class="!bg-background-color p-4">
        <div class="mb-2 grid sm:grid-cols-3 grid-cols-1 gap-4 items-center">
            <div>
                <btn-g-dynamic [name]="'Filtrar'" (outAction)="showHideFilterMtd($event)">
                </btn-g-dynamic>
            </div>

            <div>
                <span class="title-amount">TOTAL:&nbsp;</span> <span class="amount-sum">{{amountYear}}</span>
            </div>
            <div>
                <span class="title-amount">DESPESA:&nbsp;</span> <span class="amount-sum">{{localAmountCosts}}</span>
            </div>
        </div>


        <div class="bg-background-color" *ngIf="showHideFilter">
            <filter-list-collect-deliver (outFieldSearch)="queryFieldOutput($event)"
                (radioChange)="statusFilter($event)" [inputSetClearRadios]="cleanRadios">
                <div>
                    <btn-g [btnType]="'red'" [name]="'Filtros'" [icon]="'clear'" (btn)="filterClear()"></btn-g>
                </div>
            </filter-list-collect-deliver>
        </div>
        <!--

            <div class="!bg-background-color justify-start pr-4 pl-4 grid sm:grid-cols-[1fr_1fr_1fr] grid-cols-1 gap-4 items-center">

            </div>

         -->
    </div>
    <div body>
        <list-g [headersLabel]="labelHeaders()" [headersFields]="fieldsHeaders()" [entities]="this.entitiesFiltered$"
            (outOnClickHeaderField)="onClickOrderByFields($event, this.entitiesFiltered$)"
            (outOnClickButton)="onClickButton($event)" (outOnClickIcons)="onClickIcons($event)">
        </list-g>
    </div>
</default-component>