<div class="border-around" (window:resize)="screen()">
    <title-component [digit]="'|'" [titleString]="'Pagamento'" [icon]="'payment'">
        <!-- <btn-add-g btn-1 (add)="add()"></btn-add-g> -->
    </title-component>

    <div fxLayout="column">
        <mat-card class="mat-card-sub-title" fxFlex>
            <sub-title title [title]="'Despesa'" [icon]="'payment'"></sub-title>

            <div id="body" fxLayout="column">
                <div fxLayout="row" [fxLayoutAlign]="fxLayoutAlign" class="weight-title-space-left">
                    <h2>Despesa:</h2>
                </div>
                <div fxLayout="row">
                    <div fxLayout="column" class="pipe-column-title">
                        <p class="pipe-title"> <span>|</span>
                    </div>
                    <div fxLayout="column" class="space-right weight-title-space-left">
                        <p>{{fixedExpensesTracking?.monthFixedExpenses?.name?.expensesName}}{{':'}}</p>
                    </div>
                    <div fxLayout="column">
                        <p>{{fixedExpensesTracking?.monthFixedExpenses?.nameIdentification}}</p>
                    </div>
                </div>

                <div *ngIf="wasPaid">

                    <!-- payment data -->

                    <div fxLayout="row">
                        <div class="paid pipe-column-title" fxLayout="column">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div class="paid space-right weight-title-space-left" fxLayout="column">
                            <p>Efetuado em:</p>
                        </div>
                        <div class="paid" fxLayout="column">
                            <p>{{fixedExpensesTracking?.wasPaid | ptBrDate:'Date'}}</p>
                        </div>
                    </div>


                    <div fxLayout="row">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Vencimento:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{fixedExpensesTracking?.expiration | ptBrDate:'Date'}}</p>
                        </div>
                    </div>


                    <div fxLayout="row">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Efetuado pelo:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{fixedExpensesTracking?.user?.userName}}</p>
                        </div>
                    </div>


                    <div fxLayout="row" [fxLayoutAlign]="fxLayoutAlign" class="space-right weight-title-space-left">
                        <h2>Dados bancários:</h2>
                    </div>

                    <!-- data bank -->

                    <div [fxLayout]="fxLayout" fxLayoutGap="10">
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <div fxLayout="column" class="pipe-column-title">
                                    <p class="pipe-title"> <span>|</span></p>
                                </div>

                                <div fxLayout="column" class="space-right weight-title-space-left">
                                    <p>Banco:</p>
                                </div>
                                <div fxLayout="column">
                                    <p>{{fixedExpensesTracking?.bankAccount?.institution}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <div fxLayout="column" class="pipe-column-title">
                                    <p class="pipe-title"> <span>|</span></p>
                                </div>

                                <div fxLayout="column" class="space-right weight-title-space-left">
                                    <p>Conta:</p>
                                </div>
                                <div fxLayout="column">
                                    <p>{{fixedExpensesTracking?.bankAccount?.account}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <div fxLayout="column" class="pipe-column-title">
                                    <p class="pipe-title"> <span>|</span></p>
                                </div>

                                <div fxLayout="column" class="space-right weight-title-space-left">
                                    <p>Agência:</p>
                                </div>
                                <div fxLayout="column">
                                    <p>{{fixedExpensesTracking?.bankAccount?.agency}}</p>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <div fxLayout="column" class="pipe-column-title">
                                    <p class="pipe-title"> <span>|</span></p>
                                </div>
                                <div fxLayout="column" class="space-right weight-title-space-left">
                                    <p>Titular:</p>
                                </div>
                                <div fxLayout="column">
                                    <p>{{fixedExpensesTracking?.bankAccount?.holder}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pix -->

                    <div fxLayout="row" *ngIf="fixedExpensesTracking?.pixId && wasPaid">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>PIX:</p>
                        </div>
                        <div fxLayout="column" *ngIf="fixedExpensesTracking?.pix?.key== 'CEL'">
                            <p>{{fixedExpensesTracking?.pix?.key}}{{':'}}&nbsp;{{fixedExpensesTracking?.pix?.value | phoneNumber}}</p>
                        </div>
                        <div fxLayout="column" *ngIf="fixedExpensesTracking?.pix?.key== 'CPF'">
                            <p>{{fixedExpensesTracking?.pix?.key}}{{':'}}&nbsp;{{fixedExpensesTracking?.pix?.value | cnpjCpf}}</p>
                        </div>
                        <div fxLayout="column" *ngIf="fixedExpensesTracking?.pix?.key== 'E-MAIL'">
                            <p>{{fixedExpensesTracking?.pix?.key}}{{':'}}&nbsp;{{fixedExpensesTracking?.pix?.value}}</p>
                        </div>
                        <div fxLayout="column" *ngIf="fixedExpensesTracking?.pix?.key== 'CNPJ'">
                            <p>{{fixedExpensesTracking?.pix?.key}}{{':'}}&nbsp;{{fixedExpensesTracking?.pix?.value | cnpjCpf}}</p>
                        </div>
                    </div>


                    <!-- Card -->

                    <div fxLayout="row" fxLayoutGap="10" *ngIf="fixedExpensesTracking?.cardId && wasPaid">

                        <div fxLayout="row">
                            <div fxLayout="column" class="pipe-column-title">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div fxLayout="column" class="space-right weight-title-space-left">
                                <p>Cartão:</p>
                            </div>
                            <div fxLayout="column">
                                <p>{{fixedExpensesTracking?.card?.flag}}</p>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxLayout="column" class="pipe-column-title">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div fxLayout="column" class="space-right weight-title-space-left">
                                <p>Número:</p>
                            </div>
                            <div fxLayout="column">
                                <p>{{fixedExpensesTracking?.card?.number | bankCardNumber}}</p>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxLayout="column" class="pipe-column-title">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div fxLayout="column" class="space-right weight-title-space-left">
                                <p>Titular:</p>
                            </div>
                            <div fxLayout="column">
                                <p>{{fixedExpensesTracking?.card?.holder}}</p>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxLayout="column" class="pipe-column-title">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div fxLayout="column" class="space-right weight-title-space-left">
                                <p>Tipo:</p>
                            </div>
                            <div fxLayout="column">
                                <p>{{fixedExpensesTracking?.card?.type | cardType}}</p>
                            </div>

                        </div>

                    </div>

                    <div fxLayout="row">
                        <div class="cost pipe-column-title" fxLayout="column">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div class="cost space-right weight-title-space-left" fxLayout="column">
                            <p>Valor previsto:</p>
                        </div>
                        <div class="cost" fxLayout="column">
                            <p>{{fixedExpensesTracking?.price | ptBrCurrency}}</p>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="cost pipe-column-title" fxLayout="column">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div class="cost space-right weight-title-space-left" fxLayout="column">
                            <p>Juros:</p>
                        </div>
                        <div class="cost" fxLayout="column">
                            <p>{{fixedExpensesTracking?.interest | ptBrCurrency}}</p>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="cost pipe-column-title" fxLayout="column">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div class="cost space-right weight-title-space-left" fxLayout="column">
                            <p>Valor pago:</p>
                        </div>
                        <div class="cost" fxLayout="column">
                            <p>{{(fixedExpensesTracking?.price + fixedExpensesTracking?.interest) | ptBrCurrency}}</p>
                        </div>
                    </div>


                    <div fxLayout="row" *ngIf="fixedExpensesTracking?.othersPaymentMethods && wasPaid">
                        <div fxLayout="column" class="pipe-column-title">
                            <p class="pipe-title"> <span>|</span>
                        </div>
                        <div fxLayout="column" class="space-right weight-title-space-left">
                            <p>Pagamento:</p>
                        </div>
                        <div fxLayout="column">
                            <p>{{fixedExpensesTracking?.othersPaymentMethods}}</p>
                        </div>
                    </div>

                </div>


                <div class="no-paid" *ngIf="!wasPaid">

                    <div class="pending" *ngIf="!isExpire && !wasPaid">

                        <div [fxLayoutAlign]="fxLayoutAlign">
                            <p>{{'Não liquidada, pendente:'}}</p>
                        </div>

                        <div fxLayout="row">
                            <div fxLayout="column" class="pipe-column-title">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div fxLayout="column" class="space-right weight-title-space-left">
                                <p>Vencimento:</p>
                            </div>
                            <div fxLayout="column">
                                <p class="pending">{{fixedExpensesTracking?.expiration | ptBrDate:'Date'}}</p>
                                <p class="pending">{{'Vence em: '}} {{numberOfDaysToExpire}} {{'dia(s).'}}</p>
                            </div>

                        </div>
                        <div fxLayout="row">
                            <div class="cost pipe-column-title" fxLayout="column">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div class="cost space-right weight-title-space-left" fxLayout="column">
                                <p>Valor:</p>
                            </div>
                            <div class="cost" fxLayout="column">
                                <p>{{fixedExpensesTracking?.price | ptBrCurrency}}</p>
                            </div>
                        </div>


                        <div fxLayout="row" fxLayoutAlign="center center">
                            <btn-g [name]="'Liquidar'" [icon]="'payment'" (click)="toPay()"></btn-g>
                        </div>
                    </div>


                    <div class="no-paid" *ngIf="isExpire && !wasPaid">

                        <div [fxLayoutAlign]="fxLayoutAlign">
                            <p>{{'Pagamento não efetuado:'}}</p>
                        </div>

                        <div fxLayout="row">
                            <div fxLayout="column" class="pipe-column-title">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div fxLayout="column" class="space-right weight-title-space-left">
                                <p>Vencido:</p>
                            </div>
                            <div fxLayout="column">
                                <p class="no-paid">{{fixedExpensesTracking?.expiration | ptBrDate:'Date'}}</p>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div class="cost pipe-column-title" fxLayout="column">
                                <p class="pipe-title"> <span>|</span>
                            </div>
                            <div class="cost space-right weight-title-space-left" fxLayout="column">
                                <p>Valor:</p>
                            </div>
                            <div class="cost" fxLayout="column">
                                <p>{{fixedExpensesTracking?.price | ptBrCurrency}}</p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <btn-g [name]="'Liquidar'" [icon]="'payment'" (click)="toPay()"></btn-g>
                        </div>
                    </div>


                </div>



            </div>

        </mat-card>
    </div>

</div>
