.pipe-title {
    font-size: 30px;
    color: rgb(43, 161, 168);
}

.pipe-column-title {
    margin-top: -25px;
}

.weight-title-space-left {
    font-weight: bolder;
    padding-right: 10px;
}

.content-small {
    margin-top: -40px;
    margin-left: 15px;
}

.content-small-children {
    margin-top: -20px;
    margin-left: 15px;
}

.row-child-small {
    margin-top: -10px;
    margin-left: 15px;
}

.row-child-large {
    margin-top: -50px;
    margin-left: 15px;
}

.bg-color-expired {
    background-color: red;
}

.bg-color-will-expire {
    background-color: orange;
}

.bg-color-paid {
    background-color: green;
}

.no-paid {
    color: red;
}