<table border="1" style="width: 100%;">
    <tr>
        <th class="td-btn" *ngIf="checkAlone != null">
            <mat-checkbox (change)="checksViewControlMtd($event)">
                {{''}}
            </mat-checkbox>
        </th>
        <th class="ths" [style]="cssColumns[i_th]" *ngFor="let field of headers let i_th = index" [id]="'th'+i_th">
            {{field}}
        </th>
    </tr>
    <tr class="mouse" [class]="evenOdd(i_tr)" *ngFor="let entity of entities$ | async let i_tr = index">
        <td class="td-btn" *ngIf="btnsNames != null">
            <button [disabled]="entity.btnDisabled" *ngFor="let btnName of btnsNames" class="btn-view" (click)="getEntity(entity, btnName)">{{btnName}}</button>
        </td>
        <td id="td-icon" class="td-btn" fxLayoutGap="15" *ngIf="matIcons != null">
            <mat-icon mat-raised-button [matTooltip]="icon.value" class="mat-icon-style" fontSet="material-icons-outlined" *ngFor="let icon of matIcons | keyvalue" (click)="getEntity(entity, icon)">
                {{icon.key}}
            </mat-icon>
        </td>
        <td class="td-btn" fxLayoutGap="15" *ngIf="checks != null">
            <reserve-sell-checks [checks]="checks" [ind]="i_tr">
            </reserve-sell-checks>
        </td>

        <td class="td-btn" *ngIf="checkAlone != null">
            <mat-checkbox #checksViewControl [id]="i_tr" fxLayoutAlign="center center" (change)="checkAloneMtd({$event, entity})">
                {{checkAlone}}
            </mat-checkbox>
        </td>
        <td class="td-btn" *ngIf="radioAlone != null">

            <div fxLayoutAlign="center center">
                <mat-radio-button [value]="entity.id" (change)="radioAloneMtd({$event, entity})">{{checkAlone}}</mat-radio-button>
            </div>
        </td>
        <td *ngFor="let field of fieldsInEnglish let xy = index" class="tds">
            {{entity[fieldsInEnglish[xy]]}}
        </td>

    </tr>

</table>