td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
}

.mouse {
    cursor: pointer;
}

.mat-divider {
    border: 1px dashed rgb(224, 224, 224);
}

.input-search {
    font-size: 5px;
    height: 10px;
}

.title {
    font-size: 25px;
    color: green;
}

.mat-icon {
    font-size: 25px;
}

.ths {
    text-align: start;
    color: green;
    border-color: rgb(233, 235, 237);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 25px;
    padding-left: 4px;
}

.tds {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    border-color: rgb(230, 230, 230);
}

.th0 {
    width: 80px;
}

.th1 {
    width: 70px;
}

.th2 {
    width: 80px;
}

.th3 {
    max-width: 150px;
}

.tr_0 {
    background-color: rgba(238, 238, 238, 0.341)
}

.tr_0:hover {
    background-color: rgba(139, 139, 139, 0.369);
    /* color: white; */
}

.tr_1:hover {
    background-color: rgba(139, 139, 139, 0.369);
    /* color: white; */
}

.td-btn {
    /* padding: 5px; */
    padding: 2px;
    padding-left: 5px;
    /* border-color: transparent; */
    border-color: rgb(230, 230, 230);
}


/* .td-btn:hover {
    background-color: white;
} */

.btn-view {
    transition-duration: 0.4s;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid #44ec49;
    border-radius: 5px;
}

.btn-view:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-weight: bolder;
}


/* .btn-view::active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

.small-space-horizontal-beteween-fields {
    padding-top: 10px;
}

.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}


/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
} */