<div [formGroup]="formMain">
    <div id="button-arrow-space"></div>
    <mat-card id="mat-card" *ngIf="showHideFilter">
        <div fxLayout="column" fxLayoutGap="10">
            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutGap="30px">
                            <mat-form-field appearance="outline" fxLayout="column" fxFlex>
                                <mat-label>CNPJ / CPF</mat-label>
                                <input type="text" #cnpj matInput formControlName="cnpj" aria-label="CNPJ">
                                <mat-error>
                                    <span>{{validatorMessages.isValidCnpj(formMain,'cnpj')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex>
                    <input matInput type="text" placeholder="E-Mail" formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayout="row">

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Entidade:</mat-label>
                    <mat-select formControlName="entity">
                        <mat-option [value]="entity" *ngFor="let entity of entities">
                            {{entity}}</mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
            <div fxLayout="row" fxLayoutGap="10">

                <div fxLayout="column">

                    <mat-checkbox class="example-margin" formControlName="assured">Assegurados</mat-checkbox>

                </div>
                <div fxLayout="column">

                    <mat-checkbox class="example-margin" formControlName="notassured">Não Assegurados</mat-checkbox>

                </div>
                <div fxLayout="column" fxFlex>

                </div>
                <div fxLayout="column">
                    <button class="btn-settings" mat-raised-button (click)="filterMtd()">
                    <div fxLayout="row">
                      <div fxLayout="column">
                        <mat-icon id="refresh-icon">refresh</mat-icon>
                      </div>
                      <div fxLayout="column" id="space-refresh-icon-text-button" fxFlex>

                      </div>
                      <div fxLayout="column">
                        {{'Aplicar Filtros'}}
                      </div>
                    </div>
                    </button>

                </div>
            </div>
        </div>
    </mat-card>
</div>
<!-- {{formMain.value|json}} -->
