<div [class.border-around]="false">
    <div  >
        <!-- <div class="middle-space-horizontal-beteween-fields"></div>
        <div class="middle-space-horizontal-beteween-fields"></div> -->
        <mat-tab-group dynamicHeight  (selectedTabChange)="tabIndexSelected($event)" animationDuration="0ms" mat-align-tabs="left">
            <mat-tab label="Conta">
                <!-- <account-get-info [user]="user">
                </account-get-info> -->
                <div   (window:resize)="screen()">
                    <mat-card class="mat-card-settings"  style="width: 100%;">

                        <div  >
                            <button class="default-button" mat-raised-button (click)="''"> Alterar </button>
                        </div>
                        <div class="middle-space-horizontal-beteween-fields"></div>
                        <div  >
                            <mat-divider ></mat-divider>
                            <div >

                                <img class="image" src="../../../../../../assets/nsti-menor.jpg" alt="Description of the image">

                            </div>
                        </div>

                    </mat-card>
                </div>

            </mat-tab>
            <mat-tab label="Endereço">
                <br>
                <mat-card>
                    <address [formMain]="this.addressFormMain" #address></address>
                    <div class="btn-update-position" >
                        <div >
                            <button class="btn-update-color btn-update-size" *ngIf="updateBtnHide" mat-button type="submit" (click)="update(contact.getForm())">Atualizar</button>
                        </div>
                    </div>
                </mat-card>


            </mat-tab>
            <mat-tab label="Contatos">
                <div class="btn-update-position" >
                    <div >
                        <button class="btn-update-color btn-update-size" *ngIf="updateBtnHide" mat-button type="submit" (click)="update()">Atualizar</button>
                    </div>
                </div>
                <contact [formMain]="this.contactFormMain" #contact>
                </contact>
            </mat-tab>

        </mat-tab-group>

        <br>
        <br>
        <br>
    </div>

</div>