<div [style]="borderAround">
    <div fxLayout="column">
        <mat-grid-list (window:resize)="screen()" [cols]="imageUsernameCols" [rowHeight]="imageUsernameRowHeight">

            <!-- <div fxLayout="row">

            </div> -->
            <mat-card class="mat-card-settings" [style]="matCardStyle" fxLayout="row">
                <div class="header-overlap">
                </div>
                <br>
                <mat-grid-tile>
                    <div fxLayout="column">
                        <span class="change-photo-position change-photo-hover"> {{'Trocar'}}</span>
                        <div fxLayout="row">
                            <div [style]="imageSettingsStyle" fxLayoutAlign="center start">
                                <img class="image" src="../../../../../../assets/nsti-menor.jpg">
                            </div>
                        </div>
                    </div>

                </mat-grid-tile>


                <mat-grid-tile [colspan]="imageColsSpan">

                    <div [style]="userNameStyle">
                        {{userName ?? 'Login' | titlecase}}
                    </div>
                </mat-grid-tile>
                <!-- <mat-grid-tile>


                </mat-grid-tile> -->


            </mat-card>
        </mat-grid-list>


        <mat-tab-group dynamicHeight fxLayout="column" [style]="tabGroupStyle" (selectedTabChange)="tabIndexSelected($event)" animationDuration="0ms" mat-align-tabs="center">
            <mat-tab label="Conta">
                <account-get-info [user]="user">
                </account-get-info>
            </mat-tab>
            <mat-tab label="Endereço">
                <div class="btn-update-position" fxLayout="row" [fxLayoutAlign]="fxLayoutCenterBtnUpdate">
                    <div fxLayout="row">
                        <button class="btn-update-color btn-update-size" *ngIf="updateBtnHide" mat-button type="submit" (click)="update(contact.getForm())">Atualizar</button>
                    </div>
                </div>
                <address-v2 [address]="this.user?.address" #address></address-v2>
            </mat-tab>
            <mat-tab label="Contatos">
                <div class="btn-update-position" fxLayout="row" [fxLayoutAlign]="fxLayoutCenterBtnUpdate">
                    <div fxLayout="row">
                        <button class="btn-update-color btn-update-size" *ngIf="updateBtnHide" mat-button type="submit" (click)="update(contact.getForm(), address.getForm())">Atualizar</button>
                    </div>
                </div>
                <contact-v2 [contact]="this.user?.contact" #contact>
                </contact-v2>
            </mat-tab>
            <!-- <mat-tab label="Profissional">Content 3</mat-tab> -->
        </mat-tab-group>
        <!-- <div class="btn-update-position" *ngIf="btnUpdatePositionAboveBelow" fxLayout="row" [fxLayoutAlign]="fxLayoutCenterBtnUpdateBelow">
            <div fxLayout="row">
                <button class="btn-update-color btn-update-size" *ngIf="updateBtnHide" mat-button type="submit" (click)="update()">Atualizar</button>
            </div>
        </div> -->
        <br>
    </div>

</div>