<div [style]="borderAround">

    <div (window:resize)="screen()" fxLayout="column">
        <mat-grid-list [cols]="imageUsernameCols" [rowHeight]="imageUsernameRowHeight">

            <mat-card class="mat-card-settings" [style]="matCardStyle" fxLayout="row">
                <div class="header-overlap">
                    <br>
                </div>
                <mat-grid-tile>
                    <div [style]="imageSettingsStyle" fxLayoutAlign="center start">
                        <img class="image" src="../../../../../../assets/nsti-menor.jpg">
                    </div>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="imageColsSpan">

                    <div [style]="userNameStyle">
                        {{userName ?? 'Login' | titlecase}}
                    </div>
                </mat-grid-tile>

            </mat-card>
        </mat-grid-list>
        <mat-tab-group dynamicHeight fxLayout="column" [style]="tabGroupStyle" animationDuration="0ms" mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Conta">
                <account-get-info [user]="user">
                </account-get-info>
            </mat-tab>
            <mat-tab label="Endereço">
                <address-v2></address-v2>
                <button mat-button type="submit" [routerLink]="['/side-nav/address-2']">End</button>
            </mat-tab>
            <mat-tab label="Contatos">Content 3</mat-tab>
            <mat-tab label="Profissional">Content 3</mat-tab>
        </mat-tab-group>
    </div>


</div>
