<div class="container">
    <title-container [titleString]="title" [subTitleString]="subTitle">
        <title-component>
        </title-component>
    </title-container>

    <!-- <div style="padding:50px;"></div> -->
    <div class="row" fxLayoutAlign="center center">
        <div *ngIf="dataSource.length == 0">
            <h1>Sem orçamentos a serem exibidos.</h1>
        </div>
    </div>
</div>
<div style="padding:10px;">
    <expansion-panel-g *ngFor="let serviceBudgetDtoSingle of dataSource let i = index;" [panelTitle]="serviceBudgetDtoSingle.client.name" [textPanelDescription]="serviceBudgetDtoSingle.status + '------'+ 'ORÇAMENTO'">
        <!-- [budgetEntity]="serviceBudgetDtoSingle" -->
        <tab-g [titleTabs]="['Cliente','Técnico']" (tabIndexEvt)="tabContentIndex($event)">
            <div *ngIf="indexTabContentField == 0">
                <div style="height:30px;"></div>
                <mat-card-title fxLayoutAlign="center center">RELATO DO CLIENTE</mat-card-title>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                    <mat-card fxFlex="80%">
                        {{serviceBudgetDtoSingle.clientProblems}}
                    </mat-card>
                </div>
                <div style="height:30px;"></div>
                <div *ngIf="serviceBudgetDtoSingle.visually">
                    <mat-card-title fxLayoutAlign="center center">EQUIPAMENTO</mat-card-title>
                    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                        <mat-card fxFlex="80%">
                            {{serviceBudgetDtoSingle.visually}}
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="serviceBudgetDtoSingle.remoteAccessData">
                    <mat-card-title fxLayoutAlign="center center">ACESSOS</mat-card-title>
                    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                        <mat-card fxFlex="80%">
                            {{serviceBudgetDtoSingle.remoteAccessData}}
                        </mat-card>
                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
            <div *ngIf="indexTabContentField == 1">
                <panel-services-budget [entity]="serviceBudgetDtoSingle" [remoteApprovedCols]="1">
                </panel-services-budget>
            </div>
        </tab-g>
    </expansion-panel-g>
    <div>
    </div>
</div>