<div>

    <div fxLayout="row" fxLayoutGap="30px">
        <div fxLayout="column">
            <mat-icon>delete_outlined</mat-icon>
        </div>
        <div fxLayout="column">
            <h2 mat-dialog-title>Excluindo... {{data.name}}</h2>
        </div>
    </div>


    Tem certeza que deseja deletar {{data.name}}?

    <div fxLayout="row">
        <mat-dialog-actions fxLayoutGap="350px">
            <div>
                <button mat-button mat-dialog-close style="background-color: rgb(38, 187, 38); color: white; float: right;">Fechar</button>
            </div>
            <div>
                <button mat-button mat-dialog-close style="background-color: rgb(24, 121, 24); color: white; float: right;" (click)="deleteRecord()">Delete</button>
            </div>

        </mat-dialog-actions>
    </div>
</div>
