<div [formGroup]="formMain" *ngIf="formMain" fxLayout="column">
    <mat-form-field fxFlex appearance="outline">
        <mat-label>Modelo</mat-label>
        <input type="text" matInput [placeholder]="placeholderProductType" formControlName="name">
        <mat-error>
            <span>{{validatorMessages.required(formMain, 'name', 'Modelo')}}</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
        <mat-label>Descrição</mat-label>
        <input type="text" matInput [placeholder]="placeholderProductType" formControlName="description">
        <mat-error>
            <span>{{validatorMessages.required(formMain, 'name', 'Descrição')}}</span>
        </mat-error>
    </mat-form-field>
</div>
