<div class="border-around small-large-screen">
    <title-component [digit]="'|'" [titleString]="'Produto'" [icon]="'storage'">
    </title-component>

    <mat-card class="small-large-screen">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>

        <div class="container-btns-add-edit">
            <div class="btn-add-type">
                <btn-g add btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="callRouter('add')"></btn-g>
            </div>
            <div class="btn-add-type">
                <btn-g add btn-1 [name]="'Editar'" [icon]="'edit'" (btn)="callRouter()"></btn-g>
            </div>
        </div>

        <div [formGroup]="formMain" class="small-large-screen" style="width:100%">
            <div class="container-level-0">
                <div class="type">
                    <field-select-g (outEntitiesSelected)="onSelectedProduct($event)" [entities]="productsTypes$" [labelInput]="'Tipo'" [formControlResetalways]="controlReset">
                    </field-select-g>
                </div>
                <!-- <div class="segment">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'Segmento'}}</mat-label>
                        <mat-select [formControl]="selectFormControl" [placeholder]="'Segmento'" #singleSelect (selectionChange)="onSelectedSegment($event.value)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="selectNgxFormControl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let entity of segments$ | async" [value]="entity.id">
                                {{entity.name | uppercase}}
                            </mat-option>
                        </mat-select>
 
                    </mat-form-field>
                </div> -->
                <div class="segment">
                    <field-select-g (outEntitiesSelected)="onSelectedSegment($event)" [entities]="segments$" [labelInput]="'Segmento'" [formControlResetalways]="controlReset">
                    </field-select-g>
                </div>
            </div>

            <ng-container *ngIf="this.newItemSelected !=''">

                <new-item-product-type [newItemSelected]="newItemSelected"></new-item-product-type>
            </ng-container>
            

            <div class="container-level-0" *ngIf="this.newItemSelected ==''">
                <div class="manufacturer">
                    <field-select-g (outEntitiesSelected)="onSelectedManufacturer($event)" [entities]="manufacturers$" [labelInput]="'Fabricante'" [formControlResetalways]="controlReset">
                    </field-select-g>
                </div>
                <div class="model">
                    <field-select-g (outEntitiesSelected)="onSelectedModel($event)" [entities]="models$" [labelInput]="'Modelos'" [formControlResetalways]="controlReset">
                    </field-select-g>
                </div>
            </div>
            <div class="container-level-0" *ngIf="this.newItemSelected ==''">
                <div class="manufacturer">
                    <field-select-g (outEntitiesSelected)="onSelectedSpecificity($event)" [entities]="specificities$" [labelInput]="'Especificidade'" [formControlResetalways]="controlReset">
                    </field-select-g>
                </div>
                <!-- <div class="model">
                    <field-select-g (outEntitiesSelected)="onSelectedModel($event)" [entities]="models$" [labelInput]="'Modelos'" [formControlResetalways]="controlReset">
                    </field-select-g>
                </div> -->
            </div>

            <div class="checks">
                <mat-checkbox class="isUsed" (change)="onChangeIsUsed($event)" formControlName="isUsed">Usado</mat-checkbox>
            </div>

            <div class="container-level-0-1">
                <div class="entryDate">
                    <date-time-g [formMain]="formMain" [fieldControlName]="'entryDate'" [labelInput]="'Data Entrada'" [startView]="'month'">
                        <span msg-error *ngIf="this.formError(formMain,'entryDate', 'required') && this.formTouched(formMain, 'entryDate')">{{requiredMsg}}</span>

                    </date-time-g>
                </div>
                <div class="supplier">
                    <get-suppliers [formMain]="formMain" (supplierSelected)="onSupplierSelected($event)"></get-suppliers>
                </div>

                <div class="warrantyEndLocal">
                    <date-time-g [formMain]="formMain" [fieldControlName]="'warrantyEndLocal'" [labelInput]="'Garantia local'" [startView]="'month'">
                        <span msg-error *ngIf="this.formError(formMain,'warrantyEndLocal', 'required') && this.formTouched(formMain, 'warrantyEndLocal')">{{requiredMsg}}</span>
                    </date-time-g>
                </div>
                <div class="purchaseInvoiceNumber">
                    <field-input-g [formMain]="this.formMain" [type]="'text'" [inputLabel]="'NF: Entrada'" [fieldControlName]="'purchaseInvoiceNumber'">

                        <span msg-error *ngIf="this.formError(formMain,'purchaseInvoiceNumber', 'maxlength') && this.formTouched(formMain, 'purchaseInvoiceNumber')">{{maxLengthMsg
                            + '30' + charactersMsg}}</span>
                    </field-input-g>

                </div>
            </div>

            <div class="usedHistoricalOrSupplier">
                <field-input-g [formMain]="this.formMain" [inputLabel]="'Procedência'" [fieldControlName]="'usedHistoricalOrSupplier'">
                    <span msg-error *ngIf="this.formError(formMain,'usedHistoricalOrSupplier', 'required') && this.formTouched(formMain, 'usedHistoricalOrSupplier')">{{requiredMsg}}</span>
                    <span msg-error *ngIf="this.formError(formMain,'usedHistoricalOrSupplier', 'maxlength') && this.formTouched(formMain, 'usedHistoricalOrSupplier')">{{maxLengthMsg
                        + '250' + charactersMsg}}</span>
                </field-input-g>
            </div>

            <div class="checks">
                <mat-checkbox class="isTested" formControlName="isTestedCheck" (change)="isTested($event)">Testado</mat-checkbox>
            </div>

            <div class="container-level-0-2">

                <div class="costPrice">
                    <field-input-g [type]="'currency'" [formMain]="this.formMain" [inputLabel]="'Preço de custo'" [fieldControlName]="'costPrice'">
                        <span msg-error *ngIf="this.formError(formMain,'costPrice', 'required') && this.formTouched(formMain, 'costPrice')">{{requiredMsg}}</span>
                        <span msg-error *ngIf="this.formError(formMain,'costPrice', 'max') && this.formTouched(formMain, 'costPrice')">{{limitMaxMsg}}</span>
                        <span msg-error *ngIf="this.formError(formMain,'costPrice', 'min') && this.formTouched(formMain, 'costPrice')">{{limitMinMsg}}</span>
                    </field-input-g>
                </div>
                <div class="soldPrice">

                    <field-input-g [type]="'currency'" [formMain]="this.formMain" [inputLabel]="'Preço de venda'" [fieldControlName]="'soldPrice'">
                        <span msg-error *ngIf="this.formError(formMain,'soldPrice', 'required') && this.formTouched(formMain, 'soldPrice')">{{requiredMsg}}</span>
                        <span msg-error *ngIf="this.formError(formMain,'soldPrice', 'max') && this.formTouched(formMain, 'soldPrice')">{{limitMaxMsg}}</span>
                        <span msg-error *ngIf="this.formError(formMain,'soldPrice', 'min') && this.formTouched(formMain, 'soldPrice')">{{limitMinMsg}}</span>
                    </field-input-g>
                </div>
                <div class="quantity">
                    <field-input-g [formMain]="this.formMain" [type]="'number'" [min]="1" [inputLabel]="'Quantidade de peças'" [fieldControlName]="'quantity'">
                        <span msg-error *ngIf="this.formError(formMain,'quantity', 'min') && this.formTouched(formMain, 'quantity')">{{limitMinMsg}}</span>
                    </field-input-g>
                </div>
            </div>

            {{formMain.value | json}}
        </div>
        <div>
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>
    </mat-card>
