<div class="border-around small-large-screen">
    <title-component [digit]="'|'" [titleString]="'Produto'" [icon]="'storage'">
    </title-component>

    <mat-card class="small-large-screen">
        <sub-title title [title]="'Cadastro'" [icon]="'add'"></sub-title>

        <div class="container-btns-add-edit">
            <div class="btn-add-type">
                <btn-g add btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="callRouter('add')"></btn-g>
            </div>
            <div class="btn-add-type">
                <btn-g add btn-1 [name]="'Editar'" [icon]="'edit'" (btn)="callRouter()"></btn-g>
            </div>
        </div>

        <div [formGroup]="formMain" class="small-large-screen" style="width:100%">
            <div class="container-level-0">
                <div class="type">
                    <select-input-search-g (outEntitiesSelected)="onSelectedProduct($event)" [entities]="productsTypes$"
                        [labelInput]="'Tipo'" [formControlReset]="controlReset"
                        [selectedValue]="this?.productTypeAfterEditHandled?.productTypesId">
                    </select-input-search-g>
                </div>

                <div class="segment">
                    <select-input-search-g (outEntitiesSelected)="onSelectedSegment($event)" [entities]="segments$"
                        [labelInput]="'Segmento'" [formControlReset]="controlReset"
                        [selectedValue]="this?.productTypeAfterEditHandled?.segmentId">
                    </select-input-search-g>
                </div>
            </div>
            <div class="container-level-0">
                <div class="manufacturer">
                    <select-input-search-g (outEntitiesSelected)="onSelectedManufacturer($event)" [entities]="manufacturers$"
                        [labelInput]="'Fabricante'" [formControlReset]="controlReset"
                        [selectedValue]="this?.productTypeAfterEditHandled?.manufacturerId">
                    </select-input-search-g>
                </div>
                <div class="model">
                    <select-input-search-g (outEntitiesSelected)="onSelectedModel($event)" [entities]="models$"
                        [labelInput]="'Modelos'" [formControlReset]="controlReset"
                        [selectedValue]="this?.productTypeAfterEditHandled?.modelId">
                    </select-input-search-g>
                </div>
            </div>
            <div class="container-level-0">
                <!-- <input-field-g [formMain]="this.modelForm" [type]="'text'" [inputLabel]="'Especificidade'"
                    [fieldControlName]="'purchaseInvoiceNumber'">

                    <span msg-error
                        *ngIf="this.formError(formMain,'purchaseInvoiceNumber', 'maxlength') && this.formTouched(formMain, 'purchaseInvoiceNumber')">{{maxLengthMsg
                        + '30' + charactersMsg}}</span>
                </input-field-g> -->
                <input-field-g [hidden]="true" class="specificity" [formMain]="this.formMain" [type]="'text'"
                    [inputLabel]="'Especificidade'" [fieldControlName]="'specificitiesId'">

                    <span msg-error
                        *ngIf="this.formError(modelForm,'specificities', 'maxlength') && this.formTouched(modelForm, 'specificities')">{{maxLengthMsg
                        + '30' + charactersMsg}}</span>
                </input-field-g>
                <input-field-g class="specificity" [formMain]="this.formMain" [type]="'text'"
                    [inputLabel]="'Especificidade'" [fieldControlName]="'specificitiesName'">

                    <span msg-error
                        *ngIf="this.formError(modelForm,'specificities', 'maxlength') && this.formTouched(modelForm, 'specificities')">{{maxLengthMsg
                        + '30' + charactersMsg}}</span>
                </input-field-g>

                <!-- <div class="specificity">
                    <select-input-search-g (outEntitiesSelected)="onSelectedSpecificity($event)" [entities]="specificities$"
                        [labelInput]="'Especificidade'" [formControlReset]="controlReset">
                    </select-input-search-g>
                </div> -->
            </div>
            <!-- <ng-container *ngIf="this.newItemSelected !=''"> -->
            <!-- <ng-container>
                <new-item-product-type [hidden]="this.newItemSelected ==''" [newItemSelected]="newItemSelected"
                    (formMainSend)="formHandler($event)" (newItemSelectedReset)="newItemSelectedReset()" [formMainReceived]="formMainProductType">
                </new-item-product-type>
            </ng-container> -->
            <br>
            <div class="checks">
                <mat-checkbox class="isUsed" (change)="onChangeIsUsed($event)"
                    formControlName="isUsed">Usado</mat-checkbox>
            </div>

            <div class="container-level-0-1">
                <div class="entryDate">
                    <date-time-field-g [formMain]="formMain" [fieldControlName]="'entryDate'" [labelInput]="'Data Entrada'"
                        [startView]="'month'">
                        <span msg-error
                            *ngIf="this.formError(formMain,'entryDate', 'required') && this.formTouched(formMain, 'entryDate')">{{requiredMsg}}</span>
                    </date-time-field-g>
                </div>
                <div class="supplier">
                    <get-suppliers [formMain]="formMain"
                        (supplierSelected)="onSupplierSelected($event)"></get-suppliers>
                </div>

                <div class="warrantyEndLocal">
                    <date-time-field-g [formMain]="formMain" [fieldControlName]="'warrantyEndLocal'"
                        [labelInput]="'Garantia local'" [startView]="'month'">
                        <span msg-error
                            *ngIf="this.formError(formMain,'warrantyEndLocal', 'required') && this.formTouched(formMain, 'warrantyEndLocal')">{{requiredMsg}}</span>
                    </date-time-field-g>
                </div>
                <div class="purchaseInvoiceNumber">
                    <input-field-g [formMain]="this.formMain" [type]="'text'" [inputLabel]="'NF: Entrada'"
                        [fieldControlName]="'purchaseInvoiceNumber'">

                        <span msg-error
                            *ngIf="this.formError(formMain,'purchaseInvoiceNumber', 'maxlength') && this.formTouched(formMain, 'purchaseInvoiceNumber')">{{maxLengthMsg
                            + '30' + charactersMsg}}</span>
                    </input-field-g>

                </div>
            </div>

            <div class="usedHistoricalOrSupplier">
                <input-field-g [formMain]="this.formMain" [inputLabel]="'Procedência'"
                    [fieldControlName]="'usedHistoricalOrSupplier'">
                    <span msg-error
                        *ngIf="this.formError(formMain,'usedHistoricalOrSupplier', 'required') && this.formTouched(formMain, 'usedHistoricalOrSupplier')">{{requiredMsg}}</span>
                    <span msg-error
                        *ngIf="this.formError(formMain,'usedHistoricalOrSupplier', 'maxlength') && this.formTouched(formMain, 'usedHistoricalOrSupplier')">{{maxLengthMsg
                        + '250' + charactersMsg}}</span>
                </input-field-g>
            </div>

            <div class="checks">
                <mat-checkbox class="isTested" formControlName="isTestedCheck"
                    (change)="isTested($event)">Testado</mat-checkbox>
            </div>

            <div class="container-level-0-2">

                <div class="costPrice">
                    <input-field-g [type]="'currency'" [formMain]="this.formMain" [inputLabel]="'Preço de custo'"
                        [fieldControlName]="'costPrice'">
                        <span msg-error
                            *ngIf="this.formError(formMain,'costPrice', 'required') && this.formTouched(formMain, 'costPrice')">{{requiredMsg}}</span>
                        <span msg-error
                            *ngIf="this.formError(formMain,'costPrice', 'max') && this.formTouched(formMain, 'costPrice')">{{limitMaxMsg}}</span>
                        <span msg-error
                            *ngIf="this.formError(formMain,'costPrice', 'min') && this.formTouched(formMain, 'costPrice')">{{limitMinMsg}}</span>
                    </input-field-g>
                </div>
                <div class="soldPrice">

                    <input-field-g [type]="'currency'" [formMain]="this.formMain" [inputLabel]="'Preço de venda'"
                        [fieldControlName]="'soldPrice'">
                        <span msg-error
                            *ngIf="this.formError(formMain,'soldPrice', 'required') && this.formTouched(formMain, 'soldPrice')">{{requiredMsg}}</span>
                        <span msg-error
                            *ngIf="this.formError(formMain,'soldPrice', 'max') && this.formTouched(formMain, 'soldPrice')">{{limitMaxMsg}}</span>
                        <span msg-error
                            *ngIf="this.formError(formMain,'soldPrice', 'min') && this.formTouched(formMain, 'soldPrice')">{{limitMinMsg}}</span>
                    </input-field-g>
                </div>
                <div class="quantity">
                    <input-field-g [formMain]="this.formMain" [type]="'number'" [min]="1"
                        [inputLabel]="'Quantidade de peças'" [fieldControlName]="'quantity'">
                        <span msg-error
                            *ngIf="this.formError(formMain,'quantity', 'min') && this.formTouched(formMain, 'quantity')">{{limitMinMsg}}</span>
                    </input-field-g>
                </div>
            </div>
            <div>
                {{formMain.value | json}}
            </div>
        </div>
        <div>
            <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
        </div>
    </mat-card>