@media(min-width: 640px) {
    .container-level-0 {
        display: inline-flex;
        gap: 5px;
        flex-wrap: wrap;
        width: 100%;
       
    }

    .type,
    .segment {
        width: 100%;
        flex: 1;
        margin-top: 18px;

    }

    .manufacturer,
    .model {
        width: 100%;
        flex: 1;
       
    }

    .container-level-0-1 {
        display: inline-flex;
        gap: 5px;
        flex-wrap: wrap;
        width: 100%;
    }

    .supplier,
    .purchaseInvoiceNumber {
        width: 100%;
        flex: 1;
        margin-top: 18px;

    }

    .entryDate,
    .warrantyEndLocal {
        width: 150px;

        margin-top: 18px;
    }

    .container-level-0-2 {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .costPrice,
    .soldPrice,
    .quantity {
        width: 100%;
        flex: 1;
        margin-top: 10px;
    }

    /* 
    .description {
        margin-top: 10px;
    } */
}

/* .checks {
    padding-top: 20px;
} */