<mat-grid-list [cols]="12" [rowspan]="4" fxFlex="100%" style="margin:35px;">


    <div fxLayout="column" fxLayoutGap="30px" fxFlex="100%">
        <div *ngFor=" let sb of serviceBudgets">
            <!-- <div class="example-action-buttons ">
              <button mat-button (click)="accordion.openAll() "><mat-icon>visibility</mat-icon></button>
              <button mat-button (click)="accordion.closeAll() "><mat-icon>visibility_off</mat-icon></button>
          </div> -->

            <mat-accordion fxFlex="90%" style="max-width:100%;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>

                            <mat-grid-title>
                                <h2>{{sb.client.name}}</h2>
                            </mat-grid-title>

                        </mat-panel-title>

                        <div>

                            <mat-panel-description>
                                <table fxFlex="100%">
                                    <tr fxLayout="row" fxLayoutGap="30px">
                                        <td>
                                            {{sb.entrydate}}
                                        </td>
                                        <td>
                                            {{sb.entrydate}}
                                        </td>
                                    </tr>
                                </table>

                            </mat-panel-description>

                        </div>
                    </mat-expansion-panel-header>


                    <div fxLayout="column" class="break">
                        {{sb.clientProblems}}
                    </div>
                    <div fxLayout="column" style="margin-top:2%;" fxLayoutGap="100%">
                        <table>
                            <tr>


                                <td fxLayout="row">
                                    <mat-label style="color:green;"><b> GERAR O.S</b>
                                        <mat-checkbox class="big-checkbox" fxLayoutAlign="center center" (click)="confirm(sb.id)" id="osMakeChecked" [checked]="sb.osMake">
                                        </mat-checkbox>
                                    </mat-label>
                                </td>

                                <td fxLayoutAlign="end end">

                                    <button mat-button style="background-color: rgb(38, 187, 38); color: white; float:right;" (click)="details(sb.id)">Detalhes</button>

                                </td>
                                <!-- <td fxLayoutAlign="end end">



                                </td> -->
                            </tr>

                            <tr fxLayout="row" fxLayoutGap="50px">

                                <td fxLayoutAlign="start start" fxFlex="100%">
                                    <mat-form-field>
                                        <mat-label>Situação</mat-label>
                                        <mat-select [(value)]="sb.status" (selectionChange)="statusToSave($event.value, sb.id)">
                                            <mat-option [value]=s *ngFor="let s of status">{{s}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td fxLayoutAlign="end end">
                                    <mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="15px" *ngIf="sb.status === 'FINALIZADO'">
                                        <button style="background-color: red; color:white;" mat-raised-button (click)="makeMoney()">Faturar</button>
                                    </mat-dialog-actions>

                                    <button mat-raised-button color="primary" (click)="save()" *ngIf="sb.status !== 'FINALIZADO'">Salvar</button>
                                </td>
                            </tr>



                        </table>


                    </div>


                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>

</mat-grid-list>