<div class="border-around">
    <!-- <title-component title [titleString]="'Financeiro'" [subTitleString]="'Gastos não previstos'">
    </title-component> -->
    <div fxLayout="row" fxLayoutALign="center center">
        <div fxFlex="25"></div>
        <div class="warning">{{this.errorMsg}}</div>
        <div fxFlex="25"></div>
    </div>
    <div [formGroup]="this.formMain">
        <div fxLayout="column" (window:resize)="screen()">
            <!-- Grid Customers -->
            <grid-list-opts *ngIf="expensesLocal">
                <grid-list-opts-title title [titleGrid]="'Clientes'"></grid-list-opts-title>
                <grid-list-opts-search search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-opts-search>
                <grid-list-opts-table body-table [matIcons]="null" [radioAlone]="''" [checkAlone]="null" [checks]="null" [btnsNames]="null" [cssColumns]="cssColumns" (getEntityRadioEvent)="radioAloneMtd($event)" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$"
                    [headers]="headers">
                </grid-list-opts-table>
                <mat-paginator #customerPaginator pagination [length]="this.lengthCustomer" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" fxLayoutAlign="center center"></mat-paginator>
            </grid-list-opts>
            <!-- Grid end -->
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div>
                <mat-checkbox (change)="expensesLocalMtd($event)">
                    Despesa interna
                </mat-checkbox>
            </div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div class="middle-space-horizontal-beteween-fields"></div>
            <div [fxLayout]="screenFieldPosition" fxLayout="row" fxFlex fxLayoutGap="5">
                <div fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Despesa</mat-label>
                        <input matInput type="text " formControlName="itemOrPlaceName">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'itemOrPlaceName', 'Despesa')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Pagamento efetuado via:</mat-label>
                        <mat-select formControlName="paidBy" (selectionChange)="paidByMtd($event.value)">
                            <mat-option [value]="paid.key" *ngFor="let paid of PaidBy | keyvalue">
                                {{paid.value}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'paidBy', 'Pagamento efetuado via')}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row">
                <div fxLayout="row" fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Conta Bancaria</mat-label>
                        <mat-select formControlName="bankAccountId" (selectionChange)="banckAccountsMtd($event.value)">
                            <mat-option [value]="bankAccount.id" *ngFor="let bankAccount of banckAccounts">
                                {{bankAccount.institution +' (Conta: '+ bankAccount.account+')'}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxLayout="row" fxFlex *ngIf="showCards">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Cartão</mat-label>
                        <mat-select formControlName="cardId">
                            <mat-option [value]="card.id" *ngFor="let card of bankACards">
                                {{card.holder +' (Bandeira: '+ card.flag+')'}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <!-- <div [fxLayout]="screenFieldPosition">




            </div> -->

            <div [fxLayout]="screenFieldPosition" fxLayoutGap="5">
                <div fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Gasto efetuado:</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="daySpent">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'daySpent', 'Vencimento')}}</span>
                            <span>{{validatorMessages.invalidDate(formMain,'daySpent')}}</span>
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Pagamento efetuado:</mat-label>
                        <input type="date" min="2023-04-01" max="2023-04-30" matInput formControlName="daySpent">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'wasPaid', 'Vencimento')}}</span>
                            <span>{{validatorMessages.invalidDate(formMain,'wasPaid')}}</span>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button type="submit " (click)="currentDate() ">Data atual</button> -->
                </div>
                <div fxLayout="column " fxFlex>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Valor</mat-label>
                        <input matInput type="text " currencyMask formControlName="price">
                        <mat-error>
                            <span>{{validatorMessages.minMaxLength(formMain,'price', 'Valor',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="column " fxFlex>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Motivo</mat-label>
                    <input matInput type="text " formControlName="description">
                    <mat-error>
                        <span>{{validatorMessages.minMaxLength(formMain,'description', 'Descrição',null,50)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row " fxLayoutAlign="center center ">
                <button class="save-btn " mat-raised-button type="submit " (click)="save() ">Salvar</button>
            </div>
        </div>

        <div fxLayoutAlign="center center ">
            <!-- <div>{{formMain.value | json}}</div> -->
        </div>