<!-- <div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Contas cadastradas'" [icon]="'attach_money'">
        <btn-add-g btn-1 (add)="add()"></btn-add-g>
    </title-component>


    <div>
        <div fxLayout="column" fxFlex>

            <mat-card class="mat-card-sub-title" fxFlex>
                <sub-title class="title-item" [title]="'Identificação'" [icon]="'description'"></sub-title>

            </mat-card>
        </div>
    </div>
</div> -->
<!-- <mat-card class="mat-card-sub-title" fxFlex > -->


<!-- <div *ngFor="let bank  of entities$ | async" style=""> -->
<!-- <div *ngIf="entities$">


</div> -->
<h1>{{'UHUHUHUHUHUHUHUHUHh'}}</h1>
<!-- </mat-card> -->
<div *ngFor="let c of this._service.getAllByCompanyId() | async;" style="background-color: black; color:white;">
    {{c.holder}}
    <!-- {{}} {{bank.institution}} -->
</div>