<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Contas cadastradas'" [icon]="'attach_money'">
        <btn-add-g btn-1 (add)="add()"></btn-add-g>
    </title-component>
    <div>
        <div fxLayout="column" fxFlex>

            <mat-card class="mat-card-sub-title" fxFlex>
                <sub-title class="title-item" [title]="'Identificação'" [icon]="'description'"></sub-title>
                <div>
                    <!-- {{entities$}} -->
                </div>
            </mat-card>
        </div>
    </div>
</div>
