<!-- <div class="p-4">
    <title-component [digit]="'|'" [textTitleComp]="'Contas bancárias'" [icon]="'account_balance'">
    </title-component>

    <mat-card class="rounded-t-xl pt-5">

        <sub-title title [title]="'Contas bancárias cadastradas'" [icon]="'list'"></sub-title>

        <div class="p-4">
            <btn-g add btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="callRouter(this.addUrlRoute)"></btn-g>
        </div>

        <list-g [headersLabel]="labelHeadersMiddle()" [headersFields]="fieldsHeadersMiddle()" [entities]="this.entities$" (outOnClickHeaderField)="onClickOrderByFields($event, this.entities$)" (outOnClickButton)="onClickButton($event)" (outOnClickIcons)="onClickIcons($event)">
        </list-g>

    </mat-card>
</div> -->


<div class="p-4">
    <title-component [digit]="'|'" [textTitleComp]="'Contas bancárias'" [icon]="'account_balance'"></title-component>


    <sub-title title [title]="'Contas bancárias cadastradas'" [icon]="'list'"></sub-title>

    <div class="p-4">
        <btn-g add btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="callRouter(this.addUrlRoute)" class="w-full sm:w-auto"></btn-g>
    </div>

    <div class="w-full overflow-x-auto">
        <list-g [headersLabel]="labelHeadersMiddle()" [headersFields]="fieldsHeadersMiddle()" [entities]="this.entities$" class="min-w-[600px] md:min-w-full" (outOnClickHeaderField)="onClickOrderByFields($event, this.entities$)" (outOnClickButton)="onClickButton($event)"
            (outOnClickIcons)="onClickIcons($event)">
        </list-g>
    </div>

</div>
