<div class="small-large-screen">

    <div class="container-paginator">
        <div class="paginator-above">
            <ng-content select="[paginator-above]"></ng-content>
        </div>
    </div>

    <div class="container-field-search">
        <div class="filter">
            <ng-content select="[filter]"></ng-content>
        </div>
        <div class="search">
            <ng-content select="[search]"></ng-content>
        </div>
    </div>

    <div class="table">
        <div class="row header">
            <div class="cell" (click)="onClickHeaderField(headersFields[i].key)" [style]="header.style"
                *ngFor="let header of headersLabel;let i = index;">
                {{header.key}}
            </div>
        </div>

        <div class="row" [class]="{'isOdd':isOdd, 'isEven':isEven }"
            *ngFor="let entity of this.entities$ | async; let isOdd = odd; let isEven = even">

            <div class="cell" [style]="entity[field.key]?.styleCell" *ngFor="let field of headersFields let i = index;">

                <ng-container [ngSwitch]="entity[field.key]?.display">

                    <ng-container *ngSwitchCase="'icons'">
                        <mat-icon (click)="onClickIcon(icon)" class="btn-icon" [style]="entity[field.key]?.styleInsideCell" *ngFor="let icon of entity[field.key]?.icons">{{icon}}</mat-icon>
                    </ng-container>

                    <ng-container *ngSwitchCase="'button'">
                        <button (click)="onClickButton(entity[field.key]?.key)" mat-raised-button [style]="entity[field.key]?.styleInsideCell">{{entity[field.key]?.button}}</button>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        <div [style]="entity[field.key]?.styleInsideCell">{{entity[field.key]?.key}}</div>
                    </ng-container>

                </ng-container>
            </div>

        </div>
    </div>
    <spinner-g [entities]="entities$" [optionalTitle]="'(Lista)'" [_empty]="spinerNoRegisterClean">
    </spinner-g>
    <div class="container-paginator">
        <div class="paginator-below">
            <ng-content select="[paginator-below]"></ng-content>
        </div>
    </div>
</div>