<div fxLayout="column" [formGroup]="formMain" class="border-around">

    <!-- <title-component [titleString]="'Bancada'" [subTitleString]="'Abrir Serviço'">
    </title-component> -->

    <div fxLayout="row">
        <div class="information" fxLayout="column">
            {{'INFORMAÇÕES'}}
        </div>
        <div fxLayout="column" fxFlex style=" margin-top:10px;">
            <mat-divider fxFlex></mat-divider>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row">

        <div fxLayout="column" fxFlex="auto" style=" margin-top:15px;">
            <mat-divider fxFlex="50"></mat-divider>
        </div>
        <div fxLayout="column">
            <mat-label class="customerName">{{customerName}}</mat-label>
        </div>
        <div fxLayout="column" fxFlex="auto" style=" margin-top:15px;">
            <mat-divider fxFlex="50"></mat-divider>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Problema relatado pelo cliente</mat-label>
            <textarea class="problemAccordingCustomer" matInput type="text" formControlName="problemAccordingCustomer"></textarea>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Descrição Visual</mat-label>
            <textarea class="isPresentVisuallyDescription" matInput type="text" formControlName="isPresentVisuallyDescription"></textarea>
            <mat-error>
                <span>{{validatorMessages.minMax(formMain,'isPresentVisuallyDescription', 'Descrição Visual ',1,1000)}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <execution-mode-access [formMain]="formMain"></execution-mode-access>
    <costs-moving [formMain]="formMain" [subForm]="subForm" [customerId]="this.formMain.get('customerId').value"></costs-moving>

    <mat-divider fxFlex></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <mat-divider fxFlex></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"></div>

    <services-repairs [finishedHideShow]="finishedHideShow" (addPricesEvent)="addPrices()" (removePricesIndex)="removePrices($event)" [formMain]="formMain" [pricesArray]="pricesArray">
    </services-repairs>

    <div class="middle-space-horizontal-beteween-fields"></div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="save-btn" (click)="update()">Salvar</button>
    </div>

    <div class="border-around" fxLayout="row" fxLayoutAlign="center center">
        {{formMain.value | json}}
    </div>
