<div style="padding:10px;">
    <expansion-panel-g [budgetEntity]="serviceBudgetDtoSingle" (budgetEntityEventEmitter)="selectedBudgetEntity($event)" *ngFor="let serviceBudgetDtoSingle of dataSource let i = index;" [panelTitle]="serviceBudgetDtoSingle.client.name" [panelDescription]="serviceBudgetDtoSingle.status">
        <tab-g [titleTabs]="['Cliente','Técnico']" (tabIndexEvt)="tabContentIndex($event)">
            <div *ngIf="indexTabContentField == 0" fxLayoutAlign="center center" fxFlex="100%">
                <table>
                    <tr>
                        <mat-card-title style="padding-top:50px;">Relato do cliente</mat-card-title>
                    </tr>
                    <tr>
                        <mat-card>
                            {{serviceBudgetDtoSingle.clientProblems}}
                        </mat-card>
                    </tr>
                </table>
            </div>
            <div *ngIf="indexTabContentField == 1">
                <panel-services-budget [entity]="budgetSingleEntity">
                </panel-services-budget>
            </div>
        </tab-g>
    </expansion-panel-g>
    <div>
    </div>
</div>
