<div [formGroup]="formMain" [fxLayout]="screenFieldPosition" fxLayoutGap="30">


    <div fxLayout="column" fxFlex>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Selecione o Hardware</mat-label>
            <mat-select matNativeControl (selectionChange)="selectItem($event.value)">
                <mat-option *ngFor="let item of this.itemsDto" [value]="item">{{item.name}}</mat-option>
            </mat-select>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'name', 'Equipamento')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Selecione o Fabricante</mat-label>
            <mat-select matNativeControl formControlName="manufacturer">
                <mat-option *ngFor="let man of this.manufacturers" [value]="man.name">{{man.name}}</mat-option>
            </mat-select>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'manufacturer', 'Fabricante')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Selecione o Segmento</mat-label>
            <mat-select matNativeControl formControlName="segment">
                <mat-option *ngFor="let seg of this.segments" [value]="seg.name">{{seg.name}}</mat-option>
            </mat-select>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'segment', 'Segmento')}}</span>
            </mat-error>
        </mat-form-field>
    </div>

</div>


<div [formGroup]="formMain" [fxLayout]="'column'">

    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Modelo</mat-label>
        <input matInput type="text" formControlName="model" aria-label="Modelo">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'model', 'Modelo')}}</span>
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="description" placeholder="Descrição completa">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'description', 'Descrição')}}</span>
        </mat-error>
    </mat-form-field>

</div>