<div [formGroup]="formMain">
    <mat-stepper orientation="vertical">
        <mat-step>
            <ng-template matStepLabel>Motivo</ng-template>
            <ng-template matStepContent>
                <div fxLayout="column">
                    <div fxLayoutGap="30px" fxFlex="100%" fxLayout="row">
                        <mat-form-field fxFlex="100%">
                            <!-- <mat-label>Motivo</mat-label> -->
                            <input matInput type="text" formControlName="subject">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'subject', 'Motivo')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'subject', 'Motivo',null,70)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div fxLayout="row">
                    <table>
                        <tr>
                            <td> <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Origem</ng-template>
            <ng-template matStepContent>
                <div fxLayout="column">
                    <mat-grid-list (window:resize)="screen()" [cols]="customerPartnerBaseOtherCols" [rowHeight]="customerPartnerBaseOtherRowHeight">
                        <div fxLayoutGap="30px" fxFlex="100%" style="padding-top: 15px;">
                            <mat-radio-group fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-around" fxFlex="100%" aria-label="Selecione an option" (change)="source($event.value)">
                                <mat-grid-tile>
                                    <mat-radio-button #customer value="customer">
                                        Clientes
                                    </mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button #partner value="partner">
                                        Parceiro
                                    </mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button #base value="base">Base
                                    </mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button #other value="other">
                                        Outro</mat-radio-button>
                                </mat-grid-tile>
                            </mat-radio-group>
                        </div>
                    </mat-grid-list>
                    <div *ngIf="sourceCustomers" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%" style="padding-top: 15px;">
                        <mat-form-field fxFlex="100%" *ngIf="this.customers.length != 0">
                            <mat-label>Clientes</mat-label>
                            <mat-select name="" id="" formControlName="sourceCustomerId">
                                <mat-option *ngFor="let c of customers" [value]="c.id">{{c.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourceCustomerId', 'Cliente')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="100%" *ngIf="this.customers.length == 0">
                            <mat-label>Clientes</mat-label>
                            <mat-select name="" id="" formControlName="sourceCustomerId">
                                <mat-option>{{'É necessário cadastrar clientes antes de usar essa parte do sistema.'}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourceCustomerId', 'Cliente')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="sourcePartners" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%" style="padding-top: 15px;">
                        <mat-form-field fxFlex="100%" *ngIf="this.partners.length != 0">
                            <mat-label>Parceiros</mat-label>
                            <mat-select name="" id="" formControlName="sourcePartnerId">
                                <mat-option *ngFor="let p of partners" [value]="p.id">{{p.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourcePartnerId', 'Parceiro')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="100%" *ngIf="this.partners.length == 0">
                            <mat-label>Parceiros</mat-label>
                            <mat-select name="" id="" formControlName="sourcePartnerId">
                                <mat-option>{{'É necessário cadastrar parceiros antes de usar essa parte do sistema.'}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourcePartnerId', 'Parceiro')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="sourceBase" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%" style="padding-top: 15px;">
                        <mat-form-field fxFlex="100%" *ngIf="this.companies.length != 0">
                            <mat-label>Base</mat-label>
                            <mat-select name="" id="" formControlName="sourceCompanyId">
                                <mat-option *ngFor="let c of companies" [value]="c.id">{{c.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourceCompanyId', 'Unidade')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="100%" *ngIf="this.companies.length == 0">
                            <mat-label>Base</mat-label>
                            <mat-select name="" id="" formControlName="sourceCompanyId">
                                <mat-option>{{'É necessário cadastrar as unidades do seu negócio.'}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourceCompanyId', 'Unidade')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="sourceOthers" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="sourceNoRegisterName">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourceNoRegisterName', 'Nome')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'sourceNoRegisterName', 'Nome',null,70)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="sourceOthers" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Endereço</mat-label>
                            <input matInput type="text" formControlName="sourceNoRegisterAddress">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'sourceNoRegisterAddress', 'Endereço')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'sourceNoRegisterAddress', 'Endereço',null,250)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" style="padding-top: 50px;">
                    <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button>
                </div>
            </ng-template>

        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Destino</ng-template>
            <ng-template matStepContent>
                <div fxLayout="column">
                    <mat-grid-list (window:resize)="screen()" [cols]="customerPartnerBaseOtherCols" [rowHeight]="customerPartnerBaseOtherRowHeight">
                        <div fxLayoutGap="30px" fxFlex="100%" style="padding-top: 15px;">
                            <mat-radio-group fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-around" fxFlex="100%" aria-label="Selecione an option" (change)="destiny($event.value)">
                                <mat-grid-tile>
                                    <mat-radio-button #customer value="customer">
                                        Clientes
                                    </mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button #partner value="partner">
                                        Parceiro
                                    </mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button #base value="base">Base
                                    </mat-radio-button>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-radio-button #other value="other">
                                        Outro</mat-radio-button>
                                </mat-grid-tile>
                            </mat-radio-group>
                        </div>
                    </mat-grid-list>
                    <div fxLayout="row" fxFlex="100%">
                        <div *ngIf="destinyCustomers" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%" style="padding-top: 15px;">
                            <mat-form-field fxFlex="100%" *ngIf="this.customers.length != 0">
                                <mat-label>Clientes</mat-label>
                                <mat-select name="" id="" formControlName="destinyCustomerId">
                                    <mat-option *ngFor="let c of customers" [value]="c.id">{{c.name}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'destinyCustomerId', 'Cliente')}}</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="100%" *ngIf="this.customers.length == 0">
                                <mat-label>Clientes</mat-label>
                                <mat-select name="" id="" formControlName="destinyCustomerId">
                                    <mat-option>{{'É necessário cadastrar clientes antes de usar essa parte do sistema.'}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'destinyCustomerId', 'Cliente')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div *ngIf="destinyPartners" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%" style="padding-top: 15px;">
                            <mat-form-field fxFlex="100%" *ngIf="this.partners.length != 0">
                                <mat-label>Parceiros</mat-label>
                                <mat-select name="" id="" formControlName="destinyPartnerId">
                                    <mat-option *ngFor="let p of partners" [value]="p.id">{{p.name}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'destinyPartnerId', 'Parceiro')}}</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="100%" *ngIf="this.partners.length == 0">
                                <mat-label>Parceiros</mat-label>
                                <mat-select name="" id="" formControlName="destinyPartnerId">
                                    <mat-option>{{'É necessário cadastrar parceiros antes de usar essa parte do sistema.'}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'destinyPartnerId', 'Parceiro')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="destinyBase" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%" style="padding-top: 15px;">
                        <mat-form-field fxFlex="100%" *ngIf="this.companies.length != 0">
                            <mat-label>Base</mat-label>
                            <mat-select name="" id="" formControlName="destinyCompanyId">
                                <mat-option *ngFor="let c of companies" [value]="c.id">{{c.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'destinyCompanyId', 'Unidade')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="100%" *ngIf="this.companies.length == 0">
                            <mat-label>Base</mat-label>
                            <mat-select name="" id="" formControlName="destinyCompanyId">
                                <mat-option>{{'É necessário cadastrar as unidades do seu negócio.'}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'destinyCompanyId', 'Unidade')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="destinyOthers" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="destinyNoRegisterName">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'destinyNoRegisterName', 'Nome')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'destinyNoRegisterName', 'Nome',null,70)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="destinyOthers" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="100%">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Endereço</mat-label>
                            <input matInput type="text" formControlName="destinyNoRegisterAddress">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'destinyNoRegisterAddress', 'Endereço')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'destinyNoRegisterAddress', 'Endereço',null,250)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" style="padding-top: 50px;">
                    <table>
                        <tr>
                            <td> <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                            <td>
                                <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </mat-step>
        <mat-step>
            <div fxLayout="column" fxFlex="100%">
                <ng-template matStepLabel>Items Observações</ng-template>
                <br>
                <div fxLayout="column" fxFlex="99">
                    <div fxLayout="row" fxFlex="99">
                        <mat-card class="mat-elevation-z8" fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <textarea id="textarea" formControlName="items" matInput placeholder="Items que estão sendo transportados:"></textarea>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain, 'items', 'Itens')}}</span>
                                    <span>{{validatorMessages.minMaxLength(formMain,'items', 'Itens',null,500)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </div>
                </div>
                <br>
                <div fxLayout="column" fxFlex="99">
                    <div fxLayout="row" fxFlex="99">
                        <mat-card class="mat-elevation-z8" fxFlex="99">
                            <mat-form-field fxFlex="99">
                                <textarea id="textarea" formControlName="comments" matInput placeholder=" Observações: Sobre os itens transportados, local de entrega ou de coleta etc... Sobre o contexto geral. Se necessário."></textarea>
                                <mat-error>
                                    <span>{{validatorMessages.minMaxLength(formMain,'comments', 'Observações',null,500)}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                    </div>
                </div>


                <div fxLayout="row" style="padding-top: 50px;">
                    <table>
                        <tr>
                            <td> <button id="step-back-next" mat-button matStepperNext mat-raised-button>Proxímo</button></td>
                            <td>
                                <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div fxLayout="column" fxFlex="100%">
                <br>
                <ng-template matStepLabel>Trânsportador / Preço / Data</ng-template>
                <div fxLayout="row" fxFlex="99">
                    <mat-checkbox class="big-checkbox" (change)="trans()">
                        <mat-label [style]="transporterLabelStyle">{{transporterLabelString}}</mat-label>
                    </mat-checkbox>
                </div>
                <mat-grid-list *ngIf="transporter" (window:resize)="screen()" [cols]="startPriceTransporterCols" [rowHeight]="startPriceTransporterRowHeight">
                    <div fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="99">
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99" style="padding-bottom:20px;">
                                <mat-label>Data e Hora</mat-label>
                                <input id="datepicker" matInput [matDatepicker]="dp" formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp startView="multi-year">
                                </mat-datepicker>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'start', 'Dia e hora')}}</span>
                                    <span>{{validatorMessages.invalidDate(formMain,'start', 'Dia e hora')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99">
                                <mat-label>Preço</mat-label>
                                <input matInput currencyMask type="text" formControlName="price">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99">
                                <mat-label>Transportador</mat-label>
                                <input matInput type="text" formControlName="transporterNoregisterd">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'transporterNoregisterd', 'Transportador')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>

                <mat-grid-list *ngIf="!transporter" (window:resize)="screen()" [cols]="startPriceTransporterCols" [rowHeight]="startPriceTransporterRowHeight">
                    <div fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="99">
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99" style="padding-bottom:20px;">
                                <mat-label>Data e Hora</mat-label>
                                <input id="datepicker" matInput [matDatepicker]="dp" formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp startView="multi-year">
                                </mat-datepicker>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'start', 'Dia e hora')}}</span>
                                    <span>{{validatorMessages.invalidDate(formMain,'start', 'Dia e hora')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field fxFlex="99">
                                <mat-label>Preço</mat-label>
                                <input matInput currencyMask type="text" formControlName="price">
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'price', 'Preço')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field fxFlex="99" style="padding-bottom:3px;">
                                <mat-label>Transportador</mat-label>
                                <mat-select name="" id="" formControlName="transporterId">
                                    <mat-option *ngFor="let p of partners" [value]="p.id">{{p.name}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span>{{validatorMessages.required(formMain,'transporterId', 'Transportador')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>

                <table fxFlex="99" fxLayout="row" fxLayoutAlign="space-beetwen">
                    <tr fxLayoutGap="100px">
                        <td fxFlex="99">
                            <button id="step-back-next" mat-button matStepperPrevious mat-raised-button>Voltar</button>
                        </td>
                        <!-- <td fxFlex="99">  </td> -->
                    </tr>
                </table>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button id="btnSave" (click)="save()">Salvar</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>



<div fxLayout="row" fxLayoutAlign="center center">
    <div>{{formMain.valid}}</div>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center">
    <div>{{formMain.value | json}}</div>
</div>



<!-- <stepper-g (selectedStepIndex)="changeSelectedIndexStepSelection($event)">
  <stepper-g-container [stepLabelArray]="['Test0', 'Test1', 'Test2', 'Test3']" [formGroup]="formMain">
    <div [ngSwitch]="indexSelectedStep">
      <div *ngSwitchCase="0">

        <div>

          000000000000000000000000000000000000000000000
        </div>



      </div>
      <div *ngSwitchCase="1">
        <div>
          1111111111111111111111111111111111111111111111
        </div>
      </div>
      <div *ngSwitchCase="2">
        <div>
          22222222222222222222222222222222222222222222222
        </div>
      </div>
      <div *ngSwitchCase="3">
        <div>
          333333333333333333333333333333333333333333333333
        </div>
      </div>


    </div>
  </stepper-g-container>
</stepper-g> -->