<div class="border-around" >
    <title-component [digit]="'|'" [textTitleComp]="'Despesa Mensal'" [icon]="'attach_money'">
    </title-component>

    <mat-card class="mat-card-sub-title">
        <grid-list-common>
            <div search-filter>
                <sub-title title [title]="'Contas a pagar'" [icon]="'list'"></sub-title>

                <div>
                    <filter-radio-btns  [pedingRadioHide]="pedingRadioHide" [inputSetClearRadios]="cleanRadios" (radioChange)="filterView($event)">
                        <!-- [disabledRadioInput]="this?.termSearched?.length > 0" -->
                    </filter-radio-btns>
                </div>


                <div class="small-space-horizontal-beteween-fields"></div>
                <div>
                    <div>
                        <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
                    </div>
                    <div>
                        <btn-g [name]="'Filtros'" [icon]="'clear'" (btn)="filterClear()"></btn-g>
                    </div>
                    <div fxLayout="screenFieldPosition">

                    </div>
                    <div >
                        <btn-g [name]="'Despesa'" [icon]="'add'" (btn)="add()"></btn-g>
                    </div>

                </div>
            </div>
            <div search-filter id="space-components">

            </div>
            <div search-pagination>
                <div>
                    <grid-list-common-search [searchName]="'Busca'"  (queryFieldOutput)="queryFieldOutput($event)" [clearSearchField]="clearSearchField"></grid-list-common-search>
                </div>
                <div>
                    <months-select [startCurrentDate]="true" [showOnlyUntilCurrentDate]="true" [changeSelection]="monthFilter"  (sendSelected)="selectedMonth($event)" (onChangeSelection)="onMonthSelectedclearFilters()">
                    </months-select>
                </div>


                <br>
                <mat-paginator #paginatorAbove [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize" (page)="onPageChangeMonthly($event, this.monthFilter.id)"></mat-paginator>
                <br>

            </div>

            <grid-list-common-table body-table [statusShow]="true" [matIcons]="{deleteEmpty:'empty', editEmpty:'empty',visibility:'Detalhes' }" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers" (getColumnEntityName)="orderBy($event)"
                (getEntityOut)="getEntity($event, 'fixedExpenses')" (toPayOut)="getEntityTopay($event)">
            </grid-list-common-table>
            <div pagination-below>
                <div class="mat-paginator-above-margin">

                </div>
                <div>
                    <div>

                    </div>

                    <mat-paginator pagination-below #paginatorBelow [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize" (page)="onPageChangeMonthly($event, this.monthFilter.id)"></mat-paginator>

                </div>
                <div class="mat-paginator-below-margin">

                </div>
            </div>
        </grid-list-common>
    </mat-card>

</div>
