<div style="padding:100px;">
    <form [formGroup]="formMain">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="30px" fxFlex="100%">
                <mat-card-title fxLayoutAlign="center center" style="font-size:60px;">Orçamento</mat-card-title>
                <mat-card-title>Identificação</mat-card-title>
                <mat-card fxFlex="100%" fxLayout="column">
                    <div fxFlex="100%" fxLayout="row">

                        <mat-form-field fxFlex="100%">
                            <mat-label>Cliente</mat-label>
                            <mat-select fxFlex="100%" formControlName="clientId" (selectionChange)="noRegisterClientShowHide($event)">
                                <mat-option value="clientNoRegister">Sem cadastrado</mat-option>
                                <mat-option *ngFor="let c of clients" [value]="c.id"> {{c.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex="100%" fxLayout="row" *ngIf="this.noRegister">

                        <mat-form-field fxFlex="100%">
                            <textarea cols="10" rows="30" style="height: 150px;" matInput placeholder="Não Cadastrado. Insira aqui nessa ordem: Nome, Endereço, Contato" formControlName="clientNoRegister">
                </textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
            <br>
            <br>
            <div fxLayoutGap="30px" fxFlex="100%">
                <mat-form-field fxFlex="auto" style="display:none;">
                    <mat-label>Data</mat-label>
                    <input matInput type="text" formControlName="entryDate">
                </mat-form-field>
            </div>
            <mat-card-title>Equipamento</mat-card-title>
            <br>
            <div fxFlex="100%">
                <mat-card fxLayoutGap="30px" fxFlex="100%">
                    <mat-form-field fxFlex="100%">
                        <textarea cols="10" rows="30" formControlName="visually" style="height: 150px;" matInput placeholder="
                Descreva fabricante, modelo, número de
                série ou alguma númeração única do aparelho.
                Informe usuário, senha, acessos...
                "></textarea>
                    </mat-form-field>
                </mat-card>
            </div>

            <br>

            <mat-card-title>Defeito</mat-card-title>
            <br>
            <div fxFlex="100%">
                <mat-card fxLayoutGap="30px" fxFlex="100%">
                    <mat-form-field fxFlex="100%">
                        <textarea cols="10" rows="30" formControlName="clientProblems" style="height: 150px;" matInput placeholder="Descreva aqui a solicitação do cliente."></textarea>
                    </mat-form-field>
                </mat-card>
            </div>

            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button style="margin-right: 15px; width: 550px; height: 50px; font-size: 30px;" mat-raised-button color="primary" type="submit" (click)="save()">Salvar</button>
            </div>

        </div>



    </form>
</div>

<div>
    {{formMain.value | json}}
</div>
