<div class="border-around">
    <title-container [titleString]="title" [subTitleString]="subTitle">
        <title-component>
        </title-component>
    </title-container>

    <div [formGroup]="formMain">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="30px" fxFlex="100%">
                <!-- <mat-card-title fxLayoutAlign="center center" style="font-size:60px;">Orçamento</mat-card-title> -->
                <mat-card-title>Identificação</mat-card-title>
                <mat-card fxFlex="100%" fxLayout="column">
                    <div fxFlex="100%" fxLayout="row">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Cliente</mat-label>
                            <mat-select fxFlex="100%" formControlName="customerId">
                                <mat-option *ngFor="let customer of customers" [value]="customer.id"> {{customer.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'customerId', 'Cliente')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
            <br>
            <br>
            <div fxLayoutGap="30px" fxFlex="100%">
                <mat-form-field fxFlex="auto" style="display:none;">
                    <mat-label>Data</mat-label>
                    <input matInput type="text" formControlName="BudgetStartedIn">
                </mat-form-field>
            </div>
            <table fxLayoutAlign="center center">
                <tr fxLayoutAlign="center center" fxLayout="row" fxFlex="100%" fxLayoutGap="300px">
                    <td>
                        <mat-label style="color:green;">
                            <h3>REMOTO</h3>
                        </mat-label>
                        <mat-checkbox (change)="localRemoteValidation()" class="big-checkbox" fxLayoutAlign="center center" formControlName="remote">
                            <!-- (change)="validatorCustom.checkedBoxIfCheckedOrNot(formMain, $event.checked,{required:true}, ['remoteAccessData'], ['visually'])" -->
                        </mat-checkbox>
                    </td>
                </tr>
            </table>
            <mat-card-title *ngIf="!formMain.get('remote').value">Equipamento</mat-card-title>
            <div *ngIf="!formMain.get('remote').value">
                <br>
                <div fxFlex="100%">
                    <mat-card fxLayoutGap="30px" fxFlex="100%">
                        <mat-form-field fxFlex="100%">
                            <textarea (blur)="validatorCustom.blurValidator(formMain, [{required:true}],'visually')" id="textarea" cols="10" rows="30" formControlName="visually" matInput placeholder="
                Descreva fabricante, modelo, número de
                série ou alguma númeração única do aparelho.
                Informe usuário, senha, acessos...
                "></textarea>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'visually', 'Equipamento')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'visually', 'Equipamento',null,500)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </div>
            </div>
            <mat-card-title *ngIf="formMain.get('remote').value">Dados / Acessos</mat-card-title>
            <div *ngIf="formMain.get('remote').value">
                <br>
                <div fxFlex="100%">
                    <mat-card fxLayoutGap="30px" fxFlex="100%">
                        <mat-form-field fxFlex="100%">
                            <textarea (blur)="validatorCustom.blurValidator(formMain, [{required:true}],'remoteAccessData')" id="textarea" cols="10" rows="30" formControlName="remoteAccessData" matInput placeholder="
               Acessos tais como Anydesk, Team-viewer, Área de trabalho remota.
               Usuário. Horário e dia para efetuar o acesso.
                "></textarea>
                            <mat-error>
                                <span>{{validatorMessages.required(formMain, 'remoteAccessData', 'Dados de acesso remoto')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'remoteAccessData', 'Dados de acesso
                  remoto',null,500)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </div>
            </div>
            <br>
            <mat-card-title>Defeito segundo o cliente</mat-card-title>
            <div fxFlex="99">
                <mat-card fxLayoutGap="30px" fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <textarea id="textarea" cols="10" rows="30" formControlName="customerProblems" matInput placeholder="Descreva aqui o relato e a solicitações do cliente."></textarea>
                        <mat-error>
                            <span>{{validatorMessages.required(formMain, 'customerProblems', 'Defeito segundo o cliente')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'customerProblems', 'Defeito segundo ocliente',null,500)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </div>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button id="btnSave" mat-raised-button (click)="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>


<div fxLayoutAlign="center center">
    <div>{{formMain.valid}}</div>
</div>
<div fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>
</div>
