<div fxLayout="column" class="border-around" [formGroup]="formMain">
    <title-component [titleString]="'Bancada'" [subTitleString]="'Abrir Orçamento'">
    </title-component>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="this.formMain.controls['customerId'].touched">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'customerId', 'Cliente ')}}</span>
        </mat-error>
    </div>
    <div fxLayout="column" fxFlex>
        <!-- Grid Customers -->
        <grid-list-opts>
            <grid-list-opts-title title [titleGrid]="'Clientes'"></grid-list-opts-title>
            <grid-list-opts-search search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-opts-search>
            <grid-list-opts-table body-table [matIcons]="null" [radioAlone]="''" [checkAlone]="null" [checks]="null" [btnsNames]="null" [cssColumns]="cssColumns" (getEntityRadioEvent)="radioCustomerGrid($event)" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$"
                [headers]="headers">
            </grid-list-opts-table>
            <mat-paginator #customerPaginator pagination [length]="this.lengthCustomer" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" fxLayoutAlign="center center"></mat-paginator>
        </grid-list-opts>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row">
        <div class="information" fxLayout="column">
            {{'INFORMAÇÕES'}}
        </div>
        <div class="margin-divider-title" fxLayout="column" fxFlex>
            <mat-divider fxFlex></mat-divider>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Problema relatado / Serviço solicidado pelo cliente</mat-label>
            <textarea matInput type="text" formControlName="problemAccordingCustomer" placeholder="Defeitos"></textarea>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'problemAccordingCustomer', 'Defeitos ')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Descrição Visual</mat-label>
            <textarea matInput type="text" formControlName="isPresentVisuallyDescription" placeholder="Descrição Visual"></textarea>
            <mat-error>
                <span>{{validatorMessages.minMax(formMain,'isPresentVisuallyDescription', 'Descrição Visual ',1,1000)}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <execution-mode-access [formMain]="formMain"></execution-mode-access>
    <costs-moving [formMain]="formMain" [subForm]="subForm" [customerId]="customerId"></costs-moving>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button class="save-btn" (click)="save()">Salvar</button>
</div>

<div class="border-around" fxLayout="row" fxLayoutAlign="center center">
    {{formMain.value | json}}
</div>