<!-- defaultSubtitle -->
<div *ngIf="defaultSubtitle" id="space-components" fxLayout="row" fxFlex>
    <div fxLayout="row" fxFlex="20">
        <span class="dimensions-subtitle bg-color-expired"></span><span class="space-subtitle">Vencida</span>
    </div>
    <div class="small-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex="20">
        <span class="dimensions-subtitle bg-color-will-expire"></span><span class="space-subtitle">Pendente</span>
    </div>
    <div class="small-space-horizontal-beteween-fields"></div>
    <div fxLayout="row" fxFlex="20">
        <span class="dimensions-subtitle bg-color-paid"></span><span class="space-subtitle">Liquidada</span>
    </div>
</div>

<!-- singleStatusSubtitle -->
<div fxLayout="row" *ngIf="singleStatusSubtitle">
    <div fxLayout="column">
        <div *ngFor="let status of statusCollection">
        <div [class]="status.class" style="height: 50px; width: 50px;" *ngIf="status.visible">
                {{status.name}}
            </div>
        </div>
    </div>
    <!-- <div fxLayout="column">
        <div style="padding-top:13px; padding-left: 5px;">
            {{''}}
        </div>
    </div> -->
</div>
<!-- <div fxLayout="row">
    <div fxLayout="column">
        <div class="bg-color-will-expire" style="height: 50px; width: 50px; " *ngIf="singleStatusSubtitle">
           
        </div>
    </div>
    <div fxLayout="column">
        <div style="padding-top:13px; padding-left: 5px;">
           
        </div>
    </div>
</div>
<div fxLayout="row">
    <div fxLayout="column">
        <div class="bg-color-paid" style="height: 50px; width: 50px; " *ngIf="singleStatusSubtitle">
      
        </div>
    </div>
    <div fxLayout="column">
        <div style="padding-top:13px; padding-left: 5px;">
            {{''}}
        </div>
    </div>
</div> -->