mat-icon {
    color: green;
    width: 80px;
    height: 80px;
    font-size: 80px;
}

mat-form-field {
    margin-bottom: 16px;
}

mat-error {
    bottom: -16px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 2px;
    box-sizing: border-box;
}

title {
    margin-bottom: 30px;
}

h1 {
    font-family: Mynerve;
    font-size: 30px;
    color: #2ba1a8;
}

.btn-settings {
    font-size: 15px;
    color: white;
    background-color: #2ba1a8;
}

.space-form-title-logo {
    padding: 25px;
}

.space-title-logo {
    padding: 15px;
}

.logo {
    font-size: 80px;
    width: 80px;
    height: 80px;
    color: #216b6e;
}

#btn-back {
    background-color: rgb(44, 161, 168);
    color: white;
    font-family: Mynerve;
}