<div [formGroup]="formMain" fxLayoutGap="10">
    <div fxLayout="column" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoryExpensesId"
                (selectionChange)="selectedCategoryExpensesId($event.value)">
                <mat-option [value]="expense.id" *ngFor="let expense of fillersExpenses | async">
                    {{expense.name | uppercase}}</mat-option>
            </mat-select>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'categoryExpensesId', 'Categoria')}}</span>
                <span>{{validatorMessages.changeSelection(formMain,'categoryExpensesId', 'Categoria')}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'categoryExpensesId',
                    'Categoria',null,150)}}</span>
            </mat-error>

        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Subcategoria</mat-label>
            <mat-select formControlName="subcategoryExpensesId">
                <mat-option [value]="subcategory.id" *ngFor="let subcategory of subcategoriesExpenses | async">
                    {{subcategory.name | uppercase}}</mat-option>
            </mat-select>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'subcategoryExpensesId', 'Subcategoria')}}</span>
                <span>{{validatorMessages.changeSelection(formMain,'subcategoryExpensesId',
                    'Subcategoria')}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'subcategoryExpensesId',
                    'Subcategoria',null,150)}}</span>
            </mat-error>
        </mat-form-field>
    </div>
</div>
