<div [ngClass]="containerMainCls" *ngFor="let item of itemsToView">
    <div  [class]="containerCls">
        <div>
            <p class="pipe-title"> <span>|</span></p>
        </div>

        <div [styleKey]="item.styleKey" [class]="item.classKey" class="w-full">
            <p>{{item['key'] | uppercase}}</p>
        </div>

        <div [styleKey]="item.styleValue" [class]="item.classValue" class="w-full">
            <p>{{item['value']}}</p>
        </div>

        @if(!hideDivider) {
        <br>
        <mat-divider></mat-divider>
        }
    </div>
</div>
