<mat-sidenav-container class="sidenav">
    <mat-sidenav mode="side" opened #sidenav role="navigation">
        <a style="color: rgb(40, 177, 58); font-size:30px">

            <div style="text-align: center; text-decoration: none;">
                <mat-icon id="icon">language </mat-icon>
                <div>
                    NO STOP TI
                </div>
            </div>
            <div>
            </div>
        </a>
        <nav>
            <ul>

                <hr>
                <li>
                    <a [routerLink]="['/address']">
                        <mat-icon>edit</mat-icon>
                        TESTES
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/clientmain']">
                        <mat-icon>edit</mat-icon>
                        Clientes
                    </a>
                </li>
                <hr>

                <hr>
                <li>
                    <a [routerLink]="['/orders']">
                        <mat-icon>room_service</mat-icon>
                        Serviços
                    </a>
                </li>
                <hr>
                <li>
                    <a [routerLink]="['/financial']">
                        <mat-icon>attach_money</mat-icon>
                        Financeiro
                    </a>
                </li>
                <hr>
                <li>
                    <a [routerLink]="['/partners']">
                        <mat-icon>device_hub</mat-icon>
                        Parceiros
                    </a>
                </li>
                <hr>
                <li>
                    <a [routerLink]="['/inventories']">
                        <mat-icon>sd_storage</mat-icon>
                        Estoque
                    </a>
                </li>

                <!-- <hr>
                <li>
                    <a [routerLink]="['/supplier']">
                        <mat-icon>shopping_cart</mat-icon>
                        Fornecedores
                    </a>
                </li> -->
                <hr>
                <li>
                    <a [routerLink]="['/dashdevices/1']">
                        <mat-icon>important_devices</mat-icon>
                        Suporte
                    </a>
                </li>
                <hr>
                <li>
                    <a [routerLink]="['/records']">
                        <mat-icon>edit</mat-icon>
                        Cadastros
                    </a>
                </li>
                <hr>






            </ul>


        </nav>


    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <div><button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button></div>
            <app-navbar></app-navbar>
            <!--  -->
            <!-- One another way to align  -->
            <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end"> -->
            <div fxFlex></div>

            <div>
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> Login</a>
            </div>
        </mat-toolbar>
        <main>

            <router-outlet></router-outlet>

        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
