<mat-form-field appearance="outline">
    <mat-label>Segmento</mat-label>
    <mat-select [formControl]="selectFormControl" [placeholder]="placeholderProductType" #singleSelect (selectionChange)="onSelectedSegment(singleSelect?.value)">
        <mat-option>
            <ngx-mat-select-search (input)="searchSegment()" [placeholderLabel]="placeholderProductType" [noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let segment of segments$ | async" [value]="segment.id">
            {{segment.name}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="selectFormControl.errors && selectFormControl.touched">
        <span>{{'Campo obrigatório!'}}</span>
    </mat-error>
</mat-form-field>