<div [formGroup]="formMain">
    <mat-form-field appearance="outline">
        <mat-label>{{inputLabel}}</mat-label>

        <!-- currency -->
        <div *ngIf="type == 'currency'">
            <input (input)="onInput($event)" [type]="type" matInput [placeholder]="placeHolder" [attr.for]="fieldControlName" currencyMask [min]="min" max="100000000" [formControlName]="fieldControlName">
        </div>

        <!-- number -->
        <div *ngIf="type == 'number'">
            <input (input)="onInput($event)" [type]="type" matInput [min]="min" [max]="max" [placeholder]="inputLabel" [attr.for]="fieldControlName" [formControlName]="fieldControlName">
        </div>

        <!-- text -->
        <div *ngIf="type == 'text'">
            <input (input)="onInput($event)" [type]="type" matInput [placeholder]="inputLabel" [attr.for]="fieldControlName" [formControlName]="fieldControlName">
        </div>

        <!-- <mat-hint>EX: Placa de rede, Placa mãe, Processador, Memórias etc...</mat-hint> -->
        <mat-error>
            <ng-content select="[msg-error]"></ng-content>
        </mat-error>

    </mat-form-field>
</div>
