<br>
<div>
    <mat-card class="mat-card-settings">
        <div class="mat-card-title">
            <div  (window:resize)="screen()">

                <div>
                    <h3>Informações de conta</h3>
                </div>

                <div >
                    <button class="default-button" mat-raised-button (click)="edit()"> Alterar </button>
                </div>

            </div>
        </div>
        <mat-divider>
        </mat-divider>
        <mat-card-content>
            <br>
            <div  (window:resize)="screen()">
                <div>
                    <div >
                        <h2>Empresa</h2>
                    </div>
                    <div >
                        <div >
                            <mat-icon class="mat-icon-style" fontSet="material-icons-outlined">domain</mat-icon>
                        </div>
                        <div class="data-from-db" >
                            <b>{{user?.company?.name}}</b>
                        </div>
                    </div>
                </div>

                <div>
                    <div >
                        <h2>Usuário</h2>
                    </div>
                    <div >
                        <div >
                            <mat-icon class="mat-icon-style" fontSet="material-icons-round">group</mat-icon>
                        </div>
                        <div class="data-from-db" >
                            <b>{{user?.userName}}</b>
                        </div>
                    </div>
                </div>
                <div>

                    <div >
                        <h2>Email</h2>
                    </div>
                    <div >
                        <div >
                            <mat-icon class="mat-icon-style" fontSet="material-icons-round">email</mat-icon>
                        </div>
                        <div class="data-from-db" >
                            <b>{{user?.email}}</b>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<br>