<div fxLayout="column"  [style]="titleBarStyle">
    <div fxLayout="row">
        <div fxLayout="column">
            <mat-icon class="icon">{{icon}}</mat-icon>
        </div>
        <div fxLayout="column" [style]="styleContainerTitle">
            <h3 class="title-text" [style]="titleStyle">{{title}}</h3>
        </div>

        <div fxLayout="column" [fxFlex]="spaceItem" *ngIf="plus">

        </div>
        <div fxLayout="column" *ngIf="plus">
            <ng-content select="[plus]"></ng-content>
        </div>
    </div>
</div>
