<default-component [digitTitleComp]="'|'" [hideDivider]="true" [textTitleComp]="'Financiamento / Empréstimo'" [textSubTitleComp]="'Contas a pagar'" [iconSubTitleComp]="'list'">
    <div btns class="!bg-background-color p-4">

        <div class="grid grid-cols-3">
            <div class="hidden sm:block">
                <btn-g btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="callRouter(addUrlRoute)"></btn-g>
            </div>
            <div class="sm:hidden block">
                <btn-g [customizeBtn]="'!bg-main-color !text-white !w-[80px]'" [btnType]="'customized-simple'" btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="callRouter(addUrlRoute)"></btn-g>
            </div>
            <div>
                <btn-g-dynamic [name]="'Detalhes'" (outAction)="showHideDetailsMtd()" [secondAct]="'removeFilter'">
                </btn-g-dynamic>

            </div>
            <div class="grid grid-cols-[190px_1fr] gap-4">

                <btn-g-dynamic [name]="'Filtrar'" (outAction)="showHideFilterMtd($event)" [secondAct]="'removeFilter'">
                </btn-g-dynamic>

                <filter-radio-btns class="sm:max-w-[300px]" *ngIf="showHideFilter" [disabledRadioInput]="false" [inputSetClearRadios]="cleanRadios" (radioChange)="filterView($event)">
                </filter-radio-btns>

            </div>
        </div>
        <div class="pb-2"></div>
        <financing-values *ngIf="showHideDetails" [valuesFinancing]="valuesFinancing">
        </financing-values>
    </div>
    <div body>



        <div class="align-h-center">
            <mat-divider class="divider-line-categories-comp"></mat-divider>
        </div>

        <list-g [headersLabel]="labelHeaders()" [headersFields]="fieldsHeaders()" [entities]="this.entitiesFiltered$" (outOnClickHeaderField)="onClickOrderByFields($event, this.entitiesFiltered$)" (outOnClickIcons)="onClickIcons($event)">
        </list-g>

    </div>
</default-component>