<default-component (window:resize)="responsive($event)" [digitTitleComp]="'|'" [hideDivider]="true" [textTitleComp]="'Financiamento / Empréstimo'" [textSubTitleComp]="'Contas a pagar'" [iconSubTitleComp]="'list'">
    <div btns class="!bg-background-color p-4">

        <div class="grid grid-cols-3">
            <div class="hidden sm:block">
                <btn-g btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="callRouter(addUrlRoute)"></btn-g>
            </div>
            <div class="sm:hidden block">
                <btn-g [customizeBtn]="'!bg-main-color !text-white !w-[110px]'" [btnType]="'customized-simple'" btn-1 [name]="'Despesa'" [icon]="'add'" (btn)="callRouter(addUrlRoute)"></btn-g>
            </div>
            <div>
                <btn-g-dynamic [btnType]="'dynamic-default'" [btnType]="'dynamic-default'" [name]="'Detalhes'" [btn_bg_txt_color_size_cls]="btn_bg_txt_color_size_cls_detail" [btn_w_h_cls]="btn_w_h_cls_detail" [hide_icon]="hide_icon_detail" [actClosed]="actClosed_detail" [actOpened]="actOpened_detail"
                    [pipe_box]="pipe_box_detail" (outAction)="showHideDetailsMtd()" (outAction)="customizedBtnDetail($event)">
                </btn-g-dynamic>
            </div>
            <div>

                <btn-g-dynamic [btnType]="'dynamic-default'" [btnType]="'dynamic-default'" [name]="'Filtrar'" [btn_bg_txt_color_size_cls]="btn_bg_txt_color_size_cls_filter" [btn_w_h_cls]="btn_w_h_cls_filter" [hide_icon]="hide_icon_filter" [actClosed]="actClosed_filter" [actOpened]="actOpened_filter"
                    [pipe_box]="pipe_box_filter" (outAction)="showHideFilterMtd($event)" (outAction)="customizedBtnFilter($event)">
                </btn-g-dynamic>
            </div>
        </div>
        <div class="pb-2" *ngIf="showHideFilter"></div>

        <div class="sm:justify-start justify-center w-full sm:w-[310px]">
            <filter-radio-btns *ngIf="showHideFilter" [disabledRadioInput]="false" [inputSetClearRadios]="cleanRadios" (radioChange)="filterView($event)">
            </filter-radio-btns>
        </div>

        <div class="pb-2" *ngIf="showHideDetails"></div>
        <financing-values *ngIf="showHideDetails" [valuesFinancing]="valuesFinancing">
        </financing-values>

    </div>

    <div body>

        <div class="align-h-center">
            <mat-divider class="divider-line-categories-comp"></mat-divider>
        </div>

        <list-g [headersLabel]="labelHeaders()" [headersFields]="fieldsHeaders()" [entities]="this.entitiesFiltered$" (outOnClickHeaderField)="onClickOrderByFields($event, this.entitiesFiltered$)" (outOnClickIcons)="onClickIcons($event)">
        </list-g>

    </div>
</default-component>
