<div class="border-around" [formGroup]="formMain">

    <title-component [titleString]="title" [subTitleString]="subTitle">
    </title-component>

    <!-- <div fxLayoutAlign="center center">
    <mat-card fxFlex="50">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-radio-group (change)="typeOfRegister($event)" fxLayoutGap="50px" class="big-radio big-radio2"
          aria-label="Select an option">
          <mat-radio-button checked="true" value="basic">Básico</mat-radio-button>
          <mat-radio-button value="complete">Completo</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card>
  </div> -->
    <br>
    <mat-card-title>Identificação Cliente</mat-card-title>
    <mat-card>

        <mat-grid-list (window:resize)="screen()" [cols]="nameCnpjCpfCols" [rowHeight]="nameCnpjCpfRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,150)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <mat-form-field fxFlex="99">
                        <mat-label>CNPJ / CPF</mat-label>
                        <input matInput mask="CPF_CNPJ" type="text" formControlName="cnpj">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'cnpj', 'CNPJ')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'cnpj', 'CNPJ',8,14)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-card-title>Tipo de cliente</mat-card-title>
        <mat-grid-list (window:resize)="screen()" [cols]="assuredClientTypeResponsibleCols" [rowHeight]="assuredClientTypeResponsibleRowHeight">
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label>Mensal
                        </mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="big-checkbox" (change)="assured()" (change)="validatorCustom.checkedBoxValidator(formMain,$event.checked,['payment','expiration'])" formControlName="assured">
                        </mat-checkbox>
                    </div>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label>Empresa</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="big-checkbox" formControlName="clientType">
                        </mat-checkbox>
                    </div>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card fxFlex="99" id="responsible">
                    <mat-form-field fxFlex="99">
                        <mat-label>Responsável</mat-label>
                        <input matInput type="text" formControlName="responsible">
                        <mat-error>
                            <span>{{validatorMessages.required(formMain,'responsible', 'Responsável')}}</span>
                            <span>{{validatorMessages.minMaxLength(formMain,'responsible', 'Responsável',null,100)}}</span>
                        </mat-error>
                    </mat-form-field>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- [hidden]="!assuredOrNot" -->
        <br>
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-grid-list (window:resize)="screen()" [cols]="paymentDiscountExpirationCols" [rowHeight]="paymentDiscountExpirationRowHeight">
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Valor
                            </mat-label>
                            <input (blur)="validatorsLocal.paymentWhenRequired(formMain, 0.99, {ValuBelowAllowed:true}, 'payment')" matInput type="text" currencyMask formControlName="payment">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'payment', 'Valor')}}</span>
                                <span>{{validatorMessages.minMaxLength(formMain,'payment', 'Valor',null,150)}}</span>
                                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'payment', 'Valor', 'R$ 1,00')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Dia do vencimento
                            </mat-label>
                            <input matInput min="1" max="31" type="number" formControlName="expiration">
                            <mat-error>
                                <span>{{validatorMessages.required(formMain,'expiration', 'Vencimento')}}</span>
                                <span>{{validatorMessages.minMax(formMain,'expiration', 'Vencimento',1,31)}}</span>
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card fxFlex="99">
                        <mat-form-field fxFlex="99">
                            <mat-label id="monthly-label">Desconto
                            </mat-label>
                            <input matInput type="text" currencyMask formControlName="discount">
                        </mat-form-field>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <mat-card-title fxLayoutAlign="center center">Observações</mat-card-title>
        <mat-card>
            <textarea fxFlex="100%" cols="10" rows="5" formControlName="comments"></textarea>
            <mat-error>
                <span>{{validatorMessages.minMaxLength(formMain,'comments', 'Observações',null,500)}}</span>
            </mat-error>
        </mat-card>

        <address></address>
        <contact></contact>
        <br>

        <div fxLayoutAlign="center center">
            <button id="btnSave" mat-raised-button (click)="save()">Salvar</button>
        </div>
    </mat-card>
</div>
<!-- <div fxLayoutAlign="center center">
    <div>{{formMain.valid}}</div>
  </div>
  <br> -->
<div fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>
</div>