<div class="header">
    <div class="header-left-side">
        <mat-icon [style]="styleIcon" [class]="classIcon" fontSet="material-icons-outlined">{{headerIcon}}</mat-icon>
    </div>
    <div class="header-middle-side">
        <h1>{{title}}</h1>
    </div>
    <div class="header-right-side">
        <div class="header-right-side-row">
            {{textRightSideAbove}}
        </div>
        <div class="header-right-side-row-number">
            {{textRightSideBelow}}
        </div>
    </div>
</div>
<!-- headerStyle [bgColor]="bgColor" [color]="textColor" -->