.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #2ba1a8;
}

.header-left-side {
    width: 30%;
}

.header-middle-side {
    width: 100%;
}

.header-right-side {
    width: 50%;
    justify-items: center;
}

h1 {
    font-size: 20px;
}

.header-right-side-row {
    display: flex;
    justify-content: center;
}

.header-right-side-row-number {
    display: flex;
    /* justify-content: center; */
    /* border-radius: 70px; */
    width: auto;
    height: auto;
    /* background-color: white; */
    color: white;
}