<div [formGroup]="formMain">
    <mat-form-field  appearance="outline">
        <mat-label>Produto</mat-label>
        <input type="text" matInput [placeholder]="placeHolderProduct" formControlName="name">
        <!-- <mat-hint>EX: Placa de rede, Placa mãe, Processador, Memórias etc...</mat-hint> -->
        <mat-error>
            <span *ngIf="required">{{'Obrigatório!'}}</span>
            <span *ngIf="inUse">{{'Ja existe um produto com esse nome.'}}</span>
        </mat-error>
    </mat-form-field>
</div>
