<div class="border-around">
    <title-component [digit]="'|'" [titleString]="'Parceiros cadastrados'" [icon]="'transfer_within_a_station'">
        <btn-g btn-1 [name]="'Adicionar'" [icon]="'add'" (btn)="add()"></btn-g>
    </title-component>


    <div>
        <div  >

            <mat-card class="mat-card-sub-title" >
                <grid-list-common>
                    <sub-title title [title]="'Parceiros cadastrados'" [icon]="'list'"></sub-title>
                    <div search-filter >
                        <btn-filter-g (arrowOut)="showHideFilterMtd($event)">
                            <partner-filter-list class="menu-size-width-large" (filterFormOut)="filter($event)" options-filter [showHideFilter]="showHideFilter">
                            </partner-filter-list>
                        </btn-filter-g>
                    </div>
                    <div search-filter id="space-components" >

                    </div>
                    <div search-pagination  >
                        <div  >
                            <grid-list-common-search [searchName]="'Busca'" (queryFieldOutput)="queryFieldOutput($event)"></grid-list-common-search>
                        </div>
                        <div  >
                        </div>

                        <mat-paginator #paginatorAbove [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize" fxLayoutAlign="center center" (page)="onPageChange($event)"></mat-paginator>

                    </div>
                    <grid-list-common-table  body-table [customerList]="true" [matIcons]="{delete_outline:'Excluir', edit:'Editar',visibility:'Detalhes' }" [fieldsInEnglish]="fieldsInEnglish" [entities$]="entities$" [headers]="headers" (getColumnEntityName)="orderBy($event)"
                        (getEntityOut)="getIdEntity($event)">

                    </grid-list-common-table>
                    <div pagination-below >
                        <div class="mat-paginator-above-margin"  >

                        </div>
                        <div  >
                            <div  >

                            </div>

                            <mat-paginator pagination-below #paginatorBelow [length]="this.gridListCommonHelper.lengthPaginator.getValue()" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

                        </div>
                        <div class="mat-paginator-below-margin"  >

                        </div>
                    </div>
                </grid-list-common>
            </mat-card>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>