<div class="border-around" *ngIf="formMain">
    <title-component [digit]="'|'" [titleString]="'Pagamento'" [icon]="'payment'">
    </title-component>
    <div>
        <div  >
            <mat-card class="mat-card-sub-title" >
                <sub-title title [title]="'Despesa'" [icon]="'payment'"></sub-title>
                <screen-data-info *ngIf="hideShowScreenDataInfo" [fields]="fields" [reiceverThisComponentToDisplay]="'payment'">
                </screen-data-info>
                <!--
                [radioOptionRemove]="['Cartão', 'Pix','Outros' ]"
                [radioHideShow]="true"
                -->
                <get-bank-account-select-single  [urlBackEndApi]="'GetAllFnBankAccount'" [formMain]="formMain" [validatorsPaymentBtnAction]="validatorsCreditPixOthers" [alignRadios]="'start start'" [selectedRadio]="0" 
                (selectedRadioOut)="selectedRadio($event)">
                </get-bank-account-select-single>

                <pixes-expenses-fields [expenseDayDisabled]="true" [priceDisabled]="false" [formMain]="subForm"  *ngIf="selectedPixRadio == 0 && formMain.get('bankAccountId').value">
                </pixes-expenses-fields>

                <price-interest-fields [formMain]="formMain">
                </price-interest-fields>

                <div  btn>
                    <btn-g [name]="'Pagar'" [icon]="'payment'" (click)="updateBtn()" [enableDisable]="saveBtnEnabledDisabled"></btn-g>
                </div>
                <!-- <div  fxlayoutAlign="center center">
                    <div>{{formMain.value | json}}</div>
                </div> -->

            </mat-card>
        </div>
    </div>
</div>