.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid rgb(224, 224, 224);
}

.row.header {
  font-weight: bold;
  font-size: 10px;
  color: rgb(43, 161, 168);
  background-color: 242, 242, 242;
  border-bottom: 0.5px solid rgb(43, 161, 168);

}


.cell {
  flex: 1;
  width: 100%;
  padding: 8px;
  text-align: center;
  box-sizing: border-box;
}

.row.header .cell {
  min-width: 100px;

  /* Ensures cells in header have a consistent width */
}

.row.header .cell:hover {
  min-width: 100px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(50, 104, 107);
}


.row.header .cell:active {
  min-width: 100px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(43, 161, 168);
}


.row .cell {
  min-width: 100px;

  /* Aligns all cells with the header cells */
}

mat-card {
  margin: 5px;
}

.btn-icon {
  padding: 0;
  margin: 0;
  border: none;
}

.btn-icon:active {
  transform: translateY(3px);
  color: rgb(25, 93, 97);
}

.mat-icon:active {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.isOdd {
  background-color: rgb(249, 249, 249);
}

.isEven {
  background-color: rgb(235, 235, 235);
}

.isOdd:hover {
  background-color: rgb(219, 219, 219);
  /* more white */
}

.isEven:hover {
  background-color: rgb(219, 219, 219);
}

.container-filter-search {
  display: flex; 
  flex-direction: column;

 flex-basis: 100%;
  width: 100%;

}