<div>
    <div class="table">

        <div class="row header">
            <div class="cell-header" [style]="header.style" (click)="onClickHeaderField(headersFields[i].key)" *ngFor="let header of headersLabel;let i = index;">
                {{header.key}}
            </div>
        </div>

        <div class="row"  [class]="{'isOdd':isOdd, 'isEven':isEven }" *ngFor="let entity of this.entities$ | async; let isOdd = odd; let isEven = even">

            <div class="cell" [style]="entity[field.key]?.styleCell" *ngFor="let field of headersFields let i = index;">

                <ng-container [ngSwitch]="entity[field.key]?.display">

                    <ng-container *ngSwitchCase="'icons'">
                        <!-- {{entity.id | json}} -->
                        <mat-icon class="btn-icon" [style]="entity[field.key]?.styleInsideCell" (click)="onClickIcon(icon, entity.id.key)"   *ngFor="let icon of entity[field.key]?.icons">{{icon}}</mat-icon>
                    </ng-container>

                    <ng-container *ngSwitchCase="'button'">
                        <button [style]="entity[field.key]?.styleInsideCell" (click)="onClickButton(entity[field.key]?.key)" mat-raised-button>{{entity[field.key]?.button}}</button>
                    </ng-container>



                    <ng-container *ngSwitchCase="'menu'">
                        <ng-content select="[out-display]"></ng-content>

                        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item *ngFor="let iconLabel of entity[field.key]?.iconsLabels">
                              <mat-icon>{{iconLabel.split('|')[0]}}</mat-icon>
                              <span>{{entity[field.key].key}}</span>
                              <mat-icon>{{iconLabel.split('|')[0]}}</mat-icon>
                              <span>{{iconLabel.split('|')[1]}}</span>
                          </button>
                      </mat-menu> -->
                    </ng-container>



                    <ng-container *ngSwitchDefault>
                        <div (click)="tooltip.show()" [style]="entity[field.key]?.styleInsideCell">{{entity[field.key]?.key}}</div>
                    </ng-container>

                </ng-container>
            </div>

        </div>
    </div>
    <spinner-g [entities]="entities$" [optionalTitle]="'(Lista)'" [_empty]="spinerNoRegisterClean">
    </spinner-g>
</div>