<div>
    <!-- Large -->
    <div class="bg-background-color hidden sm:block">
        <div class="grid grid-cols-3">

            <div class="pl-4  !flex !justify-start items-center">
                <ng-content select="[above]"></ng-content>
            </div>
            <div>

            </div>
            <div class="!flex !justify-end">
                <mat-paginator *ngIf="!hidePaginator" [hidePageSize]="true" class="!bg-background-color !flex !justify-end" #paginatorAbove [length]="this.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
            </div>

        </div>


        <mat-card class="rounded-t-xl w-full overflow-visible flex flex-col" *ngIf="entities$">
            <div class="w-full overflow-x-auto">
                <!-- Cabeçalho -->
                <div class="flex flex-row font-bold text-xs text-default-line bg-gray-200 border-b border-default-line">
                    <div *ngFor="let header of headersLabel; let i = index;" class="flex-1 p-2 text-left text-color-main min-w-[100px] h-8 flex items-end cursor-pointer hover:font-bold hover:text-lg hover:text-default-line active:text-default-line transition-all" [style]="header.style"
                        (click)="onClickHeaderField(headersFields[i].key)">
                        {{header.key}}
                    </div>
                </div>

                <!-- Linhas de dados -->
                <div *ngFor="let entity of paginatedEntities$ | async; let isOdd = odd; let isEven = even" class="flex flex-row border-b border-gray-200 hover:bg-gray-200 transition-colors" [class]="{'bg-gray-50': isOdd, 'bg-gray-100': isEven}">

                    <div *ngFor="let field of headersFields let i = index;" class="flex-1 p-2 text-left min-w-[100px] h-15 flex items-center" [style]="entity[field.key]?.styleCell">

                        <ng-container [ngSwitch]="entity[field.key]?.display">
                            <!-- Ícones -->
                            <ng-container *ngSwitchCase="'icons'">
                                <div class="btn-icon" [style]="entity[field.key]?.styleInsideCell" (click)="onClickIcon(icon, entity.id.key)" *ngFor="let icon of entity[field.key]?.icons;">
                                    <!-- {{entity[field.key]?.iconClasses}} -->
                                    <mat-icon [class]="entity[field.key]?.iconClasses" [style]="icon.split('|')[1]">
                                        <span>{{icon.split('|')[0]}}</span>
                                    </mat-icon>
                                </div>
                            </ng-container>

                            <!-- Botão -->
                            <ng-container *ngSwitchCase="'button'">
                                <button mat-raised-button class="bg-teal-500 hover:bg-teal-600 text-white font-medium py-1 px-3 rounded" [style]="entity[field.key]?.styleInsideCell" (click)="onClickButton(entity[field.key]?.key)">
                                    {{entity[field.key]?.button}}
                                </button>
                            </ng-container>

                            <!-- Menu -->
                            <ng-container *ngSwitchCase="'menu'">
                                <ng-content select="[out-display]"></ng-content>
                            </ng-container>

                            <!-- Conteúdo padrão -->
                            <ng-container *ngSwitchDefault>
                                <div class="truncate" [style]="entity[field.key]?.styleInsideCell" (click)="'tooltip.show()'">
                                    {{entity[field.key]?.key}}
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>

        </mat-card>
        <div class="flex justify-center pt-4">
            <spinner-g [entities$]="paginatedEntities$" [optionalTitle]="'(Lista)'" [_empty]="spinerNoRegisterClean">
            </spinner-g>
        </div>
        <div class="grid grid-cols-3">

            <div class="pl-4  !flex !justify-start items-center">
                <ng-content select="[below]"></ng-content>
            </div>
            <div>

            </div>
            <div class="!flex !justify-end">
                <mat-paginator class="!bg-background-color" *ngIf="!hidePaginator" [hidePageSize]="true" #paginatorBelow [length]="this.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
            </div>

        </div>
    </div>
    <!-- Mobile -->
    <div class="sm:hidden mb-24 bg-background-color">
        <div>
            <mat-paginator *ngIf="!hidePaginator" [hidePageSize]="true" class="!bg-background-color !flex !justify-end" #paginatorAbove [length]="this.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
        </div>

        <div *ngFor="let entity of paginatedEntities$ | async">

            <mat-card class="!w-full mb-4 !rounded-t-xl border-card-test" *ngIf="entities$">
                <div class="p-4 rounded-t-xl space-y-4 border border-default-line shadow-md bg-white">
                    <div *ngFor="let field of headersFields; let i = index" class="group">
                        <ng-container [ngSwitch]="entity[field.key]?.display">

                            <ng-container *ngSwitchCase="'icons'">
                                <div class="w-full mb-1">
                                    <span class="text-sm font-bold text-gray-500 uppercase tracking-wide">
                                    {{headersLabel[i].key}}
                                </span>
                                </div>
                                <div class="flex justify-start space-x-4 py-3">
                                    <div class="btn-icon" [style]="entity[field.key]?.styleInsideCell" (click)="onClickIcon(icon, entity.id.key)" *ngFor="let icon of entity[field.key]?.icons;">
                                        <mat-icon [class]="entity[field.key]?.iconClasses" [style]="icon.split('|')[1]">
                                            <span>{{icon.split('|')[0]}}</span>
                                        </mat-icon>
                                    </div>
                                </div>
                                <mat-divider class="border-2 bg-color-main mb-3"></mat-divider>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <div class="flex flex-col justify-between items-start py-1 border-color-main last:border-0">
                                    <div class="w-full mb-1">
                                        <span class="text-sm font-bold text-gray-500 uppercase tracking-wide">
                                            {{headersLabel[i].key}}
                                        </span>
                                    </div>
                                    <div class="w-full">
                                        <p class="text-base text-black font-bold break-words">
                                            {{entity[field.key]?.key}}
                                        </p>
                                    </div>
                                </div>
                            </ng-container>

                        </ng-container>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="flex justify-center">
            <spinner-g [entities$]="paginatedEntities$" [optionalTitle]="'(Lista)'" [_empty]="spinerNoRegisterClean">
            </spinner-g>
        </div>
        <div>
            <mat-paginator *ngIf="!hidePaginator" [hidePageSize]="true" class="!bg-background-color !flex !justify-end" #paginatorAbove [length]="this.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
