.main-color-scss {
    color: #2ba1a8 !important;
}

.border-radius-none {
    border-radius: 0% !important;
}

.align-h-center {
    display: flex;
    justify-content: center;
}

.title-categories-divide-comp {
    color: #1b5f63;
    font-size: 20px;
    font-weight: 900;
    font-family: Mynerve;
}

.title-comp {
    color: #555555;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: Mynerve;
    font-weight: 700;
}

.border-card-categories-divide-comp {
    border: 1px solid #2ba1a8 !important;
    margin: 20px;
}

.divider-line-categories-comp {
    display: flex;
    justify-items: center;
    border: 1px dashed #1b5f63;
    width: 96.5%;
    margin: 0.5rem 0;
}

.sub-title-mat-card {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.sub-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    max-height: 35px;
    width: 100%;
    background-color: #2ba1a8;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mat-icon-left-subtitle {
    margin-left: 8px;
    margin-right: 15px;
}
