<div  fxLayoutGap="10px" *ngIf="formMain" [formGroup]="formMain">
    <div  >
        <mat-form-field appearance="outline" >
            <mat-label>Contato no local</mat-label>
            <input matInput type="text" formControlName="contactName" aria-label="Contato no local">
            <mat-error>
                <span>{{validatorMessages.required(formMain, 'contactName', 'Responsável')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div  ="25">
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput formControlName="start" [matDatepicker]="startDate" aria-label="início">
            <mat-hint>dd/mm/aaaa</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
            <mat-error>
                <span>{{validatorMessages.required(formMain,'start', 'Inicio')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
</div>