<div>
    <mat-dialog-content>
        <table>
            <thead>
                <th>
                    <h4>
                        Tem certeza que realmente deseja deletar o registro desse dispositivo?
                    </h4>
                </th>
            </thead>
            <tbody>

            </tbody>

        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fechar</button>
        <button mat-button (click)="del()" [mat-dialog-close]="true" cdkFocusInitial>Deletar</button>
    </mat-dialog-actions>
</div>
