<div class="p-4" [formGroup]="formMain">

    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">

        <div class="w-full">
            <mat-label>Nome</mat-label>
            <mat-form-field class="w-full" appearance="outline" *ngIf="name">
                <input matInput type="text" formControlName="name" aria-label="Nome">
                <mat-error>
                    <!-- <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span> -->
                    <!-- <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,150)}}</span> -->
                </mat-error>
            </mat-form-field>
        </div>

        <div class="w-full">
            <div class="w-full" *ngIf="!formMain.get('entityType').value">
                <mat-label>CPF</mat-label>
                <mat-form-field class="w-full" appearance="outline">
                    <input type="text" #cpf (input)="getCnpjNumbers(cpf.value)" (blur)="isValid(cpf.value,'cpf',formMain, 'cnpj')" matInput [mask]="inputMask('CPF')" [placeholder]="inputMask('CPF')" formControlName="cnpj" aria-label="CPF">
                    <mat-error>
                        <!-- <span>{{validatorMessages.isValidCpf(formMain,'cnpj')}}</span> -->
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="w-full" *ngIf="formMain.get('entityType').value">
                <mat-label>CNPJ</mat-label>
                <mat-form-field class="w-full" appearance="outline">
                    <input type="text" #cnpj (input)="getCnpjNumbers(cnpj.value)" (blur)="isValid(this.cnpjNumbers,'cnpj',formMain, 'cnpj')" matInput [mask]="inputMask('CNPJ')" [placeholder]="inputMask('CNPJ')" formControlName="cnpj" aria-label="CNPJ">
                    <mat-error>
                        <!-- <span>{{validatorMessages.isValidCnpj(formMain,'cnpj')}}</span> -->
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
                <mat-checkbox formControlName="entityType">
                    <mat-label>Empresa</mat-label>
                </mat-checkbox>
                <div *ngIf="formMain.get('entityType').value">
                    <div>
                        <btn-g [name]="'Obter dados'" [icon]="'assignment'" (btn)="getCnpjData(this.cnpjNumbers,'cnpj',formMain, 'cnpj')" (blur)="isValid(this.cnpjNumbers,'cnpj',formMain, 'cnpj')"></btn-g>
                        <!-- <button class="get-btn" mat-raised-button (click)="getCnpjData(this.cnpjNumbers,'cnpj',formMain, 'cnpj')" (blur)="isValid(this.cnpjNumbers,'cnpj',formMain, 'cnpj')">Obter dados</button> -->
                    </div>
                </div>
            </div>

        </div>

        <!-- <div *ngIf="btnGetData">
        <div *ngIf="formMain.get('entityType').value">
            <div>
                <button class="get-btn" mat-raised-button (click)="getCnpjData(this.cnpjNumbers,'cnpj',formMain, 'cnpj')" (blur)="isValid(this.cnpjNumbers,'cnpj',formMain, 'cnpj')">Obter dados</button>
            </div>
        </div>
    </div>
    <div>
        <div>
            <mat-checkbox formControlName="entityType">
            </mat-checkbox>
            <mat-label>Empresa</mat-label>
            <div class="check-box-label-space"></div>
        </div>
    </div> -->


    </div>
</div>
