<div [formGroup]="formMain" >

    <div  >
        <div   *ngIf="!formMain.get('entityType').value">
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input type="text" #cpf (blur)="isValid(cpf.value,'cpf',formMain, 'cnpj')" matInput [mask]="pixInputMask('CPF')" [placeholder]="pixInputMask('CPF')" formControlName="cnpj" aria-label="CPF">
                <mat-error>
                    <span>{{validatorMessages.isValidCpf(formMain,'cnpj')}}</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div   *ngIf="formMain.get('entityType').value">
            <div  fxLayoutGap="30px">
                <mat-form-field appearance="outline"  >
                    <mat-label>CNPJ</mat-label>
                    <input type="text" #cnpj (blur)="isValid(cnpj.value,'cnpj',formMain, 'cnpj')" matInput [mask]="pixInputMask('CNPJ')" [placeholder]="pixInputMask('CNPJ')" formControlName="cnpj" aria-label="CNPJ">
                    <mat-error>
                        <span>{{validatorMessages.isValidCnpj(formMain,'cnpj')}}</span>
                    </mat-error>
                </mat-form-field>
                <div *ngIf="btnGetData">
                    <div  *ngIf="formMain.get('entityType').value">
                        <div fxLayoutAlign="center center">
                            <button class="get-btn" mat-raised-button (click)="getCnpjData(cnpj.value,'cnpj',formMain, 'cnpj')" (blur)="isValid(cnpj.value,'cnpj',formMain, 'cnpj')">Obter dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  >
        <div >
            <mat-checkbox formControlName="entityType">
            </mat-checkbox>
            <!-- <mat-checkbox [formControlName]="entityType">
            </mat-checkbox> -->
            <div class="check-box-label-space"></div>
            <mat-label>Empresa</mat-label>
        </div>
    </div>
    <div class="middle-space-horizontal-beteween-fields"> </div>

    <mat-form-field appearance="outline" *ngIf="name">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" aria-label="Nome">
        <mat-error>
            <span>{{validatorMessages.required(formMain,'name', 'Nome')}}</span>
            <span>{{validatorMessages.minMaxLength(formMain,'name', 'Nome',null,150)}}</span>
        </mat-error>
    </mat-form-field>
</div>
