#bg-div {
    background-color: darkgreen;
    margin: -12%;
}

#all {
    overflow: hidden;
    /* width: 500px; */
    /* overflow: hidden; */
}

#enter-button {
    color: white;
    display: flex;
    justify-content: center;
    height: auto;
    margin: -100;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

span:hover {
    cursor: pointer;
}

mat-tab-group {
    overflow: hidden;
}

::ng-deep.mat-tab-label,
 ::ng-deep.mat-tab-label-active {
    min-width: 0!important;
    /* padding: 3px!important;*/
    margin: -3px!important;
}