.around {
    padding: 10%;
}

.mouse {
    cursor: pointer;
}

.mat-icon-style {
    font-size: 100px;
    width: 100px;
    height: 100px;
    color: green;
    background-color: rgba(68, 184, 93, 0.397);
    border: 12px solid transparent;
    border-radius: 80px;
}


/* change style of inputs */

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: green !important;
}