<div [formGroup]="formMain" [fxLayout]="screenFieldPosition" (window:resize)="screen()" fxLayoutGap="5">
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Fixo
        </mat-label>
        <mat-form-field>
            <input matInput type="text" currencyMask formControlName="fixedCostAssured">
            <mat-error>

                <span>{{validatorMessages.minMaxLength(formMain,'fixedCostAssured', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'fixedCostAssured', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Combustível
        </mat-label>
        <mat-form-field>
            <input matInput type="text" currencyMask formControlName="fuel">
            <mat-error>

                <span>{{validatorMessages.minMaxLength(formMain,'fuel', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'fuel', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Aplicativo
        </mat-label>
        <mat-form-field>
            <input matInput type="text" currencyMask formControlName="apps">
            <mat-error>

                <span>{{validatorMessages.minMaxLength(formMain,'apps', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'apps', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Transporte publico
        </mat-label>
        <mat-form-field>
            <input matInput type="text" currencyMask formControlName="publicTransport">
            <mat-error>

                <span>{{validatorMessages.minMaxLength(formMain,'publicTransport', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'publicTransport', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center">
        <mat-label class="mat-label">Moto Boy
        </mat-label>
        <mat-form-field>
            <input matInput type="text" currencyMask formControlName="motoBoy">
            <mat-error>

                <span>{{validatorMessages.minMaxLength(formMain,'motoBoy', 'Valor',null,150)}}</span>
                <span>{{validatorMessagesCustomer.currencyValuePayment(formMain,'motoBoy', 'Valor', 'R$ 1,00')}}</span>
            </mat-error>
        </mat-form-field>
    </div>
</div>