<div class="border-around">
    <tab-g [titleTabs]="['Despesa não prevista','Contas Bancarias - Cartões', 'Pagamentos despesas essenciais','Cadastro Despesas']" (tabIndexEvt)="tabContentIndex($event)">
        <div *ngIf="indexTabContentField == 0">
            <type-payment-create>
            </type-payment-create>
        </div>
        <div *ngIf="indexTabContentField == 1">
            <cheking-account>
            </cheking-account>
        </div>
        <div *ngIf="indexTabContentField == 2">
            <essential-expenses-create>
            </essential-expenses-create>
        </div>
        <div *ngIf="indexTabContentField == 3">
            <financial-expenses>
            </financial-expenses>
        </div>
    </tab-g>
</div>