<div fxLayout="column" fxFlex="100%">
    <div fxLayout="row" fxLayoutGap="30px" style="padding:10px;">
        <button mat-button style="background-color:green ; color:white;" (click)="showType()">Formas De Pagamentos</button>
        <button mat-button style="background-color:green ; color:white;" (click)="showCard()">Contas Bancarias</button>
    </div>
    <div fxLayout="row" fxFlex="100%">
        <div fxFlex="100%" fxLayout="column" *ngIf="_showType">
            <type-payment-create>
            </type-payment-create>
        </div>
        <div fxFlex="100%" fxLayout="column" *ngIf="_showCard">
            <cheking-account>
            </cheking-account>
        </div>
    </div>
</div>
