<div class="p-5">
    <form fxLayout="column" [formGroup]="_formPartner" fxFlex="100%">
        <div fxLayoutGap="30px" fxFlex="100%">
            <mat-form-field fxFlex="40%">
                <mat-label>Nome Parceiro</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field fxFlex="40%">
                <mat-label>Data Inicio</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="today">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="40%">
                <mat-label>CNPJ:</mat-label>
                <input matInput type="text" formControlName="cnpj">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field fxFlex="50%">
                <mat-label>Responsável</mat-label>
                <input matInput type="text" formControlName="responsible">
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>Seguimento:</mat-label>
                <input matInput type="text" formControlName="businessline">
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field fxFlex="100%">
                <mat-label>Comentários:</mat-label>
                <input matInput type="text" formControlName="comments">
            </mat-form-field>
        </div>

        <comp-address></comp-address>
        <contact></contact>
        <br>
        <br>1

        <div fxFlex="100%">
            <mat-dialog-actions fxLayoutAlign="end end">

                <!-- [disabled]="!_formMonthly.valid" -->
                <button mat-raised-button color="primary" (click)="save()">Salvar</button>
            </mat-dialog-actions>
        </div>
    </form>
</div>
