<div fxLayout="column" [formGroup]="subForm" fxLayoutGap="10" >
    <div [fxLayout]="screenFieldPosition" fxLayoutGap="10" (window:resize)="screen()">
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select [formControlName]="formCtrlNameCategory"
                    (selectionChange)="selectedCategoryExpensesId($event.value)">
                    <mat-option [value]="expense.id" *ngFor="let expense of fillersExpenses | async">
                        {{expense.name | uppercase}}</mat-option>
                </mat-select>
                <mat-error>
                    <span>{{validatorMessages.required(subForm,formCtrlNameCategory, 'Categoria')}}</span>
                    <span>{{validatorMessages.changeSelection(subForm,formCtrlNameCategory, 'Categoria')}}</span>
                    <span>{{validatorMessages.minMaxLength(subForm,formCtrlNameCategory,
                        'Categoria',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex *ngIf="newSubcategoriesExpenses">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Subcategoria</mat-label>
                <mat-select [formControlName]="formCtrlNameSubcategory">
                    <mat-option [value]="subcategory.id" *ngFor="let subcategory of subcategoriesExpenses | async">
                        {{subcategory.name | uppercase}}</mat-option>
                </mat-select>
                <mat-error>
                    <span>{{validatorMessages.required(subForm,formCtrlNameSubcategory, 'Subcategoria')}}</span>
                    <span>{{validatorMessages.changeSelection(subForm,formCtrlNameSubcategory,
                        'Subcategoria')}}</span>
                    <span>{{validatorMessages.minMaxLength(subForm,formCtrlNameSubcategory,
                        'Subcategoria',null,150)}}</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
<!-- <div>{{subForm?.value | json}}</div> -->

<div  *ngIf="!newSubcategoriesExpenses">

<div [formGroup]="formMain" fxLayout="column" *ngIf="formMain">
    <div fxLayout="row">
        <h3>Cadastro</h3>
    </div>
    <div fxLayout="row" fxFlex>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label> Categoria</mat-label>
            <input matInput formControlName="name" aria-label="Categoria">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'name', 'Categoria')}}</span>
                <span>{{requiredSubcategory()}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'name', 'Categoria',null,30)}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row">
        <btn-g btn-1 [name]="'Subcategoria'" [icon]="'add'" (btn)="addSubcategories()"></btn-g>
    </div>
    <br>
    <div fxLayout="column" formArrayName="subcategoriesExpenses"
        *ngFor="let subCat of getSubcategories.controls; let i = index;">
        <div [formGroupName]="i" fxLayout="column">
            <btn-g fxLayout="row" [name]="'Remover'" [icon]="'clear'"
                [styleColors]="'font-size: 15px;color: white;background-color: rgb(156,33,29);'"
                (btn)="removeSubcategory(i)"></btn-g>
            <br>
            <div fxLayout="row" fxFlex>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Subcategoria</mat-label>
                    <input matInput formControlName="name" aria-label="Subcategoria">
                    <mat-error>
                        <span>{{validatorMessages.required(subCat,'name', 'Nome')}}</span>
                        <span>{{validatorMessages.minMaxLength(subCat,'name', 'Nome', 3, 30)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
    </div>
</div>

</div>


<!-- <mat-card [formGroup]="formMain" fxLayout="column" *ngIf="formMain" *ngIf="!newSubcategoriesExpenses">
    <sub-title title [title]="'Categoria / Subcategorias'" [icon]="'add'"></sub-title>
    <div fxLayout="row">
        <h3>Cadastro</h3>
    </div>
    <div fxLayout="row" fxFlex>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label> Categoria</mat-label>
            <input matInput formControlName="name" aria-label="Categoria">
            <mat-error>
                <span>{{validatorMessages.required(formMain,'name', 'Categoria')}}</span>
                <span>{{requiredSubcategory()}}</span>
                <span>{{validatorMessages.minMaxLength(formMain,'name', 'Categoria',null,30)}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row">
        <btn-g btn-1 [name]="'Subcategoria'" [icon]="'add'" (btn)="addSubcategories()"></btn-g>
    </div>
    <br>
    <div fxLayout="column" formArrayName="subcategoriesExpenses"
        *ngFor="let subCat of getSubcategories.controls; let i = index;">
        <div [formGroupName]="i" fxLayout="column">
            <btn-g fxLayout="row" [name]="'Remover'" [icon]="'clear'"
                [styleColors]="'font-size: 15px;color: white;background-color: rgb(156,33,29);'"
                (btn)="removeSubcategory(i)"></btn-g>
            <br>
            <div fxLayout="row" fxFlex>
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Subcategoria</mat-label>
                    <input matInput formControlName="name" aria-label="Subcategoria">
                    <mat-error>
                        <span>{{validatorMessages.required(subCat,'name', 'Nome')}}</span>
                        <span>{{validatorMessages.minMaxLength(subCat,'name', 'Nome', 3, 30)}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>



    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <div>{{formMain.value | json}}</div>
    </div>
</mat-card> -->
