<div [formGroup]="formMain" fxLayout="column">
    <h2>Identificação</h2>

    <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Titular</mat-label>
                <input matInput type="text">
                <mat-error>
                    <!-- <span>{{validatorMessages.required(formMain,'holder', 'Titular')}}</span> -->
                    <!-- <span>{{validatorMessages.minMaxLength(formMain,'holder', 'Titular',null,100)}}</span> -->
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Instituição Financeira</mat-label>
                <input matInput type="text">
                <mat-error>
                    <!-- <span>{{validatorMessages.required(formMain,'institution', 'Instituição financeira')}}</span> -->
                    <!-- <span>{{validatorMessages.minMaxLength(formMain,'institution', 'Instituição financeira',null,100)}}</span> -->
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <br>
    <h2>Dados Bancários</h2>

    <div [fxLayout]="screenFieldPosition" fxLayoutGap="30">
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Agência</mat-label>
                <input matInput type="text">
                <mat-error>
                    <!-- <span>{{validatorMessages.required(formMain,'agency', 'Agência')}}</span> -->
                    <!-- <span>{{validatorMessages.minMaxLength(formMain,'agency', 'Agência',null,10)}}</span> -->
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Conta</mat-label>
                <input matInput type="text">
                <mat-error>
                    <!-- <span>{{validatorMessages.required(formMain,'account', 'Conta')}}</span> -->
                    <!-- <span>{{validatorMessages.minMaxLength(formMain,'account', 'Conta',null,10)}}</span> -->
                </mat-error>
            </mat-form-field>
        </div>
    </div>