#responsible {
    height: 135px;
}

.small-space-horizontal-beteween-fields {
    padding-top: 10px;
}

.middle-space-horizontal-beteween-fields {
    padding-top: 20px;
}

.mat-label {
    color: #287206;
}
