<div class="p-4" [formGroup]="formMain">
    <title-component [digit]="'|'" [textTitleComp]="'Cadastro de clientes'" [icon]="'record_voice_over'">

    </title-component>
    <mat-card class="mat-card-sub-title">
        <sub-title title [title]="'Cadastro de clientes'" [icon]="'add'"></sub-title>
        <div>
            <h3>Identificação Cliente</h3>
        </div>
        <div>
            <div>
                <name-cpf-cnpj (cpfCnpjBusinessData)="cpfCnpjBusinessData($event)" [formMain]="formMain"> </name-cpf-cnpj>
                <!-- <name-cpf-cnpj (cpfCnpjBusinessData)="cpfCnpjBusinessData($event)" [formMain]="formMain" [entityType]="'entityType'" > </name-cpf-cnpj> -->
            </div>
            <div>
                <main-entities-base [formMain]="formMain" [businessLine]="true">

                </main-entities-base>
            </div>
        </div>
        <mat-divider class="border border-color-main shadow-md bg-white"></mat-divider>
        <financial-info-type [formMain]="formMain" [subForm]="subForm" [additionalCosts]="additionalCosts">
        </financial-info-type>
        <mat-divider class="border border-color-main shadow-md bg-white"></mat-divider>
        <div>
            <div>
                <physically-moving-costs [formMain]="subForm">
                </physically-moving-costs>
            </div>
        </div>
        <div class="p-4">
            <description-field [formMain]="formMain" [maxLength]="2000">
            </description-field>
        </div>
        <mat-divider class="border border-color-main shadow-md bg-white"></mat-divider>
        <div>
            <div>
                <address [formMain]="this.address"></address>
            </div>
            <mat-divider class="border border-color-main shadow-md bg-white"></mat-divider>
            <div>
                <contact [formMain]="this.contact"></contact>
            </div>
        </div>
        <mat-divider class="border border-color-main shadow-md bg-white"></mat-divider>
        <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
    </mat-card>
</div>
<!-- <div class="border-around">
    <div>{{formMain.value|json}}</div> -->
