<div class="border-around" [formGroup]="formMain">
    <title-component [titleString]="'Clientes'" [subTitleString]="'Cadastro'">
    </title-component>
    <div fxLayout="row">
        <h3>Identificação Cliente</h3>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <main-entities-base [entityType]="'entityType'" [formMain]="formMain" [businessLine]="true" fxFlex>
            </main-entities-base>
        </div>
    </div>
    <financial-info-type [formMain]="formMain" [subForm]="subForm" [additionalCosts]="additionalCosts">
    </financial-info-type>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <physically-moving-costs [formMain]="subForm" fxFlex>
            </physically-moving-costs>
        </div>
    </div>
    <description-field [formMain]="formMain">
    </description-field>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <mat-divider></mat-divider>
    <div class="middle-space-horizontal-beteween-fields"> </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <address [formMain]="this.address" fxFlex></address>
        </div>
        <div fxLayout="row">
            <contact fxFlex [formMain]="this.contact"></contact>
        </div>
    </div>
    <div class="small-space-horizontal-beteween-fields"> </div>
    <div fxLayoutAlign="center center">
        <button class="save-btn" mat-raised-button (click)="save()">Salvar</button>
    </div>
</div>
<div class="border-around" fxLayoutAlign="center center">
    <div>{{formMain.value|json}}</div>