<!-- <div *ngFor="let content of this.content | keyvalue">
    <div>{{content.key}}</div>
    <div>{{content.value}}</div>
</div> -->

<div class="content-left">
    <p>
        {{'Segmento:'}}
    </p>
</div>
<div class="content-right">
    <p>
        {{'Notebook'}}
    </p>
</div>


<div class="content-left">
    <p>
        {{'Fabricante:'}}
    </p>
</div>
<div class="content-right">
    <p>
        {{'Asus'}}
    </p>
</div>


<div class="content-left">
    <p>
        {{'Modelo'}}
    </p>
</div>
<div class="content-right">
    <p>
        {{'As-rock'}}
    </p>
</div>

<div class="content-left">
    <p>
        {{'Preço Venda:'}}
    </p>
</div>
<div class="content-right">
    <p>
        {{'R$ 1.585.00'}}
    </p>
</div>

<div class="content-left">
    <p>
        {{'Reservada:'}}
    </p>
</div>
<div class="content-right">
    <p>
        {{'5'}}
    </p>
</div>

<div class="content-left">
    <p>
        {{'Estado:'}}
    </p>
</div>
<div class="content-right">
    <p>
        {{'Novo'}}
    </p>
</div>