.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-left {
    width: 100%;
    display: flex;
    padding-left: 20px;
}

.content-right {
    width: 100%;
    display: flex;
}

h2 {
    font-size: 15px;
}